﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signal ATM</title>
    <link href="~/Content/CSS/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CSS/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/CSS/css/animate.css" rel="stylesheet">
    <link href="~/Content/CSS/css/style.css" rel="stylesheet">
    <link href="~/Content/CSS/css/mycustom.css" rel="stylesheet">

    <!-- Mainly scripts -->
    <script src="~/Content/CSS/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/CSS/js/popper.min.js"></script>
    <script src="~/Content/CSS/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/Content/CSS/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
</head>
<body style="background:#FFFFFF;">
    <section class="content" ng-app="app" ng-controller="mycontrol">
        <form name="ForgotPasswordForm">
            <div class="text-center loginscreen animated fadeInDown">
                <div class="container">
                    <div class="col-md-9 col-centerd">
                        <div class="row">

                            <div class="col-lg-7">
                                <center>
                                    <img src="~/Content/CSS/img/logo-login.jpg" class="img-responsive logol top50">
                                </center>

                                <h1 class="wds-type login-title wds-type--center wds-m-t-4">Forgot password</h1>
                            </div>

                            <div class="col-lg-5"></div>

                            <div class="col-lg-7">

                                <div class="sign-in-form-module">
                                    <div class="alert alert-danger  alert-dismissable" id="div_error" style="display: none;">
                                        Incorrect email address<br>
                                        Oops!, this is an invalid entry. The email address you entered is not registered with us.
                                        Please login using registered email address with signal ATM
                                        <div style="clear:both;"></div>
                                        <button type="button" class="btn btn-primary btn-xs">Close</button>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" id="txt_email" class="login2" value="" onblur="ValidateEmail(this);" placeholder="Email">

                                        <label for="error" id="lblemail" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                    </div>

                                    <button id="btnSubmit" style="cursor:pointer" class="btn btn-primary block full-width m-b buttoh-h" disabled ng-click="submit()"> Submit</button>
                                    <div class="checkbox i-checks" style="text-align:left;">
                                        @*<label> <a href="/Home/Forgot_Password"> Forgot password?</a> </label>*@
                                        @Html.ActionLink("Register", "Register", "Home")
                                        @Html.ActionLink("Home", "Index", "Home")
                                        @Html.ActionLink("Login", "Login", "Home")
                                    </div>

                                    @*<a onclick="submit()" class="btn btn-primary block full-width m-b buttoh-h">Submit</a>*@

                                </div>
                                <p class="m-t"> <small>Signal ATM &copy; 2019-20</small> </p>
                            </div>

                            <div class="col-lg-5">
                                <img src="~/Content/CSS/img/adv-email-varify.png" class="img-responsive">
                            </div>

                        </div>

                    </div>
                    <div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</body>
</html>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        $scope.submit = function () {
            var email = $("#txt_email").val().trim();

                $.ajax({
                    url: '@Url.Action("IsUserExistsPwd","Home")',
                    type: "POST",
                    Response: ContentType = 'application/json;charset=utf-8',
                    data: { email: email },
                    success: function (result) {
                        if (result.result == 0) {
                            window.location.href = '@Url.Action("InvalidUser", "Home")';
                        }
                        else if (result.status == 1) {
                            window.location.href = '@Url.Action("SendPasswordLink", "Home")';

                        }
                        else if (result.result == "User is not activated!")
                        {
                            window.location.href = '@Url.Action("ResendEmail", "Home")?email='+email;
                        }
                    }
                });

        }

    });
    function ValidateEmail(txt_email) {
        var email = $("#txt_email").val();
        var reg = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

        if (reg.test(email) == false) {
            $("#lblemail").show();
            $('#btnSubmit').prop('disabled', true);
            $("#lblemail").empty();
            $("#lblemail").append(email + " is not a valid email address. Please enter a valid Email Address. E.g:abc@abc.abc");
            $("#txt_email").focus();
            // alert("" + email + " is not a valid email address. Please enter a valid Email Address. E.g:abc@abc.abc");
            return false;
        }
        else {
            $("#lblemail").hide();
            //alert("Hii");
            $('#btnSubmit').prop('disabled', false);

            return true;
        }

    }

    function ReturnToRegister()
    {
        window.location.href = '@Url.Action("Register", "Home")';
    }
    function Showhide(lblField, msg, txtField) {
        $(lblField).show();
        $(lblField).empty();
        $(lblField).append(msg);
        $(txtField).focus();
    }
    function EnableRegistration() {

        var email = $("#txt_email").val();

        var checkBoxCheked = $("#chk_Check").val();
        if (email != "") {
            validateEmail(email);
        }
        else {

            Showhide("#lblemail", "Please enter a valid Email Address. E.g:abc@abc.abc", "#txt_email");
        }

    }
</script>
