﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SignalATM</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/CSS/css/bootstrap.min.css" rel="stylesheet">
    <!-- Animation CSS -->
    <link href="~/Content/CSS/css/animate.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/CSS/css/style.css" rel="stylesheet">
</head>
<body id="page-top" class="landing-page no-skin-config" style=" background:#FFFFFF;">
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/Content/CSS/img/signal-ATM-Logo.jpg" class="img-responsive"></a>
                <div class="navbar-header page-scroll">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"> <i class="fa fa-bars"></i> </button>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-link page-scroll" href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a class="nav-link page-scroll" href="#USP">USP</a></li>
                        <li><a class="nav-link page-scroll" href="#Fetures">Features</a></li>
                        <li><a class="nav-link page-scroll" href="#APP">APP</a></li>
                        <li><a class="nav-link page-scroll" href="#Workflow">Workflow</a></li>
                        <li>
                            <div style="color: #fff; background-color: #1ab394; border-color: #1ab394; margin-top:20px; padding:0px;"><a class="nav-link page-scroll" href="@Url.Action("Register","Home")">Registration</a></div>
                        </li>
                        <li>
                            <div style="color: #fff;background-color: #1ab394;border-color: #1ab394; margin-top:20px; margin-left:5px;"><a class="nav-link page-scroll" href="@Url.Action("Login","Home")">Login</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="inSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#inSlider" data-slide-to="0" class="active"></li>
            <li data-target="#inSlider" data-slide-to="1"></li>
            <li data-target="#inSlider" data-slide-to="2"></li>
            <li data-target="#inSlider" data-slide-to="3"></li>
            <li data-target="#inSlider" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>
                            <br>
                            Welcome to <br>
                            Signal ATM
                        </h1>
                        <p>
                            We strongly believe, Traders <br>
                            deserves better Results
                        </p>
                    </div>
                    <div class="carousel-image wow zoomIn">
                        <!-- <img src="~/Content/CSS/img/landing/laptop.png" alt="laptop"/>-->
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back one"></div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption blank">
                        <h1>
                            Distinct Marketplace <br>
                            for Traders and Signal <br>
                            Providers
                        </h1>
                        <p>
                            Common Platform <br>
                            for Global Markets
                        </p>
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back two"></div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption blank">
                        <h1>
                            Interactive Real Time, <br>
                            Live Price Action <br>
                            for Live Markets
                        </h1>
                        <p>“Realtime” Signal Information</p>
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back three"></div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption blank">
                        <h1>
                            Inbuilt Analytical Tool <br>
                            that aids Quick <br>
                            Decision Making
                        </h1>
                        <p>Monitor, Compare and Choose</p>
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back four"></div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption blank">
                        <h1>
                            Signal Providers<br>
                            Evaluated Based on <br>
                            Proven Performance
                        </h1>
                        <p>Facts based Quantitative Ratings</p>
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back five"></div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#inSlider" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#inSlider" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
    </div>
    <section id="features" class="container services">
        <div class="row">
            <div class="col-sm-3">
                <h2>Markets / Instruments</h2>
                <p>Signal ATM is a Distinct Interactive Real-Time, Live Price Action Marketplace that connects Online Traders with Pre-assessed Signal Providers across Financial Markets. Signal ATM intends to cater 5 global and 93 country specific Markets. Currently launch with Forex Market and 27 Currency Pairs</p>
            </div>
            <div class="col-sm-3">
                <h2>Signal Providers</h2>
                <p>Signal ATM onboards credible and reliable Signal Providers based on proven Performance. Their achievements can be drilled down and verified with facts and figures.  Signal ATM invites Signal Providers (currently FX Market only) across the globe to join and partner with us.</p>
            </div>
            <div class="col-sm-3">
                <h2>Traders</h2>
                <p>Signal ATM provides a mechanism to get useable Live Signals for Traders. It empowers the Traders with a Analytics Toolkit to track, verify, validate and compare Signal parameters Realtime to deal with Signals and Signal Providers</p>
            </div>
            <div class="col-sm-3">
                <h2>Referrers</h2>
                <p>Traders can become Referrers. Referrer can add his Traders friends list with us that allows him to earns a commission when the referrals subscribes to the Plan. The more you refer, more are the chances of you earnings through the Referral Scheme.</p>
            </div>
        </div>
    </section>
    <section class="container features">
        <div class="row" id="USP">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Unique Selling Proposition</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-6 features-text wow fadeInLeft">
                <h2>Signals are Realtime and Time Stamped for Live Markets</h2>
                <p>Trading Signals adopts and readjust its parameters to Dynamic Market Conditions that aids Decision Making and helps resolve Trading Dilemmas during Trade Execution. Realtime changes in the critical success parameters suggest the Trader with modified SL and TP values during critical junctures like Where to place initial stop, how quickly to move that stop to breakeven, when to take partial / full profits, when to trail a stop and where to trail that stop.</p>
            </div>
            <div class="col-lg-6 text-right wow fadeInRight"> <img src="~/Content/CSS/img/landing/dashboard.png" alt="dashboard" class="img-fluid float-right"> </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>
                    Get Useable Signals<br>
                    <span class="navy">Under Dynamic Market Conditions</span>
                </h1>
                <p>Signals are filtered, verified and validated before being displayed</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-mobile features-icon"></i>
                    <h2>Signal Tracker</h2>
                    <p>Tracker assigned to each Trading Signals for ‘Real-time Timestamped Tracking. Display records with changes in Critical Success Parameters during entire lifecycle, from Signal Creation to Signal Closure as they happen. No limits on accessing plethora of quality Signals across Markets</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-bar-chart features-icon"></i>
                    <h2>Analytic Lens</h2>
                    <p>Drill down and Drill through using Analytic lens over Markets, Instruments and Signal Providers based on Performance. Quick explore for Facts based Quantitative Ratings. View, compare and set preference on Signals and Signal Providers. Compare own performance with other successful ones.</p>
                </div>
            </div>
            <div class="col-md-6 text-center  wow zoomIn"> <img src="~/Content/CSS/img/landing/perspective.png" alt="dashboard" class="img-fluid"> </div>
            <div class="col-md-3 text-center wow fadeInRight">
                <div>
                    <i class="fa fa-envelope features-icon"></i>
                    <h2>Pinning the Signals</h2>
                    <p>Pinning feature allows Trader to Choose and Select Signals from the Signal Library based on the Individual preferences. One can select and follow Signals chosen by other Traders including Top 10 Traders and even from the Top 10 Signal Providers.</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-google features-icon"></i>
                    <h2>Earning Opportunity</h2>
                    <p>Reward for Signal Providers based on Success Rate of Signals, Number of Users pinning the Signals and Profitability on the Successful Signals. Reward for Referrers when a Referral subscribes to a Plan as Trader. Earnings based on Commission and/or Fixed Fee of the Subscribed Plan.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="features" id="Fetures">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Some Great Features</h1>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <h2>Empanelled Signal Providers</h2>
                    <i class="fa fa-bar-chart big-icon float-right"></i>
                    <p>Signal Providers are evaluated and empaneled based on proven performance. Inbuilt System based screening mechanism and continuous monitoring. Filter criteria ensures display of useable Signals all the time. Facts based quantitative ratings to Signal Providers and Market Instruments</p>
                </div>
                <div class="col-lg-5 features-text">
                    <h2>Realtime Signals </h2>
                    <i class="fa fa-bolt big-icon float-right"></i>
                    <p>Trading Signals are ‘Real-time” with time stamped tracking mechanism where it displays any change in critical success signal parameter with comments that includes date and time. It allows the Trader to use the most updated information.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 col-lg-offset-1 features-text">
                    <h2>Analytical Toolkit</h2>
                    <i class="fa fa-clock-o big-icon float-right"></i>
                    <p>Customized Decision Support System that helps check and filters to Measure, Verify, and Validate Signals and Signal Providers related Performances. Aids Traders for selecting Signals and Signal Providers with facts and figures for bottom line success.</p>
                </div>
                <div class="col-lg-5 features-text">
                    <h2>Interactive Dashboard</h2>
                    <i class="fa fa-users big-icon float-right"></i>
                    <p>User Interactive Dashboard which collates meaningful and useable information that supports Decision making activity. You can pin the signals to your Dashboard not just based on your preferences but also of others who are more successful.</p>
                </div>
            </div>
        </div>
    </section>
    <!--<section id="team" class="gray-section team">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Our Team</h1>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 wow fadeInLeft">
                    <div class="team-member">
                        <img src="~/Content/CSS/img/landing/avatar3.jpg" class="img-fluid rounded-circle img-small" alt="">
                        <h4><span class="navy">Amelia</span> Smith</h4>
                        <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>
                        <ul class="list-inline social-icon">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member wow zoomIn">
                        <img src="~/Content/CSS/img/landing/avatar1.jpg" class="img-fluid rounded-circle" alt="">
                        <h4><span class="navy">John</span> Novak</h4>
                        <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                        <ul class="list-inline social-icon">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInRight">
                    <div class="team-member">
                        <img src="~/Content/CSS/img/landing/avatar2.jpg" class="img-fluid rounded-circle img-small" alt="">
                        <h4><span class="navy">Peter</span> Johnson</h4>
                        <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                        <ul class="list-inline social-icon">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center m-t-lg m-b-lg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>-->
    <section class="features" id="APP">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Mobile App</h1>
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-6 features-text wow fadeInLeft">
                    <h2>Signal ATM App</h2>
                    <p>
                        Using the Signal ATM App is very simple.
                        Follow the simple process to access Trading Signals on the APP and get an Edge over Others
                    </p>
                    <div class="row">
                        <div class="col-sm-4 wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                            <div class="team-member">
                                <i class="fa fa-mobile text-navy" aria-hidden="true" style="font-size:50px;"></i>
                                <h4><span class="navy">Download</span> App</h4>
                                <p>You can download the Signal ATM App by clicking on download button on the top</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="team-member wow zoomIn animated" style="visibility: visible;">
                                <i class="fa fa-envelope text-navy" aria-hidden="true" style="font-size:50px;"></i>
                                <h4><span class="navy">Register </span> Email</h4>
                                <p>You need to provide an email address that is required for one time Registration</p>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                            <div class="team-member">
                                <i class="fa fa-universal-access text-navy" aria-hidden="true" style="font-size:50px;"></i>
                                <h4><span class="navy">Instant </span> Access</h4>
                                <p>Get Instant Access to the list of Trading Signals from the Signal Library </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                            <div class="team-member"> <img src="~/Content/CSS/img/dw1.png"> </div>
                        </div>
                        <div class="col-sm-3 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
                            <div class="team-member"> <img src="~/Content/CSS/img/dw2.png"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-right m-t-n-lg wow zoomIn"> <img src="~/Content/CSS/img/landing/iphone.jpg" class="img-fluid" alt="dashboard"> </div>
            </div>
        </div>
    </section>
    <section class="timeline gray-section" id="Workflow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Our workflow</h1>
                    <!--  <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>-->
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-12">
                    <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-briefcase"></i> </div>
                            <div class="vertical-timeline-content">
                                <h2>Registration and Login:</h2>
                                <p>Register with only email address. No need for any additional information. Activate your account. Additional Login option with Phone OTP. </p>
                                <span class="vertical-date">
                                    Today <br />
                                    <small>Dec 24</small>
                                </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-file-text"></i> </div>
                            <div class="vertical-timeline-content">
                                <h2>Role Selection</h2>
                                <p>Choose appropriate Roles that suits your requirements. You can join as Trader or Signal Provider or Referrer. </p>
                                <span class="vertical-date">
                                    Tomorrow <br />
                                    <small>Dec 26</small>
                                </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-cogs"></i> </div>
                            <div class="vertical-timeline-content">
                                <h2>Preference Settings</h2>
                                <p>Set your Markets and Instruments preferences. Specify your Location and Time Zone. You are ready to get rolling. </p>
                                <span class="vertical-date">
                                    Monday <br />
                                    <small>Jan 02</small>
                                </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-briefcase"></i> </div>
                            <div class="vertical-timeline-content">
                                <h2>Subscribe to the Plan</h2>
                                <p>Choose the Subscription Plans based on Roles for different billing periods that range from a month to a year. Free Pack can be used only once. </p>
                                <span class="vertical-date">
                                    Today <br />
                                    <small>Dec 24</small>
                                </span>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg"> <i class="fa fa-file-text"></i> </div>
                            <div class="vertical-timeline-content">
                                <h2>Journey Begins</h2>
                                <p>Interactive Dashboard with Analytical Toolkit allows you to consider facts and figures that aids Decision Making</p>
                                <span class="vertical-date">
                                    Tomorrow <br />
                                    <small>Dec 26</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials" class="navy-section testimonials" style="margin-top: 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow zoomIn">
                    <i class="fa fa-comment big-icon"></i>
                    <h1> What Our Traders Say </h1>
                    <div class="testimonials-text"> <i>"Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."</i> </div>
                    <small> <strong>12.02.2014 - Andy Smith</strong> </small>
                </div>
            </div>
        </div>
    </section>
    <section class="comments gray-section" style="margin-top: 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>What Our Signal Providers Say</h1>
                    <p>Donec sed odio dui. Etiam porta sem malesuada. </p>
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-4">
                    <div class="bubble"> "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)." </div>
                    <div class="comments-avatar">
                        <a href="" class="float-left"> <img alt="image" src="~/Content/CSS/img/landing/avatar3.jpg"> </a>
                        <div class="media-body">
                            <div class="commens-name"> Andrew Williams </div>
                            <small class="text-muted">Company X from California</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bubble"> "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)." </div>
                    <div class="comments-avatar">
                        <a href="" class="float-left"> <img alt="image" src="~/Content/CSS/img/landing/avatar1.jpg"> </a>
                        <div class="media-body">
                            <div class="commens-name"> Andrew Williams </div>
                            <small class="text-muted">Company X from California</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bubble"> "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)." </div>
                    <div class="comments-avatar">
                        <a href="" class="float-left"> <img alt="image" src="~/Content/CSS/img/landing/avatar2.jpg"> </a>
                        <div class="media-body">
                            <div class="commens-name"> Andrew Williams </div>
                            <small class="text-muted">Company X from California</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<section id="pricing" class="pricing">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>App Pricing</h1>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 wow zoomIn">
                    <ul class="pricing-plan list-unstyled">
                        <li class="pricing-title">
                            Basic
                        </li>
                        <li class="pricing-desc">
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </li>
                        <li class="pricing-price">
                            <span>$16</span> / month
                        </li>
                        <li>
                            Dashboards
                        </li>
                        <li>
                            Projects view
                        </li>
                        <li>
                            Contacts
                        </li>
                        <li>
                            Calendar
                        </li>
                        <li>
                            AngularJs
                        </li>
                        <li>
                            <a class="btn btn-primary btn-xs" href="#">Signup</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 wow zoomIn">
                    <ul class="pricing-plan list-unstyled selected">
                        <li class="pricing-title">
                            Standard
                        </li>
                        <li class="pricing-desc">
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </li>
                        <li class="pricing-price">
                            <span>$22</span> / month
                        </li>
                        <li>
                            Dashboards
                        </li>
                        <li>
                            Projects view
                        </li>
                        <li>
                            Contacts
                        </li>
                        <li>
                            Calendar
                        </li>
                        <li>
                            AngularJs
                        </li>
                        <li>
                            <strong>Support platform</strong>
                        </li>
                        <li class="plan-action">
                            <a class="btn btn-primary btn-xs" href="#">Signup</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 wow zoomIn">
                    <ul class="pricing-plan list-unstyled">
                        <li class="pricing-title">
                            Premium
                        </li>
                        <li class="pricing-desc">
                            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
                        </li>
                        <li class="pricing-price">
                            <span>$160</span> / month
                        </li>
                        <li>
                            Dashboards
                        </li>
                        <li>
                            Projects view
                        </li>
                        <li>
                            Contacts
                        </li>
                        <li>
                            Calendar
                        </li>
                        <li>
                            AngularJs
                        </li>
                        <li>
                            <a class="btn btn-primary btn-xs" href="#">Signup</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row m-t-lg">
                <div class="col-lg-12 text-center m-t-lg">
                    <p>*Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <span class="navy">Various versions</span>  have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
            </div>
        </div>

    </section>-->
    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Contact Us</h1>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
            </div>
            <div class="row m-b-lg justify-content-center">
                <div class="col-lg-3 ">
                    <address>
                        <strong><span class="navy">Company name, Inc.</span></strong><br />
                        795 Folsom Ave, Suite 600<br />
                        San Francisco, CA 94107<br />
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                </div>
                <div class="col-lg-4">
                    <p class="text-color"> Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea, </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
                    <p class="m-t-sm"> Or follow us on social platform </p>
                    <ul class="list-inline social-icon">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a> </li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a> </li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center m-t-lg m-b-lg">
                    <p>
                        <strong>&copy; 2020 Signal ATM</strong><br />
                        consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Mainly scripts -->
    <script src="~/Content/CSS/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/CSS/js/popper.min.js"></script>
    <script src="~/Content/CSS/js/bootstrap.js"></script>
    <script src="~/Content/CSS/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/CSS/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="~/Content/CSS/js/inspinia.js"></script>
    <script src="~/Content/CSS/js/plugins/pace/pace.min.js"></script>
    <script src="~/Content/CSS/js/plugins/wow/wow.min.js"></script>
    <script>

    $(document).ready(function () {

        $('body').scrollspy({
            target: '#navbar',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

    </script>
</body>
</html>


