﻿
@{
    ViewBag.Title = "Register";
    Layout = null;
    //"~/Views/Shared/sp_master_page.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>Signal ATM</title>
    <link href="~/Content/CSS/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CSS/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/CSS/css/animate.css" rel="stylesheet">
    <link href="~/Content/CSS/css/style.css" rel="stylesheet">
    <link href="~/Content/CSS/css/mycustom.css" rel="stylesheet">
    <!-- Side bar css -->
    <link rel="stylesheet" href="~/Content/CSS/css/sidebar/dist.css">    <!-- Mainly scripts -->
    <script src="~/Content/CSS/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/CSS/js/popper.min.js"></script>
    <script src="~/Content/CSS/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/Content/CSS/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

    <!-- Side bar js -->

    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/CSS/js/sidebar/jquery/asidebar.jquery.js"></script>
</head>
<body style="background:#FFFFFF;">
    <div class="text-center loginscreen animated fadeInDown">
        <div class="container">
            <section class="content" ng-app="app" ng-controller="mycontrol">
                <form name="registrationForm">
                    <div class="col-md-9 col-centerd">
                        <div class="row">
                            <div class="col-lg-7">
                                <center>
                                    <img src="~/Content/CSS/img/logo-login.jpg" class="img-responsive logol top10">
                                </center>
                                <h1 class="wds-type wds-type--page-title wds-type--center wds-m-t-4">Register</h1>
                                <p class="wds-type--page-subtitle wds-type--center">
                                    Already Registered?
                                    <a class="log-in" href="Login" style="cursor: pointer;">Login »</a>
                                </p>
                            </div>
                            <div class="col-lg-5"></div>
                            <div class="col-lg-7">
                                @*<div class="alert alert-danger  alert-dismissable" id="div_error" style="text-align:left; display:none">
                                        Incorrect email address<br>
                                        Oops!, this is an invalid entry. The email address you entered is not registered with us.
                                        Please login using registered email address with signal ATM
                                    </div>*@
                                <div class="form-group">
                                    @*<input type="email" id="txt_email" class="login" placeholder="Email"  onblur="validateEmail(this); required">*@
                                    <input type="email" id="txt_email" class="login" ng-model="emailID" onblur="validateEmail(this);" placeholder="Email">
                                    <label for="error" id="lblemail" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                </div>

                                <div class="form-group">
                                    <input type="password" id="txt_password" class="login" placeholder="Password" ng-model="txt_password" onblur="validatePassword(this)" disabled>
                                    <label for="error" id="lblpass" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                </div>

                                <div class="form-group">
                                    <input type="password" id="txt_conf_password" ng-model="txt_conf_password" class="login" placeholder="Confirm Password" onblur="validateConfPass(this)" disabled>
                                    <label for="error" id="lblConpass" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="text" id="txt_random" style="text-align:center; font-weight: bold; background:#fff; border:1px solid #808080; margin-top:5px; border-radius:0; width:100px; padding:5px 0; color:#000;" disabled />
                                            <a id="captcha_reload" onclick="randomIntFromInterval()" href="#">reload</a>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" class="login top5" id="captcha" name="captcha" placeholder="Enter captcha" onblur="validatecaptcha(this);" ng-model="txtcaptcha" disabled>
                                            <label for="error" id="lblcaptcha" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                        </div>
                                    </div>
                                    <div class="row top10">
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            <div class="checkbox i-checks" style="text-align:left;">
                                                <label>
                                                    <input type="checkbox" id="chk_ckeck" name="agree" onclick="EnableRegistration()">
                                                </label>
                                                <span>I Agree to&nbsp;<a href="#" onClick="$('#termAndCond').asidebar('open')">'Terms and Conditions'&nbsp;&nbsp;</a>&<a href="#" onclick="$('#privacypolicyID').asidebar('open')">&nbsp;&nbsp;'Privacy Policy'</a></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">  </div>
                                @*<a class="btn btn-primary block full-width m-b buttoh-h" onclick="Registration()">Register</a>*@
                                <button type="button" style="cursor:pointer" class="btn btn-primary block full-width m-b buttoh-h" disabled ng-click="registrationForm.$valid && Registration()"> Register</button>

                                <div class="or-divider wds-m-t-3">
                                    <div class="or-bubble">
                                        <p class="wds-type--body-sm wds-p-t-2 ">or Register with</p>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div style="clear:both;"></div>
                                <ul class="socialIcons">
                                    <li class="facebook"><a href="FaceBookLogin" target="_blank"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
                                    <li class="twitter"><a href="#" target="_blank"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
                                    <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-fw fa-linkedin"></i>Linkedin</a></li>
                                    <li class="google"><a href="Google" target="_blank"><i class="fa fa-google fa-fw"></i>Google+</a></li>
                                </ul>
                                <p class="m-t text-center"> <small>Signal ATM &copy; 2019-20</small> </p>
                            </div>
                            <div class="col-lg-5">
                                <img src="~/Content/CSS/img/adv-regist.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="jquery-script-ads">
                    </div>
                    <div class="aside" id="termAndCond">
                        <div class="aside-header">
                            <div class="col-md-12">
                                Terms & Conditions
                                <span class="close" data-dismiss="aside" aria-hidden="true">&times;</span>
                            </div>
                        </div>
                        <div class="aside-contents">
                            <div class="col-md-12">
                                <div class="terms-info">
                                    <div style="height:500px;  width: 100%; padding:0 10px 0 0; overflow-y: scroll;">
                                        <p>
                                            Signal ATM collates financial market related generic information at global level in form of trading
                                            signals and provides subscription based online services to through its Website and Mobile App.
                                            The content of this App/Website is intended to convey general trading related information only.
                                            This App/Website does not provide any kind of Investment advice. One should not treat any
                                            information as a call to make any particular decision regarding FX investments. We strongly
                                            suggest seeking advice from your own financial adviser before making any investment decision
                                            based on Trading Signal information provided here. Neither this App/Website nor its parent
                                            company accept any responsibility for any loss, damage, or inconvenience caused as a result of
                                            reliance on information published on, or linked to this App/Website.
                                        </p>
                                        <p>
                                            Signal ATM is NOT part of any Online Copy Trading Signal Platforms. Using the signals is the sole
                                            discretion of the subscriber.
                                        </p>
                                        <p>
                                            While all information provided through the Service is believed to come from sources based on
                                            specified filtered performance criteria, however Signal ATM does not guarantee the accuracy,
                                            correctness, or completeness of information available on this Service platform.
                                        </p>
                                        <p>
                                            Signal ATM reserves the right to make changes to the Site and/or the Services at any time at its
                                            sole discretion, without having to give prior notice to you or any of its Members. Due to the nature
                                            of computing, the Signal ATM’s App and communications could fail at any given time. As such the
                                            Signal ATM will not be responsible for unavailability of use of its Site, nor undelivered Signals due
                                            to Internet bandwidth problems, equipment failure or acts of God. The Signal ATM does not
                                            guarantee that the Site or the Service will be continuous or error-free. Signal ATM will not be liable
                                            for the acts or omissions of any third party with regards to delay or non-delivery of the Signals.
                                        </p>
                                        <p>
                                            Signal ATM MAKES NO REPRESENTATION WHATSOEVER THAT THE SIGNALS IT SENDS
                                            WILL INEVITABLY BE OR INEVITABLY ARE SUITABLE FOR YOU OR THAT THEY WOULD BE
                                            PROFITABLE FOR YOU. PLEASE REALIZE THE RISK INVOLVED WITH TRADING IN
                                            DIFFERENT MARKETS AND CONSULT AN INVESTMENT PROFESSIONAL BEFORE
                                            PROCEEDING. OUR SIGNALS ARE MADE AVAILABLE AS INFORMATION ONLY. SHOULD YOU
                                            DECIDE TO TRADE ON THE BASIS OF ANY OR ALL OF OUR SYSTEMS’ SIGNALS, IT IS YOUR
                                            DECISION.
                                        </p>
                                        <p>
                                            While I sign in as a user of this App/Website and Subscribe to any Plans, I fully understand &
                                            acknowledge that
                                        </p>

                                        <ul class="text-left" style="margin-left:0;">
                                            <li>Signal ATM is NOT selling tailored Investment Advice to me</li>
                                            <li>There is NO brokerage that is being charged by Signal ATM</li>
                                            <li>Signal ATM is NOT providing me any kind of copy trading service</li>
                                            <li>Signals provided are NOT automatically copied to my Trading Account</li>
                                            <li>
                                                Signal ATM does NOT provide Money Management activity neither does it have any control
                                                over my Trading Account
                                            </li>
                                            <li>Trading Signals provided here is NOT placing any trades on behalf of me</li>
                                            <li>Signal ATM is ONLY a subscription-based Signal Service Provider</li>
                                            <li>I use the available information on Signal ATM website at my personal discretion</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> @*End T&C*@
                    <div class="aside-backdrop"></div>
                    <div class="aside" id="privacypolicyID">
                        <div class="aside-header">
                            <div class="col-md-12">
                                Privacy Policy
                                <span class="close" data-dismiss="aside" aria-hidden="true">&times;</span>
                            </div>
                        </div>
                        <div class="aside-contents">
                            <div class="col-md-12">
                                <div class="terms-info">
                                    <div style="height:500px;  width: 100%; padding:0 10px 0 0; overflow-y: scroll;">
                                        <p>Signal ATM collates financial market related generic information at global level in form of trading signals and provides subscription based online services to through its Website and Mobile App.</p>
                                        <p>At www.signalatm.com ,the privacy of our visitors is of extreme importance to us. This privacy policy document outlines the types of personal information is received and collected by www.signalatm.com and how it is used.  For the purposes of this Policy, references to Customer Information which identifies or may identify Customers and which may include, for example, a Customer’s name, address, identification number, telephone number etc.</p>
                                        <p>The Company is committed to protecting the privacy of all Customers ‘Personal Data which it processes in accordance with the provisions of this Policy and the Company’s Terms of Business. . This privacy statement covers the website www.signalatm.com and all its related sub-domains and mobile applications that are registered and operated by Signal ATM.</p>
                                        <p>If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at services@signalatm.com</p>
                                        <b>Collection of Information</b>
                                        <p>Signal ATM requires its' customers to divulge and share certain personal identification data, contact details and personal demographic information for setting their respective role accounts for using certain products and services offered by the company. Signal ATM may also require customers to furnish other information and KYC related documents as deemed fit for the purpose of relevant services offered and establish a contractual relationship with Signal ATM.</p>
                                        <p>
                                            Customers not wishing to provide such Personal Data will not be able to open an account with the Company or be provided with other products and/or services of Signal ATM.
                                            Customers have a responsibility to ensure that the Personal Data they provide to Signal ATM and recorded in their profile settings remain accurate and up to date throughout the period of their contractual relationship with Signal ATM.
                                        </p>
                                        <p>The personal information received from the Customer, collected and processed by Signal ATM are required for the communication, identification, verification and assessment for the business relationship establishment with the Customer, contract performance and compliance.</p>
                                        <p>The following Personal Data may be collected from Customers depending on the product and/or service the Company provides to him:</p>
                                        <ul>
                                            <li>(a)	Contact details such as the Customer’s name, e-mail address and phone number.</li>
                                            <li>(b)	Identification details such as the Customer’s identification or passport number.</li>
                                            <li>(c)	Biographical and demographic data such as gender.</li>
                                            <li>(d)	Financial information such as the Customer’s bank account number and account details</li>
                                        </ul>
                                        <p>
                                            Signal ATM may adopt certain online marketing and sales campaign to direct its target audience to its' online services and website. Signal ATM collects certain information but not limited to by participating in various seminars, through its' stalls, all types of advertisements, promotional campaigns, personal visits, meetings, by subscribing/buying databases available in the market and other modes of personal & electronic communications.
                                            Signal ATM collect information indirectly from prospective customers and visitors of our website that include Internet protocol ("IP") address, browser type, operating system, Internet service provider (ISP), time stamps and transaction history. This is statistical data about our users' browsing actions and patterns, and does not identify any individual. We may obtain information about our prospects and visitors general internet usage by using cookies and web beacons also known as action tags or single-pixel gifs, and other technologies. Cookies provide us with data we can use to improve our customers and visitors experience and to know them better. Cookies are stored on the hard drive of computer. They help us to improve our website and to deliver better and more personalised services. They enable us to estimate total no of visitors, target audience, frequency of visit, usage pattern and preferences.
                                            We may share information about our prospects and web audience with advertising companies for the purpose of targeting them with our internet banners, advertisements and promotions. This information is not personally identifiable. We may also use third party services and softwares to track and analyze usage and volume statistics including page requests and form requests. The third party may use cookies to track behaviour of website visitors.
                                            You consent to our use of cookies as described above. You may block or refuse to accept cookies by activating the setting on your browser. However, in such scenario you may be unable to access certain parts and functions of our website.
                                        </p>
                                        <b>No Children’s Data collection</b>
                                        <p>Signal ATM understands the importance of protecting children’s privacy. The Company's services are not intended for children under eighteen (18) years of age nor is the Company’s website designed for use by children. Therefore, the Company does not knowingly or specifically collect children's personal data. If the Company collects such data mistakenly or unintentionally, the Company shall delete the information at the earliest possible once it obtains knowledge thereof. If the Customer becomes aware of such data collection, he/she shall notify the Company at services@signalatm.com</p>
                                        <b>Sharing of Information</b>
                                        <p>Signal ATM does not and will not sell, rent, lease or license any Personal Information of our customers whether former or current, website visitors, target audience and prospects collected through various sources directly or indirectly including through cookies as described above. However, such information may be used, shared with, transferred to, access given to </p>
                                        <ul>
                                            <li>•	Employees, the group company, affiliates, strategic partners and third parties (consultants, service providers) for the purpose of data consolidation , customer data management, centralized customer services, marketing, sales, promotions, market research operations, accounting, risk management, audit and for any such activities required to perform day to day operations and Customer servicing.</li>
                                            <li>•	Attorneys, auditors and accountants.</li>
                                            <li>•	Regulators, governing bodies, enforcement agencies and legal authorities as required to comply with civil, criminal, regulatory investigations, judicial process, summons or/and warrant by etc.</li>
                                            <li>•	Legal heir, beneficial owners, nominee and such people who have legal interest in the customer account.</li>
                                            <li>•	Third parties to avail such services that enable Signal ATM to protect against actual or potential fraud, unauthorized transactions, claims or other liability.</li>
                                            <li>•	Credit reporting or collection agencies, or when necessary to protect our rights or property.</li>
                                            <li>•	New entities post-merger, takeover, acquisition, change of management and management control.</li>
                                        </ul>
                                        <p>You consent to our use of such information as described above<p>
                                            <b>Marketing Communications – Services Subscriptions Preferences</b>
                                            <ul>
                                                <li>•	Signal ATM may process Personal Data to tell its Customers about products, services and offers that may be of interest to the Customer. The Company may only process such Personal Data if it has obtained the Customer’s explicit consent to do so.</li>
                                                <li>•	If the Customer no longer wishes to receive any promotional communications, he may opt-out of receiving them by following the instructions included in each communication</li>
                                            </ul>
                                            <b>Third Party Link, Promotions, Advertisements<b>
                                        <p>
                                            Signal ATM website may provide links to third-party websites for customer convenience and information. Most of such third parties enter into contractual arrangements with the Company by which they observe data protection and confidentiality.However, Signal ATM does not recommend, endorse or make any representation of the third-party products and services advertised or promoted or a third party/company website link provided on its' website.
                                            Signal ATM does not own any responsibility, liability and this Privacy Policy is no longer applicable where a customer or visitor of our website purchases, subscribes, avails a product or service offered by such third party/company through an advertisement(s), promotion(s), banner(s) and third party link(s) provided on our website.
                                            Signal ATM is not responsible for the privacy policies, the contents, products purchased, subscribed and services availed of/from a third-party website/company we link to and we have no control over the use and protection of information provided by you to, or collected by such third part/company websites.
                                            Whenever our customers, prospects and visitors’ access/visit a co-branded website or to a linked website, they may be asked to register, divulge and share information on which we do not have any control. Customers or visitors of our website do so completely on their own risk.
                                            Third party/company that advertises on Signal ATM website may use cookies to collect details of customers or visitors to track their behavior.
                                            Protection of Information
                                        </p>
                                        <p>
                                            Signal ATM has taken up reasonable precautions to protect personal and account information from theft, misuse and unauthorized access/disclosure. We have taken security measures, has setup systems and procedures to safeguard and protect personal and trading data in normal circumstances. We have also tried to create a safe, secured and customer service environment.
                                            Signal ATM strongly recommends its' customers and visitors not to share your login details of any kind with anyone. Signal ATM would continue to enhance the secured and protected environment.
                                            However, Signal ATM would not be responsible for protecting such personal and trading data in case of extraordinary situation or circumstances beyond its' reasonable control including but not limited to cybercrime, piracy, internet/system hacking, viruses, fire, earthquake and natural disaster.
                                            Change in Privacy Policy
                                        </p>
                                        <p>
                                            Signal ATM may review and also change its privacy policy from time to time in its' sole discretion without any prior notice and a revised Privacy Policy would be posted on this website. Signal ATM customers and visitors of this website consent to Signal ATM to introduce future changes in the Privacy Policy and agree to accept the revised Privacy Policy.
                                            The customer is responsible for regularly reviewing the Policy and any amendments thereof.
                                            Signal ATM customers also acknowledge and agree that revised Privacy Policy of this website will have no impact on the Know Your Customer (Account Opening) notes, rate schedule, terms and conditions of services, discretionary agreement and regulatory disclaimer (collectively, the Agreement) of Signal ATM
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</body>
</html>
<script>
        //registrationForm
    var emailFlg = 0;
    var passFlg = 0;
    var conFlg = 0;
    var captchaFlg = 0;
    var chkFlg = 0;
    $(document).ready(function () {
        randomIntFromInterval();
    });

    function randomIntFromInterval() {
        var min, max;
        $("#txt_random").val(Math.floor(Math.random() * (999 - 100 + 1) + 100));
    }
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        $scope.Registration = function()
        {
            var confpw = $("#txt_conf_password").val();
            var pw = $("#txt_password").val();
            var email = $("#txt_email").val();
            var captcha = $("#captcha").val().trim();
            var txtcaptcha = $("#txt_random").val();
            var checkBoxCheked = $("#chk_Check").val();

             if ($("#chk_ckeck").is(":checked")) {

                //if (captcha == txtcaptcha ) {
                    $.ajax({
                        url: '@Url.Action("RegisterDetails", "Home")',
                        type: "POST",
                        Response: ContentType = 'application/json;charset=utf-8',
                        data: { email: email, password: confpw },
                        success: function (result) {
                            if (result.result == "OK") {

                                //alert("Registration almost Complete. We have sent you an account activation email to your registered email address.Please check your inbox for the same.Please note, you won’t be able to proceed without activating your account.");
                                window.location.href = '@Url.Action("SuccessfullRegistrationMsg", "Home")';
                            }
                            else if (result.result == "False") {
                                $("#lblemail").show();
                                $("#lblemail").append("User already registered!");
                                var email = $("#txt_email").val("");
                               // $scope.emailID = null;
                            }
                            else {
                               //alert(result.message);
                            }
                        }
                    });
                //}
                //else {
                //    alert("Please enter correct captcha !");
                //    $scope.txtcaptcha = null;
                //}
            }
        }
    });
    function validatecaptcha(captcha) {
        var captcha = $("#captcha").val().trim();
        var txtcaptcha = $("#txt_random").val();
        if(captcha==txtcaptcha)
        {
            $("#lblcaptcha").empty();
            $("#lblcaptcha").hide();
            captchaFlg = 1;
            if(emailFlg==1 && passFlg == 1 && conFlg == 1 && captchaFlg == 1 && chkFlg ==1)
            {
                $(':input[type="button"]').prop('disabled', false);
            }
        }
        else {
            $("#lblcaptcha").empty();
            $("#lblcaptcha").show();
            $(':input[type="button"]').prop('disabled', true);
            $("#lblcaptcha").append("Please enter correct captcha !");
            $("#captcha").focus();
        }
    }
    function validateEmail(txt_email) {
        var email = $("#txt_email").val();
        var reg = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

        if (reg.test(email) == false) {

            $("#lblemail").show();
            $(':input[type="button"]').prop('disabled', true);
            $("#lblemail").empty();
            $("#lblemail").append(email + " is not a valid email address. Please enter a valid Email Address. E.g:abc@abc.abc");
            $("#txt_email").focus();
           // alert("" + email + " is not a valid email address. Please enter a valid Email Address. E.g:abc@abc.abc");
            return false;
        }
        else
        {
            $("#lblemail").hide();
            emailFlg = 1;
            if (emailFlg == 1 && passFlg == 1 && conFlg == 1 && captchaFlg == 1 && chkFlg == 1) {
                $(':input[type="button"]').prop('disabled', false);
                // $("#txt_password").prop('disabled', false);


            }
            $('#txt_password').attr('disabled', false);
           return true;
        }

    }
    function validateConfPass(confPass)
    {
        var pass = $("#txt_password").val();
        var Conpass = $("#txt_conf_password").val();
        if (pass == Conpass) {
            $("#lblConpass").hide();
            conFlg = 1;
            if (emailFlg == 1 && passFlg == 1 && conFlg == 1 && captchaFlg == 1 && chkFlg == 1) {
                $(':input[type="button"]').prop('disabled', false);
            }
            $('#captcha').attr('disabled', false);
            }
        else {

                //alert("Please re-renter confirm password !");
                $("#lblConpass").empty();
                $("#lblConpass").show();
                $(':input[type="button"]').prop('disabled', true);
                $("#lblConpass").append("Please re-renter confirm password !");
               // $("#txt_conf_password").focus();
            }
    }
    function validatePassword(password)
    {
        var pass = $("#txt_password").val();
        var regularExpression =new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");

        var pwdLength = pass.length;
        if (pwdLength < 8)
        {
            $("#lblpass").show();
            $("#lblpass").empty();
            $("#lblpass").append("Password length should be at least 8 characters . It should be alphanumeric with one special character !");
            $("#txt_password").focus();
        }
       else if (!regularExpression.test(pass))
        {
           $("#lblpass").show();
           $(':input[type="button"]').prop('disabled', true);
            $("#lblpass").empty();
            $("#lblpass").append("Password length should be at least 8 characters . It should be alphanumeric with one special character !");
            $("#txt_password").focus();
        }
       else {
           passFlg = 1;
           if (emailFlg == 1 && passFlg == 1 && conFlg == 1 && captchaFlg == 1 && chkFlg == 1) {
               $(':input[type="button"]').prop('disabled', false);
           }
            $("#lblpass").empty();
            $("#lblpass").hide();
            $("#lblpass").hide();
            $("#lblpass").empty();
       }
        $('#txt_conf_password').attr('disabled', false);
    }
    function EnableRegistration()
    {
        if ($("#chk_ckeck").is(":checked"))
        {
            chkFlg = 1;
        }
        else {
            chkFlg = 0;
        }
        if (emailFlg == 1 && passFlg == 1 && conFlg == 1 && captchaFlg == 1 && chkFlg == 1)
        {
            $(':input[type="button"]').prop('disabled', false);
        }
        else {
            $(':input[type="button"]').prop('disabled', true);
        }
       // var confpw = $("#txt_conf_password").val();
       // var pwd = $("#txt_password").val();
       // var email = $("#txt_email").val();
       // var captcha = $("#captcha").val().trim();
       //// var txtcaptcha = $("#txt_random").val();
       // var checkBoxCheked = $("#chk_Check").val();
       // if (email != "") {
       //     validateEmail(email);
       // }
       // else {
       //       Showhide("#lblemail", "Please enter a valid Email Address. E.g:abc@abc.abc", "#txt_email");
       // }
       // if (pwd != "") {
       //     validatePassword(pwd);
       // }
       // else {
       //     Showhide("#lblpass", "Password length should be 8 character & alphanumeric with one special character !", "#txt_password");
       // }
       // if (confpw !="")
       // {

       //     validateConfPass(confpw);
       // }
       // else {
       //     Showhide("#lblConpass", "Please re-renter confirm password!", "#txt_conf_password");
       // }
       // if(captcha!="")
       // {
       //     validatecaptcha(captcha);
       // }
       // else
       // {
       //     Showhide("#lblcaptcha", "Please enter correct captcha !", "#captcha");
       // }


    }
    function Showhide(lblField, msg, txtField)
    {
        $(lblField).show();
        $(':input[type="button"]').prop('disabled', true);
        $(lblField).empty();
        $(lblField).append(msg);
        $(txtField).focus();
    }
</script>


