﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
        <title>Signal ATM</title>
    <link href="~/Content/CSS/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CSS/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/CSS/css/animate.css" rel="stylesheet">
    <link href="~/Content/CSS/css/style.css" rel="stylesheet">
    <link href="~/Content/CSS/css/mycustom.css" rel="stylesheet">
    <!-- Side bar css -->
    <link rel="stylesheet" href="~/Content/CSS/css/sidebar/dist.css">    <!-- Mainly scripts -->
    <script src="~/Content/CSS/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/CSS/js/popper.min.js"></script>
    <script src="~/Content/CSS/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/Content/CSS/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

    <!-- Side bar js -->
    <script type="text/javascript" src="~/Content/CSS/js/sidebar/jquery/asidebar.jquery.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>


</head>
<body style="background:#FFFFFF;">
    <div class="text-center loginscreen animated fadeInDown">
        <div class="container">
            <section class="content" ng-app="app" ng-controller="mycontrol">
                <form name="registrationForm">
                    <div class="col-md-9 col-centerd">
                        <div class="row">
                            <div class="col-lg-7">
                                <center>
                                    <img src="~/Content/CSS/img/logo-login.jpg" class="img-responsive logol top10">
                                </center>
                                <h1 class="wds-type wds-type--page-title wds-type--center wds-m-t-4">Register</h1>
                                <p class="wds-type--page-subtitle wds-type--center">
                                    Already Registered?
                                    <a class="log-in" href="Login" style="cursor: pointer;">Login »</a>
                                </p>
                            </div>
                            <div class="col-lg-5"></div>
                            <div class="col-lg-7">
                                @*<div class="alert alert-danger  alert-dismissable" id="div_error" style="text-align:left; display:none">
                                    Incorrect email address<br>
                                    Oops!, this is an invalid entry. The email address you entered is not registered with us.
                                    Please login using registered email address with signal ATM
                                </div>*@
                                <div class="form-group">
                                    @*<input type="email" id="txt_email" class="login" placeholder="Email"  onblur="validateEmail(this); required">*@
                                    <input type="email" id="txt_email" class="login" ng-model="emailID" onblur="validateEmail(this);" placeholder="Email"  >                           
                                    <label for="error" id="lblemail" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                </div>

                                <div class="form-group">
                                    <input type="password" id="txt_password" class="login" placeholder="Password" ng-model="txt_password" onblur="validatePassword(this)" >
                                    <label for="error" id="lblpass" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                </div>

                                <div class="form-group">
                                    <input type="password" id="txt_conf_password" ng-model="txt_conf_password" class="login" placeholder="Confirm Password" onblur="validateConfPass(this)" >
                                    <label for="error" id="lblConpass" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="text" id="txt_random" style="text-align:center; font-weight: bold; background:#fff; border:1px solid #808080; margin-top:5px; border-radius:0; width:100px; padding:5px 0; color:#000;" disabled />
                                            <a id="captcha_reload" onclick="randomIntFromInterval()" href="#">reload</a>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" class="login top5" id="captcha" name="captcha" placeholder="Enter captcha"  onblur="validatecaptcha(this);" ng-model="txtcaptcha" >
                                            <label for="error" id="lblcaptcha" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                        </div>
                                    </div>
                                    <div class="row top10">
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            <div class="checkbox i-checks" style="text-align:left;">
                                                <label>
                                                    <input type="checkbox" id="chk_ckeck" name="agree" onclick="EnableRegistration()">
                                                </label>
                                                <span>I Agree to&nbsp;<a href="#" onClick="$('#termandConditions').asidebar('open')">'Terms and Conditions'&nbsp;&nbsp;</a>&<a href="#">&nbsp;&nbsp;'Privacy Policy'</a></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">  </div>
                                @*<a class="btn btn-primary block full-width m-b buttoh-h" onclick="Registration()">Register</a>*@
                                <button type="button" style="cursor:pointer" class="btn btn-primary block full-width m-b buttoh-h" disabled  ng-click="registrationForm.$valid && Registration()"> Register</button>

                                <div class="or-divider wds-m-t-3">
                                    <div class="or-bubble">
                                        <p class="wds-type--body-sm wds-p-t-2 ">or Register with</p>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                                <div style="clear:both;"></div>
                                <ul class="socialIcons">
                                    <li class="facebook"><a href="FaceBookLogin" target="_blank"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
                                    <li class="twitter"><a href="#" target="_blank"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
                                    <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-fw fa-linkedin"></i>Linkedin</a></li>
                                    <li class="google"><a href="Google" target="_blank"><i class="fa fa-google fa-fw"></i>Google+</a></li>
                                </ul>
                                <p class="m-t text-center"> <small>Signal ATM &copy; 2019-20</small> </p>
                            </div>
                            <div class="col-lg-5">
                                <img src="~/Content/CSS/img/adv-regist.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                    <div class="jquery-script-ads">
                    </div>
                    <div class="aside" id="termandConditions">
                        <div class="aside-header">
                            <div class="col-md-12">
                                Terms & Conditions
                                <span class="close" data-dismiss="aside" aria-hidden="true">&times;</span>
                            </div>
                        </div>
                        <div class="aside-contents">
                            <div class="col-md-12">
                                <div class="terms-info">
                                    <div style="height:500px;  width: 100%; padding:0 10px 0 0; overflow-y: scroll;">
                                        <p>
                                            Signal ATM collates financial market related generic information at global level in form of trading
                                            signals and provides subscription based online services to through its Website and Mobile App.
                                            The content of this App/Website is intended to convey general trading related information only.
                                            This App/Website does not provide any kind of Investment advice. One should not treat any
                                            information as a call to make any particular decision regarding FX investments. We strongly
                                            suggest seeking advice from your own financial adviser before making any investment decision
                                            based on Trading Signal information provided here. Neither this App/Website nor its parent
                                            company accept any responsibility for any loss, damage, or inconvenience caused as a result of
                                            reliance on information published on, or linked to this App/Website.
                                        </p>
                                        <p>
                                            Signal ATM is NOT part of any Online Copy Trading Signal Platforms. Using the signals is the sole
                                            discretion of the subscriber.
                                        </p>
                                        <p>
                                            While all information provided through the Service is believed to come from sources based on
                                            specified filtered performance criteria, however Signal ATM does not guarantee the accuracy,
                                            correctness, or completeness of information available on this Service platform.
                                        </p>
                                        <p>
                                            Signal ATM reserves the right to make changes to the Site and/or the Services at any time at its
                                            sole discretion, without having to give prior notice to you or any of its Members. Due to the nature
                                            of computing, the Signal ATM’s App and communications could fail at any given time. As such the
                                            Signal ATM will not be responsible for unavailability of use of its Site, nor undelivered Signals due
                                            to Internet bandwidth problems, equipment failure or acts of God. The Signal ATM does not
                                            guarantee that the Site or the Service will be continuous or error-free. Signal ATM will not be liable
                                            for the acts or omissions of any third party with regards to delay or non-delivery of the Signals.
                                        </p>
                                        <p>
                                            Signal ATM MAKES NO REPRESENTATION WHATSOEVER THAT THE SIGNALS IT SENDS
                                            WILL INEVITABLY BE OR INEVITABLY ARE SUITABLE FOR YOU OR THAT THEY WOULD BE
                                            PROFITABLE FOR YOU. PLEASE REALIZE THE RISK INVOLVED WITH TRADING IN
                                            DIFFERENT MARKETS AND CONSULT AN INVESTMENT PROFESSIONAL BEFORE
                                            PROCEEDING. OUR SIGNALS ARE MADE AVAILABLE AS INFORMATION ONLY. SHOULD YOU
                                            DECIDE TO TRADE ON THE BASIS OF ANY OR ALL OF OUR SYSTEMS’ SIGNALS, IT IS YOUR
                                            DECISION.
                                        </p>
                                        <p>
                                            While I sign in as a user of this App/Website and Subscribe to any Plans, I fully understand &
                                            acknowledge that
                                        </p>

                                        <ul class="text-left" style="margin-left:0;">
                                            <li>Signal ATM is NOT selling tailored Investment Advice to me</li>
                                            <li>There is NO brokerage that is being charged by Signal ATM</li>
                                            <li>Signal ATM is NOT providing me any kind of copy trading service</li>
                                            <li>Signals provided are NOT automatically copied to my Trading Account</li>
                                            <li>
                                                Signal ATM does NOT provide Money Management activity neither does it have any control
                                                over my Trading Account
                                            </li>
                                            <li>Trading Signals provided here is NOT placing any trades on behalf of me</li>
                                            <li>Signal ATM is ONLY a subscription-based Signal Service Provider</li>
                                            <li>I use the available information on Signal ATM website at my personal discretion</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aside-backdrop"></div>
                 </form>
              </section>
        </div>
    </div>
</body>
</html>
<script>    //registrationForm

    var emailFlg = 0;
    var passFlg = 0;
    var conFlg = 0;
    var captchaFlg = 0;
    var chkFlg = 0;

    $(document).ready(function () {
        randomIntFromInterval();
    });

    function randomIntFromInterval() { 
        var min, max;
        $("#txt_random").val(Math.floor(Math.random() * (999 - 100 + 1) + 100));
    }
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        $scope.Registration = function()
        {
            var confpw = $("#txt_conf_password").val();
            var pw = $("#txt_password").val();
            var email = $("#txt_email").val();
            var captcha = $("#captcha").val().trim();
            var txtcaptcha = $("#txt_random").val();
            var checkBoxCheked = $("#chk_Check").val();           
                
             if ($("#chk_ckeck").is(":checked")) {
               
                    $.ajax({
                        url: '~/Home/RegisterDetails',
                        type: "POST",
                        Response: ContentType = 'application/json;charset=utf-8',
                        data: { email: email, password: confpw },
                        success: function (result) {
                            if (result.result == "OK") {
                                alert("Registration almost Complete. We have sent you an account activation email to your registered email address.Please check your inbox for the same.Please note, you won’t be able to proceed without activating your account.");
                                window.location.href = '@Url.Action("Login", "Home")';
                            }
                            else if (result.result == "User already registered") {
                                alert("User already registered!");
                                $scope.emailID = null;
                            }
                            else {
                               //alert(result.message);
                            }
                        }
                    });
              
            }
        }
    });
    function validatecaptcha(captcha) {
        var captcha = $("#captcha").val().trim();
        var txtcaptcha = $("#txt_random").val();
        if(captcha==txtcaptcha)
        {
            $("#lblcaptcha").empty();
            $("#lblcaptcha").hide();
        }
        else {
            $("#lblcaptcha").empty();
            $("#lblcaptcha").show();
            $("#lblcaptcha").append("Please enter correct captcha !");
           // $("#captcha").focus();
        }
    }
    function validateEmail(txt_email) {
        var email = $("#txt_email").val();
        var reg = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
       
        if (reg.test(email) == false) {
            
            $('label[for="error"]').show();
            $("#lblemail").empty();
            $("#lblemail").append(email + " is not a valid email address. Please enter a valid Email Address. E.g:abc@abc.abc");
            $("#txt_email").focus();           
            return false;
        }
        else
        {
           $('label[for="error"]').hide();
           return true;
        }      

    }
    function validateConfPass(confPass)
    {       
        var pass = $("#txt_password").val(); 
        var Conpass = $("#txt_conf_password").val();
        if (pass == Conpass) {
                $("#lblConpass").hide();
            }
            else {
                //alert("Please re-renter confirm password !");
                $("#lblConpass").empty();
                $("#lblConpass").show();
                $("#lblConpass").append("Please re-renter confirm password !");
                $("#txt_conf_password").focus();
            }
    }
    function validatePassword(password)
    {
        var pass = $("#txt_password").val();       
        var regularExpression = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");    
        var pwdLength = pass.length;      
        if (pwdLength < 8)
        {
            $("#lblpass").show();
            $("#lblpass").empty();
            
            $("#lblpass").append("Password lehgth should be 8 !");
            $("#txt_password").focus();          
        }           
       else if (!regularExpression.test(pass))
        {           
            $("#lblpass").show();
            $("#lblpass").empty();
            $("#lblpass").append("Password should be alphanumeric with one special character !");
            $("#txt_password").focus();
        }
        else {
            $("#lblpass").empty();
            $("#lblpass").hide();
            $("#lblpass").hide();
            $("#lblpass").empty();
        }
    }
    function EnableRegistration()
    {
        alert("Hii");
        var confpw = $("#txt_conf_password").val();
        var pwd = $("#txt_password").val();
        var email = $("#txt_email").val();
        var captcha = $("#captcha").val().trim();
       // var txtcaptcha = $("#txt_random").val();
        var checkBoxCheked = $("#chk_Check").val();
        if (email != "") {
            validateEmail(email);
        }
        else {           
              Showhide("#lblemail", "Please enter a valid Email Address. E.g:abc@abc.abc", "#txt_email");
        }
        if (pwd != "") {
            validatePassword(pwd);
        }
        else {            
            Showhide("#lblpass", "Password length should be 8 character & alphanumeric with one special character !", "#txt_password");
        }
        if (confpw !="")
        {
            validateConfPass(confpw);
        }
       else{
            Showhide("#lblConpass", "Please re-renter confirm password !", "#txt_conf_password");
        }
        if(captcha!="")
        {
            validatecaptcha(captcha);
        }
        else
        {           
            Showhide("#lblcaptcha", "Please enter correct captcha !", "#captcha");
        }
        $(':input[type="button"]').prop('disabled', false);

    }
    function Showhide(lblField, msg, txtField)
    {       
        $(lblField).show();
        $(lblField).empty();
        $(lblField).append(msg);
        $(txtField).focus();
    }
</script>