﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signal ATM</title>
    <link href="~/Content/CSS/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CSS/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/CSS/css/animate.css" rel="stylesheet">
    <link href="~/Content/CSS/css/style.css" rel="stylesheet">
    <link href="~/Content/CSS/css/mycustom.css" rel="stylesheet">

    <!-- Mainly scripts -->
    <script src="~/Content/CSS/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/CSS/js/popper.min.js"></script>
    <script src="~/Content/CSS/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/Content/CSS/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

</head>
<body style="background:#FFFFFF;">

    <div class="text-center loginscreen animated fadeInDown">
        <div class="container">
            <div class="col-md-9 col-centerd">
                <div class="row">

                    <div class="col-lg-7">
                        <center>
                            <img src="~/Content/CSS/img/logo-login.jpg" class="img-responsive logol top50">
                        </center>

                        <h1 class="wds-type login-title wds-type--center wds-m-t-4">Reset Password</h1>
                    </div>

                    <div class="col-lg-5"></div>

                    <div class="col-lg-7">
                        <div class="sign-in-form-module">
                            <form role="form" action="~/login.html">

                                <div class="form-group">
                                    <input type="text" class="login2" id="otp" placeholder="OTP" required="">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="login2" id="password" placeholder="Password" required="">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="login2" id="confirmPassword" placeholder="Confirm password" required="">
                                </div>



                                <a onclick="submit()" class="btn btn-primary block full-width m-b buttoh-h">Submit</a>
                            </form>
                        </div>
                        <p class="m-t"> <small>Signal ATM &copy; 2019-20</small> </p>
                    </div>

                    <div class="col-lg-5"><img src="~/Content/CSS/img/adv-forgot-pass.png" class="img-responsive"></div>



                </div>

            </div>
            <div class="col-lg-5 col-md-7  col-centerd">


                <div style="clear:both;"></div>

            </div>
        </div>
    </div>
    @*<div class="container">
        <div class="col-md-12">
            <center>
                <br>Note: Validation, relevent massages - We will do in programming stage
            </center>
        </div>
    </div>*@

</body>

</html>
<script>
    function submit() {
        var otp = $("#otp").val().trim();
        var confirmPassword = $("#confirmPassword").val().trim();
        var password = $("#password").val().trim();

        if ('@Session["OTP"]' != '') {
            if (otp == '@Session["OTP"].ToString()' && password == confirmPassword) {

                $.ajax({
                    url: '~/Home/Reset_PasswordDetails',
                    type: "POST",
                    Response: ContentType = 'application/json;charset=utf-8',
                    data: { password: password},
                    success: function (result) {
                        if (result.status == true) {
                            alert("Password has been change");                           
                            window.location.href = '@Url.Action("Login", "Home")';
                        }
                        else {
                            alert("Failed to update password");
                        }
                    }
                });
            }
            else {
                alert('Please enter correct password or otp')
            }
        }

    }
</script>