﻿
@{
    ViewBag.Title = "ResendEmail";
    Layout = null;
        //"~/Views/Shared/sp_master_page.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resend Activation mail </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="~/Content/CSS/css/email-styles.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="alert alert-good">
                              
                            </td>
                        </tr>
                        <tr>
                            <td class="content-wrap">
                                <table width="100%" cellpadding="0" cellspacing="0">

                                    <tr>
                                        <td class="content-block">
                                           Activation link is deactivated. <br />                                            
                                            If you want to resend activation link, Please <a href="@Url.Action("SendActivationMail", "Home", new {email= ViewBag.reEmail })">click here.</a>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="content-block">
                                            Thanks for choosing Signal ATM.
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="footer"> </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</body>
</html>