﻿
@{
    Layout = "~/Views/Shared/masterpage_without_menu.cshtml"; 
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessfullRegistrationMsg</title>  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
    <link href="~/Content/CSS/css/email-styles.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="alert alert-good">
                                Registration almost Complete
                            </td>
                        </tr>
                        <tr>
                            <td class="content-wrap">
                                <table width="100%" cellpadding="0" cellspacing="0">

                                    <tr>
                                        <td class="content-block">
                                            We have sent you an account activation email to your registered email address. Please check your inbox for the same.
                                            Please note, you won’t be able to proceed without activating your account.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <a href="Login" class="btn-primary">OK</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            Thanks for choosing Signal ATM.
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="footer"> </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</body>
</html>
