﻿
@{
    ViewBag.Title = "tr_faq";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}
<!DOCTYPE html>
<html>

<body>
   
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox"> </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox collapsed">
                                    <div class="ibox-title">
                                        <a class="collapse-link">
                                            <div class="col-md-7 pad0">
                                                <h5 class="faq-question" style="padding:10px 0;">Trading Signals Related</h5>
                                            </div>
                                            <div class="ibox-tools"> <i class="fa fa-chevron-up top12"></i> </div>
                                        </a>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="col-md-12 pad0">
                                            <div class="faq-answer">
                                                <div class="table-responsive">
                                                    <table width="100%" border="0" class="table table-striped">
                                                        <tr>
                                                            <td width="3%">1.</td>
                                                            <td width="97%">
                                                                <h5 style="margin-top:0;">What are the assets for which Trading Signals are provided by Signal ATM</h5>
                                                                Signal ATM Provides Trading Signals for selected Forex Currencies
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>2.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">How are Trading Signals generated</h5>
                                                                Trading Signals are an output of Analytical Engine that runs on mathematical models that uses customised financial indicators
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>3.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">Are the signals pure technical and mathematical or expert intervention is needed</h5>
                                                                Signal ATM delivered trading signals are NOT automated signals that uses any pre-programmed algorithms all the time but  it also involves expert intervention as appropriate time to time to assess its reliability
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>4.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What trading strategies are built in the Trading Signals</h5>
                                                                Trading signals are delivered with defined time frame and validity to cater to Intraday, Swing and Trend Trading
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>5.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What is the cost of 1 Signal</h5>
                                                                1 Trading Signal costs around $1 however the cost of signal is different in case of a Jackpot Signal
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>6.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What is a Jackpot Signals</h5>
                                                                Jackpot Signals are signals with very high reliability
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>7.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What is the cost of a Jackpot Signal</h5>
                                                                Jackpot Signals costs around $3 per signal for paid users (Non-Members)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>8.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What are different signal status?</h5>
                                                                Trading Signals at Signal ATM are categorised as Active, Live, Closed and Abandon Signals
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>9.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What is an Active Signal</h5>
                                                                Active Signals are those Signals that has been posted and delivered to users which can be put to use immediately as they are
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>10.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What is a Live Signal</h5>
                                                                Trading Signal goes Live when the recommended Strike Price has reached the level at which the user can jump into the trade
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>11.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What is a Closed Signal</h5>
                                                                A Closed Signal are Signals that went live but now are expired with either a success (giving profits) or failure (booking loss) result
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>12.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What is an Abandon Signal</h5>
                                                                An abandoned Signal is a signal that was delivered to the user but it was unlikely that signal hitting the recommended strike price based on dynamic market conditions
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>13.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">Can I deselect the signal once I select it</h5>
                                                                The user can deselect the signal as long as it has not been purchased. Once the Wallet account is debited for the selected signal, the choice of de-selection cannot be reversed
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>14.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What is the Time Frame of the Signal</h5>
                                                                Time frame helps refine the entry and exit decision points for a given trend that may be considered as good trade in the given context.  The decisions are made by studying candlestick charts. Any chart less than a 4 hour chart used is considered a “Lower Time Frame” and beyond 4 hours as “Higher Time Frame”
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>15.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">Are TP and SL fixed for a Trading Signal at Signal ATM? When do they change?</h5>
                                                                TP and SL are derived based on value of risk taken on each trade but may be reconsidered for any modification based on market swing points since it has direct relationship with reward and risk for any open position
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>16.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">When is a Trading Signal considered Successful or Failed</h5>
                                                                A Signal when closed has resulted in positive PIPs with recommended TP and SL values, the Signal is said to have been Successful. But when the Signal’s end result has demonstrated opposite expectations then the Signal is said to be a Failed one
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>17.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">How is historical success for pair calculated</h5>
                                                                Historical performance of the pair in terms of Success that is “How many times the signal for the said PAIR was successful resulting in positive pips”
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="ibox collapsed">
                                    <div class="ibox-title">
                                        <a class="collapse-link">
                                            <div class="col-md-7 pad0">
                                                <h5 class="faq-question" style="padding:10px 0;">Signal Coins Related </h5>
                                            </div>
                                            <div class="ibox-tools"> <i class="fa fa-chevron-up top12"></i> </div>
                                        </a>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="col-md-12 pad0">
                                            <div class="faq-answer">
                                                <div class="table-responsive">
                                                    <table width="100%" border="0" class="table table-striped">
                                                        <tr>
                                                            <td width="3%">1.</td>
                                                            <td width="97%">
                                                                <h5 style="margin-top:0;">What is a Signal Coin</h5>
                                                                All users are rewarded with Signal ATM loyalty coins which can be used to purchase Trading Signals.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>2.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">How may Signals Coins are rewarded by Signal ATM and where can I view them</h5>
                                                                20 Signals coins are rewarded only once during when the users signup for the first time and that is reflected in the user’s Wallet Account
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>3.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">Are Signal coins rewarded for all users</h5>
                                                                Yes. Signal coins get rewarded for all those users who Signup.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>4.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">Can Signal coins be encashed</h5>
                                                                Signal coins are used for purchasing trading signals only and cannot be encashed by the user.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>5.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">Can a user purchase additional Signal Coins</h5>
                                                                Yes. Paid user who is a non-member can purchase additional signal coins when the wallet account has insufficient funds or any time when he is logged in.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>6.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What happens to the Signal Coins for the Subscribed Members.</h5>
                                                                Subscribed members don’t get any Signal Coins after Subscription. Rather, they get FREE Jackpot signals the number of which depends on the selected Subscription package and the corresponding Duration.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>7.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What is the value of one Signal coin</h5>
                                                                One Signal coin is equivalent to 1$
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>8.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What can I do with Signal Coins</h5>
                                                                A paid user (Non-Member) can use Signal Coins to purchase Trading Signals only.
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="ibox collapsed">
                                    <div class="ibox-title">
                                        <a class="collapse-link">
                                            <div class="col-md-7 pad0">
                                                <h5 class="faq-question" style="padding:10px 0;">Signup Related</h5>
                                            </div>
                                            <div class="ibox-tools"> <i class="fa fa-chevron-up top12"></i> </div>
                                        </a>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="col-md-12 pad0">
                                            <div class="faq-answer">
                                                <div class="table-responsive">
                                                    <table width="100%" border="0" class="table table-striped">
                                                        <tr>
                                                            <td width="3%">1.</td>
                                                            <td width="97%">
                                                                <h5 style="margin-top:0;">How do I Signup </h5>
                                                                You need to register on Signal ATM APP with your email address and create an account before you make any purchase of Trading signals. You can Signup here
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>2.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">Is there any age criteria to open an account with Signal ATM </h5>
                                                                Signal ATM allows users to be 18 or older to open an account with us. We reserve the right to request proof of age from any potential user and to suspend his/her account until documentation is provided.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>3.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">How do I Login </h5>
                                                                Once you’ve signed up, currently you can login to the site at any time from your mobile devices only. Login from PC is currently ot available but will be introduced soon. You can click on Login button on the first screen with your username and password.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>4.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">How can I recover lost login details </h5>
                                                                In the case of forgetting the login details, the user will always be able to reset the password with the email that he has signed up with. Click the Forgot Password link in the login pop to reset your password, or <a href="Forgot_Password">click here</a> to reset it now.
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="ibox collapsed">
                                    <div class="ibox-title">
                                        <a class="collapse-link">
                                            <div class="col-md-7 pad0">
                                                <h5 class="faq-question" style="padding:10px 0;">Subscription Related</h5>
                                            </div>
                                            <div class="ibox-tools"> <i class="fa fa-chevron-up top12"></i> </div>
                                        </a>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="col-md-12 pad0">
                                            <div class="faq-answer">
                                                <div class="table-responsive">
                                                    <table width="100%" border="0" class="table table-striped">
                                                        <tr>
                                                            <td width="3%">1.</td>
                                                            <td width="97%">
                                                                <h5 style="margin-top:0;">Who is a Non-Member </h5>
                                                                Paid user who has not subscribed to any Signal ATM packages is a Non-Member
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>2.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">How many Subscription packages are available at Signal ATM </h5>
                                                                Signal ATM currently offers Standard and Premium as two Subscription packages
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>3.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What is the difference between Standard Package and Premium Package? </h5>
                                                                Standard Package and Premium Packages differs in pricing and features. Premium Packages is being offered with little high reliability signals with different Jackpot signals based on subscription periods
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>4.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">What are different subscription duration offered at Signal ATM </h5>
                                                                Both standard and premium packages have Monthly, Quarterly, Semiannual and Annual subscription periods. User can choose the Package and period duration that suits him the most
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>5.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">Is Risk highlighted in the delivered Trading Signals </h5>
                                                                Risk is classified as Low, Medium and High. In the context of trading, “Risk” refers to the probability of losing money or trading capital
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>6.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">Can a user have multiple accounts </h5>
                                                                Unique email address is linked to the user account at Signal ATM
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="ibox collapsed">
                                    <div class="ibox-title">
                                        <a class="collapse-link">
                                            <div class="col-md-7 pad0">
                                                <h5 class="faq-question" style="padding:10px 0;">Payments Related </h5>
                                            </div>
                                            <div class="ibox-tools"> <i class="fa fa-chevron-up top12"></i> </div>
                                        </a>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="col-md-12 pad0">
                                            <div class="faq-answer">
                                                <div class="table-responsive">
                                                    <table width="100%" border="0" class="table table-striped">
                                                        <tr>
                                                            <td width="3%">1.</td>
                                                            <td width="97%">
                                                                <h5 style="margin-top:0;">What are various payments options available to Signal ATM </h5>
                                                                We accept most payment methods including PayPal, Paysafe, Skrill, NETELLER, Visa card, Debit card, Master card, and Maestro.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>2.</td>
                                                            <td>
                                                                <h5 style="margin-top:0;">Are all transactions safe at signal ATM </h5>
                                                                Your privacy and security is top priority for us. That’s why all your transactions are handled by a SSL protocol with 128 bit encryption. This means that all communication between your computer and our servers are encrypted, and doesn’t end up in the wrong hands.
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="ibox collapsed">
                                    <div class="ibox-title">
                                        <a class="collapse-link">
                                            <div class="col-md-7 pad0">
                                                <h5 class="faq-question" style="padding:10px 0;">Support Related </h5>
                                            </div>
                                            <div class="ibox-tools"> <i class="fa fa-chevron-up top12"></i> </div>
                                        </a>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="col-md-12 pad0">
                                            <div class="faq-answer">
                                                <div class="table-responsive">
                                                    <table width="100%" border="0" class="table table-striped">
                                                        <tr>
                                                            <td width="3%">1.</td>
                                                            <td width="97%">
                                                                <h5 style="margin-top:0;">How to get in touch with Signal ATM </h5>
                                                                For any questions, please send an email to <a href="mailto:support@signalatm.com">support@signalatm.com</a> Our support team is ready to take care of all of your concerns related to trading signals on Signal ATM APP.
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
    <div class="aside-backdrop"></div>
   
</body>
</html>

