﻿
@{
    ViewBag.Title = "tr_plan_payments";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}

<!DOCTYPE html>
<html>
<body>
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 pad0">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Payment History</h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="col-lg-12">
                                        <div class="tabs-container">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li><a class="btn btn-sm btn-white active" data-toggle="tab" href="#intratransfer">Intra Transfer</a></li>

                                                <li><a class="btn btn-sm btn-white" data-toggle="tab" href="#planpayments">Plan Payments</a></li>

                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" id="intratransfer" class="tab-pane active">
                                                    <div class="panel-body" style="border:1px solid #e0e0e0;">
                                                        <div class="table-responsive top10">
                                                            <table id="example1" class="table table-striped table-bordered">

                                                                <thead>
                                                                    <tr>
                                                                        <th width="16.6%">Transaction Number</th>
                                                                        <th width="16.6%">User</th>
                                                                        <th width="16.6%">Date with time</th>
                                                                        <th width="16.6%">Wallet Opening</th>
                                                                        <th width="16.6%">Amount</th>

                                                                        <th width="16.6%" title="Past">Closing Amount</th>
                                                                        <th width="16.6%" title="Past">Type</th>
                                                                        <th width="16.6%" title="Past">Transaction Details</th>
                                                                        <th width="16.6%" title="Past">Status</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>WT01</td>
                                                                        <td>abc@gmail.com</td>
                                                                        <td>15-Nov-19</td>
                                                                        <td>&nbsp;</td>
                                                                        <td>50</td>
                                                                        <td>50</td>
                                                                        <td>Credit</td>
                                                                        <td>Wallet Transfer</td>
                                                                        <td>Success</td>
                                                                    </tr>
                                                                </tbody>
                                                                <tfoot>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div role="tabpanel" id="planpayments" class="tab-pane">
                                                    <div class="panel-body" style="border:1px solid #e0e0e0;">
                                                        <div class="table-responsive top10">
                                                            <table id="example2" class="table table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="128">Transaction Number</th>
                                                                        <th width="128">Bill Number</th>
                                                                        <th width="111">User Name</th>
                                                                        <th width="95">Subscription Plan</th>
                                                                        <th width="43">Plan Amount</th>
                                                                        <th width="50">Discount Code</th>
                                                                        <th width="69">Discount Amount</th>
                                                                        <th width="68">Balance Amount(inclusive of gst)</th>
                                                                        <th width="54">Wallet Amount</th>
                                                                        <th width="54">Paid Amount</th>
                                                                        <th width="54">Source/Mode</th>

                                                                        <th width="86">Type</th>
                                                                        <th title="Past">Transaction Details</th>
                                                                        <th width="86">Status</th>
                                                                        <th width="86">Entry Date</th>
                                                                        <th width="86">Invoice</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>WT02</td>
                                                                        <td>SP01</td>
                                                                        <td>abc@gmail.com</td>
                                                                        <td>Regular - Monthly</td>
                                                                        <td>$ 500</td>
                                                                        <td>MKT01</td>
                                                                        <td>$100</td>
                                                                        <td>$400</td>
                                                                        <td>$50</td>
                                                                        <td>$350</td>
                                                                        <td>Credit Card</td>
                                                                        <td>Debit</td>
                                                                        <td>Purchase Subscription Plan</td>
                                                                        <td>Success</td>
                                                                        <td>&nbsp;</td>
                                                                        <td><a href="#">Invoice</a></td>
                                                                    </tr>
                                                                </tbody>
                                                                <tfoot>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div role="tabpanel" id="cashout" class="tab-pane">
                                                    <div class="panel-body" style="border:1px solid #e0e0e0;">
                                                        Only For SP and Referrer
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
         
    <div class="aside-backdrop"></div>
 
</body>
</html>


