﻿
@{
    ViewBag.Title = "tr_subscription_checkout";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}
<!DOCTYPE html>
<html>
<body>
  
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12 pad0">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Subscription Details</h5>
                                    <div class="ibox-tools"> <a class="collapse-link" href="#"> <i class="fa fa-chevron-up"></i> </a> </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="col-md-12">
                                        <h3 class="text-navy">
                                            Standard Yearly - $1,200
                                        </h3>
                                        <div class="feed-activity-list">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Signal Type</label>
                                                    <div> Regular </div>
                                                    <div class="hr-line-dashed"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Validity</label>
                                                    <div> 365 days </div>
                                                    <div class="hr-line-dashed"></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Validity From</label>
                                                    <div>
                                                        <div class="form-group" id="data_1">
                                                            <div class="input-group date">
                                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                <input type="text" class="form-control" value="09-Dec-2019">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Validity Till</label>
                                                    <div> 09-Dec-2020 </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  <div class="ibox-content"> <a href="tr-subscription-plan.html" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back to Packages</a> </div>-->
                            </div>
                        </div>
                        <div class="col-md-12 pad0">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Personal Details</h5>
                                    <div class="ibox-tools"> <a class="collapse-link" href="#"> <i class="fa fa-chevron-up"></i> </a> </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="feed-activity-list">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Name</label>
                                                    <div> Ajit Kulkarni </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Email Id</label>
                                                    <div> ak@gmail.com </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Phone</label>
                                                    <div> 9825679831 </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 pad0">
                            <div class="ibox collapsed">

                                <div class="ibox-title">
                                    <h5>View Coupons</h5>
                                    <div class="ibox-tools"> <a class="collapse-link" href="#"> <i class="fa fa-chevron-up"></i> </a> </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="col-md-6 pad0">
                                        <label class="col-form-label">&nbsp;&nbsp;Enter Coupon Code</label>
                                        <div style="clear:both;"></div>
                                        <input type="text" class="coupan-control">
                                    </div>

                                    <div class="row top10">
                                        <div class="col-md-3">
                                            <div class="brcoupan">
                                                <h5 class="text-center">BINGE40</h5>
                                                <p class="font-bold text-center">Get 20% Off</p>
                                                <div class="text-center"> <a href="#" class="btn btn-xs btn-default">Copy</a> </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="brcoupan">
                                                <h5 class="text-center">BINGE50</h5>
                                                <p class="font-bold text-center">Get 25% Off</p>
                                                <div class="text-center"> <a href="#" class="btn btn-xs btn-default">Copy</a> </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="brcoupan">
                                                <h5 class="text-center">BINGE690</h5>
                                                <p class="font-bold text-center">Get 30% Off</p>
                                                <div class="text-center"> <a href="#" class="btn btn-xs btn-default"> Copy</a> </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="brcoupan">
                                                <h5 class="text-center">BINGE52</h5>
                                                <p class="font-bold text-center">Get 20% Off</p>
                                                <div class="text-center"> <a href="#" class="btn btn-xs btn-primary">Copy</a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  <div class="ibox-content"> <a href="tr-subscription-plan.html" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Back to Packages</a> </div>-->
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Wallet Amount</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="i-checks">
                                    <label>
                                        <input type="checkbox" value="" checked>
                                        <i></i> Include Amount
                                    </label>
                                    <input type="text" class="coupan-control" style="margin-left:0;" placeholder="$100">
                                </div>

                            </div>
                        </div>
                        <div class="ibox mb-5">
                            <div class="ibox-title">
                                <h5>Order Summery</h5>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-hover margin bottom">
                                    <tbody>
                                        <tr>
                                            <td class="border-0">Total Amount&nbsp;(Including GST)</td>
                                            <td class="text-right text-navy border-0">
                                                <h4>
                                                    $1,200
                                                </h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Discount Amount </td>
                                            <td class="text-right text-navy"><h4>$50</h4></td>
                                        </tr>
                                        <tr>
                                            <td> Wallet Amount</td>
                                            <td class="text-right text-navy"><h4>$100</h4></td>
                                        </tr>
                                        <tr>
                                            <td> Coupan Amount</td>
                                            <td class="text-right text-navy"><h4>$50</h4></td>
                                        </tr>
                                        <tr>
                                            <td>Net Payable</td>
                                            <td class="text-right text-danger"><h4>$1,000</h4></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="tr_subscription_payment" class="btn block btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
    <div class="aside-backdrop"></div>

</body>
</html>



