﻿
@{
    ViewBag.Title = "tr_subscription_plan";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    
            <div class="wrapper wrapper-content">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="ibox">

                            <div class="ibox-title">
                                <h5>Subscription Plan</h5>
                                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                            </div>

                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>  Never miss a signal that may lead to the profits.Receive important realtime notifications on change in Stop Loss, Take Profit, Strike Price. Access to signal providers profile and then signal performance reports.  Flexible Plan start date.   Signals are displayed only if precious performance meets entry criteria. Pemium package includes signals with high chance of success.</p>

                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">

                    <div class="col-lg-12">
                        <div class="ibox">

                            <div class="ibox-title">
                                <h5>Choose Your  Plan</h5> <span class="label label-warning">Current Plan: Standard Monthly, Expiry Date: 20-Jan-20</span>
                                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                            </div>

                            <div class="ibox-content">
                                <div class="col-lg-12">
                                    <div class="tabs-container">
                                        <div class="col-md-3 col-centerd">
                                            <ul class="nav nav-rtabs togglabg" role="tablist">
                                                <li><a class="nav-rlink active" data-toggle="tab" href="#standard">Standard</a></li>
                                                <li><a class="nav-rlink" data-toggle="tab" href="#premium">Premium</a></li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div role="tabpanel" id="standard" class="tab-pane active">
                                                <div class="row">
                                                    <div class="col-sm-2dot4">

                                                        <ul class="package-plan list-unstyled trial top30">

                                                            <li class="trialpack-title">
                                                                Trial
                                                            </li>
                                                            <li class="pricing-price">
                                                                <span class="trialprice">Free</span>
                                                            </li>
                                                            <li>7 Days Validity</li>
                                                            <li>
                                                                Currency Market
                                                            </li>
                                                            <li>
                                                                All Signal Provider
                                                            </li>
                                                            <li>
                                                                Web & Mobile App
                                                            </li>
                                                            <li>
                                                                Historical Performance
                                                            </li>
                                                            <li>
                                                                Notifications
                                                            </li>
                                                            <li>
                                                                <a class="btn btn-info btn-xs" href="tr_subscription_checkout">Subscribe</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-2dot4">
                                                        <ul class="package-plan list-unstyled top30">

                                                            <li class="package-title">
                                                                Monthly
                                                            </li>
                                                            <li class="pricing-price">
                                                                <span class="pack-amunt">$100</span>
                                                            </li>

                                                            <li class="pricing-price">
                                                                <span>30 Days</span>                    Validity
                                                            </li>
                                                            <li>
                                                                Currency Market
                                                            </li>
                                                            <li>All Signal Provider</li>
                                                            <li>Web & Mobile App</li>
                                                            <li>Historical Performance</li>
                                                            <li>Notifications</li>
                                                            <li>
                                                                <a class="btn btn-primary btn-xs" href="tr_subscription_checkout">Subscribe</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-2dot4 top30">
                                                        <ul class="package-plan list-unstyled">
                                                            <li class="package-title">
                                                                Quarterly
                                                            </li>
                                                            <li class="pricing-price">
                                                                <span class="pack-amunt">$300</span>
                                                            </li>

                                                            <li class="pricing-price">
                                                                <span>90 Days</span>                    Validity
                                                            </li>

                                                            <li>Currency Market</li>
                                                            <li>All Signal Provider</li>
                                                            <li>Web & Mobile App</li>
                                                            <li>Historical Performance</li>
                                                            <li>
                                                                Notifications
                                                            </li>
                                                            <li>
                                                                <a class="btn btn-primary btn-xs" href="tr_subscription_checkout">Subscribe</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-2dot4">
                                                        <center>
                                                            <img src="~/Content/CSS/img/best.png" class="img-responsive" title="Best Seller">
                                                        </center>
                                                        <ul class="package-plan list-unstyled best-seller">
                                                            <li class="package-title">

                                                                Half Yearly
                                                            </li>
                                                            <li class="pricing-price">
                                                                <span class="pack-amunt">$600</span>
                                                            </li>
                                                            <li>
                                                                <span>180 Days</span>                    Validity
                                                            </li>

                                                            <li>
                                                                Currency Market
                                                            </li>
                                                            <li>All Signal Provider</li>
                                                            <li>Web & Mobile App</li>
                                                            <li>Historical Performance</li>
                                                            <li>Notifications</li>
                                                            <li>
                                                                <a class="btn btn-primary btn-xs" href="tr_subscription_checkout">Subscribe</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-2dot4 top30">
                                                        <ul class="package-plan list-unstyled">
                                                            <li class="package-title">
                                                                Yearly
                                                            </li>

                                                            <li class="pricing-price">
                                                                <span class="pack-amunt">$1200</span>
                                                            </li>
                                                            <li>
                                                                <span>365 Days</span>                    Validity
                                                            </li>

                                                            <li>
                                                                Currency Market
                                                            </li>
                                                            <li>All Signal Provider</li>
                                                            <li>Web & Mobile App</li>
                                                            <li>Historical Performance</li>
                                                            <li>Notifications</li>
                                                            <li>
                                                                <a class="btn btn-primary btn-xs" href="tr_subscription_checkout">Subscribe</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div role="tabpanel" id="premium" class="tab-pane">

                                                <div class="col-md-12 col-centerd">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <ul class="package-plan list-unstyled top30">

                                                                <li class="package-title">
                                                                    Monthly
                                                                </li>
                                                                <li class="pricing-price">
                                                                    <span class="pack-amunt">$200</span>
                                                                </li>

                                                                <li class="pricing-price">
                                                                    <span>30 Days</span>                    Validity
                                                                </li>
                                                                <li>
                                                                    Currency Market
                                                                </li>
                                                                <li>
                                                                    All Signal Provider
                                                                </li>
                                                                <li>
                                                                    Web & Mobile App
                                                                </li>
                                                                <li>
                                                                    Historical Performance
                                                                </li>
                                                                <li>Notifications</li>
                                                                <li>
                                                                    <a class="btn btn-primary btn-xs" href="tr_subscription_checkout">Subscribe</a>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                        <div class="col-md-3 top30">
                                                            <ul class="package-plan list-unstyled">
                                                                <li class="package-title">
                                                                    Quarterly
                                                                </li>
                                                                <li class="pricing-price">
                                                                    <span class="pack-amunt">$600</span>
                                                                </li>

                                                                <li class="pricing-price">
                                                                    <span>90 Days</span>                    Validity
                                                                </li>
                                                                <li>
                                                                    Currency Market
                                                                </li>
                                                                <li>
                                                                    All Signal Provider
                                                                </li>
                                                                <li>
                                                                    Web & Mobile App
                                                                </li>
                                                                <li>
                                                                    Historical Performance
                                                                </li>
                                                                <li>Notifications</li>
                                                                <li>
                                                                    <a class="btn btn-primary btn-xs" href="tr_subscription_checkout">Subscribe</a>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                        <div class="col-md-3">
                                                            <center>
                                                                <img src="~/Content/CSS/img/best.png" class="img-responsive" title="Best Seller">
                                                            </center>
                                                            <ul class="package-plan list-unstyled best-seller">
                                                                <li class="package-title">

                                                                    Half Yearly
                                                                </li>
                                                                <li class="pricing-price">
                                                                    <span class="pack-amunt">$1200</span>
                                                                </li>
                                                                <li>
                                                                    <span>180 Days</span>                    Validity
                                                                </li>

                                                                <li>
                                                                    Currency Market
                                                                </li>
                                                                <li>
                                                                    All Signal Provider
                                                                </li>
                                                                <li>
                                                                    Web & Mobile App
                                                                </li>
                                                                <li>
                                                                    Historical Performance
                                                                </li>
                                                                <li>Notifications</li>
                                                                <li>
                                                                    <a class="btn btn-primary btn-xs" href="tr_subscription_checkout">Subscribe</a>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                        <div class="col-md-3 top30">
                                                            <ul class="package-plan list-unstyled">
                                                                <li class="package-title">
                                                                    Yearly
                                                                </li>

                                                                <li class="pricing-price">
                                                                    <span class="pack-amunt">$2400</span>
                                                                </li>
                                                                <li>
                                                                    <span>365 Days</span>                    Validity
                                                                </li>

                                                                <li>
                                                                    Currency Market
                                                                </li>
                                                                <li>
                                                                    All Signal Provider
                                                                </li>
                                                                <li>
                                                                    Web & Mobile App
                                                                </li>
                                                                <li>
                                                                    Historical Performance
                                                                </li>
                                                                <li>Notifications</li>
                                                                <li>
                                                                    <a class="btn btn-primary btn-xs" href="tr_subscription_checkout">Subscribe</a>
                                                                </li>
                                                            </ul>

                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>


                </div>
            </div>
            
    <div class="aside-backdrop"></div>

</body>
</html>
