﻿
@{
    ViewBag.Title = "tr_subscription_payment";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}
<!DOCTYPE html>
<html>
<body>

            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 pad0">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Payment Information/ Payment Gateway</h5>
                                </div>
                                <div class="ibox-content">
                                    <div class="col-lg-12">
                                        <div class="tabs-container">

                                            <div class="tabs-left">
                                                <ul class="nav nav-tabs">
                                                    <li><a class="nav-link active liheight" data-toggle="tab" href="#tab-6">Credit Card</a></li>
                                                    <li><a class="nav-link liheight" data-toggle="tab" href="#tab-7">Debit Card</a></li>

                                                </ul>
                                                <div class="tab-content payemnt">
                                                    <div id="tab-6" class="tab-pane active">
                                                        <div class="panel-body" style="border:1px solid #e0e0e0;">
                                                            <div class="col-md-8">

                                                                <form role="form" id="payment-form">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <label>CARD NUMBER</label>
                                                                                <div class="input-group">
                                                                                    <input type="text" class="payemnt-control" name="Number" placeholder="Valid Card Number" required="">

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-7 col-md-7">
                                                                            <div class="form-group">
                                                                                <label>EXPIRATION DATE</label>
                                                                                <input type="text" class="payemnt-control" name="Expiry" placeholder="MM / YY" required="">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-5 col-md-5 float-right">
                                                                            <div class="form-group">
                                                                                <label>CV CODE</label>
                                                                                <input type="text" class="payemnt-control" name="CVC" placeholder="CVC" required="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <label>NAME OF CARD</label>
                                                                                <input type="text" class="payemnt-control" name="nameCard" placeholder="NAME AND SURNAME">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <a class="btn btn-primary" href="tr_my_signals">Confirm</a>
                                                                        </div>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="tab-7" class="tab-pane">
                                                        <div class="panel-body" style="border:1px solid #e0e0e0;">
                                                            <div class="col-md-8">

                                                                <form role="form" id="payment-form">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <label>CARD NUMBER</label>
                                                                                <div class="input-group">
                                                                                    <input type="text" class="payemnt-control" name="Number" placeholder="Valid Card Number" required="">

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-7 col-md-7">
                                                                            <div class="form-group">
                                                                                <label>EXPIRATION DATE</label>
                                                                                <input type="text" class="payemnt-control" name="Expiry" placeholder="MM / YY" required="">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-5 col-md-5 float-right">
                                                                            <div class="form-group">
                                                                                <label>CV CODE</label>
                                                                                <input type="text" class="payemnt-control" name="CVC" placeholder="CVC" required="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="form-group">
                                                                                <label>NAME OF CARD</label>
                                                                                <input type="text" class="payemnt-control" name="nameCard" placeholder="NAME AND SURNAME">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <a class="btn btn-primary" href="tr_my_signals">Confirm</a>
                                                                        </div>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
     
    <div class="aside-backdrop"></div>
  
</body>
</html>


