﻿
@{
    ViewBag.Title = "Cashouts";
    Layout = "~/Views/Shared/_Ref_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="createSignal">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <div class="col-md-7 pad0">
                                <button class="btn btn-xs btn-warning collapse-link" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> New Cashout Request</button>
                            </div>
                        </div>
                        <div class="ibox-content" style="display:none;">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4 pad0">
                                        <div class="form-group">
                                            <label>Current Wallet Amount</label>
                                            <input name="" type="text" class="input-control" id="txtWalletAmount" readonly="">
                                        </div>
                                        <div class="form-group">
                                            <label>Request Cashout Amount (Enter Value)</label>
                                            <input type="number" class="input-control" id="txtCashoutAmount" ng-model="txtCashoutAmount" onchange="CalculationAmount()">
                                            <label for="error" n id="incorrectDetails" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small; display:none"> </label>

                                        </div>
                                        <div class="form-group">
                                            <label>Balance Wallet Amount</label>
                                            <input type="number" class="input-control" readonly="" id="txtBalanceAmount" ng-model="txtBalanceAmount">
                                        </div>
                                        <hr>
                                        <div class="col-md-12 pad0">
                                            <button class="btn btn-sm btn-primary" type="submit" ng-click="SubmitCashout()">Submit</button>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title redtitle">
                            <h5>Cashout</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="search-d">
                                            <div class="input-group">
                                                <input type="text" class="searchi">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary btn-xs" type="button">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table width="100%" class="table table-striped table-bordered" id="example2">
                                            <thead>
                                                <tr>
                                                    <th width="45">ID</th>
                                                    @*<th width="72">Voucher</th>*@
                                                    <th width="101">Submitted</th>
                                                    <th width="86">Amount </th>
                                                    <th width="93">Balance</th>
                                                    <th width="93">Status </th>
                                                    <th width="87">Source</th>
                                                    <th width="147">Transaction</th>
                                                    <th width="183">Comments</th>
                                                    <th width="183">Completed</th>
                                                </tr>
                                            </thead>
                                            <tbody id="CashoutDetails">
                                                @*<tr>
                                                        <td>01</td>
                                                        <td><a href="../trader/tr-invoice.pdf" target="_blank">CO01</a></td>
                                                        <td>
                                                            9:30am <br>
                                                            15-Dec-19
                                                        </td>
                                                        <td>$50</td>
                                                        <td>$50</td>
                                                        <td>Pending</td>
                                                        <td>Wallet</td>
                                                        <td>#C0001256</td>
                                                        <td>
                                                            Lorem ipsum<br>
                                                            <a href="#">Read more</a>
                                                        </td>
                                                        <td>10:30am <br>16-Dec-19</td>
                                                    </tr>*@
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script>
            var app = angular.module('app', []);
            app.controller('mycontrol', function ($scope, $http, $location) {
                GetData();
                GetWalletAmount();
                $scope.SubmitCashout = function () {
                    var RequestAmout = $scope.txtCashoutAmount;
                    var CurrentWallentAmount = $('#txtBalanceAmount').val();
                    $.ajax({
                        url:'@Url.Action("AddCashoutAmountDeatils", "Referrer")',
                        type:"POST",
                        Response:ContentType = 'application/json',
                        data: { RequestAmout: RequestAmout, CurrentWallentAmount:CurrentWallentAmount },
                        success: function () {
                            //alert("Insert  data successfully");
                            location.reload();
                        }
                    });
                }

                function GetWalletAmount()
                {
                    //alert("test");
                    $.ajax({
                        url:'@Url.Action("GetWalletAmountByID", "Referrer")',
                        type:"GET",
                        Response:ContentType = 'application/json',
                        data:{},
                        success: function (data) {
                           // alert(data);
                            $('#txtWalletAmount').val(data);
                        }
                    });

                }
                function GetData() {
                    $.ajax({
                        url: '@Url.Action("GetCashout", "Referrer")',
                        type: "GET",
                        Response: ContentType = 'application/json',
                        data: {},
                        success: function (data) {
                            var str = JSON.parse(data);
                            var htmlStr = "";
                            for (var i = 0; i < str.length; i++) {
                                htmlStr += '<tr id="riskRow">';
                                htmlStr += '<td id="row">' + str[i].RequestID + '</td>';
                                var entryDate = GetTwoDigitDateFormat(str[i].EntryDate);
                                htmlStr += '<td>' + entryDate + '</td>';
                                htmlStr += '<td>' + str[i].RequestAmount + '</td>';
                                htmlStr += '<td>' + str[i].CurrentWalletBalance + '</td>';
                                htmlStr += '<td>' + str[i].PaymentStatus + '</td>';
                                htmlStr += '<td>' + str[i].Name + '</td>';
                                htmlStr += '<td>' + str[i].TransactionDetails + '</td>';
                               // htmlStr += '<td>' + str[i].Comments + '</td>';
                                htmlStr += '<td>' + str[i].Comments + '</td>';// <div class="more"> <p class="m-0">  </p> </div>
                                var requestCompletedOn = GetTwoDigitDateFormat(str[i].RequestCompletedOn);
                                htmlStr += '<td>' + requestCompletedOn + '</td>';
                                //htmlStr += ' <td><button type="button"  onclick="Edit(' + '' + str[i].RiskID + '' + ',' + '\'' + str[i].RiskName + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                                //htmlStr += ' <td><a href="admin-as-signal-type.html#details"><i class="fa fa-eye" aria-hidden="true" title="View"></i></a></td>';
                                //htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="Delete(' + str[i].RiskID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                                htmlStr += '</tr>';
                            }
                            $("#CashoutDetails").html(htmlStr)
                        }
                    });
                }




            });
   function CalculationAmount()
   {
       var TotalAmount = parseInt($("#txtWalletAmount").val());
       var CashoutAmount = parseInt($("#txtCashoutAmount").val());
      // Document.getElementById("#txtBalanceAmount").reset();
       if (TotalAmount >= CashoutAmount)
       {
           $("#incorrectDetails").hide();
           var Result = (TotalAmount - CashoutAmount);
           $('#txtBalanceAmount').val(Result);
           //alert(Result);
       }
       else
       {
           $("#incorrectDetails").show();
           $("#txtBalanceAmount").empty();
           $("#incorrectDetails").html("Requested Amount is Greater Than Wallet Balance Amount !");
           $('#txtBalanceAmount').val(0);
           //$("#txtCashoutAmount").val(0)
       }


    }
</script>