﻿
@{
    ViewBag.Title = "Earnings";
    Layout = "~/Views/Shared/_Ref_master_page.cshtml";
}

<div class="wrapper wrapper-content">
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 pad0">
            <div class="ibox">
                <div class="ibox-title yellowtitle">
                    <h5>Earnings</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 pad0">
                        <div class="table-responsive">
                            <table width="100%" class="table table-striped table-bordered" id="example1">

                                <thead>
                                    <tr>
                                        <th width="41">ID</th>
                                        <th width="77">Period</th>
                                        <th width="96">From </th>
                                        <th width="114">To</th>
                                        <th width="204">Referrer Name</th>
                                        <th width="163">Trader Name </th>
                                        <th width="98">Transaction </th>

                                        <th width="85" title="Past">Earnings</th>
                                        <th width="227" title="Past">Entry Date</th>
                                        <th width="78" title="Past">Status</th>
                                        <th width="99" title="Past">Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#1</td>
                                        <td>Period 1	</td>
                                        <td>01-Dec-19	</td>
                                        <td> 15-Dec-19	</td>
                                        <td>Mahesh Kulkarni</td>
                                        <td>mahk@gmail.com</td>
                                        <td>$150</td>
                                        <td>$70</td>
                                        <td>6.30 am, 12-Dec-19</td>
                                        <td>Pending</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
    </div>
