﻿@{
    ViewBag.Title = "SubscriptionPlans";
    Layout = "~/Views/Shared/_Ref_master_page.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="Subscriptionform">
        <!-- Enter Empanelment Date -->
        <div class="modal fade" id="empdt" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Enter Empanelment Date</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 pad0">
                            <div class="form-group">
                                <div id="data_1">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="form-control" value="24-Dec-19" id="fromDate">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="col-md-12 pad0">
                                <button class="btn btn-sm btn-primary" type="submit" onclick="AssignFromDate()">Submit</button>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title yellowtitle">
                        <h5>Subscription Plan</h5>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> @*<a class="close-link"> <i class="fa fa-times"></i> </a>*@ </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <p> Never miss a signal that may lead to the profits.Receive important realtime notifications on change in Stop Loss, Take Profit, Strike Price. Access to signal providers profile and then signal performance reports.  Flexible Plan start date.   Signals are displayed only if precious performance meets entry criteria. Pemium package includes signals with high chance of success.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox collapsed">
                    <div class="ibox-title redtitle">
                        <h5>Plan Details</h5>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> @*<a class="close-link"> <i class="fa fa-times"></i> </a>*@ </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="search-d">
                                <div class="input-group">
                                    <input type="text" class="searchi">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-xs" type="button">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="table-responsive">
                                    <table width="100%" class="table table-striped table-bordered" id="example1">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Invoice</th>
                                                <th>Plan Type</th>
                                                <th>Valid From</th>
                                                <th>Valid To</th>
                                                <th>Amount Paid</th>
                                                <th>Paid By</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*@foreach (DataRow dr in Model.Tables[0].Rows)
                                                {
                                                    int counter = 1;
                                                    <tr>
                                                        <td>@counter</td>
                                                        <td>@dr["BillId"]</td>
                                                        <td>@dr["PlanType"]</td>
                                                        <td>@dr["ValidFrom"]</td>
                                                        <td>@dr["ValidTo"]</td>
                                                        <td>@dr["Amount"]</td>
                                                        <td>@dr["PaidBy"]</td>
                                                        <td>""</td>
                                                    </tr>
                                                    counter = counter + 1;
                                                }*@

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title bluetitle">
                        <h5>Choose Your  Plan</h5>
                        <span class="label label-warning" id="currentPlan"> </span>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a>  </div>
                    </div>
                    <div class="ibox-content">
                        <div class="col-lg-10 col-centerd">
                            <div class="row" id="planDetails">
                                @*<div class="col-sm-2dot4 packselectbg">
                                        <ul class="package-plan list-unstyled top20">
                                            <li class="package-title label-warning"> Platinum 1 </li>
                                            <li class="pricing-price"><span class="packselect">$100</span> </li>
                                            <li>Validity: 30 Days</li>
                                            <li> Signal Type: Regular </li>
                                            <li> Fee: $0 </li>
                                            <li> Commission: 3% </li>
                                            <li> Fixed Amount: $0 </li>
                                            <li> <a href="ref-subscription-checkout.html" class="btn btn-warning btn-xs">Subscribe</a> </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-2dot4">
                                        <ul class="package-plan list-unstyled top20">
                                            <li class="package-title"> Platinum 2 </li>
                                            <li class="pricing-price"><span class="pack-amunt">$300</span> </li>
                                            <li>Validity: 90 Days</li>
                                            <li> Signal Type: Regular </li>
                                            <li> Fee: $50 </li>
                                            <li> Commission: 5% </li>
                                            <li> Fixed Amount: $200 </li>
                                            <li> <a href="ref-subscription-checkout.html" class="btn btn-primary btn-xs">Subscribe</a> </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-2dot4">
                                        <ul class="package-plan list-unstyled top20">
                                            <li class="package-title"> Platinum 3 </li>
                                            <li class="pricing-price"><span class="pack-amunt">$600</span> </li>
                                            <li>Validity: 180 Days</li>
                                            <li> Signal Type: Regular </li>
                                            <li> Fee: $200 </li>
                                            <li> Commission: 15% </li>
                                            <li> Fixed Amount: $0 </li>
                                            <li> <a href="ref-subscription-checkout.html" class="btn btn-primary btn-xs">Subscribe</a> </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-2dot4">
                                        <ul class="package-plan list-unstyled top20">
                                            <li class="package-title"> Platinum 4 </li>
                                            <li class="pricing-price"><span class="pack-amunt">$1200</span> </li>
                                            <li>Validity: 365 Days</li>
                                            <li> Signal Type: Regular </li>
                                            <li> Fee: $300 </li>
                                            <li> Commission: 30% </li>
                                            <li> Fixed Amount: $1000 </li>
                                            <li> <a href="ref-subscription-checkout.html" class="btn btn-primary btn-xs">Subscribe</a> </li>
                                        </ul>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
    var fromDate = "";
    var planId = "";
    var validity ="";
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        var premiumList ;
        GetSubscriptionPlanDetails();
        function GetSubscriptionPlanDetails()
        {
            var htmlstr="";
            var count=1;
            var roleid = @ViewBag.RoleID;
            $.ajax({
                url: '@Url.Action("GetSubscriptionPlanDetails", "Referrer")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { roleId:roleid },
                success: function (data) {                  
                    var htmlList="";                   
                    for(var i=0;i<data.length;i++)
                    {                       
                        var fetures = data[i].PlanFeatures;
                        var arr = fetures.split(',');
                        htmlList+= '<div class="col-sm-2dot4">';
                        htmlList+= '<ul class="package-plan list-unstyled top20">';
                        htmlList+= '<li class="package-title">'+data[i].PlanName +' </li>';
                        htmlList+= '<li class="pricing-price"><span class="pack-amunt">$'+data[i].Fee +'</span> </li>';
                        htmlList+= '<li>'+data[i].Validity +'  Days Validity </li>';
                        htmlList+='<li>'+ arr[0] +'</li>';
                        htmlList+='<li>'+ arr[1] +'</li>';
                        htmlList+='<li>'+ arr[2] +'</li>';
                        htmlList +='<li><button type="button"  id="btnEmpanel" class="btn btn-primary btn-xs" onclick="SubcriptionDetails('+data[i].UserPlansID +','+data[i].Validity+')")" data-toggle="modal" data-target="#empdt">Subscribe</button>';
                        htmlList +=' </ul></div>';  
                        
                    }
                    $("#planDetails").append(htmlList);
                }
            });
        }
    });
    function AssignFromDate()
    {
        fromDate= $("#fromDate").val();
        $("#empdt").modal("hide");
        var temp ={'UserPlansID':planId,'Validity':validity,'FromDate':fromDate};
        var res = JSON.stringify(temp);
        $.ajax({
            url: '@Url.Action("SaveSubscriptionPlanDetails", "Referrer")',
            type: "Post",
            Response: ContentType = 'application/json',
            data: {result:res},
            success: function (data) {
                var planid= data;
                    alert("Plan subscribe successfully..");               
                var url = "../Referrer/SubscriptionCheckOut?planId=" + data;
                    window.location.href=url;
            },
            error: function (data, textStatus, xhr)
            {

            }
        });
    }
    
    function SubcriptionDetails(planid,val)
    {
        planId=planid;
        validity=val;
    }
</script>