﻿
@{
    ViewBag.Title = "SuccessStory";
    Layout = "~/Views/Shared/_Ref_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="ReferralSucessStory">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <a class="collapse-link" href="">
                            <div class="ibox-title yellowtitle">
                                <h5>Success Story</h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
                            </div>
                        </a>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-md-12">
                                        <div class="row">

                                            <div class="col-md-9" style="padding-top:5px; background:#f1f1f1;">

                                                <div class="row">
                                                    <div class="boxes">
                                                        <div class="col-box2">
                                                            <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                <option value="1">Top 10</option>
                                                                <option value="1">All</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="boxes">
                                                        <div class="col-box2">
                                                            <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                <option value="1">Select Period wise</option>
                                                                <option value="2">All</option>
                                                            </select>
                                                        </div>

                                                    </div>

                                                    <div class="boxes">
                                                        <div class="col-box2">
                                                            <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                <option value="1">Period 1</option>
                                                                <option value="1">Period 2</option>
                                                                <option value="1">Period 3</option>
                                                                <option value="1">Period 4</option>
                                                                <option value="1">Period 5</option>
                                                                <option value="1">Period 6</option>
                                                                <option value="1">Period 7</option>
                                                                <option value="1">Period 8</option>
                                                                <option value="1">Period 9</option>
                                                                <option value="1">Period 10</option>
                                                                <option value="1">Period 11</option>
                                                                <option value="1">Period 12</option>

                                                            </select>
                                                        </div>

                                                    </div>

                                                    <div class="boxes">
                                                        <div class="col-box2">
                                                            <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                <option value="1">Period 1</option>
                                                                <option value="1">Period 2</option>
                                                                <option value="1">Period 3</option>
                                                                <option value="1">Period 4</option>
                                                                <option value="1">Period 5</option>
                                                                <option value="1">Period 6</option>
                                                                <option value="1">Period 7</option>
                                                                <option value="1">Period 8</option>
                                                                <option value="1">Period 9</option>
                                                                <option value="1">Period 10</option>
                                                                <option value="1">Period 11</option>
                                                                <option value="1">Period 12</option>

                                                            </select>
                                                        </div>

                                                    </div>

                                                    &nbsp;   <button type="button" class="btn btn-primary btn-xs bot5">Search</button>





                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row"> </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="stocked3"></div>
                                                <div id="ct-chart3" class="ct-perfect-fourth"></div>
                                            </div>
                                            <div class="col-md-11">
                                                <div class="row">
                                                    <div class="search-d">
                                                        <div class="input-group">
                                                            <input type="text" class="searchi">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary btn-xs" type="button">
                                                                    Submit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="table-responsive">
                                                    <table id="example4" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th width="96">Referrer </th>
                                                                <th width="174">Users Added</th>
                                                                <th width="225">Users Converted</th>
                                                                <th width="62">M1</th>
                                                                <th width="44">M2</th>
                                                                <th width="43">M3</th>
                                                                <th width="48">M4</th>
                                                                <th width="201">Conversion Rate</th>
                                                                <th width="427">
                                                                    ARPD <span>
                                                                        <i class="fa fa-info-circle" aria-hidden="true" title="Average Referral per Day"></i>
                                                                    </span>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="GetRefferrdata">
                                                            @*<tr>
                                                                    <td><img src="../img/a1.jpg" width="30" height="30" class="rounded-circle"></td>
                                                                    <td>40</td>
                                                                    <td>35</td>
                                                                    <td>1</td>
                                                                    <td>9</td>
                                                                    <td><span>5</span></td>
                                                                    <td> 15</td>
                                                                    <td>87.5%</td>
                                                                    <td>1.0</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><img src="../img/a2.jpg" width="30" height="30" class="rounded-circle"></td>
                                                                    <td>50</td>
                                                                    <td>40</td>
                                                                    <td>5</td>
                                                                    <td> 5</td>
                                                                    <td> 10</td>
                                                                    <td> 20</td>
                                                                    <td>80.0%</td>
                                                                    <td>1.5</td>
                                                                </tr>*@
                                                        </tbody>
                                                        <tfoot>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetReferraldata();
        function GetReferraldata() {
            $.ajax({
                url: '@Url.Action("GetReferraReferrallList", "Referrer")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].tReferrer + '</td>';
                        htmlStr += '<td>' + str[i].tReferralCount + '</td>';
                        htmlStr += '<td>' + str[i].tUsersConverted + '</td>';
                        htmlStr += '<td>' + str[i].tM1Count + '</td>';
                        htmlStr += '<td>' + str[i].tM2Count + '</td>';
                        htmlStr += '<td>' + str[i].tM3Count + '</td>';
                        htmlStr += '<td>' + str[i].tM4Count + '</td>';
                        htmlStr += '<td>' + str[i].tConversionRate + '</td>';
                        htmlStr += '<td>' + str[i].tAVRPD + '</td>';

                        htmlStr += '</tr>';
                    }
                    $("#GetRefferrdata").html(htmlStr)


                }
            });
        }


    })

</script>
