﻿@using System.Data
@model DataSet
@{
    ViewBag.Title = "SubscriptionPlan";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="Subscriptionform">
        <!-- Enter Empanelment Date -->
        <div class="modal fade" id="empdt" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Enter Empanelment Date</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 pad0">
                            <div class="form-group">
                                <div id="data_1">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="form-control" value="01-Jan-20" id="fromDate">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="col-md-12 pad0">
                                <button class="btn btn-sm btn-primary" type="submit" onclick="AssignFromDate()">Submit</button>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title yellowtitle">
                        <h5>Subscription Plan</h5>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i>  </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <p> Never miss a signal that may lead to the profits.Receive important realtime notifications on change in Stop Loss, Take Profit, Strike Price. Access to signal providers profile and then signal performance reports.  Flexible Plan start date.   Signals are displayed only if precious performance meets entry criteria. Pemium package includes signals with high chance of success.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox collapsed">
                    <div class="ibox-title redtitle">
                        <h5>Subscription Plan</h5>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a></div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="search-d">
                                <div class="input-group">
                                    <input type="text" class="searchi">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-xs" type="button">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="table-responsive">
                                    <table width="100%" class="table table-striped table-bordered" id="example1">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Invoice</th>
                                                <th>Plan Type</th>
                                                <th>Valid From</th>
                                                <th>Valid To</th>
                                                <th>Amount Paid</th>
                                                <th>Paid By</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DataRow dr in Model.Tables[0].Rows)
                                            {
                                                int counter = 1;
                                                <tr>
                                                    <td>@counter</td>
                                                    <td>@dr["BillId"]</td>
                                                    <td>@dr["PlanType"]</td>
                                                    <td>@dr["ValidFrom"]</td>
                                                    <td>@dr["ValidTo"]</td>
                                                    <td>@dr["Amount"]</td>
                                                    <td>@dr["PaidBy"]</td>
                                                    <td>""</td>
                                                </tr>
                                                counter = counter + 1;
                                            }
                                            @*<tr>
                                                <td>1</td>
                                                <td><a href="tr-plan-payments.html">SP02</a></td>
                                                <td>Regular - Half Yearly</td>
                                                <td>9.30pm, 29-Oct 19</td>
                                                <td>9.30pm, 29-Mar 20</td>
                                                <td><a href="tr-plan-payments.html">$1,050</a></td>
                                                <td>Credit Card</td>
                                                <td>Pending</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>SP01</td>
                                                <td>Regular - Half Yearly</td>
                                                <td>6.30pm, 29-Jan 19</td>
                                                <td>8.30pm, 29-July 19</td>
                                                <td>$1,050</td>
                                                <td>Credit Card</td>
                                                <td>Expired</td>
                                            </tr>*@
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title bluetitle">
                        <h5>Choose Your  Plan</h5>
                        <span class="label label-warning" id="currentPlan"></span>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a>  </div>
                    </div>
                    <div class="ibox-content">
                        <div class="col-lg-12">
                            <div>
                                <div class="tab-content">
                                    <div class="col-md-2dot1" style="margin-top:95px;">
                                        <ul class="package-plan list-unstyled trial" id="trialId" >
                                        </ul>
                                    </div>
                                    <div class="col-md-2dot2">
                                        <div class="tab-content">
                                            <div class="col-md-3 col-centerd">
                                                <ul class="nav nav-rtabs togglabg" >
                                                    <li><a class="nav-rlink active" data-toggle="tab" href="#standard" >Standard</a></li>
                                                    <li><a class="nav-rlink" data-toggle="tab" href="#premium">Premium</a></li>
                                                    @*<li><a class="nav-rlink" data-toggle="tab" href="#premium" ng-click="PremiumDataShow()">Premium</a></li>*@
                                                </ul>
                                            </div>
                                            <div role="tabpanel" id="standard" class="tab-pane active">
                                                <div class="row">
                                                    <div class="col-sm-2dot4 packselectbg" >
                                                        <ul class="package-plan list-unstyled top50" id="Plan_1">
                                                        </ul>                                                            
                                                    </div>
                                                    <div class="col-sm-2dot4 top50">
                                                        <ul class="package-plan list-unstyled" id="Plan_2">                                                          
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-2dot4">
                                                        <center style="margin-top:20px;">
                                                            <img src="~/Content/CSS/img/best.png" class="img-responsive" title="Best Seller">
                                                        </center>                                                       
                                                        <ul class="package-plan list-unstyled best-seller" id="Plan_3">
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-2dot4 top50">
                                                        <ul class="package-plan list-unstyled" id="Plan_4">
                                                         </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" id="premium" class="tab-pane">
                                                <div class="row">
                                                    <div class="col-sm-2dot4">
                                                        <ul class="package-plan list-unstyled top50" id="PremP_1">
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-2dot4 top50">
                                                        <ul class="package-plan list-unstyled" id="PremP_2">
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-2dot4">
                                                        <center style="margin-top:20px;">
                                                            <img src="~/Content/CSS/img/best.png" class="img-responsive" title="Best Seller">
                                                        </center>
                                                        <ul class="package-plan list-unstyled best-seller" id="PremP_3">
                                                         </ul>
                                                    </div>
                                                    <div class="col-sm-2dot4 top50">
                                                        <ul class="package-plan list-unstyled" id="PremP_4">
                                                          </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                        <div style="clear:both;"></div>
                                        <div class="row"> </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
    var fromDate = "";
    var planId = "";
    var validity ="";
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        var premiumList ;
        GetSubscriptionPlanDetails();
        function GetSubscriptionPlanDetails()
        {
            var htmlstr="";
            var count=1;
            var roleid = @ViewBag.RoleID;
            $.ajax({
                url: '@Url.Action("GetSubscriptionPlanDetails", "Trader")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { roleId:roleid },
                success: function (data) {
                    premiumList = data.PremiumUsers;
                    for(var i=0;i<= data.StanderdUsers.length;i++)
                    {
                            var fetures = data.StanderdUsers[i].PlanFeatures;
                            var arr = fetures.split(',');
                            if(data.StanderdUsers[i].PlanPackage =="TRIAL")
                            {
                                $("#trialId").append('<li class="trialpack-title"> '+data.StanderdUsers[i].PlanPackage+' </li>');
                                $("#trialId").append('<li class="pricing-price"><span class="trialprice">'+ "Free" +'</span> </li>');
                                $("#trialId").append('<li>'+ data.StanderdUsers[i].Validity +' Days Validity</li>');
                                $("#trialId").append('<li>'+ arr[0] +'</li>');
                                $("#trialId").append('<li>'+ arr[1] +'</li>');
                                $("#trialId").append('<li>'+ arr[2] +'</li>');
                                $("#trialId").append('<li><button type="button"  id="btnEmpanel" class="btn btn-warning btn-xs" onclick="SubcriptionDetails('+data.StanderdUsers[i].UserPlansID +','+data.StanderdUsers[i].Validity+')")" data-toggle="modal" data-target="#empdt">Subscribe</button>');
                               
                            }
                            else
                            {
                                $('#Plan_'+count+'').append('<li class="trialpack-title"> '+data.StanderdUsers[i].PlanPackage+' </li>');
                                $('#Plan_'+count+'').append('<li class="pricing-price"><span class="trialprice"> $'+ data.StanderdUsers[i].Fee +'</span> </li>');
                                $('#Plan_'+count+'').append('<li>'+ data.StanderdUsers[i].Validity +'Days Validity</li>');
                                $('#Plan_'+count+'').append('<li>'+ arr[0] +'</li>');
                                $('#Plan_'+count+'').append('<li>'+ arr[1] +'</li>');
                                $('#Plan_'+count+'').append('<li>'+ arr[2] +'</li>');
                                $('#Plan_'+count+'').append('<li><button type="button"  id="btnEmpanel" class="btn btn-warning btn-xs" onclick="SubcriptionDetails('+data.StanderdUsers[i].UserPlansID +','+data.StanderdUsers[i].Validity+')")" data-toggle="modal" data-target="#empdt">Subscribe</button></li>');
                                count++;
                            }

                    }
                    for(var j=0;j<= data.PremiumUsers.length;j++)
                    {
                        var fetures = data.PremiumUsers[j].PlanFeatures;
                        var arr = fetures.split(',');
                        if(data.PremiumUsers[j].PlanPackage =="TRIAL")
                        {
                            $("#trialId").append('<li class="trialpack-title"> '+data.PremiumUsers[j].PlanPackage+' </li>');
                                $("#trialId").append('<li class="pricing-price"><span class="trialprice">'+ "Free" +'</span> </li>');
                                $("#trialId").append('<li>'+ data.PremiumUsers[j].Validity +' Days Validity</li>');
                                $("#trialId").append('<li>'+ arr[0] +'</li>');
                                $("#trialId").append('<li>'+ arr[1] +'</li>');
                                $("#trialId").append('<li>'+ arr[2] +'</li>');
                                $("#trialId").append('<li><a class="btn btn-info btn-xs" href="@Url.Action("SubscriptionCheckOut","Trader")">Subscribe</a> </li>');
                        }
                        else
                        {
                            $('#PremP_'+cnt+'').append('<li class="trialpack-title"> '+data.PremiumUsers[j].PlanPackage+' </li>');
                            $('#PremP_'+cnt+'').append('<li class="pricing-price"><span class="trialprice"> $'+data.PremiumUsers[j].Fee +'</span> </li>');
                            $('#PremP_'+cnt+'').append('<li>'+ data.PremiumUsers[j].Validity +'Days Validity</li>');
                            $('#PremP_'+cnt+'').append('<li>'+ arr[0] +'</li>');
                            $('#PremP_'+cnt+'').append('<li>'+ arr[1] +'</li>');
                            $('#PremP_'+cnt+'').append('<li>'+ arr[2] +'</li>');
                            $('#PremP_'+cnt+'').append('<li><a class="btn btn-info btn-xs" href="@Url.Action("SubscriptionCheckOut","Trader")">Subscribe</a> </li>');
                            cnt++;
                        }
                    }
                }
            });
        }
    });
    function AssignFromDate()
    {
        fromDate= $("#fromDate").val();         
        $("#empdt").modal("hide");
        var temp ={'UserPlansID':planId,'Validity':validity,'FromDate':fromDate};
        var res = JSON.stringify(temp);
        $.ajax({
            url: '@Url.Action("SaveSubscriptionPlanDetails", "Trader")',
            type: "Post",
            Response: ContentType = 'application/json',
            data: {result:res},
            success: function (data) {          
                var planid= data;                                
                    alert("Plan subscribe successfully..");
                   // window.location.href='@Url.Action("SubscriptionCheckOut", "Trader")';
                    var url = "../Trader/SubscriptionCheckOut?planId=" + data;
                    window.location.href=url;       
            },
            error: function (data, textStatus, xhr)
            {

            }
        });     
    }
    @*function SubcriptionDetails(planid,validity)
    {
        $.ajax({
            url: '@Url.Action("SaveSubscriptionPlanDetails", "Trader")',
            type: "Post",
            Response: ContentType = 'application/json',
            data: {UserPlansID:planid,Validity:validity},
            success: function (data) {
                if(data == "1")
                    alert("Plan subscribe successfully..");
                window.location.href='@Url.Action("SubscriptionCheckOut", "Trader")';
            },
            error: function (data, textStatus, xhr)
            {

            }
        });      
    }*@
    function SubcriptionDetails(planid,val)
    {   
        planId=planid;
        validity=val;       
    }
</script>

