﻿@model SignalATM.Web.Models.Signal
@{
    ViewBag.Title = "CreateNew";
    Layout = "~/Views/Shared/_Sp_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="createSignal">
        <div class="wrapper wrapper-content">
            <div class="modal fade" id="successPopup">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Signal posted successfully!</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                           <h3><span id="modalSigId"></span></h3>
                            <div class="col-md-12 pad0">                                                  
                                <div class="col-md-12 pad0">
                                    <button class="btn btn-sm btn-primary" type="submit" onclick="RedirectToWorkspace()">Take me to my workspace</button>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <div class="col-md-7 pad0">
                                <button class="btn btn-xs btn-warning collapse-link" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
                                <a class="btn btn-xs btn-success" href="#" data-toggle="modal" data-target="#signalpreferences">Signal Preferences</a>
                                <button class="btn btn-xs btn-primary" type="submit"> How to Post a Signal</button>
                                <a class="btn btn-xs btn-success" href="sp-empanelment.html"> Empanelment Criteria</a> <a class="btn btn-xs btn-info" href="sp-performance-snapshot.html"> My Performance</a>
                            </div>
                        </div>
                        <div class="ibox-content" style="display:none;">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div style="margin-right:10px;">
                                                <div class="createyellowbg">
                                                    <ul class="list-group clear-list panel1-w">
                                                        <li class="list-group-item fist-item">
                                                            <span class="float-right">
                                                                <span class="float-right">
                                                                    @*<select class="create-control">
                                                                        <option value="2">Select</option>
                                                                        <option value="2">FX</option>
                                                                    </select>*@
                                                                    <select id="marketID" ng-model="marketID" ng-change="selectedItemChanged(marketID)" class="create-control"
                                                                            ng-options="o.MarketID as o.MarketName for o in getMarket">
                                                                        <option value=""> select </option>
                                                                    </select>
                                                                </span>
                                                            </span> <b>Market:</b>
                                                        </li>
                                                        <li class="list-group-item fist-item">
                                                            <span class="float-right">
                                                                <select id="inst" ng-model="instru" ng-change="getInstTypes(instru)" class="create-control"
                                                                        ng-options="o.InstrumentID as o.InstrumentsName for o in getInstruements">
                                                                    <option value=""> select </option>
                                                                </select>
                                                                @*<select class="create-control">
                                                                    <option value="1">Select</option>
                                                                    <option value="2">EUR/USD</option>
                                                                    <option value="3">INR/USD</option>
                                                                </select>*@
                                                            </span> <b> Instrument:</b>
                                                        </li>
                                                        <li class="list-group-item fist-item">
                                                            <span class="float-right">
                                                                <select class="create-control" id="buySell">  
                                                                    <option value="1">BUY </option>                                                              
                                                                    <option value="2">SELL</option>                                                                   
                                                                </select>
                                                            </span> <b> Action:</b>
                                                        </li>
                                                        <li class="list-group-item fist-item">
                                                            <span class="float-right">
                                                                <input id="strikePrice" type="text" class="create-control" ng-model="strikePrice" ng-change="validatelivePrice()" >
                                                            </span> <b>Strike Price:</b>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div style="margin-right:10px;">
                                                <div class="creategreenbg">
                                                    <ul class="list-group clear-list panel2-w">
                                                        <li class="list-group-item fist-item">
                                                            <span class="float-right">
                                                                <input id="takeProfit" type="text" class="create-control" ng-model="takeProfit" required>
                                                            </span> <b> Take Profit:</b>
                                                        </li>
                                                        <li class="list-group-item fist-item">
                                                            <span class="float-right">
                                                                <input id="stopLoss" type="text" class="create-control" ng-model="stopLoss" ng-blur="setlikelyPips()" required>
                                                            </span> <b>Stop Loss:</b>
                                                        </li>
                                                        <li class="list-group-item fist-item">
                                                            <span class="float-right">
                                                                <input id="livePrice" type="text" ng-model="livePrice" class="create-control">
                                                            </span> <b> Live Price:</b>
                                                        </li>

                                                        <li class="list-group-item fist-item">
                                                            <span class="float-right">
                                                                <input id="likelypips" type="text" ng-model="likelyPips" class="create-control" >
                                                            </span> <b>Likely Pips:</b>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div style="margin-right:10px;">
                                                <ul class="list-group clear-list createredbg panel3-w">
                                                    <li class="list-group-item fist-item">
                                                        <span class="float-right">
                                                            <select id="validityMinId" ng-model="validityMin" ng-change="getValidityTypes(validity)" class="create-control"
                                                                    ng-options="o.ValidityID as o.PeriodUnit for o in getValidity">
                                                                <option value=""> select </option>
                                                            </select>
                                                        </span> <b>Validity Min:</b>
                                                    </li>
                                                    <li class="list-group-item fist-item">
                                                        <span class="float-right">
                                                            <select id="validityMaxId" ng-model="validityMax" ng-change="CheckValidityTypes(validityMin,validityMax)" class="create-control"
                                                                    ng-options="o.ValidityID as o.PeriodUnit for o in getValidity">
                                                                <option value=""> select </option>
                                                            </select>
                                                        </span> <b>Validity Max:</b>
                                                    </li>
                                                    <li class="list-group-item fist-item">
                                                        <span class="float-right">
                                                            <select id="timeMinFrameId" ng-model="timeFrameMin" ng-change="getTimeFrameTypes()" class="create-control"
                                                                    ng-options="o.TimeFrameID as o.PeriodUnit for o in getTimeFrame">
                                                                <option value=""> select </option>
                                                            </select>
                                                        </span> <b> Time Frame Min:</b>
                                                    </li>
                                                    <li class="list-group-item fist-item">
                                                        <span class="float-right">
                                                            <select id="timeMaxFrameId" ng-model="timeMaxFrame" ng-change="getTimeMaxFrameTypes(timeFrameMin,timeMaxFrame)" class="create-control"
                                                                    ng-options="o.TimeFrameID as o.PeriodUnit for o in getTimeFrame">
                                                                <option value=""> select </option>
                                                            </select>
                                                        </span> <b> Time Frame Max:</b>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div style="margin-right:10px;">
                                                <ul class="list-group clear-list createyellowbg panel4-w">
                                                    <li class="list-group-item fist-item">
                                                        <span class="float-right">
                                                            <select id="sigType" ng-model="signalTypeId" ng-change="getSignalTypes(signalId)" class="create-control"
                                                                    ng-options="o.SignalTypesID as o.Stype for o in getSignalType">
                                                                <option value=""> select </option>
                                                            </select>
                                                        </span> <b> Signal Type:</b>
                                                    </li>
                                                    <li class="list-group-item fist-item">
                                                        <span class="float-right">
                                                            <select id="riskId" ng-model="risks" ng-change="getRiskTypes(risks)" class="create-control"
                                                                    ng-options="o.RiskID as o.RiskName for o in getRiskType">
                                                                <option value=""> select </option>
                                                            </select>
                                                        </span> <b>Risk:</b>
                                                    </li>
                                                    <li class="list-group-item fist-item">
                                                        <span class="float-right">
                                                            <select id="reliabilityId" ng-model="reliability" ng-change="getReliabilityTypes(reliability)" class="create-control"
                                                                    ng-options="o.ReliabilityID as o.Symbol for o in geReliabilityType">
                                                                <option value=""> select </option>
                                                            </select>
                                                        </span> <b>Reliability:</b>
                                                    </li>

                                                    <li class="list-group-item fist-item">
                                                        <span class="float-right">
                                                            <select id="status" class="create-control" disabled>
                                                                <option value="2">Active</option>
                                                            </select>
                                                        </span> <b>Status:</b>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="panel5-w pad0 creategreenbg top12">
                                                <label style="margin-left:0;">
                                                    <div class="col-md-12">
                                                        <div style="clear:both;"></div>
                                                        <br>
                                                        <b>Comments:</b>
                                                        <textarea id="comment" class="input-control" ng-model="comment" required></textarea>
                                                        <input type="button" class="btn btn-primary btn-xs top10" style="cursor:pointer" value="Submit" ng-click="saveDetails()" />
                                                    </div>
                                                    <div style="clear:both;"></div><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style=" border:2px solid #c3e1a1;">
                                        <h5>Overall Success Rate for this Script in the System:</h5>
                                        <span class="label lazur-bg top20">70%</span>
                                        <hr>
                                        <h5>Your current success Rate for this Script:</h5>
                                        <span class="label blue-bg top20">---</span>
                                        <hr>
                                        <h5>The signal is entitled for Premium type:</h5>
                                        <span class="label btn-primary top20">>90%</span>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <!-- <div class="float-right">
                      10GB of <strong>250GB</strong> Free.
                  </div>-->
            <div> <strong>Copyright</strong> Signal ATM 2019-2020 </div>
        </div>       
    </form>
</section>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script>
            var app = angular.module('app', []);
            app.controller('mycontrol', function ($scope, $http, $location) {
                getMarketData();
                function getMarketData() {
                    $.ajax({
                        url: '@Url.Action("GetMarketList", "SignalProvider")',
                        type: "Post",
                        Response: ContentType = 'application/json',
                        data: {},
                        success: function (data) {
                            var str = JSON.stringify(data);                          
                            $scope.getMarket = data;
                            $scope.$apply();
                        },
                        error: function (data, textStatus, xhr)
                        {
                            var result = JSON.stringify(data);
                            alert(textStatus);
                        }
                    });
                }
                $scope.selectedItemChanged = function ($scope) {
                    getInstrumentData();
                }
                function getInstrumentData() {
                    var marketId = $scope.marketID;
                    $.ajax({
                        url: '@Url.Action("GetInstrumentList", "SignalProvider")',
                        type: "Post",
                        Response: ContentType = 'application/json',
                        data: { marketId: marketId },
                        success: function (data) {
                            $scope.getInstruements = data;
                            $scope.$apply();
                        },
                        error: function (data, textStatus, xhr) {
                            var result = JSON.stringify(data);
                           // alert("Error" + data);
                        }

                    });
                }
                getSignalType();
                function getSignalType() {
                    $.ajax({
                        url: '@Url.Action("GetAllSignalType", "SignalProvider")',
                        type: "Post",
                        Response: ContentType = 'application/json',
                        data: {},
                        success: function (data) {
                            $scope.getSignalType = data;
                            $scope.$apply();
                            },
                        error: function (data, textStatus, xhr) {
                           // alert("Error GetAllSignalType");
                            }

                        });
                }
                getRisksType();
                function getRisksType() {
                    $.ajax({
                        url: '@Url.Action("GetAllRiskType", "SignalProvider")',
                        type: "Post",
                        Response: ContentType = 'application/json',
                        data: {},
                        success: function (data) {                           
                            $scope.getRiskType = data;
                            $scope.$apply();
                        },
                        error: function (data, textStatus, xhr) {
                           // alert("Error risk");
                        }

                    });
                }
                getReliabilityTypes();
                function getReliabilityTypes() {
                    $.ajax({
                        url: '@Url.Action("GetReliabilityType", "SignalProvider")',
                        type: "Post",
                        Response: ContentType = 'application/json',
                        data: {},
                        success: function (data) {
                            $scope.geReliabilityType = data;
                            $scope.$apply();
                        },
                        error: function (data, textStatus, xhr) {
                           // alert("Error Relibility");
                        }

                    });
                }
                getValidityData();
                function getValidityData() {
                    $.ajax({
                        url: '@Url.Action("GetValidityPeriods", "SignalProvider")',
                        type: "Post",
                        Response: ContentType = 'application/json',
                        data: {},
                        success: function (data) {
                            $scope.getValidity = data;
                            $scope.$apply();
                        },
                        error: function (data, textStatus, xhr) {
                           // alert("Error validity");
                        }

                    });
                }
                getTimeFrameData();
                function getTimeFrameData() {
                    $.ajax({
                        url: '@Url.Action("GetTimeFrame", "SignalProvider")',
                        type: "Post",
                        Response: ContentType = 'application/json',
                        data: {},
                        success: function (data) {
                            $scope.getTimeFrame = data;
                            $scope.$apply();
                        },
                        error: function (data, textStatus, xhr) {
                           // alert("Error GetTimeFrame");
                        }

                    });
                }
                $scope.CheckValidityTypes = function ($scope, validityMax) {
                    var validityMin = $scope;
                    var validityMax = validityMax;
                    if (validityMax < validityMin) {
                        alert("Please select greater validity max hours!");
                    }
                }
                $scope.getTimeMaxFrameTypes = function ($scope, timeMaxFrame) {
                    var timeFrameMin = $scope;
                    var timeMaxFrame = timeMaxFrame;
                    if (timeMaxFrame < timeFrameMin) {
                        alert("Please select greater max time frame !");
                    }
                }
                $scope.getInstTypes = function ($scope) {
                    getLivePriceData();
                }
                function getLivePriceData() {
                    var instId = $scope.instru;
                    $.ajax({
                        url: '@Url.Action("GetLivePriceData", "SignalProvider")',
                        type: "GET",
                        Response: ContentType = 'application/json',
                        data: { InstrumentID: instId },
                        success: function (data) {
                            $scope.livePrice = data;
                            $scope.$apply();
                        },
                        error: function (data, textStatus, xhr) {
                            var str = json.stringify(data);
                          //  alert(str);
                        }

                    });
                }
                $scope.validatelivePrice = function () {
                    var strikSrice = $scope.strikePrice;
                    var livePrice = $scope.livePrice;
                    var diff = strikSrice - livePrice;
                    if (diff >= 2000) {
                        alert("Please select valid strike price!");
                        $scope.strikePrice = null;
                    }
                    else {

                    }
                }
                var multiplier = 0.0;
                $scope.setlikelyPips = function()
                {
                    var strikePrice = $("#strikePrice").val();
                    var takeProfit = $("#takeProfit").val();
                    var livePrice = $('#livePrice').val();
                    var buysel= $('#buySell').val();
                    var inst = $scope.instru;
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetMultiplyingFactor", "SignalProvider")',
                        ContentType: "application/json; charset=utf-8",
                        async: false,
                        DataType: 'JSON',
                        data: { instrumentID: inst },
                        success: function (data, textStatus) {                          
                            multiplier = data;                      
                            if (buysel==1) {
                                var res = (livePrice - strikePrice) * multiplier;                              
                                $scope.likelyPips = res;
                            }
                            else {
                                var result = (strikePrice - livePrice) * multiplier;
                                $scope.likelyPips = result;
                            }                          
                        },
                        Error: function (data, textStatus) {
                            //alert("Error" + textStatus);
                        }
                    });
                    if (buySell == 2)
                    {
                        var sellMultiplier = ((strikePrice - takeProfit) * multiplier);
                        $scope.likelyPips = sellMultiplier;
                       // var sellMultiplier2 = ((stopLoss - strikePrice) * multiplier);
                    }
                    else if (buySell == 1) {
                        var buyMultiplier = ((takeProfit - strikePrice) * multiplier);
                        $scope.likelyPips = buyMultiplier;
                        //var buyMultiplier2 = ((strikePrice - stopLoss) * multiplier);
                    }
                }
                $scope.saveDetails = function (form) {
                    //alert("Hii");
                    var marketId = $scope.marketID;
                    var inst = $scope.instru;
                    var x = $("#buySell").val();
                    var buySell = parseInt(x);
                   // alert(buySell);
                    var signalType = $scope.signalTypeId;
                    var strikePrice = $("#strikePrice").val();
                    var takeProfit = $("#takeProfit").val();
                    var stopLoss = $("#stopLoss").val();
                    var livePrice = $("#livePrice").val();
                    var validityMin = $scope.validityMin;
                    var validityMax = $scope.validityMax;
                    var timeMinFrame = $scope.timeFrameMin;
                    var timeMaxFrame = $scope.timeMaxFrame;
                    var riskType = $scope.risks;
                    var reliability = $scope.reliability;
                    var status = "Active";
                    var comment = $("#comment").val();
                    var res = CkeckValidData(inst, buySell, strikePrice, takeProfit, stopLoss, livePrice, validityMax, timeMinFrame);
                    if (res == "false") {

                    }
                    else {
                          var resObj =
                             {
                              'MarketId': marketId, 'InstrumentId': inst, 'BuySell': buySell,
                              'SignalType': signalType, 'StrikePrice': strikePrice, 'TakeProfit': takeProfit,
                              'StopLoss': stopLoss, 'LivePrice': livePrice, 'ValidityMin': validityMin,
                              'ValidityMax': validityMax, 'TimeMinFrame': timeMinFrame, 'timeMaxFrame': timeMaxFrame,
                              'RiskType': riskType, 'Reliability': reliability, 'Status': status, 'Comment': comment
                              };
                        var result = JSON.stringify(resObj);
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SaveSignal", "SignalProvider")',
                            ContentType: "application/json; charset=utf-8",
                            DataType: 'JSON',
                            data: { result: result },
                            success: function (data, textStatus) {                              
                                if (textStatus == "success") {
                                    $('#modalSigId').html("Signal Id - "+data.result);
                                    $('#successPopup').modal('show');
                                }
                              //  window.location.reload();
                            },
                            Error: function (data, textStatus) {                               
                            }
                        });
                    }
                }

                function CkeckValidData(inst, buySell, strikePrice, takeProfit, stopLoss, livePrice, validityMax, timeMinFrame) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetMultiplyingFactor", "SignalProvider")',
                        ContentType: "application/json; charset=utf-8",
                        async: false,
                        DataType: 'JSON',
                        data: { instrumentID: inst },
                        success: function (data, textStatus) {
                            multiplier = data;
                        },
                        Error: function (data, textStatus) {
                           // alert("Error" + textStatus);
                        }
                    });
                    if (buySell == 2)
                    {
                        var sellMultiplier = ((strikePrice - takeProfit) * multiplier);
                        var sellMultiplier2 = ((stopLoss - strikePrice) * multiplier);
                        if (takeProfit < strikePrice && strikePrice < stopLoss)
                        {
                            if(sellMultiplier >= 5 && sellMultiplier <= 2000 )
                            {

                            }
                            else if(sellMultiplier2 >= 5 && sellMultiplier2 <= 2000)
                            {
                            }
                        }
                        else {
                            alert("Please enter valid data for SELL action!");
                            $scope.strikePrice = null;
                            $scope.takeProfit = null;
                            $scope.stopLoss = null;
                            return "false";
                        }
                    }
                    else if (buySell == 1)
                    {
                        var buyMultiplier = ((takeProfit - strikePrice) * multiplier);
                        var buyMultiplier2 = ((strikePrice - stopLoss) * multiplier);
                        if (takeProfit > strikePrice && strikePrice > stopLoss)
                        {
                            if(buyMultiplier >= 5 && buyMultiplier <= 2000)
                            {
                            }
                            else if(buyMultiplier2 >= 5 && buyMultiplier2 <= 2000)
                            {
                            }

                        }
                        else {
                            alert("Please enter valid data for BUY action!");
                            $scope.strikePrice = null;
                            $scope.takeProfit = null;
                            $scope.stopLoss = null;
                            return "false";
                        }
                    }
                }
            });
    function RedirectToWorkspace()
    {
        window.location.href = '@Url.Action("Workspace", "SignalProvider")';
    }
</script>
