﻿
@{
    ViewBag.Title = "Earnings";
    Layout = "~/Views/Shared/_Sp_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="createSignal">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Earnings</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="search-d">
                                            <div class="input-group">
                                                <input type="text" class="searchi">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary btn-xs" type="button">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table width="100%" class="table table-striped table-bordered" id="example1">

                                            <thead>
                                                <tr>
                                                    <th width="34">ID</th>
                                                    <th width="135">Market</th>
                                                    <th width="68">Period</th>
                                                    <th width="71">From </th>
                                                    <th width="135">To</th>
                                                    <th width="70">Success </th>
                                                    <th width="69">Bonus </th>
                                                    <th width="83">Pinned</th>
                                                    <th width="86">Earnings</th>
                                                    <th width="69">Entry</th>
                                                    @*<th width="76">Status</th>
                                                        <th width="78">Type</th>
                                                        <th width="111">Transaction</th>*@
                                                </tr>
                                            </thead>
                                            <tbody id="GetEarningDetails">
                                                @*<tr>
                                                        <td>01</td>
                                                        <td>Period 1</td>
                                                        <td>01-Dec-19</td>
                                                        <td> 15-Dec-19</td>
                                                        <td>$200</td>
                                                        <td>$50</td>
                                                        <td>$90</td>
                                                        <td>$340</td>
                                                        <td>14-Dec-19</td>
                                                        <td>Live</td>
                                                        <td>Credit</td>
                                                        <td>Transfer to Wallet</td>
                                                    </tr>*@
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</section>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetEarningDetails", "SignalProvider")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].SignalProviderEaringsBreakupForPeriodID + '</td>';
                        htmlStr += '<td>' + str[i].MarketName + '</td>';
                        htmlStr += '<td>' + str[i].PeriodID + '</td>';
                        var periodFrom = GetTwoDigitDateFormat(str[i].PeriodFrom);
                        htmlStr += '<td>' + periodFrom + '</td>';
                        var periodTill = GetTwoDigitDateFormat(str[i].PeriodTill);
                        htmlStr += '<td>' + periodTill + '</td>';
                        htmlStr += '<td>' + str[i].SuccessEarningsAmount + '</td>';
                        htmlStr += '<td>' + str[i].BonusEarningsAmount + '</td>';
                        htmlStr += '<td>' + str[i].PinnedEarningsAmount + '</td>';
                        htmlStr += '<td>' + str[i].TotalEarnings + '</td>';
                        var entryDate = GetTwoDigitDateFormat(str[i].EntryDate);
                        htmlStr += '<td>' + entryDate + '</td>';


                        htmlStr += '</tr>';
                    }
                    $("#GetEarningDetails").html(htmlStr)
                }
            });
        }

    });

</script>
