﻿
@{
    ViewBag.Title = "PersonalDetails";
    Layout = "~/Views/Shared/_Sp_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="PersonalDetails">
        <div class="wrapper wrapper-content">
            <div class="ibox-title yellowtitle">
                <h5>Personal Details</h5>
                <div class="ibox-tools">
                    <button class="btn btn-xs btn-primary" type="submit" style="padding: 0rem 0.2rem !important;" ng-click="Edit()">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="ibox">
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div style="clear:both;"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="ibox" style="margin-bottom:0;">
                                                    <div class="ibox-title">
                                                        <h5>General Information</h5>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <div class="form-group">
                                                            <input ng-model="name" type="text" class="input-control" placeholder="Name" ng-readonly="readonlyName" />
                                                        </div>
                                                        <div class="form-group">
                                                            <input ng-model="DisplayName" type="text" class="input-control" placeholder="Display Name" ng-readonly="readonlyName" />
                                                        </div>
                                                        <div class="form-group">
                                                            <input ng-model="email" type="text" class="input-control" placeholder="Email" disabled>
                                                        </div>
                                                        <div class="form-group"> </div>
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-2" style="padding-right:0;">
                                                                    <input ng-model="countryCode" type="text" class="input-control" placeholder="+91" disabled>
                                                                </div>
                                                                <div class="col-md-10">
                                                                    <input ng-model="phone" type="text" class="input-control" placeholder="Phone" ng-readonly="readonlyPhone" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <select id="getnder" ng-model="gender" placeholder="Gender" class="input-control m-b"
                                                                    ng-options="g.GenderID as g.Gender for g in GenderList">
                                                                <option value=""> Select Gender </option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" ng-model="website" class="input-control" placeholder="Website" ng-readonly="readonlyWebsite" />
                                                        </div>
                                                        <div style="clear:both;"></div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="ibox ">
                                                    <div class="ibox-title">
                                                        <h5>Contact</h5>
                                                    </div>
                                                    <div class="ibox-content">
                                                        <div class="form-group">
                                                            <textarea class="input-control" placeholder="Address" ng-model="address" ng-readonly="readonlyAddress"></textarea>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <select id="country" ng-model="country" ng-change="GetStates(country)" placeholder="Country" class="input-control m-b"
                                                                            ng-options="c.CountryID as c.Country for c in CountryList">
                                                                        <option value=""> Select Country </option>
                                                                    </select>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div>
                                                                    <div class="form-group">
                                                                        <select id="timeZone" ng-model="timeZone" placeholder="Time Zone" class="input-control m-b"
                                                                                ng-options="o.TimeZoneID as o.TimeZoneDetails for o in TimeZonesList">
                                                                            <option value=""> Select Time Zone </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="form-group">
                                                                        <select id="ddlState" ng-model="state" ng-change="GetCities(state)" placeholder="State" class="input-control m-b"
                                                                                ng-options="st.StateID as st.StateName  for st in States">
                                                                            <option value=""> Select State </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <select id="ddlCity" ng-model="city" ng-change="getCity()" placeholder="City" class="input-control m-b"
                                                                            ng-options="o.CityID as o.CityName for o in getCity">
                                                                        <option value=""> Select City </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <textarea rows="3" class="input-control" ng-model="aboutme" placeholder="About Me" ng-readonly="readonlyAboutme"></textarea>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                        <span class="btn bt-choosefile btn-file">
                                                                            <span class="fileinput-new">Choose Image</span> <span class="fileinput-exists">Change</span>
                                                                            <input type="file" id="img" ng-model="image" title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),Max: 1000px(w) - 1000px(H)">
                                                                        </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @*added by Apoorva Sabale on 17/03/2020 to add Checkbox*@
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="form-group">
                                                                        <span>Discussion Board</span>
                                                                        <input type="checkbox" id="discussionBoard" name="DiscussionBoard" disabled="disabled" title="Discussion Board" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @*added by Apoorva Sabale on 17/03/2020 ends here*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <hr>
                                            </div>
                                            <div class="col-md-12">
                                                <button class="btn btn-sm btn-primary" type="submit" ng-click="SubmitPersonalDetails()" ng-show="IsVisible">Submit</button>
                                                <button class="btn btn-sm btn-primary" type="submit" ng-click="EditPersonalDetails()" ng-show="IsHide">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ibox">
                            <div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox-title">
                                            <h5>Change Password</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="form-group">
                                                <input ng-model="oldpwd" type="password" class="input-control" placeholder="Old Password">
                                            </div>
                                            <div class="form-group">
                                                <input id="newpass" ng-model="newpwd" type="password" class="input-control" placeholder="New Password">
                                            </div>
                                            <div class="form-group">
                                                <input id="confpass" ng-model="confirmpwd" type="password" class="input-control" onblur="MatchPassword(this)" placeholder="Confirm New Password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <hr style="margin-top:58px;">
                                    </div>
                                    <div class="col-md-12 mb-1">
                                        <button class="btn btn-sm btn-primary" ng-click="ChangePassword()" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 pad0">
                <div class="row">
                    <div class="col-md-6">
                        <a href="@Url.Action("GlobalProfile","SignalProvider")">
                            <div class="widget style1 btn-warning" style="padding:5px 0;">
                                <div class="row">
                                    <div class="col-5 pad0">
                                        <i class="fa fa-user-circle" style="font-size:20px; float:right; margin-right:10px; margin-top:2px;"></i>
                                    </div>
                                    <div class="col-7 text-left pad0" style="margin-top:3px;">
                                        <span style="font-size:13px;"> View Global Profile</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Documents","SignalProvider")">
                            <div class="widget style1 btn-success" style="padding:5px 0;">
                                <div class="row">
                                    <div class="col-5 pad0">
                                        <i class="fa fa-file" style="font-size:18px; float:right; margin-top:3px; margin-right:10px;"></i>
                                    </div>
                                    <div class="col-7 text-left pad0" style="margin-top:3px;">
                                        <span style="font-size:13px;"> Update Documents</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var stateid="";
    var cityid="";
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        GetUserDetails();
        function GetUserDetails() {
            $scope.IsVisible = true;
            $scope.IsHide = false;
            $scope.email = '@ViewBag.UserEmail';
            var userId = @ViewBag.userID;
            $.ajax({
                url: '@Url.Action("GetPersonalDetails", "SignalProvider")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: { },
                success: function (data) {
                    var temp = JSON.parse(data);
                    if(temp.length > 0)
                    {
                        $scope.name= temp[0].UserName;
                        $scope.DisplayName=temp[0].DisplayName;
                        $scope.email = temp[0].Email;
                        $scope.phone= temp[0].ApplicationUserPhoneNumber;
                        $scope.gender=temp[0].GenderID;
                        $scope.address=temp[0].Address;
                        $scope.website = temp[0].UserUrl;
                        $scope.aboutme = temp[0].AboutMe;
                        $scope.country=temp[0].CountryID;
                        $scope.timeZone=temp[0].TimeZone;
                       // $scope.State=temp[0].State;
                        cityid=temp[0].City;
                        stateid=temp[0].State;
                        $("#ddlState option:selected").text(temp[0].StateName);
                        $("#ddlCity option:selected").text(temp[0].CityName);
                        $scope.readonlyName = true;
                        $scope.readonlyPhone = true;
                        $scope.readonlyWebsite = true;
                        $scope.readonlyAddress = true;
                        $scope.readonlyAboutme = true;
                        $scope.readonlyImg = true;
                    }
                    else   {    }
                },
                error: function (data, textStatus, xhr) {
                }

            });
        }
        GetCountries()
        function GetCountries()
        {
            $.ajax({
                url: '@Url.Action("GetCountries", "SignalProvider")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data)
                {
                    $scope.CountryList = data.CountryList;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                }
            });
        }
        $scope.GetStates = function ($scope) {
            var countryId = $scope;
            States(countryId);
        }
        function States(cid){
            $.ajax({
                url: '@Url.Action("GetStates", "SignalProvider")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {countryID:cid},
                success: function (data) {
                    // alert( data.StateList);
                    $scope.States = data.StateList;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                }
            });
        }
        $scope.GetCities = function ($scope) {
            var stateId = $scope;
            Cities(stateId);
        }
        function  Cities(stId)
        {
            $.ajax({
                url: '@Url.Action("GetCities", "SignalProvider")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {stateID:stId},
                success: function (data) {
                    $scope.getCity = data.CityList;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                }
            });
        }
        Getgender();
        function Getgender()
        {
            $.ajax({
                url: '@Url.Action("GetGenders", "SignalProvider")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    //  alert(data.Genders);
                    $scope.GenderList = data.Genders;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                }
            });
        }
        GetTimeZones();
        function GetTimeZones()
        {
            $.ajax({
                url: '@Url.Action("GetTimeZones", "SignalProvider")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.TimeZonesList = data.TimeZoneslist;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                }
            });
        }
        $scope.SubmitPersonalDetails = function()
        {
            var formdata;
            if(window.FormData)
            {
                formdata = new FormData();
            }
            var userName = $scope.name;
            var displayname=$scope.DisplayName;
            var email = $scope.email;
            var phone = $scope.phone;
            var gender = $scope.gender;
            var address = $scope.address;
            var contry = $scope.country;
            var timeZone = $scope.timeZone;
            var state = $scope.state;
            var city = $scope.city;
            var aboutMe = $scope.aboutme;
            var website = $scope.website;
            var result = {'Name':userName,'DisplayName':displayname,'Email':email,'Phone':phone,'Gender':gender,'Address':address,
                'Country':contry,'TimeZone':timeZone,'State':state,'City':city,'Website':website,'AboutMe':aboutMe};
            var jsonString = JSON.stringify(result);
            var file = document.getElementById("img").files[0];
            formdata.append("Image",file);
            formdata.append("result",jsonString);
            $.ajax({
                url: '@Url.Action("SubmitPersonalDetails", "SignalProvider")',
                type: "Post",
                data: formdata,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if(data.response == "1")
                        alert("Data save successfully..");
                    window.location.reload();
                },
                error: function (data, textStatus, xhr) {
                }
            });
        }
        $scope.EditPersonalDetails = function()
        {
            var formdata;
            if(window.FormData)
            {
                formdata = new FormData();
            }
            var userName = $scope.name;
            var displayname=$scope.DisplayName;
            var email = $scope.email;
            var phone = $scope.phone;
            var gender = $scope.gender;
            var address = $scope.address;
            var contry = $scope.country;
            var timeZone = $scope.timeZone;
            var state = $scope.state;
            var city = $scope.city;
            if($scope.state ==undefined)
            {
                var state =stateid;
            }
            if($scope.city==undefined)
            {
                var city =cityid;
            }
            var aboutMe = $scope.aboutme;
            var website = $scope.website;
            var result = {'Name':userName,'DisplayName':displayname,'Email':email,'Phone':phone,'Gender':gender,'Address':address,
                'Country':contry,'TimeZone':timeZone,'State':state,'City':city,'Website':website,'AboutMe':aboutMe};
            var jsonString = JSON.stringify(result);
            var file = document.getElementById("img").files[0];
            formdata.append("Image",file);
            formdata.append("result",jsonString);
            $.ajax({
                url: '@Url.Action("EditPersonalDetails", "SignalProvider")',
                type: "Post",
                data: formdata,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if(data.response == "1")
                        alert("Data update successfully..");
                    window.location.reload();
                },
                error: function (data, textStatus, xhr) {
                }
            });
        }
        $scope.Edit = function()
        {
            $scope.IsVisible = false;
            $scope.IsHide = true;
            $scope.readonlyName = false;
            $scope.readonlyPhone = false;
            $scope.readonlyWebsite = false;
            $scope.readonlyAddress = false;
            $scope.readonlyAboutme = false;
            $scope.readonlyImg = false;

        }
        $scope.ChangePassword = function()
        {
            var confPass = $scope.confirmpwd;
            var newPass =  $scope.newpwd;
            var oldPass =  $scope.oldpwd;
            var email ='@ViewBag.UserEmail';
            $.ajax({
                url: '@Url.Action("ChangePassword", "SignalProvider")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {email:email,password:newPass},
                success: function (data) {
                    if(data.response)
                    {
                    window.location.href = '@Url.Action("Login","Home")';
                    }
                },
                error: function (data, textStatus, xhr) {
                    alert("Error");
                }
            });

        }

    });

    function MatchPassword (conpassword)
    {
        var newPass =  $("#newpass").val();
        var conpwd = $("#confpass").val();
        if(newPass != conpwd)
        {
            alert("Please re-enter confirmpassword");
            $("#confpass").val("");
        }
    }
</script>