﻿@using System.Data
@model DataSet
@{
    ViewBag.Title = "Subscription";
    Layout = "~/Views/Shared/_Sp_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="SubscriptionForm">
        <!-- Enter Empanelment Date -->
        <div class="modal fade" id="empdt" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Enter Empanelment Date</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 pad0">
                            <div class="form-group">
                                <div id="data_1">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="form-control" value="24-Dec-19" id="fromDate">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="col-md-12 pad0">
                                <button class="btn btn-sm btn-primary" type="submit" onclick="AssignFromDate()" >Submit</button>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Subscription</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.

                                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox collapsed">
                        <div class="ibox-title redtitle">
                            <h5>Plan Details</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="search-d">
                                            <div class="input-group">
                                                <input type="text" class="searchi">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary btn-xs" type="button">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive top10">
                                        <table width="100%" class="table table-striped table-bordered" id="example1">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Invoice</th>
                                                    <th>Plan Type</th>
                                                    <th>Valid From</th>
                                                    <th>Valid To</th>
                                                    <th>Amount Paid</th>
                                                    <th>Paid By</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (DataRow dr in Model.Tables[0].Rows)
                                                {
                                                    int counter = 1;
                                                    <tr>
                                                        <td>@counter</td>
                                                        <td>@dr["BillId"]</td>
                                                        <td>@dr["PlanType"]</td>
                                                        <td>@dr["ValidFrom"]</td>
                                                        <td>@dr["ValidTo"]</td>
                                                        <td>@dr["Amount"]</td>
                                                        <td>@dr["PaidBy"]</td>
                                                        <td>""</td>
                                                    </tr>
                                                    counter = counter + 1;
                                                }
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title greentitle">
                            <h5>Choose Your  Plan</h5>
                            <span class="label label-warning">Current Plan:  <span id="currentPlan"></span>, Expiry Date:<span id="ExpiryDate"></span> </span>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> @*<a class="close-link"> <i class="fa fa-times"></i> </a>*@ </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-lg-12">
                                <div>
                                    <div class="tab-content">
                                        <div class="col-8 col-centerd">
                                            <div class="row" id="plans">
                                                                                          
                                            </div>
                                        </div>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <!-- <div class="float-right">
                        10GB of <strong>250GB</strong> Free.
                    </div>-->
                <div> <strong>Copyright</strong> Signal ATM 2019-2020 </div>
            </div>
       
        </form>
    </section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var fromDate = "";
    var planId = "";
    var validity ="";
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {  
        var roleid = @ViewBag.RoleID;     

        GetSubscriptionPlanDetails();
        function GetSubscriptionPlanDetails()
        {
            var htmlstr="";
            $.ajax({
                url: '@Url.Action("GetSubscriptionPlanDetails", "SignalProvider")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { roleId:roleid },
                success: function (data) {
                    var str =  JSON.parse(data);                     
                    for(var i=0;i<= str.length;i++)
                    {                      
                            var fetures = str[i].PlanFeatures;
                            var arr = fetures.split(',');                          
                            if(str[i].PlanPackage =="EMPANELMENT")
                            {                          
                                htmlstr +='<div class="col-md-4">';
                                htmlstr +='<ul class="package-plan list-unstyled packselectbg" >';
                                htmlstr +='<li class="package-title label-warning"> '+str[i].PlanPackage+' </li>';
                                if(str[i].Fee == 0)
                                {
                                    htmlstr +='<li class="pricing-price"><span class="trialprice"> '+ "Free" +'</span> </li>';
                                }
                                else{
                                    htmlstr +='<li class="pricing-price"><span class="trialprice"> $'+ str[i].Fee +'</span> </li>';
                                }                               
                                htmlstr +='<li>'+ str[i].Validity +'Days Validity</li>';
                                htmlstr +='<li>'+ arr[0] +'</li>';
                                htmlstr +='<li>'+ arr[1] +'</li>';
                                htmlstr +='<li>'+ arr[2] +'</li>';
                                htmlstr +='<button type="button"  id="btnSubscribe" class="btn btn-warning btn-xs" onclick="SubcriptionDetails('+str[i].UserPlansID +','+str[i].Validity +')")" data-toggle="modal" data-target="#empdt">Subscribe</button>';
                                    //'<li><a id="btnEmpanel" class="btn btn-warning btn-xs" href="#" onclick="SubcriptionDetails('+str[i].UserPlansID +','+str[i].Validity +')")" data-toggle="modal" data-target="#empdt">Subscribe</a> </li>';
                                
                                htmlstr += '</ul></div>';
                            }
                            else
                            {
                                if(str[i]==4)
                                {
                                    innerHtml +=' <div style="clear:both;"></div>';
                                }
                                htmlstr +='<div class="col-md-4">';
                                htmlstr +='<ul class="package-plan list-unstyled" >';
                                htmlstr +='<li class="trialpack-title"> '+str[i].PlanPackage+' </li>';
                                htmlstr +='<li class="pricing-price"><span class="trialprice"> $'+ str[i].Fee +'</span> </li>';
                                htmlstr +='<li>'+ str[i].Validity +'Days Validity</li>';
                                htmlstr +='<li>'+ arr[0] +'</li>';
                                htmlstr +='<li>'+ arr[1] +'</li>';
                                htmlstr +='<li>'+ arr[2] +'</li>';
                                htmlstr +='<button type="button"  id="btnEmpanel" class="btn btn-info btn-xs" onclick="SubcriptionDetails('+str[i].UserPlansID +','+str[i].Validity +')")" data-toggle="modal" data-target="#empdt">Subscribe</button>';
                                //if (true) {
                                //    htmlstr +='<li><a class="btn btn-info btn-xs" id="disableanchor" href="#">Subscribe</a> </li>';
                                //}
                                //else {
                                //    htmlstr +='<li><a class="btn btn-info btn-xs" id="disableanchor" href="#" onclick="SubcriptionDetails('+str[i].UserPlansID +','+str[i].Validity +')")">Subscribe</a> </li>';
                                //}
                               
                              
                                $(this).removeAttr('href');
                                htmlstr += '</ul></div>';
                               
                            }
                            $("#plans").html(htmlstr);                         
                         }
                   
                    }
            });
        }
       // GetSubscribedDetails();
        function GetSubscribedDetails()
        {                     
            $.ajax({
                url: '@Url.Action("GetSubscribedUserDetails", "SignalProvider")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { },
                success: function (data) {
                    var temp = JSON.parse(data);                  
                    if(temp.length!=0)
                    {                       
                        $("#currentPlan").html(temp[0].PlanPackage);
                        $("#ExpiryDate").html(temp[0].ValidTill);
                        $("#btnEmpanel").attr("disabled", true);                      
                    }  
                    else{
                        $('#btnEmpanel').attr("disabled", false);
                    }
                }
            });
        }
    });
    function AssignFromDate()
    {
        fromDate= $("#fromDate").val();         
        $("#empdt").modal("hide");
        var temp ={'UserPlansID':planId,'Validity':validity,'FromDate':fromDate};
        var res = JSON.stringify(temp);
        $.ajax({
            url: '@Url.Action("SaveSubscriptionPlanDetails", "SignalProvider")',
            type: "Post",
            Response: ContentType = 'application/json',
            data: {result:res},
            success: function (data) {
                var planid= data;          
                var url = "../SignalProvider/SubscriptionCheckOut?planId=" + data;
                window.location.href=url;   
            },
            error: function (data, textStatus, xhr)
            {

            }
        });     
    }
    function SubcriptionDetails(planid,val)
    {   
        planId=planid;
        validity=val;       
    }
</script>




