﻿
@{
    ViewBag.Title = "SuccessStory";
    Layout = "~/Views/Shared/_Sp_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="PersonalDetails">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Success Story</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tabs-container">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li><a class="btn btn-sm btn-white padtop-b active" data-toggle="tab" href="#tab-1">Top Ten Signal Providers</a></li>
                                            <li><a class="btn btn-sm btn-white padtop-b" data-toggle="tab" href="#tab-2">Top Ten Traders</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" id="tab-1" class="tab-pane active">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="ibox collapsed">
                                                            <div class="ibox-title redtitle">
                                                                <h5>Search</h5>
                                                                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                                                                <div class="row"> </div>
                                                                <div class="ibox-tools"> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                                                            </div>
                                                            <div class="ibox-content">
                                                                <div>
                                                                    <div>
                                                                        <div class="tabs-container">
                                                                            <div class="tab-content">
                                                                                <div class="panel-body">
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <div class="row"> </div>
                                                                                            <div class="col-md-12 pad0">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-9" style="padding-top:5px; background:#f1f1f1;">
                                                                                                        <div class="row">
                                                                                                            <div class="boxes" style="width:17%;">
                                                                                                                <div class="col-box2">
                                                                                                                    <select id="marketID" ng-model="marketID" ng-change="selectedItemChanged(marketID)" class="select2_demo_1 form-control"
                                                                                                                            ng-options="o.MarketID as o.MarketName for o in getMarket">
                                                                                                                        <option value=""> select Market</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes" style="width:17%;">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Select Period wise</option>
                                                                                                                        <option value="2">All</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Period 1</option>
                                                                                                                        <option value="1">Period 2</option>
                                                                                                                        <option value="1">Period 3</option>
                                                                                                                        <option value="1">Period 4</option>
                                                                                                                        <option value="1">Period 5</option>
                                                                                                                        <option value="1">Period 6</option>
                                                                                                                        <option value="1">Period 7</option>
                                                                                                                        <option value="1">Period 8</option>
                                                                                                                        <option value="1">Period 9</option>
                                                                                                                        <option value="1">Period 10</option>
                                                                                                                        <option value="1">Period 11</option>
                                                                                                                        <option value="1">Period 12</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Period 1</option>
                                                                                                                        <option value="1">Period 2</option>
                                                                                                                        <option value="1">Period 3</option>
                                                                                                                        <option value="1">Period 4</option>
                                                                                                                        <option value="1">Period 5</option>
                                                                                                                        <option value="1">Period 6</option>
                                                                                                                        <option value="1">Period 7</option>
                                                                                                                        <option value="1">Period 8</option>
                                                                                                                        <option value="1">Period 9</option>
                                                                                                                        <option value="1">Period 10</option>
                                                                                                                        <option value="1">Period 11</option>
                                                                                                                        <option value="1">Period 12</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <button type="button" class="btn btn-primary btn-xs bot5" ng-click="SearchSignalProvider()">Search</button>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                            <div class="row"> </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="clear:both;"></div>
                                                    </div>
                                                </div>
                                                <div class="ibox-title greentitle">
                                                    <h5>Top Ten Signal Providers </h5>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div id="stocked3"></div>
                                                        <div id="ct-chart3" class="ct-perfect-fourth"></div>
                                                    </div>
                                                    <div class="col-md-11">
                                                        <div class="row">
                                                            <div class="search-d">
                                                                <div class="input-group">
                                                                    <input type="text" class="searchi">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="table-responsive">
                                                            <table id="example4" class="table table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="61">Photo</th>
                                                                        <th width="341">Name</th>
                                                                        <th width="92">Since</th>
                                                                        <th width="118">Market</th>
                                                                        <th width="135">Instruments</th>
                                                                        <th width="112">Post</th>
                                                                        <th width="91">Pinned</th>
                                                                        <th width="74" style="background:#f8ac59; color:#fff;">Pips</th>
                                                                        <th width="66" style="background:#1c84c6; color:#fff;">Success</th>
                                                                        <th width="101" style="background:#23c6c8; color:#fff;">Gain/Loss</th>
                                                                        <th width="121">Follow</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="GetSuccessStoryDetails">
                                                                    @*<tr>
                                                                            <td><img src="../img/a1.jpg" width="30" height="30" class="rounded-circle"></td>
                                                                            <td> Forex Mentor </td>
                                                                            <td> 1-Jan-19</td>
                                                                            <td><a href="#" data-toggle="modal" data-target="#multimkt">Crypto....</a> </td>
                                                                            <td><a href="#" data-toggle="modal" data-target="#multiinstru">GBP/USD</a> </td>
                                                                            <td>30</td>
                                                                            <td><a href="#" data-toggle="modal" data-target="#signalproviderpopup">17</a></td>
                                                                            <td><span>27</span></td>
                                                                            <td> 12</td>
                                                                            <td> 1.2</td>
                                                                            <td>
                                                                                <div class="to-follow">
                                                                                    <button id="follow" class="btn btn-xs bt-white" data-toggle="button">Follow</button>
                                                                                    <button id="unfollow" class=" hidden btn-xs btn btn-danger hidden">Unfollow</button>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><img src="../img/a2.jpg" width="30" height="30" class="rounded-circle"></td>
                                                                            <td> 1000Pip Builder </td>
                                                                            <td> 5-Jan-19</td>
                                                                            <td>Forex</td>
                                                                            <td>EUR/USD</td>
                                                                            <td>40</td>
                                                                            <td> 20</td>
                                                                            <td> 18</td>
                                                                            <td> 10</td>
                                                                            <td> 10</td>
                                                                            <td>
                                                                                <div class="to-follow">
                                                                                    <button id="follow" class="btn btn-xs bt-white" data-toggle="button">Follow</button>
                                                                                    <button id="unfollow" class=" hidden btn-xs btn btn-danger hidden">Unfollow</button>
                                                                                </div>
                                                                            </td>
                                                                        </tr>*@
                                                                </tbody>
                                                                <tfoot>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div role="tabpanel" id="tab-2" class="tab-pane">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="ibox collapsed">
                                                            <div class="ibox-title redtitle">
                                                                <h5>Search</h5>
                                                                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                                                                <div class="row"> </div>
                                                                <div class="ibox-tools"> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                                                            </div>
                                                            <div class="ibox-content">
                                                                <div>
                                                                    <div>
                                                                        <div class="tabs-container">
                                                                            <div class="tab-content">
                                                                                <div class="panel-body">
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <div class="row"> </div>
                                                                                            <div class="col-md-12 pad0">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-9" style="padding-top:5px; background:#f1f1f1;">
                                                                                                        <div class="row">
                                                                                                            <div class="boxes" style="width:17%;">
                                                                                                                <div class="col-box2">
                                                                                                                    <select id="marketID" ng-model="marketID" ng-change="selectedItemChanged(marketID)" class="select2_demo_1 form-control"
                                                                                                                            ng-options="o.MarketID as o.MarketName for o in getMarket">
                                                                                                                        <option value=""> select Market</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes" style="width:17%;">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Select Period wise</option>
                                                                                                                        <option value="2">All</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Period 1</option>
                                                                                                                        <option value="1">Period 2</option>
                                                                                                                        <option value="1">Period 3</option>
                                                                                                                        <option value="1">Period 4</option>
                                                                                                                        <option value="1">Period 5</option>
                                                                                                                        <option value="1">Period 6</option>
                                                                                                                        <option value="1">Period 7</option>
                                                                                                                        <option value="1">Period 8</option>
                                                                                                                        <option value="1">Period 9</option>
                                                                                                                        <option value="1">Period 10</option>
                                                                                                                        <option value="1">Period 11</option>
                                                                                                                        <option value="1">Period 12</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Period 1</option>
                                                                                                                        <option value="1">Period 2</option>
                                                                                                                        <option value="1">Period 3</option>
                                                                                                                        <option value="1">Period 4</option>
                                                                                                                        <option value="1">Period 5</option>
                                                                                                                        <option value="1">Period 6</option>
                                                                                                                        <option value="1">Period 7</option>
                                                                                                                        <option value="1">Period 8</option>
                                                                                                                        <option value="1">Period 9</option>
                                                                                                                        <option value="1">Period 10</option>
                                                                                                                        <option value="1">Period 11</option>
                                                                                                                        <option value="1">Period 12</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <button type="button" class="btn btn-primary btn-xs bot5" ng-click="GetDataForTrader()">Search</button>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                            <div class="row"> </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="clear:both;"></div>
                                                    </div>
                                                </div>
                                                <div class="ibox-title greentitle">
                                                    <h5>Top Ten Traders </h5>
                                                </div>
                                                <div class="col-md-12 pad0">
                                                    <div id="stocked2"></div>
                                                    <div id="ct-chart2" class="ct-perfect-fourth"></div>
                                                </div>
                                                <div class="col-md-7 pad0">
                                                    <div class="row">
                                                        <div class="search-d">
                                                            <div class="input-group">
                                                                <input type="text" class="searchi">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table id="example2" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th width="78">Photo</th>
                                                                <th width="270">Name</th>
                                                                <th width="98">Since</th>
                                                                <th width="91">Market</th>
                                                                <th width="91">Instruments</th>
                                                                <th width="91" style="background:#23c6c8; color:#fff;">Pinned</th>
                                                                <th width="95" style="background:#f8ac59; color:#fff;">Pips</th>
                                                                <th width="90" style="background:#1c84c6; color:#fff;">Success</th>
                                                                <th width="104" style="background:#23c6c8; color:#fff;">Gain/Loss</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="GetSuccessStoryTraderDetails">
                                                            @*<tr>
                                                                    <td><img src="../img/a5.jpg" width="30" height="30" class="rounded-circle"></td>
                                                                    <td> ABC</td>
                                                                    <td> 6-Jan-19</td>
                                                                    <td><a href="#" data-toggle="modal" data-target="#multimkt">Crypto....</a></td>
                                                                    <td><a href="#" data-toggle="modal" data-target="#multiinstru-trader">GBP/USD</a></td>
                                                                    <td><a href="#" data-toggle="modal" data-target="#traderpopup">20</a></td>
                                                                    <td><span>30</span></td>
                                                                    <td> 15</td>
                                                                    <td class="center"> 1.4</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><img src="../img/a3.jpg" width="30" height="30" class="rounded-circle"></td>
                                                                    <td>XYZ</td>
                                                                    <td> 20-Jun-19</td>
                                                                    <td>Forex</td>
                                                                    <td>EUR/USD </td>
                                                                    <td> 25</td>
                                                                    <td> 20</td>
                                                                    <td> 9</td>
                                                                    <td> 12</td>
                                                                </tr>*@
                                                        </tbody>
                                                        <tfoot>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        var marketid = $scope.marketID;
        GetData();
        getMarketList();
        //GetDataForTrader();
        $scope.GetDataForTrader = function () {
            var marketid = $scope.marketID;
            $.ajax({
                url: '@Url.Action("GetSuccessStoryTrader", "SignalProvider")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {MarketID: marketid},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].tUserImage + '</td>';
                        htmlStr += '<td>' + str[i].tUserName + '</td>';
                        htmlStr += '<td>' + str[i].tUserSince + '</td>';
                        htmlStr += '<td>' + str[i].tSignalsPosted + '</td>';
                        htmlStr += '<td>' + str[i].tSignalsClosed + '</td>';
                        htmlStr += '<td>' + str[i].tSUccessSignals + '</td>';
                        htmlStr += '<td>' + str[i].tSuccessRate + '</td>';
                        htmlStr += '<td>' + str[i].tPips + '</td>';
                        htmlStr += '<td>' + str[i].tPinned + '</td>';
                        htmlStr += '<td>' + str[i].tGainedLoss + '</td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetSuccessStoryTraderDetails").html(htmlStr)
                }
            });

        }

        $scope.SearchSignalProvider=function()
        {
            var marketid = $scope.marketID;

          $.ajax({
              url: '@Url.Action("SearchSuccessStorySignalProvider", "SignalProvider")',
              type: "GET",
              Response: ContentType = 'application/json',
              data: {MarketID: marketid },
              success: function (data) {
                  var str = JSON.parse(data);
                  var htmlStr = "";
                  for (var i = 0; i < str.length; i++) {
                      htmlStr += '<tr id="riskRow">';
                      htmlStr += '<td id="row">' + str[i].tUserImage + '</td>';
                      htmlStr += '<td>' + str[i].tUserName + '</td>';
                      htmlStr += '<td>' + str[i].tUserSince + '</td>';
                      htmlStr += '<td>' + str[i].tSignalsPosted + '</td>';
                      htmlStr += '<td>' + str[i].tSignalsClosed + '</td>';
                      htmlStr += '<td>' + str[i].tSUccessSignals + '</td>';
                      htmlStr += '<td>' + str[i].tSuccessRate + '</td>';
                      htmlStr += '<td>' + str[i].tPips + '</td>';
                      htmlStr += '<td>' + str[i].tPinned + '</td>';
                      htmlStr += '<td>' + str[i].tGainedLoss + '</td>';
                      //htmlStr += ' <td><button type="button"  onclick="ShowResponse(' + '' + str[i].TicketsID + '' + ' ,' + '\'' + str[i].Subject + '\'' + ',' + '\'' + str[i].UserName + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ',' + '\'' + str[i].ClosingDate + '\'' + ',' + '\'' + str[i].TicketStatus + '\'' + ')"> <i class="fa fa-reply" aria-hidden="true"></i></button></td>';
                      //htmlStr += ' <td><button type="button" onclick="ViewImage(' + '' + str[i].TicketsID + '' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                      htmlStr += '</tr>';
                  }
                  $("#GetSuccessStoryDetails").html(htmlStr)
              }
          });

        }
        function getMarketList() {
            $.ajax({
                url: '@Url.Action("GetMarketList", "SignalProvider")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.stringify(data);
                    //alert(str);
                    $scope.getMarket = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    alert(textStatus);
                }

            });
        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetSuccessStory", "SignalProvider")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].tUserImage + '</td>';
                        htmlStr += '<td>' + str[i].tUserName + '</td>';
                        htmlStr += '<td>' + str[i].tUserSince + '</td>';
                        htmlStr += '<td>' + str[i].tSignalsPosted + '</td>';
                        htmlStr += '<td>' + str[i].tSignalsClosed + '</td>';
                        htmlStr += '<td>' + str[i].tSUccessSignals + '</td>';
                        htmlStr += '<td>' + str[i].tSuccessRate + '</td>';
                        htmlStr += '<td>' + str[i].tPips + '</td>';
                        htmlStr += '<td>' + str[i].tPinned + '</td>';
                        htmlStr += '<td>' + str[i].tGainedLoss + '</td>';
                        //htmlStr += ' <td><button type="button"  onclick="ShowResponse(' + '' + str[i].TicketsID + '' + ' ,' + '\'' + str[i].Subject + '\'' + ',' + '\'' + str[i].UserName + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ',' + '\'' + str[i].ClosingDate + '\'' + ',' + '\'' + str[i].TicketStatus + '\'' + ')"> <i class="fa fa-reply" aria-hidden="true"></i></button></td>';
                        //htmlStr += ' <td><button type="button" onclick="ViewImage(' + '' + str[i].TicketsID + '' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetSuccessStoryDetails").html(htmlStr)
                }
            });

        }



    });
</script>