﻿@{
    ViewBag.Title = "AddBonusrate";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Bonus Slabs Rates</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <select id="MarketID" ng-model="MarketID" class="input-control" ng-options="o.MarketID as o.MarketName for o in getMarkets">
                                            <option value=""> select </option>
                                        </select>
                                        <label id="lblMarket"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <table width="100%" id="tblBonusRates" class="table  table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="40%">Bonus slabs name</th>
                                                    <th width="18%">From</th>
                                                    <th width="18%">To</th>
                                                    <th width="20%">Percent(%)</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblBonusSlab">
                                                <tr>
                                                    <td width="40%"><input id="col1" type="text" ng-model="txtSlabName" class="input-control" placeholder="Slab name"></td>
                                                    <td width="18%"><input id="col2" type="text" ng-model="txtFrom" class="input-control"> </td>
                                                    <td width="18%"><input id="col3" ng-model="txtTo" type="text" class="input-control"></td>
                                                    <td width="20%"><input id="col4" ng-model="txtPer" type="text" class="input-control"></td>
                                                </tr>
                                            </tbody>

                                        </table>
                                        @*<button class="btn btn-primary btn-xs" type="submit" ng-click="AddNewRow()">Add Bonus Slab</button>*@
                                        <button class="btn btn-primary btn-xs" type="submit" ng-click="SubmitBounusrate()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title greentitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>  </div>
                </div>
                <div class="ibox-content">
                    @*<div class="row">
                            <div class="col-md-6">
                                <div class="alert alert-danger alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    Do you want to Remove?, Click
                                    <button type="button" class="btn btn-primary btn-xs">OK</button>&nbsp;to Confirm
                                </div>
                            </div>
                        </div>*@
                    <div class="row">

                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-9 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="44">ID</th>
                                                <th width="50">Market</th>
                                                <th width="100">SlabName</th>
                                                <th width="50">From Rate</th>
                                                <th width="50">From Rate</th>
                                                <th width="50">BonusRate</th>
                                                <th width="50">Status</th>
                                                <th width="170">Created</th>
                                                <th width="29">&nbsp;</th>
                                                <th width="28">&nbsp;</th>
                                                <th width="86">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="BonusRatesData"></tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox" id="editdiv">
                <div class="ibox-title greentitle">
                    <h5>Edit Bonus Slabs Rates</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>  </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5>Slabs Rates ID: <span class="text-navy" id="slabRateId">01</span>, Created Date: <span class="text-navy" id="createdDate"></span></h5>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <select class="input-control" placeholder="City">
                                                <option>Select Market</option>
                                                <option>Forex</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <select class="input-control" placeholder="City">
                                                <option>Status</option>
                                                <option>Active</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <table width="100%" id="example1" class="table  table-bordered">
                                                <tr>
                                                    <th width="32%">&nbsp;</th>
                                                    <th width="24%">From</th>
                                                    <th width="25%">To</th>
                                                    <th width="22%">%</th>
                                                </tr>
                                                <tr>
                                                    <td><strong>Bonus Slab 1</strong></td>
                                                    <td><input name="" type="text" class="input-control">                  </td>
                                                    <td><input name="input" type="text" class="input-control"></td>
                                                    <td><input name="input8" type="text" class="input-control"></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Bonus Slab 2</strong></td>
                                                    <td><input name="input2" type="text" class="input-control"></td>
                                                    <td><input name="input3" type="text" class="input-control"></td>
                                                    <td><input name="input9" type="text" class="input-control"></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Bonus Slab 3</strong></td>
                                                    <td><input name="input4" type="text" class="input-control"></td>
                                                    <td><input name="input5" type="text" class="input-control"></td>
                                                    <td><input name="input10" type="text" class="input-control"></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Bonus Slab 4</strong></td>
                                                    <td><input name="input6" type="text" class="input-control"></td>
                                                    <td><input name="input7" type="text" class="input-control"></td>
                                                    <td><input name="input11" type="text" class="input-control"></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Bonus Slab 5</strong></td>
                                                    <td><input name="" type="text" class="input-control">                  </td>
                                                    <td><input name="input" type="text" class="input-control"></td>
                                                    <td><input name="input8" type="text" class="input-control"></td>
                                                </tr>
                                            </table>

                                            <button class="btn btn-primary btn-xs" type="submit">Create</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title yellowtitle" data-toggle="collapse" data-target="#demo">
                    <h5 id="details">Bonus Slabs Rates Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-down"></i> </a> </div>
                </div>
                <div class="collapse" id="demo">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 pad0">
                                    <h5>Slabs Rates ID: <span class="text-navy" id="slabRateId2">01</span>, Created Date: <span class="text-navy" id="createdDate2"></span></h5>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="col-md-4">
                                                    <select id="MarketID" ng-model="MarketID" class="input-control" ng-options="m.MarketID as m.MarketName for m in getMarketForDetails">
                                                        <option value=""> select </option>
                                                    </select>
                                                    @*<select class="input-control" placeholder="City" disabled="">
                                                            <option>Select Market</option>
                                                            <option>Forex</option>
                                                        </select>*@
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <select class="input-control">
                                                        <option>Status</option>
                                                        <option value="1">Active</option>
                                                        <option value="2">InActive</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <table width="100%" id="example1" class="table  table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th width="32%">&nbsp;</th>
                                                                <th width="24%">From</th>
                                                                <th width="25%">To</th>
                                                                <th width="22%">%</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="detailBody"></tbody>
                                                        @*<tr>
                                                                <td><strong>Bonus Slab 1</strong></td>
                                                                <td><input name="" type="text" class="input-control" readonly="readonly">   </td>
                                                                <td><input name="input" type="text" class="input-control" readonly="readonly"></td>
                                                                <td><input name="input8" type="text" class="input-control" readonly="readonly"></td>
                                                            </tr>*@
                                                        @*<tr>
                                                                <td><strong>Bonus Slab 2</strong></td>
                                                                <td><input name="input2" type="text" class="input-control"></td>
                                                                <td><input name="input3" type="text" class="input-control"></td>
                                                                <td><input name="input9" type="text" class="input-control"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Bonus Slab 3</strong></td>
                                                                <td><input name="input4" type="text" class="input-control"></td>
                                                                <td><input name="input5" type="text" class="input-control"></td>
                                                                <td><input name="input10" type="text" class="input-control"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Bonus Slab 4</strong></td>
                                                                <td><input name="input6" type="text" class="input-control"></td>
                                                                <td><input name="input7" type="text" class="input-control"></td>
                                                                <td><input name="input11" type="text" class="input-control"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Bonus Slab 5</strong></td>
                                                                <td><input name="" type="text" class="input-control"> </td>
                                                                <td><input name="input" type="text" class="input-control"></td>
                                                                <td><input name="input8" type="text" class="input-control"></td>
                                                            </tr>*@
                                                    </table>

                                                    <button class="btn btn-primary btn-xs" type="submit">Edit</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        getallmarket();
        $("#editdiv").hide();
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetSignalProviderBonusRates", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].SignalProviderBonusRatesID + '</td>';
                        htmlStr += '<td>' + str[i].MarketName + '</td>';
                        htmlStr += '<td>' + str[i].SlabName + '</td>';
                        htmlStr += '<td>' + str[i].FromPipsPercentRate + '</td>';
                        htmlStr += '<td>' + str[i].ToPipsPercentRate + '</td>';
                        htmlStr += '<td>' + str[i].BonusRate + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                        //htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].SuccessStatusID + '' + ',' + '' + str[i].SuccessStatus + '' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].SignalProviderBonusRatesID + '' + ',' + '\'' + str[i].MarketName + '\'' + ',' + '\'' + str[i].SlabName + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><a href="#" onclick="Details(' + str[i].SignalProviderBonusRatesID + ')"><i class="fa fa-eye" aria-hidden="true" title="View"></i></a></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeleteBunusSlab(' + str[i].SignalProviderBonusRatesID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#BonusRatesData").html(htmlStr)
                }
            });
        }

        function getallmarket() {
            $.ajax({
                url: '@Url.Action("Getmarkets", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.stringify(data);
                    //alert(str);
                    $scope.getMarkets = data;
                    $scope.$apply();
                    $scope.getMarketForDetails = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });
        }

        $scope.SubmitBounusrate = function () {
            var bonusSlabArray = new Array();
            var markID = $scope.MarketID;
            if (markID === undefined || markID === null) {

                $("#lblMarket").text("Please select Market Id !");
                //alert("Please select Market Id !");
            }
            else {

                var name = $("#col1").val();
                var from = $("#col2").val();
                var to = $("#col3").val();
                var perc = $("#col4").val();
                var result = { 'MarketID': markID, 'SlabName': name, 'From': from, 'To': to, 'Percent': perc };
                var res = JSON.stringify(result);
                $.ajax({
                    url: '@Url.Action("AddBonusrate", "Admin")',
                    type: "POST",
                    Response: ContentType = 'application/json',
                    data: { result: res },
                    success: function (data) {
                        if (data == "1") {
                            $("#lblMarket").text("");
                            location.reload();
                        }
                        else {
                            alert("Something wrong!");
                        }
                    }
                });
            }
        }

    });
    function Details(bonusRateId) {

        $.ajax({
            url: '@Url.Action("GetSlabRateDetails", "Admin")',
            type: "POST",
            Response: ContentType = 'application/json',
            data: { BonusRatesID: bonusRateId },
            success: function (data) {
                var dt = JSON.parse(data);
                var html = "";
                html += '<tr><td><strong>Bonus Slab 1</strong></td>';
                html += '<td><input name="" type="text" class="input-control" readonly="readonly"></td>';
                html += '<td><input name="input" type="text" class="input-control" readonly="readonly"></td>';
                html += '<td><input name="input8" type="text" class="input-control" readonly="readonly"></td></tr>'
                $("detailBody").html(html);
            }
        });
    }
    function DeleteBunusSlab(bonusRateId) {
        $.ajax({
            url: '@Url.Action("DeleteBonusrate", "Admin")',
            type: "POST",
            Response: ContentType = 'application/json',
            data: { BonusRatesID: bonusRateId },
            success: function (data) {
                if (data == "1") {
                    location.reload();
                }
                else {
                    alert("Not deleted!");
                }
            }
        });
    }
</script>

