﻿
@{
    ViewBag.Title = "AddCountry";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title yellowtitle">
                        <h5>Country</h5>
                        <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                    </div>
                    <div class="ibox collapsed">
                        <div class="ibox-title whitetitle">
                            <div class="col-md-7 pad0">
                                <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-md-4  pad0">

                                <div class="form-group">
                                    <input type="text" class="input-control" placeholder="Enter Country" ng-model="txtcountry">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="input-control" placeholder="Country Code" ng-model="txtcode">
                                </div>
                                <div class="form-group">
                                    <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control" ng-options="o.StatusID as o.Status for o in getStatus"></select>
                                </div>
                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitCountry()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" id="listView">
            <div class="ibox-title greentitle">
                <h5>List View</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="search-d">
                        <div class="input-group">
                            <input type="text" class="searchi">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-xs" type="button">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-7 pad0">
                            <div class="table-responsive">
                                <table id="example4" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="44">ID.</th>
                                            <th width="95">Country</th>
                                            <th width="100">Country Code</th>
                                            <th width="100">Status</th>
                                            <th width="29">&nbsp;</th>
                                            @*<th width="28">&nbsp;</th>*@

                                        </tr>
                                    </thead>
                                    <tbody id="Getallcountry"></tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox" id="editdetails">
            <div class="ibox-title greentitle">
                <h5>Edit Country</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 pad0">
                            <h5>Country ID: <span class="text-navy" id="txteditCountryid"> </span> </h5>
                            <div class="col-md-4  pad0">

                                <div class="form-group">
                                    <input type="text" class="input-control" placeholder="Enter Country" id="txteditCountryname" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="input-control" placeholder="Country Code" id="txteditCountryCode" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select id="Mystatus" ng-model="StatusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                            ng-options="o.StatusID as o.Status for o in getStatus">
                                        <option value=""> Select Status</option>
                                    </select>
                                </div>
                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        getStatusData();
        $("#editdetails").hide();
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetCountry", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                     var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].CountryID + '</td>';
                        htmlStr += '<td>' + str[i].Country + '</td>';
                        htmlStr += '<td>' + str[i].CountryCode + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].CountryID + '' + ',' + '\'' + str[i].Country + '\'' + ',' + '\'' + str[i].CountryCode + '\'' + ',' + '\'' + str[i].StatusID + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        // htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeletetProcessStates(' + str[i].CountryID + ')"> <i class="fa fa-remove"></i>&nbsp;Inactive</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#Getallcountry").html(htmlStr)
                }
            });
        }
        $scope.SubmitCountry = function () {
            var countryName = $scope.txtcountry;
            var countrycode = $scope.txtcode;
            var statusId = 1;
               $.ajax({
                url: '@Url.Action("AddCountry", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { Name: countryName, code: countrycode, statusID: statusId },
                success: function () {
                    //alert("Insert  data successfully");
                    location.reload();
                }
            });
        }

        $scope.SubmitEdit = function () {
            $("#editdetails").show();
            var id = $('#txteditCountryid').html();
            //var code = $('#txteditCountryCode').val();
            //var country = $("#txteditCountryname").val();
           // var statusId = $scope.statusID;
            var selectElem = document.getElementById('Mystatus')
            var statusId = parseInt(selectElem.selectedIndex) - 1;
            $.ajax({
                url: '@Url.Action("Inactivecountry", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { countryid: id, statusID: statusId },
                success: function (data) {
                    location.reload();
                }
            });
        }





    });
    function Edit(CountryID, Country, CountryCode, StatusID) {
        $("#editdetails").show();
        $("#detaildiv").hide();
        $("#listView").find('div.ibox-content').slideUp();
        $("#txteditCountryid").html(CountryID);
        $("#txteditCountryname").val(Country);
        $("#txteditCountryCode").val(CountryCode);
        document.getElementById("Mystatus").selectedIndex = (parseInt(StatusID) + 1);
      //  $("#StatusID").val(Status);
       // $("#txteditCountryid").val(statusID);
        // $('#txtRiskname').val(Riskname);
        // $('#relDate').html(entryDate);
    }
    function inactivecountry(id) {
        var x = confirm("Are you sure you want to inactive?");
        var statusId = 0;//when bind dropdown that time pass id of status
        if (x) {
            $.ajax({
                url: '@Url.Action("Inactivecountry", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { countryid: id, statusID: statusId },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }



</script>
