﻿
@{
    ViewBag.Title = "AddCity";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>City</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select id="state" ng-model="stateId" ng-change="selectedItemChanged(stateId)" placeholder="State" class="input-control m-b"
                                                ng-options="st.StateID as st.StateName for st in States">
                                            <option value=""> Select State </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Enter City" ng-model="txtCity">
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitCity()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="listView">
                <div class="ibox-title greentitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-8 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="44">ID.</th>
                                                <th width="95"> City</th>
                                                <th width="91"> State</th>
                                                <th width="93"> Country</th>
                                                <th width="250">TimeZone</th>
                                                <th width="29">&nbsp;</th>
                                                @*<th width="80"> Status</th>
                                                        <th width="304">Created</th>
                                                    <th width="28">&nbsp;</th>
                                                        <th width="86">&nbsp;</th>*@
                                            </tr>
                                        </thead>
                                        <tbody id="GetCitys"> </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox" id="editdetails">
                <div class="ibox-title greentitle">
                    <h5>Edit City</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5>City ID: <span class="text-navy" id="EditCityID"> </span></h5>
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <label>State</label>
                                        <select id="stateId" ng-model="stateId" ng-change="selectedItemChanged(stateId)" placeholder="State" class="input-control m-b"
                                                ng-options="st.StateID as st.StateName for st in States">
                                            <option value=""> Select State </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="input-control" placeholder="Enter City" id="EditCityName">
                                    </div>
                                    @*<div class="form-group">
                                            <label> Status</label>
                                            <select class="input-control" placeholder="City">
                                                <option>Active</option>
                                                <option>Inactive</option>
                                            </select>
                                        </div>*@
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="ibox">
                    <div class="ibox-title yellowtitle">
                        <h5 id="details">Details</h5>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 pad0">
                                    <div class="table-responsive">
                                        <table width="100%" class="table">
                                            <tr>
                                                <td>
                                                    <label>
                                                        <div align="left">City ID:</div>
                                                    </label>
                                                </td>
                                                <td><div align="left">01</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <div align="left">Country:</div>
                                                    </label>
                                                </td>
                                                <td><div align="left">India</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <div align="left">Satate:</div>
                                                    </label>
                                                </td>
                                                <td><div align="left">Maharastra</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <div align="left">City:</div>
                                                    </label>
                                                </td>
                                                <td><div align="left">Latur</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <div align="left">Status:</div>
                                                    </label>
                                                </td>
                                                <td><div align="left">Active</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <div align="left">Created Date:</div>
                                                    </label>
                                                </td>
                                                <td><div align="left">9.30 am, 12-Nov-19 </div></td>
                                            </tr>
                                        </table>
                                        <button class="btn btn-xs btn-primary" type="submit">Edit</button>
                                    </div>

                                    <br>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        States();
        GetData();
        $("#editdetails").hide();
        $("#detaildiv").hide();
        function States() {
            $.ajax({
                url: '@Url.Action("GetStates", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    // alert( data.StateList);
                    $scope.States = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                }
            });
        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetAllCitys", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].CityID + '</td>';
                        htmlStr += '<td>' + str[i].CityName + '</td>';
                        htmlStr += '<td>' + str[i]. StateName + '</td>';
                        htmlStr += '<td>' + str[i].Country + '</td>';
                        htmlStr += '<td>' + str[i].TimeZoneDetails + '</td>';
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].CityID + '' + ',' + '\'' + str[i].CityName + '\'' + ',' + '\'' + str[i].StateName + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        // htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeletetProcessStates(' + str[i].CountryID + ')"> <i class="fa fa-remove"></i>&nbsp;Inactive</button></td>';,' + '\'' + str[i].StateName + '\'' + ',' + '\'' + str[i].Country + '\'' + ',' + '\'' + str[i].TimeZoneDetails + '\'' + '
                        htmlStr += '</tr>';
                    }
                    $("#GetCitys").html(htmlStr)
                }
            });
        }

        $scope.SubmitCity = function () {

            var Sid = $scope.stateId;
            var txtcName = $scope.txtCity;
            $.ajax({
                url: '@Url.Action("AddCity", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { CityName: txtcName, StateName: Sid },
                success: function () {
                    //alert("Insert  data successfully");
                    location.reload();
                }
            });
        }
        $scope.SubmitEdit= function () {
            var Cid=$("#EditCityID").html();
            var Sid = $scope.stateId;
            var txtcName = $("#EditCityName").val();
            $.ajax({
                url: '@Url.Action("EditCity", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { CityID: Cid, CityName: txtcName, StateName: Sid },
                success: function () {
                   // alert("Insert  data successfully");
                    location.reload();
                }
            });
        }

    });
    function Edit(CityID, CityName, StateName) {
        $("#editdetails").show();
        // $("#addView").find('.ibox-tools a.collapse-link i').toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
        // $("#detailView").find('div.ibox-content').slideUp();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditCityID").html(CityID);
        $("#EditCityName").val(CityName);
       // $('#stateId').html(StateName);
        document.getSelection('stateId')[0].value = StateName;
        //  $("#TimeZoneID").val(TimeZoneDetails);

        // $('#relDate').html(entryDate);
    }
</script>
