﻿
@{
    ViewBag.Title = "AddEmpanalmentCriteria";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Empanalment Criteria</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select id="PipsOrPercentID" ng-model="PipsOrPercentID" ng-change="selectedItemChanged(pipID)" class="input-control"
                                                ng-options="p.PipsOrPercentID as p.PipsOrPercentName for p in getpippercent">
                                            <option value=""> Select PIP/percent</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control"  style="width: 92.5%;" id="txtFromDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control"  style="width: 92.5%;" id="txtToDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Critarea Days" ng-model="txtDays">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Minimum Success Rate" ng-model="txtMinSuccessRate">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Minimum Total Graned pips" ng-model="txtTotalGrandpip">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Minimum Avg. Graned Rate" ng-model="txtAvgPip">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Minimum Success Ratio" ng-model="txtRatio">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Gain lost Pips Retio" ng-model="txtLostRatio">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Minimum Total Signal Count" ng-model="txtTotalsignalCount">
                                    </div>
                                    <div class="form-group">
                                        <select id="statusID" ng-model="StatusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="submitEmpanelledCriteria()">Submit</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox"  id="listView">
                <div class="ibox-title greentitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="44">ID</th>
                                                <th width="50">Pips</th>
                                                <th width="200">From</th>
                                                <th width="200">To</th>
                                                <th width="50">Days</th>
                                                <th width="50">Rate</th>
                                                <th width="50">Total</th>
                                                <th width="50">Avg</th>
                                                <th width="50">Ratio</th>
                                                <th width="50">Count</th>
                                                <th width="50">Status</th>
                                                <th width="304">Created</th>
                                                <th width="29">&nbsp;</th>
                                                <th width="28">&nbsp;</th>
                                                <th width="86">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="GetaECdata">
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="editdetails">
                <div class="ibox-title greentitle">
                    <h5>Edit Empanalment Criteria</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5>Empanalment Criteria ID: <span class="text-navy" id="EditId"> </span> Created Date: <span class="text-navy" id="EditEntryDate"></span></h5>
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <label>Criteria</label>
                                        <select id="PipsOrPercentID" ng-model="PipsOrPercentID" ng-change="selectedItemChanged(pipID)" class="input-control"
                                                ng-options="p.PipsOrPercentID as p.PipsOrPercentName for p in getpippercent">
                                            <option value=""> Select PIP/percent</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <label>Form Date</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="1-Jan-2020" style="width: 92.5%;" id="EditFormDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <label>To Date</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="31-Jan-2020" style="width: 92.5%;" id="EditTodate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Critarea Days</label>
                                        <input type="text" class="input-control" placeholder="Critarea Days" id="EditDays">
                                    </div>
                                    <div class="form-group">
                                        <label>Minimum Success Rate</label>
                                        <input type="text" class="input-control" placeholder="Minimum Success Rate"  id="EditSuccessRate">
                                    </div>
                                    <div class="form-group">
                                        <label>Minimum Total Graned pips</label>
                                        <input type="text" class="input-control" placeholder="Minimum Total Graned pips" id="EditGranedPips" >
                                    </div>
                                    <div class="form-group">
                                        <label>Minimum Avg. Graned Rate</label>
                                        <input type="text" class="input-control" placeholder="Minimum Avg. Graned Rate"  id="EditAvgRate">
                                    </div>
                                    @*<div class="form-group">
                                        <label>Minimum Success Rate</label>
                                        <input type="text" class="input-control" placeholder="Minimum Success Rate"  id="Edit">
                                    </div>*@
                                    <div class="form-group">
                                        <label>Gain loss Pips Retio</label>
                                        <input type="text" class="input-control" placeholder="Gain loss Pips Retio" id="EditRetio">
                                    </div>
                                    <div class="form-group">
                                        <label>Minimum Total Signal Count</label>
                                        <input type="text" class="input-control" placeholder="Minimum Total Signal Count" id="EditSignalCount">
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select id="statusID" ng-model="StatusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="submitEdit()">Submit</button>

                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="detaildiv">
                <div class="ibox-title yellowtitle">
                    <h5 id="details">Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pad0">
                                <div class="table-responsive">
                                    <table width="100%" class="table">
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Empanlled ID:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsId"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Pips OR Percent :</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsPipsOrPercent"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">From Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsFromDate"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">To Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsToDate"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left"> Days:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsDays"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Minimum Success Rate:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsSucessRate"> </div></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Minimum Total Graned pips:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsGrandPips"> </div></td>
                                        </tr>


                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Minimum Avg. Graned pips:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsAvgPips"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Gain Lost pips Ratio:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsLostPips"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Minimum Total Signal Count:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsSignalCount"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsStatus"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Created Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsEntryDate"> </div></td>
                                        </tr>
                                    </table>
                                    @*<button class="btn btn-xs btn-primary" type="submit">Edit</button>*@
                                </div>

                                <br>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        getpippercent();
        getStatusData();
        GetData();
        $("#editdetails").hide();
        $("#detaildiv").hide();
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetEmpanelmentCriteria", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].SignalProviderEmpanelledCriteriaID + '</td>';
                        htmlStr += '<td>' + str[i].PipsOrPercentName + '</td>';
                        htmlStr += '<td>' + str[i].FromDate + '</td>';
                        htmlStr += '<td>' + str[i].ToDate + '</td>';
                        htmlStr += '<td>' + str[i].CriteriaDays + '</td>';
                        htmlStr += '<td>' + str[i].MinSuccessRate + '</td>'; 
                        htmlStr += '<td>' + str[i].MINTotalGainedPips + '</td>';
                        htmlStr += '<td>' + str[i].MinAverageGainedPips + '</td>';
                        htmlStr += '<td>' + str[i].GainedLostPipsRatio + '</td>';
                        htmlStr += '<td>' + str[i].MINTotalSignalCount + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].SignalProviderEmpanelledCriteriaID + '' + ',' + '\'' + str[i].PipsOrPercentName + '\'' + ',' + '\'' + str[i].FromDate + '\'' + ',' + '\'' + str[i].ToDate + '\'' + ',' + '\'' + str[i].CriteriaDays + '\'' + ',' + '\'' + str[i].MinSuccessRate + '\'' + ',' + '\'' + str[i].MINTotalGainedPips + '\'' + ',' + '\'' + str[i].MinAverageGainedPips + '\'' + ',' + '\'' + str[i].GainedLostPipsRatio + '\'' + ',' + '\'' + str[i].MINTotalSignalCount + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="View(' + '' + str[i].SignalProviderEmpanelledCriteriaID + '' + ',' + '\'' + str[i].PipsOrPercentName + '\'' + ',' + '\'' + str[i].FromDate + '\'' + ',' + '\'' + str[i].ToDate + '\'' + ',' + '\'' + str[i].CriteriaDays + '\'' + ',' + '\'' + str[i].MinSuccessRate + '\'' + ',' + '\'' + str[i].MINTotalGainedPips + '\'' + ',' + '\'' + str[i].MinAverageGainedPips + '\'' + ',' + '\'' + str[i].GainedLostPipsRatio + '\'' + ',' + '\'' + str[i].MINTotalSignalCount + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="Delete(' + str[i].SignalProviderEmpanelledCriteriaID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetaECdata").html(htmlStr)
                }
            });

        }
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function getpippercent() {
            $.ajax({
                url: '@Url.Action("Getpercentlist", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    //  var str = JSON.stringify(data);
                    // alert(str);
                    $scope.getpippercent = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });
        }

        $scope.submitEmpanelledCriteria = function () {
            //debugger;
            var PipsOrPercentID = $scope.PipsOrPercentID;
            var FromDate = $("#txtFromDate").val();
            var ToDate = $("#txtToDate").val();
            //var FromDate = $scope.txtFromDate;
            //var ToDate = $scope.txtToDate;
            var CriteriaDays = $scope.txtDays;
            var MinSuccessRate = $scope.txtMinSuccessRate;
            var MINTotalGainedPips = $scope.txtTotalGrandpip;
            var MinAverageGainedPips = $scope.txtAvgPip;
            var GainedLostPipsRatio = $scope.txtLostRatio;
            var MINTotalSignalCount = $scope.txtTotalsignalCount;
            var StatusID = $scope.StatusID;
            var EmpanelledCrieteriaRes = {
                'PipsOrPercentID': PipsOrPercentID, 'FromDate': FromDate, 'ToDate': ToDate,
                'CriteriaDays': CriteriaDays, 'MinSuccessRate': MinSuccessRate, 'MINTotalGainedPips': MINTotalGainedPips,
                'MinAverageGainedPips': MinAverageGainedPips, 'GainedLostPipsRatio': GainedLostPipsRatio, 'MINTotalSignalCount': MINTotalSignalCount,
                'StatusID': StatusID
            };
            var res = JSON.stringify(EmpanelledCrieteriaRes);
            //alert(res);
            $.ajax({
                url: '@Url.Action("AddEmpanelmentCriteria", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                   // alert(textStatus);
                }

            });
        }
        $scope.submitEdit = function () {
            //debugger;
            var SignalProviderEmpanelledCriteriaID = $("#EditId").html();
            var PipsOrPercentID = $scope.PipsOrPercentID;
            var FromDate = $("#EditFormDate").val();
            var ToDate = $("#EditTodate").val();
            //var FromDate = $scope.txtFromDate;
            //var ToDate = $scope.txtToDate;
            var CriteriaDays = $("#EditDays").val();
            var MinSuccessRate = $("#EditSuccessRate").val();
            var MINTotalGainedPips = $("#EditGranedPips").val();
            var MinAverageGainedPips = $("#EditAvgRate").val();
            var GainedLostPipsRatio = $("#EditRetio").val();
            var MINTotalSignalCount = $("#EditSignalCount").val();
            var StatusID = $scope.StatusID;
            var EmpanelledCrieteriaRes = {
                'PipsOrPercentID': PipsOrPercentID, 'FromDate': FromDate, 'ToDate': ToDate,
                'CriteriaDays': CriteriaDays, 'MinSuccessRate': MinSuccessRate, 'MINTotalGainedPips': MINTotalGainedPips,
                'MinAverageGainedPips': MinAverageGainedPips, 'GainedLostPipsRatio': GainedLostPipsRatio, 'MINTotalSignalCount': MINTotalSignalCount,
                'StatusID': StatusID, 'SignalProviderEmpanelledCriteriaID': SignalProviderEmpanelledCriteriaID
            };
            var res = JSON.stringify(EmpanelledCrieteriaRes);
            //alert(res);
            $.ajax({
                url: '@Url.Action("EditEmpanelmentCriteria", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert(textStatus);
                }

            });
        }

    });
    function Edit(SignalProviderEmpanelledCriteriaID, PipsOrPercentName, FromDate, ToDate, CriteriaDays, MinSuccessRate, MINTotalGainedPips, MinAverageGainedPips, GainedLostPipsRatio, MINTotalSignalCount, Status, EntryDate) {
        $("#editdetails").show();
        $("#detaildiv").hide();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditId").html(SignalProviderEmpanelledCriteriaID);
        $('#EditEntryDate').html(EntryDate);
        $("#PipsOrPercentID").val(PipsOrPercentName);
        $("#EditFormDate").val(FromDate);
        $("#EditTodate").val(ToDate);
        $("#EditDays").val(CriteriaDays);
        $("#EditSuccessRate").val(MinSuccessRate);
        $("#EditGranedPips").val(MINTotalGainedPips);
        $("#EditAvgRate").val(MinAverageGainedPips);
        $("#EditRetio").val(GainedLostPipsRatio);
        $("#EditSignalCount").val(MINTotalSignalCount);
        $("#statusID").val(Status);

    }
    function View(SignalProviderEmpanelledCriteriaID, PipsOrPercentName, FromDate, ToDate, CriteriaDays, MinSuccessRate, MINTotalGainedPips, MinAverageGainedPips, GainedLostPipsRatio, MINTotalSignalCount, Status, EntryDate) {
        $("#editdetails").hide();
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#DetailsId").html(SignalProviderEmpanelledCriteriaID);
        $("#DetailsPipsOrPercent").html(PipsOrPercentName);
        $('#DetailsFromDate').html(FromDate);
        $("#DetailsToDate").html(ToDate);
        $("#DetailsDays").html(CriteriaDays);
        $("#DetailsSucessRate").html(MinSuccessRate);
        $("#DetailsGrandPips").html(MINTotalGainedPips);
        $("#DetailsAvgPips").html(MinAverageGainedPips);
        $("#DetailsLostPips").html(GainedLostPipsRatio);
        $("#DetailsSignalCount").html(MINTotalSignalCount);
        $("#DetailsStatus").html(Status);
        $("#DetailsEntryDate").html(EntryDate);
    }
    function Delete(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            $.ajax({
                url: '@Url.Action("DeleteEmpanelmentCriteria", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { SignalProviderEmpanelledCriteriaID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }
</script>
