﻿
@{
    ViewBag.Title = "AddInstrumentCriteria";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Instrument Criteria</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select id="MarketID" ng-model="MarketID" ng-change="selectedItemChanged(MarketID)" class="input-control"
                                                ng-options="o.MarketID as o.MarketName for o in getMarkets">
                                            <option value=""> select Market</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="input-control" ng-model="txtSuccessRate" placeholder="Minimum Success Rate">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" ng-model="txtGainPips" placeholder="Minimum Total Graned pips">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" ng-model="txtGainnedRates" placeholder="Minimum Avg. Graned Rate">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" ng-model="txtPipsRatio" placeholder="Gain loss Pips Retio">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" ng-model="txtSignalCount" placeholder="Minimum Total Signal Count">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" ng-model="txtPremiumRate" placeholder="PremiumSuccessRate" value="0.900">
                                    </div>
                                    <div class="form-group">
                                        <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value=""> select Status </option>

                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="submitInstrumentCriteria()">Submit</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="listView">
                <div class="ibox-title greentitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="44">ID</th>
                                                <th width="172">Market</th>
                                                <th width="50">Sucess</th>
                                                <th width="50">Pips</th>
                                                <th width="50">Avg.Pips</th>
                                                <th width="50">Gain</th>
                                                <th width="50">Count</th>
                                                <th width="50">PRate</th>
                                                <th width="50">Status</th>
                                                <th width="304">Created</th>
                                                <th width="29">&nbsp;</th>
                                                <th width="28">&nbsp;</th>
                                                <th width="86">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="AllInstrumentCriteria"></tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="editdiv">
                <div class="ibox-title greentitle">
                    <h5>Edit Instrument Criteria</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5>Instrument Criteria ID: <span class="text-navy" id="EditID"> </span>, Created Date: <span class="text-navy" id="EditEntryDate"></span></h5>
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <label>Market</label>
                                        <select id="MarketID" ng-model="MarketID" ng-change="selectedItemChanged(MarketID)" class="input-control"
                                                ng-options="o.MarketID as o.MarketName for o in getMarkets">
                                            <option value=""> select Market</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Minimum Success Rate</label>
                                        <input type="text" class="input-control" placeholder="Minimum Success Rate" id="EditMinSuccessRate">
                                    </div>
                                    <div class="form-group">
                                        <label>Minimum Total Graned pips</label>
                                        <input type="text" class="input-control" placeholder="Minimum Total Graned pips" id="EditMinTotalGainedPips">
                                    </div>
                                    <div class="form-group">
                                        <label>Minimum Avg. Graned Rate</label>
                                        <input type="text" class="input-control" placeholder="Minimum Avg. Graned Rate" id="EditMinAverageGainedPips">
                                    </div>
                                    <div class="form-group">
                                        <label>Minimum Success Rate</label>
                                        <input type="text" class="input-control" placeholder="Minimum Success Rate" id="EditPremiumSuccessRate">
                                    </div>
                                    <div class="form-group">
                                        <label>Gain loss Pips Retio</label>
                                        <input type="text" class="input-control" placeholder="Gain loss Pips Retio" id="EditGainedLostPipsRatio">
                                    </div>
                                    <div class="form-group">
                                        <label>Minimum Total Signal Count</label>
                                        <input type="text" class="input-control" placeholder="Minimum Total Signal Count" id="EditMinTotalSignalCount">
                                    </div>
                                    <div class="form-group">
                                        <label> Status</label>
                                        <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value=""> select Status </option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="detaildiv">
                <div class="ibox-title yellowtitle">
                    <h5 id="details">Instrument Criteria Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 pad0">
                                <div class="table-responsive">
                                    <table width="100%" class="table">
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Instrument Criteria ID:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsId"> </div></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Market:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetaileMarket"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Minimum Success Rate:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsSuccessRate"> </div></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Minimum Total Graned pips:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsMinTotal"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Minimum Avg. Graned pips:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsGainedPips"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Gain Lost pips Ratio:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsLostPips"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Minimum Total Signal Count:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsSignalCount"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsStatus"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Created Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsEntryDate"> </div></td>
                                        </tr>
                                    </table>
                                    @*<button class="btn btn-xs btn-primary" type="submit">Edit</button>*@
                                </div>

                                <br>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        getallmarket();
        GetData();
        getStatusData();
        $("#editdiv").hide();
        $("#detaildiv").hide();
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function getallmarket() {
            $.ajax({
                url: '@Url.Action("Getmarkets", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.stringify(data);
                    //alert(str);
                    $scope.getMarkets = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                   // alert(textStatus);
                }

            });
        }
        function GetData() {
            //alert("start");
                   $.ajax({
                url: '@Url.Action("GetInstrumentCriteria", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].SignalProviderInstrumentDisplayCriteriaID + '</td>';
                        htmlStr += '<td>' + str[i].MarketName + '</td>';
                        htmlStr += '<td>' + str[i].MinSuccessRate + '</td>';
                        htmlStr += '<td>' + str[i].MINTotalGainedPips + '</td>';
                        htmlStr += '<td>' + str[i].MinAverageGainedPips + '</td>';
                        htmlStr += '<td>' + str[i].GainedLostPipsRatio + '</td>';
                        htmlStr += '<td>' + str[i].MINTotalSignalCount + '</td>';
                        htmlStr += '<td>' + str[i].PremiumSuccessRate + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].SignalProviderInstrumentDisplayCriteriaID + '' + ',' + '\'' + str[i].MarketName + '\'' + ',' + '\'' + str[i].MinSuccessRate + '\'' + ',' + '\'' + str[i].MINTotalGainedPips + '\'' + ',' + '\'' + str[i].MinAverageGainedPips + '\'' + ',' + '\'' + str[i].GainedLostPipsRatio + '\'' + ',' + '\'' + str[i].MINTotalSignalCount + '\'' + ',' + '\'' + str[i].PremiumSuccessRate + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="View(' + '' + str[i].SignalProviderInstrumentDisplayCriteriaID + '' + ',' + '\'' + str[i].MarketName + '\'' + ',' + '\'' + str[i].MinSuccessRate + '\'' + ',' + '\'' + str[i].MINTotalGainedPips + '\'' + ',' + '\'' + str[i].MinAverageGainedPips + '\'' + ',' + '\'' + str[i].GainedLostPipsRatio + '\'' + ',' + '\'' + str[i].MINTotalSignalCount + '\'' + ',' + '\'' + str[i].PremiumSuccessRate + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="Delete(' + str[i].SignalProviderInstrumentDisplayCriteriaID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#AllInstrumentCriteria").html(htmlStr)
                }
            });
        }
        $scope.submitInstrumentCriteria = function()
        {
            //debugger;
            var successRate = $scope.txtSuccessRate;
            var gainnedPips = $scope.txtGainPips;
            var gainnedRates = $scope.txtGainnedRates;
            var pipsRatio = $scope.txtPipsRatio;
            var signalCount = $scope.txtSignalCount;
            var premiumrates = $scope.txtPremiumRate;
            var marketId = $scope.MarketID;
            var stausVal = $scope.StatusID;
            var instrumentCrieteriaRes = {
                'successRate': successRate, 'gainnedPips': gainnedPips, 'gainnedRates': gainnedRates,
                'pipsRatio': pipsRatio, 'signalCount': signalCount, 'premiumrates': premiumrates,
                'marketId': marketId, 'stausVal': stausVal
            };
            var res = JSON.stringify(instrumentCrieteriaRes);
            //alert(res);
            $.ajax({
                url: '@Url.Action("AddInstrumentCriteria", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });
        }
        $scope.SubmitEdit = function () {
            //debugger;
            var SPId = $("#EditID").html();
            var successRate = $('#EditMinSuccessRate').val();
            var gainnedPips = $('#EditMinTotalGainedPips').val();
            var gainnedRates = $('#EditMinAverageGainedPips').val();
            var pipsRatio = $('#EditGainedLostPipsRatio').val();
            var signalCount = $('#EditMinTotalSignalCount').val();
            var premiumrates = $('#EditPremiumSuccessRate').val();
            var marketId = $scope.MarketID;
            var stausVal = $scope.StatusID;
            var instrumentCrieteriaRes = {
                'SPId': SPId,
                'successRate': successRate, 'gainnedPips': gainnedPips, 'gainnedRates': gainnedRates,
                'pipsRatio': pipsRatio, 'signalCount': signalCount, 'premiumrates': premiumrates,
                'marketId': marketId, 'stausVal': stausVal
            };
            var res = JSON.stringify(instrumentCrieteriaRes);
            //alert(res);
            $.ajax({
                url: '@Url.Action("EditInstrumentCriteria", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });
        }
    });
    function Edit(SignalProviderInstrumentDisplayCriteriaID,MarketID,MinSuccessRate,MinTotalGainedPips,MinAverageGainedPips,GainedLostPipsRatio,MinTotalSignalCount,PremiumSuccessRate, StatusID, EntryDate) {
        $("#editdiv").show();
        $("#detaildiv").hide();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditID").html(SignalProviderInstrumentDisplayCriteriaID);
        $("#EditEntryDate").html(EntryDate);
        $('#EditMarket').val(MarketID);
        $('#EditMinSuccessRate').val(MinSuccessRate);
        $('#EditMinTotalGainedPips').val(MinTotalGainedPips);
        $('#EditMinAverageGainedPips').val(MinAverageGainedPips);
        $('#EditGainedLostPipsRatio').val(GainedLostPipsRatio);
        $('#EditMinTotalSignalCount').val(MinTotalSignalCount);
        $('#EditPremiumSuccessRate').val(PremiumSuccessRate);
        $("#statusID").val(StatusID);
    }
    function View(SignalProviderInstrumentDisplayCriteriaID, MarketID, MinSuccessRate, MinTotalGainedPips, MinAverageGainedPips, GainedLostPipsRatio, MinTotalSignalCount, PremiumSuccessRate, StatusID, EntryDate) {
        $("#editdiv").hide();
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#DetailsId").html(SignalProviderInstrumentDisplayCriteriaID);
        $("#DetaileMarket").html(MarketID);
        $("#DetailsSuccessRate").html(MinSuccessRate);
        $("#DetailsMinTotal").html(MinTotalGainedPips);
        $("#DetailsGainedPips").html(MinAverageGainedPips);
        $("#DetailsLostPips").html(GainedLostPipsRatio);
        $("#DetailsSignalCount").html(MinTotalSignalCount);
        $("#DetailsPremimumRate").html(PremiumSuccessRate);
        $("#DetailsStatus").html(StatusID);
        $("#DetailsEntryDate").html(EntryDate);
    }
    function Delete(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            $.ajax({
                url: '@Url.Action("DeleteInstrumentCriteria", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { SignalProviderInstrumentDisplayCriteriaID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }

</script>