﻿
@{
    ViewBag.Title = "AddInstrument";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Script</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select id="MarketID" ng-model="MarketID" ng-change="selectedItemChanged(MarketID)" class="input-control"
                                                ng-options="o.MarketID as o.MarketName for o in getMarkets">
                                            <option value=""> Select Market</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Enter Script Name" ng-model="scriptname">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="multiplying factor" ng-model="multifactor">
                                    </div>
                                    <div class="form-group">
                                        <select id="pipID" ng-model="pipID" ng-change="selectedItemChanged(pipID)" class="input-control"
                                                ng-options="p.PipsOrPercentID as p.PipsOrPercentName for p in getpippercent">
                                            <option value=""> Select PIP/percent</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option>Select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitInstrument()">Submit</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="listView">
                <div class="ibox-title greentitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="44">ID</th>
                                                <th width="95">Market</th>
                                                <th width="91">InstrumentsName</th>
                                                <th width="100">Multiplier</th>
                                                <th width="72">DecimalCount</th>
                                                <th width="95">Pips</th>
                                                <th width="113">Status</th>
                                                <th width="304">Created</th>
                                                <th width="29">&nbsp;</th>
                                                <th width="28">&nbsp;</th>
                                                <th width="86">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="GetallInstrumentsdata">      </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="editdetails">
                <div class="ibox-title greentitle">
                    <h5>Edit Script</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5>Script ID: <span class="text-navy" id="EditId"> </span>, created Date: <span class="text-navy" id="EditEntryDate"> </span></h5>
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <label>Market</label>
                                        <select id="MyMarketID" ng-model="MarketID" ng-change="selectedItemChanged(MarketID)" class="input-control"
                                                ng-options="o.MarketID as o.MarketName for o in getMarkets">
                                            <option value=""> Select Market</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Script Name</label>
                                        <input type="text" class="input-control" placeholder="Enter Script Name" id="EditScriptName">
                                    </div>
                                    <div class="form-group">
                                        <label>multiplier</label>
                                        <input type="text" class="input-control" placeholder="multiplying factor" id="EditMultiF">
                                    </div>
                                    <div class="form-group">
                                        <label>>% or PIPs</label>
                                        <select id="MypipsOrPercentId" ng-model="pipID" ng-change="selectedItemChanged(pipID)" class="input-control"
                                                ng-options="p.PipsOrPercentID as p.PipsOrPercentName for p in getpippercent">
                                            <option value=""> Select PIP/percent</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select id="Mystatus" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value=""> Select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="detaildiv">
                <div class="ibox-title yellowtitle">
                    <h5 id="details">Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3 pad0">
                                <div class="table-responsive">
                                    <table width="100%" class="table">
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Script ID:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsId"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Market Name:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetaileMarket"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Script Name:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetaileScript"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Multiplier</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetaileMultiplier"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">% or PIPs</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailePIPS"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetaileStatus"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Created Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsEntryDate"> </div></td>
                                        </tr>
                                    </table>
                                    @*<button class="btn btn-xs btn-primary" type="submit">Edit</button>*@
                                </div>

                                <br>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        getallmarket();
        getpippercent();
        GetallInstruments();
        getStatusData();
        $("#editdetails").hide();
        $("#detaildiv").hide();
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function GetallInstruments() {
            $.ajax({
                url: '@Url.Action("GetallInstruments", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].InstrumentID + '</td>';
                        htmlStr += '<td>' + str[i].MarketName + '</td>';
                        htmlStr += '<td>' + str[i].InstrumentsName + '</td>';
                        htmlStr += '<td>' + str[i].Multiplier + '</td>';
                        htmlStr += '<td>' + str[i].DecimalCount + '</td>';
                        htmlStr += '<td>' + str[i].PipsOrPercentName + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].InstrumentID + '' + ',' + '\'' + str[i].MarketId + '\'' + ',' + '\'' + str[i].InstrumentsName + '\'' + ',' + '\'' + str[i].Multiplier + '\'' + ',' + '\'' + str[i].DecimalCount + '\'' + ',' + '\'' + str[i].pipsOrPercentId + '\'' + ',' + '\'' + str[i].StatusID + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="View(' + '' + str[i].InstrumentID + '' + ',' + '\'' + str[i].MarketName + '\'' + ',' + '\'' + str[i].InstrumentsName + '\'' + ',' + '\'' + str[i].Multiplier + '\'' + ',' + '\'' + str[i].DecimalCount + '\'' + ',' + '\'' + str[i].PipsOrPercentName + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="Delete(' + str[i].InstrumentID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetallInstrumentsdata").html(htmlStr)
                }
            });

        }
        function getallmarket() {
            $.ajax({
                url: '@Url.Action("Getmarkets", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                   // var str = JSON.stringify(data);
                   // alert(str);
                    $scope.getMarkets = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });
        }
        function getpippercent() {
            $.ajax({
                url: '@Url.Action("Getpercentlist", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                  //  var str = JSON.stringify(data);
                   // alert(str);
                    $scope.getpippercent = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });
        }
        $scope.SubmitInstrument = function () {
            var marketid = $scope.MarketID;
            var pippercentid = $scope.pipID;
            var multif = $scope.multifactor;
            var scriptname = $scope.scriptname;
            var statusId = 1;
            $.ajax({
                url: '@Url.Action("AddInstrument", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { MarketID: marketid, PipPercentId: pippercentid, Multiflying: multif, ScriptName: scriptname, statusID: statusId },
                success: function () {
                    //alert("Insert  data successfully");
                    location.reload();
                }
            });
        }

        $scope.SubmitEdit = function () {
            var InstrumentID = $("#EditId").html();
            var selectMarket = document.getElementById('MyMarketID')
            var marketid = parseInt(selectMarket.selectedIndex);
           // var marketid = $scope.MarketID;
           // var pippercentid = $scope.pipID;
            var selectPipPercentId = document.getElementById('MypipsOrPercentId')
            var pippercentid = parseInt(selectPipPercentId.selectedIndex);
           // alert(marketid+ pippercentid);
            var multif = $("#EditMultiF").val();
            var scriptname = $("#EditScriptName").val();
            //var statusId = $scope.StatusID;
            var selectElem = document.getElementById('Mystatus')
            var statusId = parseInt(selectElem.selectedIndex) - 1;
            var InstrumentRes = {
                'InstrumentID': InstrumentID, 'marketid': marketid, 'pippercentid': pippercentid,
                'multif': multif, 'scriptname': scriptname, 'statusId': statusId
            }
            var res = JSON.stringify(InstrumentRes);
            $.ajax({
                url: '@Url.Action("EditInstrument", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function () {
                    //alert("Updated  data successfully");
                    location.reload();
                }
            });
        }
    });

    function Edit(InstrumentID, MarketId, InstrumentsName, Multiplier, DecimalCount, pipsOrPercentId, StatusID, EntryDate) {
        $("#editdetails").show();
        $("#detaildiv").hide();
          $("#listView").find('div.ibox-content').slideUp();
          $("#EditId").html(InstrumentID);
          $("#EditEntryDate").html(EntryDate);
          document.getElementById("MyMarketID").selectedIndex = (parseInt(MarketId));
          $("#EditScriptName").val(InstrumentsName);
          $("#EditMultiF").val(Multiplier);
          document.getElementById("MypipsOrPercentId").selectedIndex = (parseInt(pipsOrPercentId) );
          document.getElementById("Mystatus").selectedIndex = (parseInt(StatusID) + 1);

    }
    function View(InstrumentID, MarketId, InstrumentsName, Multiplier, DecimalCount, pipsOrPercentId, Status, EntryDate)
    {
        $("#editdiv").hide();
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#DetailsId").html(InstrumentID);
        $("#DetaileMarket").html(MarketId);
        $("#DetaileScript").html(InstrumentsName);
        $("#DetaileMultiplier").html(Multiplier);
        $("#DetailePIPS").html(pipsOrPercentId);
        $("#DetaileStatus").html(Status);
        $("#DetailsEntryDate").html(EntryDate);
    }
    function Delete(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            $.ajax({
                url: '@Url.Action("DeleteInstrument", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { InstrumentID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }
</script>

