﻿
@{
    ViewBag.Title = "Addpromocode";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Promo Code Coupon</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Coupon Code" ng-model="txtCode">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Details" ng-model="txtDetails">
                                    </div>
                                    <div class="form-group">
                                        <select id="RoleID" ng-model="RoleID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                                ng-options="o.RoleID as o.RoleName for o in getRole">
                                            <option>Select Role</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Discount Rate" ng-model="txtRate">
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="01-Jan-2020" style="width: 92.5%;" ng-model="txtFromDate" id="txtfromdate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="20-Jan-2020" style="width: 92.5%;" ng-model="txtToDate" id="txttodate">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Status</label>
                                        <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option>Select Status</option>
                                         </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary"  type="submit" ng-click="submitPromoCode()">Submit</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="listView">
                <div class="ibox-title greentitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="30">ID</th>
                                                <th width="50">Code</th>
                                                <th width="120">Details</th>
                                                <th width="50">Role</th>
                                                <th width="50">Discount</th>
                                                <th width="170">From</th>
                                                <th width="170">To</th>
                                                <th width="50">Status</th>
                                                <th width="170">Created</th>
                                                <th width="30">&nbsp;</th>
                                                <th width="30">&nbsp;</th>
                                                <th width="30">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="GetAllPromoCodeLDetails"> </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox" id="editdiv">
                <div class="ibox-title greentitle">
                    <h5> Edit Coupon</h5>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5>Promo Coupon ID: <span class="text-navy" id="EditPromoCouponID"> </span> Created Date: <span class="text-navy" id="EditEntryDate"></span></h5>
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Coupon Code</label>
                                            <input type="text" class="input-control" placeholder="Enter Coupon Code" id="Editcode">
                                        </div>
                                        <div class="form-group">
                                            <label>Details</label>
                                            <input type="text" class="input-control" placeholder="Enter  Details" id="EditDetails">
                                        </div>
                                        <label>Role Name</label>
                                        <select id="RoleID" ng-model="RoleID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                                ng-options="o.RoleID as o.RoleName for o in getRole">
                                            <option>Select Role</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Discount Rate</label>
                                        <input type="text" class="input-control" placeholder="Enter Discount" id="EditRate">
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <label>Form Date</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="01-Jan-2020" style="width: 92.5%;" id="EditStartFrom">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <label> To Date</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="01-Jan-2020" style="width: 92.5%;" id="EditToDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option>Select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox" id="detaildiv">
                <div class="ibox-title yellowtitle">
                    <h5 id="details">Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pad0">
                                <div class="table-responsive">
                                    <table width="100%" class="table">
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Promo Coupon ID:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsId"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Coupon Code:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetaileCode"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Details:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsDetails"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Role:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsRole"> </div></td>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Discount Rate:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsRate"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Valid Form:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsStartDate"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Valid To:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsTodate"> </div></td>
                                        </tr>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsStatus"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Created Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsEntryDate"> </div></td>
                                        </tr>
                                    </table>
                                    @*<button class="btn btn-xs btn-primary" type="submit">Edit</button>*@
                                </div>

                                <br>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        getStatusData();
        $("#editdiv").hide();
        $("#detaildiv").hide();
        getRole();
        GetData();
        function getRole() {
            $.ajax({
                url: '@Url.Action("GetRolelist", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getRole = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetAllPromoCode", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].PromoCouponID + '</td>';
                        htmlStr += '<td>' + str[i].CouponCode + '</td>';
                        htmlStr += '<td>' + str[i].Details + '</td>';
                        htmlStr += '<td>' + str[i].RoleName + '</td>';
                        htmlStr += '<td>' + str[i].DiscountRate + '</td>';
                        htmlStr += '<td>' + str[i].StartFrom + '</td>';
                        htmlStr += '<td>' + str[i].ValidTill + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].PromoCouponID + '' + ',' + '\'' + str[i].CouponCode + '\'' + ',' + '\'' + str[i].Details + '\'' + ',' + '\'' + str[i].RoleName + '\'' + ',' + '\'' + str[i].DiscountRate + '\'' + ',' + '\'' + str[i].StartFrom + '\'' + ',' + '\'' + str[i].ValidTill + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="View(' + '' + str[i].PromoCouponID + '' + ',' + '\'' + str[i].CouponCode + '\'' + ',' + '\'' + str[i].Details + '\'' + ',' + '\'' + str[i].RoleName + '\'' + ',' + '\'' + str[i].DiscountRate + '\'' + ',' + '\'' + str[i].StartFrom + '\'' + ',' + '\'' + str[i].ValidTill + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="Delete(' + str[i].PromoCouponID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetAllPromoCodeLDetails").html(htmlStr)
                }
            });
        }

        $scope.submitPromoCode = function () {
            //debugger;
            var CouponCode = $scope.txtCode;
            var Details = $scope.txtDetails;
            var RoleID = $scope.RoleID;
            var DiscountRate = $scope.txtRate;
            var StartFrom = $("#txtfromdate").val();
            var ValidTill = $("#txttodate").val();
            //var StartFrom = $scope.txtFromDate;
            //var ValidTill = $scope.txtToDate;
            var StatusId = $scope.statusID;
            // var marketId = $scope.MarketID;
            // var stausVal = $("#statusID").val();

            var PromoCodeRes = {
                'CouponCode': CouponCode, 'Details': Details, 'RoleID': RoleID,
                'DiscountRate': DiscountRate, 'StartFrom': StartFrom, 'ValidTill': ValidTill,
                 'StatusId': StatusId
            };
            var res = JSON.stringify(PromoCodeRes);
            // alert(res);
            $.ajax({
                url: '@Url.Action("AddPromoCode", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                   // alert(textStatus);
                }

            });
        }
        $scope.SubmitEdit = function () {
            //debugger;
            var PromoCouponID = $("#EditPromoCouponID").html();
            var CouponCode = $('#Editcode').val();
            var Details = $('#EditDetails').val();
            var RoleID = $scope.RoleID;
            var DiscountRate = $('#EditRate').val();
            var StartFrom = $("#EditStartFrom").val();
            var ValidTill = $("#EditToDate").val();
            var StatusId = $scope.statusID;
            
            var PromoCodeRes = {
                'PromoCouponID': PromoCouponID,
                'CouponCode': CouponCode, 'Details': Details, 'RoleID': RoleID,
                'DiscountRate': DiscountRate, 'StartFrom': StartFrom, 'ValidTill': ValidTill,
                'StatusId': StatusId
            };
            var res = JSON.stringify(PromoCodeRes);
            // alert(res);
            $.ajax({
                url: '@Url.Action("EditPromoCode", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                   // alert(textStatus);
                }

            });
        }





    });
    function Edit(PromoCouponID, CouponCode, Details, RoleID, DiscountRate, StartFrom, ValidTill, StatusID, EntryDate) {
        $("#editdiv").show();
        $("#detaildiv").hide();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditPromoCouponID").html(PromoCouponID);
        $("#EditEntryDate").html(EntryDate);
        $('#Editcode').val(CouponCode);
        $('#EditDetails').val(Details);
        $('#EditRate').val(DiscountRate);
        $('#EditStartFrom').val(StartFrom);
        $('#EditToDate').val(ValidTill);
        $("#statusID").val(StatusID);
        $("#RoleId").val(RoleID)
    }
    function View(PromoCouponID, CouponCode, Details, RoleID, DiscountRate, StartFrom, ValidTill, StatusID, EntryDate) {
        $("#editdiv").hide();
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#DetailsId").html(PromoCouponID);
        $("#DetaileCode").html(CouponCode);
        $("#DetailsDetails").html(Details);
        $("#DetailsRole").html(RoleID);
        $("#DetailsRate").html(DiscountRate);
        $("#DetailsStartDate").html(StartFrom);
        $("#DetailsTodate").html(ValidTill);
        $("#DetailsStatus").html(StatusID);
        $("#DetailsEntryDate").html(EntryDate);
    }
    function Delete(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            $.ajax({
                url: '@Url.Action("DeletePromoCode", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { PromoCouponID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }
</script>