﻿
@{
    ViewBag.Title = "AddPlanAssignment";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Plan Assignment</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                       
                                        <div class="form-group">
                                            <select id="UserPlansID" ng-model="UserPlansID" ng-change="GetPlanDetails(UserPlansID)" class="input-control"
                                                    ng-options="o.UserPlansID as o.PlanName for o in getUserPlan">
                                                <option value="">Select User Plan</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="input-control" placeholder="Plan Fee" readonly="readonly" ng-model="txtFee" id="txtFee">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="input-control" placeholder="Plan Commission" readonly="readonly" ng-model="txtCommission" id="txtCommission">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="input-control" placeholder="Fixed Amount" readonly="readonly" ng-model="txtAmount" id="txtAmount">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="input-control" placeholder="Validity In Days" readonly="readonly" ng-model="txtDays" id="txtDays">
                                        </div>
                                        <div class="form-group">
                                            <select id="SignalTypesID" ng-model="SignalTypesID" ng-change="getSignalTypes(signalId)" class="input-control"
                                                    ng-options="o.SignalTypesID as o.Stype for o in getSignalType">
                                                <option value=""> select Signal Type </option>
                                            </select>
                                        </div>
                                        @*<div class="form-group">
                                            <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                    ng-options="o.StatusID as o.Status for o in getStatus">
                                                <option value="">Select Status</option>
                                            </select>
                                        </div>*@
                                        <button class="btn btn-xs btn-primary" id="btnAddSignalType" type="submit" ng-click="submitPlanAssign()">Submit</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="listView">
                <div class="ibox-title greentitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12 pad0">
                            <div class="table-responsive">
                                <table id="example1" width="1300px" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="30">ID.</th>
                                            <th width="100">Role</th>
                                            <th width="80">Name</th>
                                            <th width="80">Fee</th>
                                            <th width="80">Commision</th>
                                            <th width="80">Fixed</th>
                                            <th width="80">Validity</th>
                                            <th width="80">SignalType</th>
                                            <th width="80">Status</th>
                                            <th width="170">Created</th>
                                            <th width="28">&nbsp;</th>
                                            <th width="29">&nbsp;</th>
                                            <th width="30">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody id="GetAllUserPlansAssignment"> </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ibox" id="editdiv">
                <div class="ibox-title greentitle">
                    <h5>Edit Plan Assignment</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">

                                <h5>Plan Assignment ID: <span class="text-navy" id="EditId"> </span>, Created Date: <span class="text-navy" id="EditEntryDate"> </span></h5>
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <label>User Plan</label>
                                        <select id="UserPlansID" ng-model="UserPlansID" ng-change="GetPlanDetails(UserPlansID)" class="input-control"
                                                ng-options="o.UserPlansID as o.PlanName for o in getUserPlan">
                                            <option value="">Select User Plan</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label> Plan Fee</label>
                                        <input type="text" class="input-control" placeholder="Plan Fee" readonly="readonly" id="EditFee">
                                    </div>
                                    <div class="form-group">
                                        <label> Plan Commission</label>
                                        <input type="text" class="input-control" placeholder="Plan commission" readonly="readonly" id="EditCommission">
                                    </div>
                                    <div class="form-group">
                                        <label>Fixed Amount</label>
                                        <input type="text" class="input-control" placeholder="Fixed Amount" readonly="readonly" id="EditAmount">
                                    </div>
                                    <div class="form-group">
                                        <label>Validity In Days</label>
                                        <input type="text" class="input-control" placeholder="Validity In Days" readonly="readonly" id="EditDays">
                                    </div>
                                    <div class="form-group">
                                        <label>Signal Type</label>
                                        <select id="SignalTypesID" ng-model="SignalTypesID" ng-change="getSignalTypes(signalId)" class="input-control"
                                                ng-options="o.SignalTypesID as o.Stype for o in getSignalType">
                                            <option value=""> select Signal Type </option>
                                        </select>
                                    </div>
                                               <button class="btn btn-xs btn-primary" type="submit" ng-click="submitEdit()">Submit</button>
                                        <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="detaildiv">
                <div class="ibox-title yellowtitle">
                    <h5 id="details">Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pad0">
                                <div class="table-responsive">
                                    <table width="100%" class="table">
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left" > Plan Assignment ID:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsId"> </div></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Role:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetaileRole"> </div></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Plan Name:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailePlanName"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Plan Fee:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsPlanFee"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Plan commission:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsPlanCommission"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Fixed Amount:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsFixedAmount"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Validity In Day:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsDays"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Signal Type:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsSignalType"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsStatus"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Created Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsEntryDate"> </div></td>
                                        </tr>
                                    </table>
                                    @*<button class="btn btn-xs btn-primary" type="submit">Edit</button>*@
                                </div>

                                <br>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        getUserPlan();
        $("#editdiv").hide();
        $("#detaildiv").hide();
        getSignalType();
        $scope.GetPlanDetails = function ($scope) {
            var PlanId = $scope;
            GetPlanDetails(PlanId);
        }
        function GetPlanDetails(Pid) {
           // alert(Pid);
            $.ajax({
                url: '@Url.Action("GetPlanDetailsById", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: { UserPlansID: Pid },
                success: function (data) {
                    $('#txtFee').val(data[0].Fee);
                    $('#txtCommission').val(data[0].Commission);
                    $('#txtAmount').val(data[0].FixedAmount);
                    $('#txtDays').val(data[0].Validity);
                    $('#EditFee').val(data[0].Fee);
                    $('#EditCommission').val(data[0].Commission);
                    $('#EditAmount').val(data[0].FixedAmount);
                    $('#EditDays').val(data[0].Validity);
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });
        }
        function getSignalType() {
            $.ajax({
                url: '@Url.Action("GetAllSignalType","Admin" )',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getSignalType = data;
                    $scope.$apply();
                    },
                error: function (data, textStatus, xhr) {
                        alert("Error");
                    }

                });
        }
     
    
        function getUserPlan() {
            $.ajax({
                url: '@Url.Action("GetUserPlanList", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getUserPlan = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }

        function GetData() {
            $.ajax({
                url: '@Url.Action("GetAllUserPlanAssignment", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].TraderPlanHasSignalTypesID + '</td>';
                        htmlStr += '<td>' + str[i].RoleName + '</td>';
                        htmlStr += '<td>' + str[i].PlanName + '</td>';
                        htmlStr += '<td>' + str[i].Fee + '</td>';
                        htmlStr += '<td>' + str[i].Commission + '</td>';
                        htmlStr += '<td>' + str[i].FixedAmount + '</td>';
                        htmlStr += '<td>' + str[i].Validity + '</td>';
                        htmlStr += '<td>' + str[i].Stype + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].TraderPlanHasSignalTypesID + '' + ',' + '\'' + str[i].RoleName + '\'' + ',' + '\'' + str[i].PlanName + '\'' + ',' + '\'' + str[i].Fee + '\'' + ',' + '' + str[i].Commission + '' + ',' + '\'' + str[i].FixedAmount + '\'' + ',' + '\'' + str[i].Validity + '\'' + ',' + '\'' + str[i].Stype + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="View(' + '' + str[i].TraderPlanHasSignalTypesID + '' + ',' + '\'' + str[i].RoleName + '\'' + ',' + '\'' + str[i].PlanName + '\'' + ',' + '\'' + str[i].Fee + '\'' + ',' + '' + str[i].Commission + '' + ',' + '\'' + str[i].FixedAmount + '\'' + ',' + '\'' + str[i].Validity + '\'' + ',' + '\'' + str[i].Stype + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="Delete(' + str[i].TraderPlanHasSignalTypesID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetAllUserPlansAssignment").html(htmlStr)
                }
            });
        }

        $scope.submitPlanAssign = function () {
            //debugger;
            var SignalTypesID = $scope.SignalTypesID;
            var UserPlansID = $scope.UserPlansID;
            var UserPlanAssignmentRes = {
                'SignalTypesID': SignalTypesID, 'UserPlansID': UserPlansID
            };
            var res = JSON.stringify(UserPlanAssignmentRes);
            // alert(res);
            $.ajax({
                url: '@Url.Action("AddPlanAssignment", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    alert(textStatus);
                }

            });
        }

        $scope.submitEdit = function () {
            //debugger;
            var AID = $("#EditId").html();
            var SignalTypesID = $scope.SignalTypesID;
            var UserPlansID = $scope.UserPlansID;
            var UserPlanAssignmentRes = {
                'AID': AID, 'SignalTypesID': SignalTypesID, 'UserPlansID': UserPlansID
            };
            var res = JSON.stringify(UserPlanAssignmentRes);
            // alert(res);
            $.ajax({
                url: '@Url.Action("EditPlanAssignment", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    alert(textStatus);
                }

            });
        }

    });
    function Edit(TraderPlanHasSignalTypesID, RoleName, PlanName, Fee, Commission, FixedAmount, Validity, Stype, Status, EntryDate) {
        $("#editdiv").show();
        $("#detaildiv").hide();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditId").html(TraderPlanHasSignalTypesID);
        $("#EditEntryDate").html(EntryDate);
        $("#UserPlansID").val(PlanName);
        $('#EditFee').val(Fee);
        $('#EditCommission').val(Commission);
        $('#EditAmount').val(FixedAmount);
        $('#EditDays').val(Validity); 
        $("#SignalTypesID").val(Stype);
    }
    function View(TraderPlanHasSignalTypesID, RoleName, PlanName, Fee, Commission, FixedAmount, Validity, Stype, Status, EntryDate) {
        $("#editdiv").hide();
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#DetailsId").html(TraderPlanHasSignalTypesID);
        $("#DetaileRole").html(RoleName);
        $("#DetailePlanName").html(PlanName);
        $("#DetailsPlanFee").html(Fee);
        $("#DetailsPlanCommission").html(Commission);
        $("#DetailsFixedAmount").html(FixedAmount);
        $("#DetailsDays").html(Validity);
        $("#DetailsSignalType").html(Stype);
        $("#DetailsStatus").html(Status);
        $("#DetailsEntryDate").html(EntryDate);
    }
    function Delete(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            $.ajax({
                url: '@Url.Action("DeleteAssignPlan", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { TraderPlanHasSignalTypesID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }
</script>
