﻿
@{
    ViewBag.Title = "AddState";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>State</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select ng-model="countryID" ng-change="getTimeZone(countryID)" class="input-control"
                                                ng-options="o.CountryID as o.Country for o in getCountries">
                                            <option value=""> select Country</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select ng-model="TimeZoneID" ng-change="selectedItemChanged(TimeZoneID)" class="input-control"
                                                ng-options="z.TimeZoneID as z.TimeZoneDetails for z in GetTimezone">
                                            <option value=""> select TimeZone</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Enter State" ng-model="txtState">
                                    </div>


                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitState()">Submit</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="listView">
                <div class="ibox-title greentitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-8 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="44">ID</th>
                                                <th width="95">State</th>
                                                <th width="91">Country </th>
                                                <th width="172">TimeZone</th>
                                                @*<th width="113">Status</th>
                                                    <th width="304">Created</th>
                                                    <th width="29">&nbsp;</th>*@
                                                <th width="28">&nbsp;</th>

                                            </tr>
                                        </thead>
                                        <tbody id="GetState"> </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox" id="editdetails">
                <div class="ibox-title greentitle">
                    <h5>Edit State</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5>State ID: <span class="text-navy" id="EditStateId"> </span></h5>
                                <div class="col-md-4  pad0">

                                    <div class="form-group">
                                        <label> Country</label>
                                        <select ng-model="countryID" ng-change="getTimeZone(countryID)" class="input-control"
                                                ng-options="o.CountryID as o.Country for o in getCountries">
                                            <option value=""> select Country</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>TimeZone</label>
                                        <select ng-model="TimeZoneID" ng-change="selectedItemChanged(TimeZoneID)" class="input-control"
                                                ng-options="z.TimeZoneID as z.TimeZoneDetails for z in GetTimezone">
                                            <option value=""> select TimeZone</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>State</label>
                                        <input type="text" class="input-control" placeholder="Enter State" id="EditState">
                                    </div>

                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="ibox">
                    <div class="ibox-title yellowtitle">
                        <h5 id="details">Details</h5>
                        <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 pad0">
                                    <div class="table-responsive">
                                        <table width="100%" class="table">
                                            <tr>
                                                <td>
                                                    <label>
                                                        <div align="left">State ID:</div>
                                                    </label>
                                                </td>
                                                <td><div align="left">01</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <div align="left">Country:</div>
                                                    </label>
                                                </td>
                                                <td><div align="left">India</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <div align="left">Satate:</div>
                                                    </label>
                                                </td>
                                                <td><div align="left">Maharastra</div></td>
                                            </tr>
                                            <tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <div align="left">Status:</div>
                                                    </label>
                                                </td>
                                                <td><div align="left">Active</div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <div align="left">Created Date:</div>
                                                    </label>
                                                </td>
                                                <td><div align="left">9.30 am, 12-Nov-19 </div></td>
                                            </tr>
                                        </table>
                                        <button class="btn btn-xs btn-primary" type="submit">Edit</button>
                                    </div>

                                    <br>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        getCountry();
        GetData();
        $("#editdetails").hide();
        $("#detaildiv").hide();
       // GetTimezone();
        function getCountry() {
            $.ajax({
                url: '@Url.Action("GetCountries", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.stringify(data);
                    //alert(str);
                    $scope.getCountries = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                  //  alert(textStatus);
                }

            });
        }
        $scope.getTimeZone = function ($scope)
        {
            var countryId = $scope;
            GetTimezone(countryId);
        }
        function GetTimezone(cid) {
            //var cid = $scope.countryID;
            $.ajax({
                url: '@Url.Action("GetTimeZoneByCountryId", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: { Country: cid },
                success: function (data) {
                    var str = JSON.stringify(data);
                    // alert(data.TimeZoneList);
                    $scope.GetTimezone = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                   // alert(textStatus);
                }

            });
        }


        function GetData() {
            $.ajax({
                url: '@Url.Action("GetAllStates", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].StateID + '</td>';
                        htmlStr += '<td>' + str[i].StateName + '</td>';
                        htmlStr += '<td>' + str[i].Country + '</td>';
                        htmlStr += '<td>' + str[i].TimeZoneDetails + '</td>';
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].StateID + '' + ',' + '\'' + str[i].StateName + '\'' + ',' + '\'' + str[i].Country + '\'' + ',' + '\'' + str[i].TimeZoneDetails + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        // htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeletetProcessStates(' + str[i].CountryID + ')"> <i class="fa fa-remove"></i>&nbsp;Inactive</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetState").html(htmlStr)
                }
            });
        }
        $scope.SubmitState = function () {
            var Tid = $scope.TimeZoneID;
            var Cid = $scope.countryID;
            var StateName = $scope.txtState;
            $.ajax({
                url: '@Url.Action("AddState", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { StateName: StateName, Country: Cid,TimeZoneID:Tid},
                success: function () {
                   // alert("Insert  data successfully");
                    location.reload();
                }
            });
        }
        $scope.SubmitEdit = function () {
            var Sid = $("#EditStateId").html();
            var SName = $("#EditState").val();
            var Tid = $scope.TimeZoneID;
            var Cid = $scope.countryID;
            $.ajax({
                url: '@Url.Action("EditState","Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { StateID: Sid, StateName: SName, Country: Cid, TimeZoneDetails: Tid },
                success: function () {
                  //  alert("Updated successfully");
                    location.reload();
                }
            });

        }

    });
    function Edit(StateID, StateName, Country, TimeZoneDetails)
    {
        $("#editdetails").show();
        // $("#addView").find('.ibox-tools a.collapse-link i').toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
       // $("#detailView").find('div.ibox-content').slideUp();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditStateId").html(StateID);
        $("#EditState").val(StateName);
        $('#countryID').html(Country);
        $("#TimeZoneID").val(TimeZoneDetails);

        // $('#relDate').html(entryDate);
    }

</script>