﻿@model SignalATM.Web.Models.mstSignalType
@{
    ViewBag.Title = "AddSignalType";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";

}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Signal Type</h5>
                            <div class="ibox-tools">  </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <input type="text" ng-model="txtsignaltype" class="input-control" placeholder="Enter Signal Type">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" ng-model="txtprice" class="input-control" placeholder="Price">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" ng-model="txtRefindprice" class="input-control" placeholder="Refund Price">
                                    </div>
                                    <div class="form-group">
                                        <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus"></select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitSignalType();">Submit</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title greentitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"><a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>  </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-9 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="30">ID.</th>
                                                <th width="50">Type</th>
                                                <th width="80">Price</th>
                                                <th width="80">Refund</th>
                                                <th width="100">Status</th>
                                                <th width="170">Created</th>
                                                <th width="30">&nbsp;</th>
                                                <th width="30">&nbsp;</th>
                                                <th width="30">&nbsp;</th>
                                            </tr>
                                        <tbody id="GetAllSignalTypes">          </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="editdetails">
                <div class="ibox-title greentitle">
                    <h5>Edit Signal</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>  </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5>Signal ID: <span class="text-navy" id="EditSignalId"> </span>, Created Date: <span class="text-navy" id="EditSignalEntryDate"></span></h5>
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <label>Signal Type</label>
                                        <input type="text" class="input-control" id="EditSignalstype">
                                    </div>
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input type="text" class="input-control" id="EditSignalPrice">
                                    </div>
                                    <div class="form-group">
                                        <label>Refund Price </label>
                                        <input type="text" class="input-control" id="EditSignalRefund">
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select id="Mystatus" ng-model="StatusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value=""> Select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="detaildiv">
                <div class="ibox-title yellowtitle">
                    <h5 id="details">Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-5 pad0">
                                <div class="table-responsive">
                                    <table width="100%" class="table">
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">ID:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailSignalId"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Type:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailSignalstype"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Price:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailSignalPrice"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Refund Price:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailSignalRefund"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailStatus"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Created Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailSignalEntryDate"> </div></td>
                                        </tr>
                                    </table>
                                    <button class="btn btn-xs btn-primary" type="submit">Edit</button>
                                </div>

                                <br>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<Script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        $("#editdetails").hide();
        $("#detaildiv").hide();
        getStatusData();
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetSignalTypes", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].SignalTypesID + '</td>';
                        htmlStr += '<td>' + str[i].Stype + '</td>';
                        htmlStr += '<td>' + str[i].Price + '</td>';
                        htmlStr += '<td>' + str[i].RefundPrice + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].SignalTypesID + '' + ',' + '\'' + str[i].Stype + '\'' + ',' + '\'' + str[i].Price + '\'' + ',' + '\'' + str[i].RefundPrice + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].StatusID + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="ViewSignalType(' + '' + str[i].SignalTypesID + '' + ',' + '\'' + str[i].Stype + '\'' + ',' + '\'' + str[i].Price + '\'' + ',' + '\'' + str[i].RefundPrice + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeleteSignalType(' + str[i].SignalTypesID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetAllSignalTypes").html(htmlStr)
                }
            });
        }
        $scope.SubmitSignalType = function () {
            var signaltype = $scope.txtsignaltype;
            var price = $scope.txtprice;
            var Rfprice = $scope.txtRefindprice;
            var statusId = $scope.statusID;
            $.ajax({
                url: '@Url.Action("AddSignalType", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { Stype: signaltype, Price: price, RefundPrice: Rfprice, statusID: statusId },
                success: function () {
                    //alert("Insert  data successfully");
                    location.reload();
                }
            });
        }
        $scope.SubmitEdit = function () {
            var id = $('#EditSignalId').html();
            var txtstype = $("#EditSignalstype").val();
            var price = $("#EditSignalPrice").val();
            var Rprice = $("#EditSignalRefund").val();
           // var statusId = $scope.StatusID;
            var selectElem = document.getElementById('Mystatus')
            var statusId =parseInt(selectElem.selectedIndex)-1;
            $.ajax({
                url: '@Url.Action("EditSignalType", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { SignalTypesID: id, Stype: txtstype, Price: price, RefundPrice: Rprice, Status: statusId },
                success: function (data) {
                    location.reload();
                }
            });
        }

    });
    function Edit(SignalTypesID, Stype, Price, RefundPrice, Status, StatusID, EntryDate)
    {
        $("#editdetails").show();
        $("#detaildiv").hide();
        $("#detailView").find('div.ibox-content').slideUp();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditSignalId").html(SignalTypesID);
        $("#EditSignalEntryDate").html(EntryDate);
        $("#EditSignalstype").val(Stype);
        $("#EditSignalPrice").val(Price);
        $("#EditSignalRefund").val(RefundPrice);
        document.getElementById("Mystatus").selectedIndex = (parseInt(StatusID)+1);
       //alert(e);
        //$("#Status").val(Status);

        // $('#txtRiskname').val(Riskname);
        // $('#relDate').html(entryDate);
    }
    function ViewSignalType(SignalTypesID, Stype, Price, RefundPrice, Status, EntryDate) {
        $("#editdetails").hide();
        $("#detaildiv").show();
        $("#detailView").find('div.ibox-content').slideUp();
        $("#listView").find('div.ibox-content').slideUp();
        $("#DetailSignalId").html(SignalTypesID);
        $("#DetailSignalEntryDate").html(EntryDate);
        $("#DetailSignalstype").html(Stype);
        $("#DetailSignalPrice").html(Price);
        $("#DetailSignalRefund").html(RefundPrice);
        $("#DetailStatus").html(Status);
        // $('#txtRiskname').val(Riskname);
        // $('#relDate').html(entryDate);
    }
    function DeleteSignalType(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x)
            {
            $.ajax({
                url: '@Url.Action("DeleteSignalType", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { SignalTypesID: id },
                success: function (data) {
                    location.reload();
                }
            });
            }
    }
</Script>