﻿
@{
    ViewBag.Title = "AddUserPlans";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>User Plan</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select id="RoleID" ng-model="RoleID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                                ng-options="o.RoleID as o.RoleName for o in getRole">
                                            <option value="">Select Role</option>
                                        </select>
                                    </div>
                                    <div class="form-group">

                                        <input type="text" class="input-control" placeholder="Enter Plan Type" ng-model="txtPlanType">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Enter Plan Name" ng-model="txtPlanName">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Plan Fee" ng-model="txtFee">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Plan commission" ng-model="txtCommission">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Fixed Amount" ng-model="txtFixedAmount">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Validity In Days" ng-model="txtDays">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Plan Package" ng-model="txtPlanPackage">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="text" rows="8" class="input-control" placeholder="Plan Feature" ng-model="txtPlanFeature"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <select id="StatusID" ng-model="StatusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                    ng-options="o.StatusID as o.Status for o in getStatus">
                                                <option value="">Select Status</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button class="btn btn-xs btn-primary" id="btnSubmitUserPlan" type="submit" ng-click="submitUserPlan()">Submit</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="listView">
                <div class="ibox-title greentitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <div class="table-responsive">
                                    <table id="example1" width="1200px" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="30">ID.</th>
                                                <th width="50">Type</th>
                                                <th width="50">Role</th>
                                                <th width="50">Name</th>
                                                <th width="50">Fee</th>
                                                <th width="50">comm.</th>
                                                <th width="50">Fixed</th>
                                                <th width="50">Validity</th>
                                                <th width="50">Package</th>
                                                <th width="50">Feature</th>
                                                <th width="80">Status</th>
                                                <th width="200">Created</th>
                                                <th width="28">&nbsp;</th>
                                                <th width="29">&nbsp;</th>
                                                <th width="30">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="GetAllUserPlans">  </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="editdiv">
                <div class="ibox-title greentitle">
                    <h5>Edit User Plan</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5>User Plan ID: <span class="text-navy" id="EditUserId"> </span> Created Date: <span class="text-navy" id="EditUserEntryDate"> </span></h5>
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <label>Role Select</label>
                                        <select id="RoleID" ng-model="RoleID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                                ng-options="o.RoleID as o.RoleName for o in getRole">
                                            <option value="">Select Role</option>
                                        </select>
                                    </div>
                                    <div class="form-group">

                                        <label>Plan Type</label>
                                        <input type="text" class="input-control" placeholder="Enter Plan Type" id="EditPlanType">
                                    </div>
                                    <div class="form-group">
                                        <label>Plan Name</label>
                                        <input type="text" class="input-control" placeholder="Enter Plan Name" id="EditPlanName">
                                    </div>
                                    <div class="form-group">
                                        <label> Plan Fee</label>
                                        <input type="text" class="input-control" placeholder="Plan Fee" id="EditPlanFee">
                                    </div>
                                    <div class="form-group">
                                        <label> Plan Commission</label>
                                        <input type="text" class="input-control" placeholder="Plan commission" id="EditCommission">
                                    </div>
                                    <div class="form-group">
                                        <label>Fixed Amount</label>
                                        <input type="text" class="input-control" placeholder="Fixed Amount" id="EditFixedAmount">
                                    </div>
                                    <div class="form-group">
                                        <label>Validity In Days</label>
                                        <input type="text" class="input-control" placeholder="Validity In Days" id="EditDays">
                                    </div>
                                    <div class="form-group">
                                        <label>Plan Package</label>
                                        <input type="text" class="input-control" placeholder="Plan Package" id="EditPlanPackage">
                                    </div>
                                    <div class="form-group">
                                        <label>Plan Featrure</label>
                                        <textarea name="text" rows="8" class="input-control" placeholder="Plan Feature" id="EditPlanFeature"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select id="StatusID" ng-model="StatusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="detaildiv">
                <div class="ibox-title yellowtitle">
                    <h5 id="details">Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pad0">
                                <div class="table-responsive">
                                    <table width="100%" class="table">
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left"> User Plan ID:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsId"></div></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Plan Name:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailePlanName"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Plan Type:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailePlanType"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Plan Fee:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsPlanFee"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Plan commission:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsPlanCommission"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Fixed Amount:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsFixedAmount"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Validity In Day:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsDays"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Plan Package:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailePlanPackage"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Plan Feature:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailePlanFeature"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsStatus"></div></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Created Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsEntryDate"></div></td>
                                        </tr>
                                    </table>
                                    @*<button class="btn btn-xs btn-primary" type="submit">Edit</button>*@
                                </div>

                                <br>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        getRole();
        getStatusData();
        $("#editdiv").hide();
        $("#detaildiv").hide();
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        } function getRole() {
            $.ajax({
                url: '@Url.Action("GetRolelist", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getRole = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetUserPlan", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].UserPlansID + '</td>';
                        htmlStr += '<td>' + str[i].PlanType + '</td>';
                        htmlStr += '<td>' + str[i].RoleName + '</td>';
                        htmlStr += '<td>' + str[i].PlanName + '</td>';
                        htmlStr += '<td>' + str[i].Fee + '</td>';
                        htmlStr += '<td>' + str[i].Commission + '</td>';
                        htmlStr += '<td>' + str[i].FixedAmount + '</td>';
                        htmlStr += '<td>' + str[i].Validity + '</td>';
                        htmlStr += '<td>' + str[i].PlanPackage + '</td>';
                        htmlStr += '<td>' + str[i].PlanFeatures + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].UserPlansID + '' + ',' + '\'' + str[i].PlanType + '\'' + ',' + '\'' + str[i].RoleName + '\'' + ',' + '\'' + str[i].PlanName + '\'' + ',' + '\'' + str[i].Fee + '\'' + ',' + '' + str[i].Commission + '' + ',' + '\'' + str[i].FixedAmount + '\'' + ',' + '\'' + str[i].Validity + '\'' + ',' + '\'' + str[i].PlanPackage + '\'' + ',' + '\'' + str[i].PlanFeatures + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="ViewUserPlan(' + '' + str[i].UserPlansID + '' + ',' + '\'' + str[i].PlanType + '\'' + ',' + '\'' + str[i].RoleName + '\'' + ',' + '\'' + str[i].PlanName + '\'' + ',' + '\'' + str[i].Fee + '\'' + ',' + '' + str[i].Commission + '' + ',' + '\'' + str[i].FixedAmount + '\'' + ',' + '\'' + str[i].Validity + '\'' + ',' + '\'' + str[i].PlanPackage + '\'' + ',' + '\'' + str[i].PlanFeatures + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeleteUserPlan(' + str[i].UserPlansID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetAllUserPlans").html(htmlStr)
                }
            });
        }

              $scope.submitUserPlan = function () {
            //debugger;
            var PType = $scope.txtPlanType;
            var PName = $scope.txtPlanName;
            var RoleID = $scope.RoleID;
            var fee = $scope.txtFee;
            var PCommission = $scope.txtCommission;
            var FAmount = $scope.txtFixedAmount;
            var VDays = $scope.txtDays;
            var PPackage = $scope.txtPlanPackage;
            var PFeature = $scope.txtPlanFeature;
            var StatusId = $scope.StatusID;
           // var marketId = $scope.MarketID;
           // var stausVal = $("#statusID").val();

            var UserPlanRes = {
                'PType': PType, 'PName': PName, 'fee': fee,
                'PCommission': PCommission, 'FAmount': FAmount, 'VDays': VDays,
                'PPackage': PPackage, 'PFeature': PFeature, 'StatusId': StatusId,
                'RoleID': RoleID
            };
            var res = JSON.stringify(UserPlanRes);
           // alert(res);
            $.ajax({
                url: '@Url.Action("AddUserPlans","Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });
        }
    $scope.SubmitEdit = function () {
            var PlanID = $("#EditUserId").html();
          //  $("#EditUserEntryDate").html();
           // $("#statusID").val(Status);
         var PlanType = $('#EditPlanType').val();
         var PlanName=   $('#EditPlanName').val();
         var Fee  =  $('#EditPlanFee').val();
         var Commission=  $('#EditCommission').val();
         var FixedAmount = $('#EditFixedAmount').val();
         var Validity = $('#EditDays').val();
         var PlanPackage = $('#EditPlanPackage').val();
         var PlanFeatures = $('#EditPlanFeature').val();
         var RoleID = $scope.RoleID;
         var statusId = $scope.StatusID;
         var UserPlanRes = {
             'PlanID': PlanID,'RoleID':RoleID,
             'PlanType': PlanType, 'PlanName': PlanName, 'Fee': Fee,
             'Commission': Commission, 'FixedAmount': FixedAmount, 'Validity': Validity,
             'PlanPackage': PlanPackage, 'PlanFeatures': PlanFeatures, 'statusId': statusId
         };
         var res = JSON.stringify(UserPlanRes);
            $.ajax({
                url: '@Url.Action("EditUserPlan", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    location.reload();
                }
            });
        }





    });

    function Edit(UserPlansID, PlanType, RoleName, PlanName, Fee, Commission, FixedAmount, Validity, PlanPackage, PlanFeatures, Status, EntryDate)
    {
        $("#editdiv").show();
        $("#detaildiv").hide();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditUserId").html(UserPlansID);
        $("#EditUserEntryDate").html(EntryDate);
        $("#statusID").val(Status);
        $("#RoleID").val(RoleName);
        $('#EditPlanType').val(PlanType);
        $('#EditPlanName').val(PlanName);
        $('#EditPlanFee').val(Fee);
        $('#EditCommission').val(Commission);
        $('#EditFixedAmount').val(FixedAmount);
        $('#EditDays').val(Validity);
        $('#EditPlanPackage').val(PlanPackage);
        $('#EditPlanFeature').val(PlanFeatures);
    //    SetSelectedIndex(document.getElementById("StatusID")).val(Status);



    }
    function ViewUserPlan(UserPlansID, PlanType, RoleName, PlanName, Fee, Commission, FixedAmount, Validity, PlanPackage, PlanFeatures, Status, EntryDate) {
        $("#editdiv").hide();
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#DetailsId").html(UserPlansID);
        $("#DetailePlanType").html(PlanType);
        $("#DetailePlanName").html(PlanName);
        $("#DetailsPlanFee").html(Fee);
        $("#DetailsPlanCommission").html(Commission);
        $("#DetailsFixedAmount").html(FixedAmount);
        $("#DetailsDays").html(Validity);
        $("#DetailePlanPackage").html(PlanPackage);
        $("#DetailePlanFeature").html(PlanFeatures);
        $("#DetailsStatus").html(Status);
        $("#DetailsEntryDate").html(EntryDate);
    }
    function DeleteUserPlan(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            $.ajax({
                url: '@Url.Action("DeleteUserPlan", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { UserPlansID: id },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }

</script>