﻿
@{
    ViewBag.Title = "AddUserAndRole";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>User Cretaion</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select id="RoleID" ng-model="RoleID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                                ng-options="o.RoleID as o.RoleName for o in getRole">
                                            <option value="">Select Role</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="UserTypeID" ng-model="UserTypeID" ng-change="selectedItemChanged(UserTypeID)" class="input-control"
                                                ng-options="U.UserTypeID as U.UserTypeName for U in GetUserType">
                                            <option value=""> User Type</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Enter Email" ng-model="txtEmails">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="input-control" placeholder="Password" ng-model="txtPwd">
                                    </div>

                                    <div class="form-group">
                                        <select id="StatusID" ng-model="StatusID" ng-change="selectedItemChanged(StatusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" id="btnAddSignalType" type="submit" ng-click="SubmitRegister()">Register</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox" id="listView">
                <div class="ibox-title greentitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>  </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-11 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="30">ID</th>
                                                <th width="50">Role</th>
                                                <th width="80">User</th>
                                                <th width="80">Email</th>
                                                @*<th width="80">Password</th>*@
                                                <th width="80">Verified</th>
                                                <th width="100">Status</th>
                                                <th width="170">Created</th>
                                                <th width="30">&nbsp;</th>
                                                <th width="30">&nbsp;</th>
                                                @*<th width="30">&nbsp;</th>*@
                                            </tr>
                                        </thead>
                                        <tbody id="AllUserDetailsList"></tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox" id="editdiv">
                <div class="ibox-title greentitle">
                    <h5>Edit User Cretaion</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5>User Cretaion ID: <span class="text-navy" id="UserId"> </span>, Created Date: <span class="text-navy" id="EntryDate"></span></h5>
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <label>Role Name</label>
                                        <div class="form-group">
                                            <select id="UserRoleID" ng-model="RoleID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                                    ng-options="o.RoleID as o.RoleName for o in getRole">
                                                <option value="">Select Role</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>User Type</label>
                                        <select id="ddlUserTypeID" ng-model="UserTypeID" ng-change="selectedItemChanged(UserTypeID)" class="input-control"
                                                ng-options="U.UserTypeID as U.UserTypeName for U in GetUserType">
                                            <option value=""> User Type</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>E-Mail</label>
                                        <input type="text" class="input-control" placeholder="Enter Email" id="txtEmail" readonly="readonly">
                                    </div>
                                    @*<div class="form-group">
                                            <label>Password</label>
                                            <input type="text" class="input-control" placeholder="Password" id="txtPwd">
                                        </div>*@
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select id="ddlStatusID" ng-model="StatusID" ng-change="selectedItemChanged(StatusID)" class="input-control"
                                                ng-options="o.StatusID as o.Status for o in getStatus">
                                            <option value="">Select Status</option>
                                        </select>
                                    </div>
                                    @*<button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>*@
                                    <button class="btn btn-xs btn-primary" id="btnSubmitEdit" type="button" ng-click="SubmitEditDetails()">Submit</button>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox" id="detaildiv">
                <div class="ibox-title yellowtitle">
                    <h5 id="details">Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>  </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pad0">
                                <div class="table-responsive">
                                    <table width="100%" class="table">
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">User Cretaion ID:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsUserId"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Role Name:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsRoleName"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">User Type:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsUserType"> </div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Email:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsEmail"></div></td>
                                            @*<tr>
                                                    <td>
                                                        <label>
                                                            <div align="left">Password:</div>
                                                        </label>
                                                    </td>
                                                    <td><div align="left" id="DetailsPwd"></div></td>
                                                </tr>*@
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailStatus"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Created Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left" id="DetailsDate"> </div></td>
                                        </tr>
                                    </table>

                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
    GetUserType();
    getRole();
    getStatusData();
    GetData();
    $("#editdiv").hide();
    $("#detaildiv").hide();
    function GetData() {
        //alert("start");
        $.ajax({
            url: '@Url.Action("GetUsersDetails", "Admin")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: {},
            success: function (data) {
                var str = JSON.parse(data);
                var htmlStr = "";
                for (var i = 0; i < str.length; i++) {

                    htmlStr += '<tr id="riskRow">';
                    htmlStr += '<td id="row">' + str[i].UserID + '</td>';
                    htmlStr += '<td>' + str[i].RoleName + '</td>';
                    htmlStr += '<td>' + str[i].UserTypeName + '</td>';
                    htmlStr += '<td>' + str[i].ApplicationUserLoginName + '</td>';
                    htmlStr += '<td>' + str[i].ApplicationUserIsOTPVerified + '</td>';
                    htmlStr += '<td>' + str[i].UserIsActive + '</td>';
                    htmlStr += '<td>' + str[i].ApplicationUserEntryDate + '</td>';
                    htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].RoleID + '' + ',' + '\'' + str[i].UserID + '\'' + ',' + '\'' + str[i].UserTypeID + '\'' + ',' + '\'' + str[i].ApplicationUserLoginName + '\'' + ',' + '\'' + str[i].UserIsActive + '\'' + ',' + '\'' + str[i].ApplicationUserEntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                    htmlStr += ' <td><button type="button" onclick="view(' + '' + str[i].UserID + '' + ',' + '\'' + str[i].RoleName + '\'' + ',' + '\'' + str[i].UserTypeName + '\'' + ',' + '\'' + str[i].ApplicationUserLoginName + '\'' + ',' + '\'' + str[i].ApplicationUserIsOTPVerified + '\'' + ',' + '\'' + str[i].UserIsActive + '\'' + ',' + '\'' + str[i].ApplicationUserEntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                    htmlStr += '</tr>';
                }
                $("#AllUserDetailsList").html(htmlStr)
            }
        });
    }
    $scope.SubmitRegister=function()
    {
        var roleid = $scope.RoleID;
        var usertypeid = $scope.UserTypeID;
        var email = $scope.txtEmails;
        var password = $scope.txtPwd;
        var status = $scope.StatusID;
        var ArUserRoleDetails = { 'RoleID': roleid, 'UserTypeID': usertypeid, 'EmailId': email, 'Password': password, 'StatusID':status };
        var res = JSON.stringify(ArUserRoleDetails);
        $.ajax({
            url: '@Url.Action("AddNewUserCreation", "Admin")',
            type: "POST",
            Response: ContentType = 'application/json',
            data: { Result: res },
            success: function (data) {
                location.reload();
            },
            error: function (data, textStatus, xhr) {
                var result = JSON.stringify(data);
                //alert(textStatus);
            }

        });

    }

        $scope.SubmitEditDetails = function () {

            var userid= $("#UserId").html();
            var selectRole = document.getElementById('UserRoleID');
            var roleid = parseInt(selectRole.selectedIndex);
            var selectUser = document.getElementById('ddlUserTypeID');
            var userTypeId = parseInt(selectUser.selectedIndex);
            var selectElem = document.getElementById('ddlStatusID');
            var statusId = parseInt(selectElem.selectedIndex) - 1;
            $.ajax({
                url:'@Url.Action("EditUserRoles", "Admin")',
                type: "POST",
                ContentType : 'application/json',
                data: { ID: userid, RoleID: roleid, UserTypeID: userTypeId, Status: statusId },
                success: function (data) {
                    location.reload();
                }
            });
        }


    function getStatusData() {
        $.ajax({
            url: '@Url.Action("GetStatus","Admin")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: {},
            success: function (data) {
                $scope.getStatus = data;
                $scope.$apply();
            },
            error: function (data, textStatus, xhr) {
                var result = JSON.stringify(data);

            }

        });
    }
    function getRole() {
        $.ajax({
            url: '@Url.Action("GetRolelist", "Admin")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: {},
            success: function (data) {
                $scope.getRole = data;
                $scope.$apply();
            },
            error: function (data, textStatus, xhr) {
                var result = JSON.stringify(data);

            }

        });
    }
    function GetUserType() {
        $.ajax({
            url: '@Url.Action("GetUserType", "Admin")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: {},
            success: function (data) {
                $scope.GetUserType = data;
                $scope.$apply();
            },
            error: function (data, textStatus, xhr) {
                var result = JSON.stringify(data);
            }

        });
    }

    });
    function Edit(RoleID, UserID, UserTypeID, ApplicationUserLoginName, UserIsActive, ApplicationUserEntryDate) {
        $("#editdiv").show();
        $("#detaildiv").hide();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EntryDate").html(ApplicationUserEntryDate);
        $("#UserId").html(UserID);
        document.getElementById("UserRoleID").selectedIndex = (parseInt(RoleID));
        document.getElementById("ddlUserTypeID").selectedIndex = (parseInt(UserTypeID));
        //  document.getElementById("ddlStatusID").selectedIndex = (parseInt(UserIsActive)) + 1;
        if (UserIsActive)
        {
            document.getElementById("ddlStatusID").selectedIndex =2;
        }
        else
        {
            document.getElementById("ddlStatusID").selectedIndex =1;
        }
        $('#txtEmail').val(ApplicationUserLoginName);

    }
    function view(UserID, RoleName, UserTypeName, ApplicationUserLoginName, ApplicationUserIsOTPVerified, UserIsActive, ApplicationUserEntryDate)
    {
        $("#editdiv").hide();
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#DetailsUserId").html(UserID);
        $("#DetailsRoleName").html(RoleName);
        $("#DetailsUserType").html(UserTypeName);
        $("#DetailsEmail").html(ApplicationUserLoginName);
        $("#DetailStatus").html(UserIsActive);
        $("#DetailsDate").html(ApplicationUserEntryDate);

    }

</script>
