﻿
@{
    ViewBag.Title = "AddValidity";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title yellowtitle">
                        <h5>Validity</h5>
                        <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                    </div>
                    <div class="ibox collapsed">
                        <div class="ibox-title whitetitle">
                            <div class="col-md-7 pad0">
                                <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <input type="text" class="input-control" placeholder="Period" ng-model="txtperiod">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="input-control" placeholder="Period Unit" ng-model="txtperiodunit">

                                </div>
                                <div class="form-group">
                                    <select id="statusID" ng-model="statusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                            ng-options="o.StatusID as o.Status for o in getStatus"></select>
                                </div>
                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitValidity()">Submit</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" id="listView">
            <div class="ibox-title greentitle">
                <h5>List View</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                @*<div class="row">
                        <div class="col-md-6">
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                Do you want to Remove?, Click
                                <button type="button" class="btn btn-primary btn-xs">OK</button>&nbsp;to Confirm
                            </div>
                        </div>
                    </div>*@
                <div class="row">

                    <div class="search-d">
                        <div class="input-group">
                            <input type="text" class="searchi">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-xs" type="button">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-8 pad0">
                            <div class="table-responsive">
                                <table id="example1" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="30">ID.</th>
                                            <th width="40">Period</th>
                                            <th width="40">Unit</th>
                                            <th width="100">Status</th>
                                            <th width="170">Created</th>
                                            <th width="29">&nbsp;</th>
                                            <th width="28">&nbsp;</th>
                                            <th width="86">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ValidityData">  </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox" id="editdetails">
            <div class="ibox-title greentitle">
                <h5>Edit Validity</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 pad0">
                            <h5>Validity ID: <span class="text-navy" id="txteditvalid"> </span>, Created Date: <span class="text-navy" id="txteditentrydate"></span></h5>
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <label>Peroid</label>
                                    <input type="text" class="input-control" placeholder="Peroid" id="txteditperoid">
                                </div>
                                <div class="form-group">
                                    <label>Unit</label>
                                    <input type="text" class="input-control" placeholder="Unit" id="txteditunit">
                                </div>
                                <div class="form-group">
                                    <select id="Mystatus" ng-model="StatusID" ng-change="selectedItemChanged(statusID)" class="input-control"
                                            ng-options="o.StatusID as o.Status for o in getStatus">
                                        <option value=""> Select Status</option>
                                    </select>
                                </div>
                                <button class="btn btn-xs btn-primary" type="submit" ng-click="SubmitEdit()">Submit</button>

                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" id="detaildiv">
            <div class="ibox-title yellowtitle">
                <h5 id="details">Details</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3 pad0">
                            <div class="table-responsive">
                                <table width="100%" class="table">
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Validity ID:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="txtdetailsvalid"></div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Period:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="txtdetailsperiod"> </div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Unit</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="txtdetailsvUnit"> </div></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Status:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="txtdetailsStatus"> </div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>
                                                <div align="left">Created Date:</div>
                                            </label>
                                        </td>
                                        <td><div align="left" id="txtdetailsEntrydate">  </div></td>
                                    </tr>
                                </table>
                                @*<button class="btn btn-xs btn-primary" type="submit">Edit</button>*@
                            </div>

                            <br>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        $("#editdetails").hide();
        $("#detaildiv").hide();
        getStatusData();
        function getStatusData() {
            $.ajax({
                url: '@Url.Action("GetStatus","Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetValidity", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].ValidityID + '</td>';
                        htmlStr += '<td>' + str[i].Period + '</td>';
                        htmlStr += '<td>' + str[i].PeriodUnit + '</td>';
                        htmlStr += '<td>' + str[i].Status + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                        htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].ValidityID + '' + ',' + '\'' + str[i].Period + '\'' + ',' + '\'' + str[i].PeriodUnit + '\'' + ',' + '\'' + str[i].StatusId + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += ' <td><button type="button" onclick="ViewValidity(' + '' + str[i].ValidityID + '' + ',' + '\'' + str[i].Period + '\'' + ',' + '\'' + str[i].PeriodUnit + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeleteValid(' + str[i].ValidityID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#ValidityData").html(htmlStr)
                }
            });
        }

        $scope.SubmitValidity = function () {
            var Validityperiod = $scope.txtperiod;
            var peroidUnit = $scope.txtperiodunit;

            var statusId = $scope.statusID;
            $.ajax({
                url: '@Url.Action("AddValidity", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { Period: Validityperiod, Unit: peroidUnit, statusID: statusId },
                success: function () {
                   // alert("Insert  data successfully");
                    location.reload();
                }
            });
        }
        $scope.SubmitEdit = function () {
            var Valid = $('#txteditvalid').html();
            var Validityperiod = $("#txteditperoid").val();
            var peroidUnit = $("#txteditunit").val();
           // var statusId = $scope.statusID;
            var selectElem = document.getElementById('Mystatus')
            var statusId = parseInt(selectElem.selectedIndex) - 1;
            $.ajax({
                url: '@Url.Action("EditValidity", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { ValidityID: Valid, Period: Validityperiod, Unit: peroidUnit, statusID: statusId },
                success: function (data) {
                    location.reload();
                }
            });
        }


    });
    function Edit(ValidityID, Period, PeriodUnit, StatusID, entrydate) {
        $("#editdetails").show();
        $("#detaildiv").hide();
        $("#detailView").find('div.ibox-content').slideUp();
        $("#listView").find('div.ibox-content').slideUp();
        $("#txteditvalid").html(ValidityID);
        $("#txteditentrydate").html(entrydate);
        $("#txteditperoid").val(Period);
        $("#txteditunit").val(PeriodUnit);
        document.getElementById("Mystatus").selectedIndex = (parseInt(StatusID) + 1);
       // $("#Status").val(statusID);
       // $('#txtRiskname').val(Riskname);
        // $('#relDate').html(entryDate);
    }
    function ViewValidity(ValidityID, Period, PeriodUnit, StatusId, entrydate) {
        $("#editdetails").hide();
        // $("#addView").find('.ibox-tools a.collapse-link i').toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
        $("#detaildiv").show();
        $("#listView").find('div.ibox-content').slideUp();
        $("#txtdetailsvalid").html(ValidityID);
        $("#txtdetailsEntrydate").html(entrydate);
        $("#txtdetailsperiod").html(Period);
        $("#txtdetailsvUnit").html(PeriodUnit);
        $("#txtdetailsStatus").html(StatusId);
        document.getElementById("Mystatus").selectedIndex = (parseInt(StatusID) + 1);
    }
    function DeleteValid(id) {
        var x = confirm("Are you sure you want to delete?");
        if (x)
            // return true;
            $.ajax({
                url: '@Url.Action("DeleteValidity", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { ValidityID: id },
                success: function (data)
                {
                    location.reload();
                }
            });
    }
</script>