﻿
@{
    ViewBag.Title = "CashoutProcess";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Cashout</h5>

                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">

                                    <div class="form-group">
                                        <select id="UserID" ng-model="UserID" ng-change="selectedItemChanged(UserID)" class="input-control"
                                                ng-options="o.UserID as o.UserName for o in getUserNameList">
                                            <option value=""> Select User Name</option>
                                        </select>
                                        @*<select data-placeholder="Choose a Country..." class="chosen-select" tabindex="2">
                                                <option>Search Name</option>
                                                <option>ABC</option>
                                                <option>XYZ</option>
                                                <option>PQR</option>
                                            </select>*@
                                    </div>
                                    <div class="form-group">
                                        <select id="RoleID" ng-model="RoleID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                                ng-options="o.RoleID as o.RoleName for o in getRole">
                                            <option value="">Select Role</option>
                                        </select>
                                    </div>
                                    @*<div class="form-group">
                                            <select class="input-control">
                                                <option>Select User</option>
                                                <option>User 1</option>
                                                <option>User 2</option>
                                                <option>User 3</option>
                                            </select>
                                        </div>*@
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="@DateTime.Now" style="width: 92.5%;" id="txtFromDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="@DateTime.Now" style="width: 92.5%;" id="txtToDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select id="paymentStatusID" ng-model="paymentStatusID" ng-change="selectedItemChanged(paymentStatusID)" class="input-control"
                                                ng-options="o.paymentStatusID as o.PaymentStatus for o in getPaymentStatus">
                                            <option value=""> select Status</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-primary btn-xs" type="submit" onclick="SearchCashoutProcess()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <a class="collapse-link" href="">
                            <div class="ibox-title redtitle">
                                <h5>List View</h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                            </div>
                        </a>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="search-d">
                                    <div class="input-group">
                                        <input type="text" class="searchi">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12 pad0">
                                        <div class="col-md-12 pad0">
                                            <div class="table-responsive">
                                                <!--<table id="example1" class="table table-striped table-bordered">
                                                  <thead>
                                                    <tr>
                                                      <th width="141">Request ID</th>
                                                      <th width="124">User </th>
                                                      <th width="151">Role Id</th>
                                                      <th width="127">Amount</th>
                                                      <th width="191">Payment Source</th>
                                                      <th width="110">Status</th>
                                                      <th width="143"> <strong>Requested</strong> On</th>
                                                      <th width="198">Tran. Compl. On</th>
                                                      <th width="135">Wallet Bal. </th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                      <td><a href="admin-ca-cashoutprocess.html#bankdetails">1</a></td>
                                                      <td>abc</td>
                                                      <td>Signal Provider</td>
                                                      <td class="center">10</td>
                                                      <td class="center">Bank</td>
                                                      <td class="center">Pending</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">40</td>
                                                    </tr>
                                                    <tr>
                                                      <td>2</td>
                                                      <td>xyz</td>
                                                      <td>Referrer</td>
                                                      <td class="center">20</td>
                                                      <td class="center">Bank</td>
                                                      <td class="center">Success</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">10</td>
                                                    </tr>
                                                    <tr>
                                                      <td>3</td>
                                                      <td>xyz</td>
                                                      <td>Signal Provider</td>
                                                      <td class="center">30</td>
                                                      <td class="center">Bank</td>
                                                      <td class="center">Fail</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">40</td>
                                                    </tr>
                                                  </tbody>
                                                  <tfoot>
                                                  </tfoot>
                                                </table>-->
                                            </div>
                                            <div class="table-responsive">
                                                <table width="100%" class="table table-striped table-bordered" id="example1">
                                                    <thead>
                                                        <tr>
                                                            <th width="48">ID</th>
                                                            @*<th width="77">Voucher</th>*@
                                                            <th width="75">User</th>
                                                            <th width="109">Role</th>
                                                            <th width="103">Submitted</th>
                                                            @*<th width="100">Type</th>*@
                                                            <th width="84">Amount </th>
                                                            <th width="62">Closing Amount</th>
                                                            <th width="178">Status </th>
                                                            <th width="178">Documents </th>
                                                            <th width="172">Source</th>
                                                            <th width="125">Transaction</th>
                                                            <th width="77">Comments</th>
                                                            <th width="77">Completed</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="GetCheckOutProcessDetails">
                                                        @*<tr>
                                                                <td><a href="admin-ca-cashoutprocess.html#bankdetails">01</a></td>
                                                                <td>&nbsp;</td>
                                                                <td>Mr.Jack</td>
                                                                <td>Signal Provider</td>
                                                                <td>
                                                                    9:30am <br>
                                                                    15-Dec-19
                                                                </td>
                                                                <td>Regular</td>
                                                                <td>$50</td>
                                                                <td>$50</td>
                                                                <td>Pending</td>
                                                                <td>Wallet</td>
                                                                <td>#C0001256</td>
                                                                <td>
                                                                    <div class="more">
                                                                        <p class="m-0">
                                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                                        </p>
                                                                    </div>

                                                                </td>
                                                                <td>
                                                                    10:30am <br>
                                                                    16-Dec-19
                                                                </td>
                                                            </tr>*@
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox">
                        <a class="collapse-link" href="">
                            <div class="ibox-title bluetitle">
                                <h5 id="bankdetails">Bank Details</h5>
                                <div class="ibox-tools">  <i class="fa fa-chevron-up"></i></div>
                            </div>
                        </a>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="top5">
                                        <table width="60%" class="table table-hover margin bottom">
                                            <tbody>
                                                <tr>
                                                    <td width="44%" class="border-0 text-left">Cashout Request ID</td>
                                                    <td width="56%" class="text-right text-navy border-0" id="txtRequestId"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">User</td>
                                                    <td class="text-right text-navy" id="txtUserName"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Role</td>
                                                    <td class="text-right text-navy" id="txtRole"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Wallet Balanced</td>
                                                    <td class="text-right  text-navy" id="txtWalletBalance"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Requested Amount</td>
                                                    <td class="text-right  text-navy" id="txtRequestAmount"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Requested Date</td>
                                                    <td class="text-right  text-navy" id="txtEntryDate"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">&nbsp;</td>
                                                    <td class="text-right">&nbsp;</td>
                                                </tr>
                                                @*<tr>
                                                        <td class="text-left">Bank Details</td>
                                                        <td class="text-right"><span class="text-left" id="txtBankDetails"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">Bank Name</td>
                                                        <td class="text-right"><span class="text-left" id="txtBankName"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">IFSC Code</td>
                                                        <td class="text-right" id="txtIFSCCode"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">Account Number</td>
                                                        <td class="text-right">028962148</td>
                                                    </tr>*@
                                                <tr>
                                                    <td class="text-center">Bank Details</td>
                                                    <td class="text-center"><textarea cols="12" rows="5" class="input-control" readonly="readonly" id="txtBankDetails"></textarea></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox">
                        <a class="collapse-link" href="">
                            <div class="ibox-title greentitle">
                                <h5>Transaction Details</h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                            </div>
                        </a>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="top5">
                                        <table class="table table-hover margin bottom">
                                            <tbody>
                                                <tr>
                                                    <td width="31%" class="text-left">Payment Source</td>
                                                    <td width="69%" class="text-right">
                                                        <select id="paymentSourcesID" ng-model="paymentSourcesID" ng-change="selectedItemChanged(paymentSourcesID)" class="input-control"
                                                                ng-options="o.paymentSourcesID as o.Name for o in getPaymentSource"></select>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="text-left">Payment Status</td>
                                                    <td class="text-right">
                                                        <select id="paymentStatusID" ng-model="paymentStatusID" ng-change="selectedItemChanged(paymentStatusID)" class="input-control"
                                                                ng-options="o.paymentStatusID as o.PaymentStatus for o in getPaymentStatus">
                                                            <option value=""> select Status</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Transaction ID</td>
                                                    <td class="text-right"><input type="text" class="input-control" ng-model="TransctionID"></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Transaction Date</td>
                                                    <td class="text-right">
                                                        <div id="data_1">
                                                            <div class="input-group date">
                                                                <span class="input-group-addon"></span>
                                                                <input type="text" class="input-control" style="width: 92.5%;" ng-model="txtTransactionDate" id="txtTDate"><i class="fa fa-calendar top5"> </i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">Comments</td>
                                                    <td class="text-right"><textarea cols="8" rows="5" class="input-control" ng-model="txtComment"></textarea></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">&nbsp;</td>
                                                    <td class="text-left"><button class="btn btn-primary btn-xs" type="submit" ng-click="TransactionSubmit()">Submit</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        getPaymentSourceList();
        getPaymentStatusList();
        GetUserNameList();
        getRole();
        function getRole() {
            $.ajax({
                url: '@Url.Action("GetRolelist", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getRole = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);

                }

            });
        }
        function GetUserNameList() {
            $.ajax({
                url: '@Url.Action("GetUserNameList", "Admin")',
                type: "Get",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getUserNameList = data;
                    $scope.$apply();
                }

            });

        }
        function getPaymentStatusList() {
            $.ajax({
                url: '@Url.Action("GetPaymentStatusList", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getPaymentStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function getPaymentSourceList() {
            $.ajax({
                url: '@Url.Action("GetPaymentSourceList", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getPaymentSource = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        $scope.TransactionSubmit=function()
        {
            var RequestID = $("#txtRequestId").html();
            var PaymentSourceID = $scope.paymentSourcesID;
            var PaymentStatus = $scope.paymentStatusID;
            var TrasctionId = $scope.TransctionID;
            var TrasctionDate =$("#txtTDate").val();
            var comment = $scope.txtComment;
            var Transctionres = {
                'RequestID': RequestID, 'PaymentSourceID': PaymentSourceID, 'PaymentStatus': PaymentStatus,
                'TrasctionId': TrasctionId, 'TrasctionDate': TrasctionDate, 'comment': comment
            }
            var res = JSON.stringify(Transctionres);
            $.ajax({
                url: '@Url.Action("AddCashoutDetails", "Admin")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { result: res },
                success: function (data) {
                    // alert("Insert risk data successfully");
                    location.reload();
                }
            });

        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetAllCashoutProcessList", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += ' <td  class="text-left text-navy">'+'<button type="button"  onclick="BankDetails(' + '' + str[i].RequestID + '' + ')"> ' + str[i].RequestID + ' </button></td>';
                        htmlStr += '<td>' + str[i].UserName + '</td>';
                        htmlStr += '<td>' + str[i].RoleName + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        htmlStr += '<td>' + str[i].RequestAmount + '</td>';
                        htmlStr += '<td>' + str[i].WalletBalance + '</td>';
                        htmlStr += '<td>' + str[i].PaymentStatus + '</td>';
                        htmlStr += '<td>' + str[i].DocumentsApproved + '</td>';
                        htmlStr += '<td>' + str[i].Name + '</td>';
                        htmlStr += '<td>' + str[i].TransactionDetails + '</td>';
                        htmlStr += '<td>' + str[i].Comments + '</td>';
                        htmlStr += '<td>' + str[i].RequestCompletedOn + '</td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetCheckOutProcessDetails").html(htmlStr)
                }
            });
        }
    });
    function BankDetails(RequestID)
    {
       //alert(RequestID);
        //  var id = RequestID;
        $.ajax({
            url: '@Url.Action("GetBankDetailsByID", "Admin")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: { RequestID: RequestID },
            success: function (data) {
                var obj = JSON.parse(data);
                //alert(obj[0].UserName);
                $("#txtRequestId").html(obj[0].RequestID);
                $("#txtUserName").html(obj[0].UserName);
                $("#txtRole").html(obj[0].RoleName);
                $("#txtWalletBalance").html(obj[0].WalletBalance);
                $("#txtRequestAmount").html(obj[0].RequestAmount);
                $("#txtEntryDate").html(obj[0].EntryDate);
                $("#txtBankDetails").html(obj[0].UserBankDetails)
                //alert(obj[0].UserName);
            }
        });
    }

    function SearchCashoutProcess() {
        var Fromdate = $("#txtFromDate").val();
        var Todate = $("#txtToDate").val();
        var user = document.getElementById("UserID");
        var username = user.options[user.selectedIndex].text;
        var fromdate = $("#txtFromDate").val();
        var Todate = $("#txtToDate").val()
        var payment = document.getElementById('paymentStatusID');
        var paymentstatusid = parseInt(payment.selectedIndex);
        var role = document.getElementById('RoleID');
        var RoleId = parseInt(role.selectedIndex);
        var SearchDeatils = { 'UserName': username, 'FromDate': fromdate, 'ToDate': Todate, 'RoleID': RoleId, 'PaymentStatusID': paymentstatusid}
        var res = JSON.stringify(SearchDeatils);
        $.ajax({
            url: '@Url.Action("SearchCashoutProcessList", "Admin")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: { Result: res },
            success: function (data) {
                var str = JSON.parse(data);
                var htmlStr = "";
                for (var i = 0; i < str.length; i++) {
                    htmlStr += '<tr id="riskRow">';
                    htmlStr += ' <td  class="text-left text-navy">' + '<button type="button"  onclick="BankDetails(' + '' + str[i].RequestID + '' + ')"> ' + str[i].RequestID + ' </button></td>';
                    htmlStr += '<td>' + str[i].UserName + '</td>';
                    htmlStr += '<td>' + str[i].RoleName + '</td>';
                    htmlStr += '<td>' + str[i].EntryDate + '</td>';
                    htmlStr += '<td>' + str[i].RequestAmount + '</td>';
                    htmlStr += '<td>' + str[i].WalletBalance + '</td>';
                    htmlStr += '<td>' + str[i].PaymentStatus + '</td>';
                    htmlStr += '<td>' + str[i].Name + '</td>';
                    htmlStr += '<td>' + str[i].TransactionDetails + '</td>';
                    htmlStr += '<td>' + str[i].Comments + '</td>';
                    htmlStr += '<td>' + str[i].RequestCompletedOn + '</td>';
                    htmlStr += '</tr>';
                }
                $("#GetCheckOutProcessDetails").html(htmlStr)
            }
        });
    }
</script>