﻿
@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Documents</h5>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select data-placeholder="Choose a Country..." class="chosen-select" tabindex="2">
                                            <option>Search Name</option>
                                            <option>ABC</option>
                                            <option>XYZ</option>
                                            <option>PQR</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="23-Nov-19" style="width: 92.5%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="23-Nov-19" style="width: 92.5%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select class="input-control">
                                            <option>Select Role</option>
                                            <option>Trader</option>
                                            <option>Signal Provider</option>
                                            <option>Referrer</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="input-control">
                                            <option>Status</option>
                                            <option>Inactive</option>
                                            <option>Active</option>
                                            <option>No Records</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="input-control">
                                            <option>Email</option>
                                            <option>jack@gmail.com</option>
                                            <option>smith@yahoo.com</option>
                                            <option>john@gmail.com</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-primary btn-xs" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <a class="collapse-link" href="">
                    <div class="ibox-title bluetitle">
                        <h5>List View</h5>
                        <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                    </div>
                </a>
                <div class="ibox-content">
                    <div class="row">
                        @*<div class="col-md-6">
                                <div class="alert alert-danger alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    Do you want to Reject selected documents?, Click &nbsp;
                                    <button type="button" class="btn btn-primary btn-xs">OK</button>
                                    &nbsp;to Confirm
                                </div>
                            </div>*@
                        <div style="clear:both;"></div>
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <div class="row">
                                    <div class="search-d">
                                        <div class="input-group">
                                            <input type="text" class="searchi">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-xs btn-xs" type="button"> Submit </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="79" hidden>Doc Id</th>
                                                <th width="79">User</th>
                                                <th width="89">Role</th>
                                                <th width="123">Email</th>
                                                <th width="97">Country</th>
                                                <th width="115">Submitted</th>
                                                <th width="93">Photo</th>
                                                <th width="248">Details</th>
                                                <th width="108">Checked </th>
                                                <th width="128">Comments</th>
                                                <th width="99">Status</th>
                                                <th width="99"></th>
                                                <th width="53">View</th>
                                            </tr>
                                        </thead>
                                        <tbody id="GetAdminDocuments"></tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <button class="btn btn-sm btn-primary btn-xs" type="submit" ng-click="SubmitApprove()">Approve</button>
                                <button class="btn btn-sm btn-danger btn-xs" type="submit" ng-click="SubmitReject()">Reject</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <a class="collapse-link" href="">
                    <div class="ibox-title greentitle">
                        <h5>Details</h5>
                        <div class="ibox-tools"> <i class="fa fa-chevron-up"></i></div>
                    </div>
                </a>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="thumbs">
                                            <div class="table-responsive top10">
                                                <table width="100%" class="table" id="user">
                                                    <tbody>
                                                        <tr>
                                                            <td width="45%"><label> User Name: </label></td>
                                                            <td width="55%" colspan="2"><div align="left" id="txtUserName"> </div></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label>
                                                                    <div align="left">Role:</div>
                                                                </label>
                                                            </td>
                                                            <td colspan="2"><div align="left" id="txtRole"></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label>
                                                                    <div align="left">Email Id:</div>
                                                                </label>
                                                            </td>
                                                            <td colspan="2"><div align="left" id="txtEmail"> </div></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label>
                                                                    <div align="left">Country:</div>
                                                                </label>
                                                            </td>
                                                            <td colspan="2"><div align="left" id="txtCountry"></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label>
                                                                    <div align="left">Submitted:</div>
                                                                </label>
                                                            </td>
                                                            <td colspan="2"><div align="left" id="txtSubmitted"> </div></td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>Checked On:</label></td>
                                                            <td colspan="2"><div align="left" id="txtCheckDate"> </div></td>
                                                        </tr>
                                                        <tr>

                                                            <td>
                                                                <label>
                                                                    <div align="left">Photo:</div>
                                                                </label>
                                                            </td>
                                                            <td colspan="2"><div align="left"><img src="" width="78" height="75" class="img-responsive" id="ProfileImage"></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div align="left">
                                                                    <label>Profile:</label>
                                                                </div>
                                                            </td>
                                                            <td colspan="2"><div align="left"><img src="~/Content/CSS/img/bank-statement.png" width="78" height="75" class="img-responsive"></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div align="left">
                                                                    <label>Identity:</label>
                                                                </div>
                                                            </td>
                                                            <td colspan="2"><img src="~/Content/CSS/img/bank-statement.png" width="79" height="57" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div align="left">
                                                                    <label>Address:</label>
                                                                </div>
                                                            </td>
                                                            <td colspan="2"><img src="~/Content/CSS/img/bank-statement.png" width="79" height="57" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div align="left">
                                                                    <label>Bank details:</label>
                                                                </div>
                                                            </td>
                                                            <td colspan="2" id="TxtBankDetails"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div align="left">
                                                                    <label>Bank Statement:</label>
                                                                </div>
                                                            </td>
                                                            <td colspan="2"><img src="~/Content/CSS/img/bank-statement.png" width="79" height="57" class="img-responsive"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div align="left">
                                                                    <label>Status:</label>
                                                                </div>
                                                            </td>
                                                            <td colspan="2" id="txtStatus"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div align="left">
                                                                    <label>Comments:</label>
                                                                </div>
                                                            </td>
                                                            <td colspan="2" id="txtComments"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        @*<button class="btn btn-xs btn-primary" type="submit">Edit</button>*@
                                        <br>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="gallery">
                                            <div class="thumbs">

                                                <div class="thumb active"><img src="~/Content/CSS/img/a3.jpg" class="img-responsive"></div>
                                                <div class="thumb"><img src="~/Content/CSS/img/dummy.jpg" class="img-responsive"></div>
                                                <div class="thumb"><img src="~/Content/CSS/img/dummy.jpg" class="img-responsive"></div>
                                                <div class="thumb"><img src="~/Content/CSS/img/dummy.jpg" class="img-responsive"></div>
                                                <div class="thumb"><img src="~/Content/CSS/img/dummy.jpg" class="img-responsive"></div>
                                            </div>
                                            <div class="images">
                                                <div class="image active">
                                                    <div class="content"><img src="~/Content/CSS/img/a3.jpg" width="200" class="testimg" height="200"></div>
                                                </div>
                                                <div style="clear:both;"></div>
                                                <div class="image">
                                                    <div class="content"><img src="~/Content/CSS/img/1-1.jpg" width="700" class="testimg" height="900"></div>
                                                </div>
                                                <div style="clear:both;"></div>
                                                <div class="image">
                                                    <div class="content"><img src="~/Content/CSS/img/1-1.jpg" width="700" class="testimg" height="900"></div>
                                                </div>
                                                <div style="clear:both;"></div>
                                                <div class="image">
                                                    <div class="content"><img src="~/Content/CSS/img/1-1.jpg" width="700" class="testimg" height="900"></div>
                                                </div>
                                                <div style="clear:both;"></div>
                                                <div class="image">
                                                    <div class="content"><img src="~/Content/CSS/img/1-1.jpg" width="700" class="testimg" height="900"></div>
                                                </div>
                                                <div style="clear:both;"></div>
                                                <div class="image">
                                                    <div class="content"><img src="~/Content/CSS/img/1-1.jpg" width="700" class="testimg" height="900"></div>
                                                </div>
                                                <div style="clear:both;"></div>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="ibox">
                <a class="collapse-link" href="">
                    <div class="ibox-title greentitle">
                        <h5>Edit</h5>
                        <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                    </div>
                </a>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                @*<div class="col-md-5 pad0">
                                    <div class="alert alert-danger alert-dismissable">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                        Do you want to Reject this document?, Click &nbsp;
                                        <button type="button" class="btn btn-primary btn-xs">OK</button>
                                        <button type="button" class="btn btn-success btn-xs">Cancel</button>

                                        to Confirm
                                    </div>
                                </div>*@
                                <div class="col-md-4 pad0">
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input type="name" class="input-control" placeholder="Mr.Kulkarni">
                                    </div>
                                    <div class="form-group">
                                        <label>Role</label>
                                        <input type="name" class="input-control" placeholder="Referrer">
                                    </div>
                                    <div class="form-group">
                                        <label>Email Id</label>
                                        <input type="name" class="input-control" placeholder="abc@gmail.com">
                                    </div>
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="name" class="input-control" placeholder="India">
                                    </div>
                                    <div class="form-group">
                                        <label>Submitted</label>
                                        <input type="name" class="input-control" placeholder="9.30 am, 12-Nov-19">
                                    </div>
                                    <div class="form-group">
                                        <label>Checked On</label>
                                        <input type="name" class="input-control" placeholder="3.30 pm, 14-Nov-19">
                                    </div>
                                    <div class="form-group">
                                        <label>Photo</label>
                                        <div style="clear:both;"></div>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn bt-choosefile btn-file">
                                                <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                            </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Profile</label>
                                        <div style="clear:both;"></div>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn bt-choosefile btn-file">
                                                <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                            </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Identity</label>
                                        <div style="clear:both;"></div>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn bt-choosefile btn-file">
                                                <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                            </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <div style="clear:both;"></div>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn bt-choosefile btn-file">
                                                <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                            </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Bank details:</label>
                                        <textarea name="" cols="45" rows="5" class="input-control" placeholder="Bank of America
USA
12345678
John Smith
Current Account"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Bank Statement: </label>
                                        <div style="clear:both;"></div>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn bt-choosefile btn-file">
                                                <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
Max: 1000px(w) - 1000px(H)">
                                            </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="input-control">
                                            <option>Status</option>
                                            <option>Inactive</option>
                                            <option>Active</option>
                                            <option>No Records</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Comments</label>
                                        <textarea name="textarea" id="textarea" cols="45" rows="5" class="input-control"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="i-checks">
                                                <label>
                                                    <div class="iradio_square-green" style="position: relative;">
                                                        <input type="radio" value="option1" name="a" style="position: absolute; opacity: 0;">
                                                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                    </div>
                                                    <i></i> Approve
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="i-checks">
                                                <label>
                                                    <div class="iradio_square-green" style="position: relative;">
                                                        <input type="radio" value="option1" name="a" style="position: absolute; opacity: 0;">
                                                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                    </div>
                                                    <i></i> Reject
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-xs btn-primary top10" type="submit">Submit</button>
                                    <br>
                                    <!--<div class="table-responsive">
                                                        <table width="100%" class="table" id="user">
                                                          <tbody>
                                                            <tr>
                                                              <td width="26%"><label> User Name: </label></td>
                                                              <td colspan="2"><div align="left">Mr.Kulkarni </div></td>
                                                            </tr>
                                                            <tr>
                                                              <td><label>
                                                                <div align="left">Role:</div>
                                                                </label></td>
                                                              <td colspan="2"><div align="left">Referrer</div></td>
                                                            </tr>
                                                            <tr>
                                                              <td><label>
                                                                <div align="left">Email Id:</div>
                                                                </label></td>
                                                              <td colspan="2"><div align="left">abc@gmail.com </div></td>
                                                            </tr>
                                                            <tr>
                                                              <td><label>
                                                                <div align="left">Country:</div>
                                                                </label></td>
                                                              <td colspan="2"><div align="left">India</div></td>
                                                            </tr>
                                                            <tr>
                                                              <td><label>
                                                                <div align="left">Submission:</div>
                                                                </label></td>
                                                              <td colspan="2"><div align="left">9.30 am, 12-Nov-19 </div></td>
                                                            </tr>
                                                            <tr>
                                                              <td><label>Checked On:</label></td>
                                                              <td colspan="2"><div align="left">3.30 pm, 14-Nov-19 </div></td>
                                                            </tr>
                                                            <tr>
                                                              <td><label>
                                                                <div align="left">Photo:</div>
                                                                </label></td>
                                                              <td colspan="2"><div align="left"><img src="../img/a3.jpg" width="128" height="128" class="img-responsive"></div></td>
                                                            </tr>
                                                            <tr>
                                                              <td><div align="left">
                                                                  <label>Profile:</label>
                                                                </div></td>
                                                              <td colspan="2"><img src="../img/bank-statement.png" width="201" height="128" class="img-responsive"></td>
                                                            </tr>
                                                            <tr>
                                                              <td><div align="left">
                                                                  <label>Identity:</label>
                                                                </div></td>
                                                              <td colspan="2"><img src="../img/bank-statement.png" width="201" height="128" class="img-responsive"></td>
                                                            </tr>
                                                            <tr>
                                                              <td><div align="left">
                                                                  <label>Address:</label>
                                                                </div></td>
                                                              <td colspan="2"><div class="fileinput fileinput-new" data-provides="fileinput"> <span class="btn bt-choosefile btn-file"><span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                                                  <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),
                                    Max: 1000px(w) - 1000px(H)">
                                                                  </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a> </div></td>
                                                            </tr>
                                                            <tr>
                                                              <td><div align="left">
                                                                  <label>Bank details:</label>
                                                                </div></td>
                                                              <td colspan="2"></td>
                                                            </tr>
                                                            <tr>
                                                              <td><div align="left">
                                                                  <label>Bank Statement:</label>
                                                                </div></td>
                                                              <td colspan="2"><img src="../img/bank-statement.png" width="201" height="128" class="img-responsive"></td>
                                                            </tr>
                                                            <tr>
                                                              <td><div align="left">
                                                                  <label>Status:</label>
                                                                </div></td>
                                                              <td colspan="2">Inactive</td>
                                                            </tr>
                                                            <tr>
                                                              <td><div align="left">
                                                                  <label>Comments:</label>
                                                                </div></td>
                                                              <td colspan="2"><label>
                                                                <textarea name="textarea" id="textarea" cols="45" rows="5" class="input-control"></textarea>
                                                                </label></td>
                                                            </tr>
                                                            <tr>
                                                              <td>&nbsp;</td>
                                                              <td width="21%"><div class="i-checks">
                                                                  <label>
                                                                  <input type="radio" value="option1" name="a">
                                                                  <i></i> Approve</label>
                                                                </div></td>
                                                              <td width="53%"><div class="i-checks">
                                                                  <label>
                                                                  <input type="radio" value="option1" name="a">
                                                                  <i></i> Reject</label>
                                                                </div></td>
                                                            </tr>
                                                            <tr>
                                                              <td>&nbsp;</td>
                                                              <td><button class="btn btn-xs btn-primary" type="submit">Submit</button></td>
                                                              <td>&nbsp;</td>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </div>-->
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        $scope.SubmitApprove = function () {
            //created array
            var selected = new Array();
            //var ISApprove = 1;
            //Reference the Table.
            var tblFruits = document.getElementById("example1");
            //Reference all the CheckBoxes in Table.
            var chks = example1.getElementsByTagName("INPUT");
            // Loop and push the checked CheckBox value in Array.
            for (var i = 0; i < chks.length; i++) {
                if (chks[i].checked) {
                    selected.push(chks[i].value);
                    //selected.push('\'' + chks[i].value + '\'');
                }
            }
            var SelectedDocId = selected.join(",");
            // alert(SelectedDocId);
            $.ajax({
                url: '@Url.Action("DocumentApprove", "Admin")',
                type: "post",
                response: contenttype = 'application/json',
                data: { SelectedDocId: SelectedDocId },
                success: function (data) {
                    //alert("insert risk data successfully");
                    location.reload();
                }
            });
        }
        $scope.SubmitReject = function () {
            //created array
            var selected = new Array();
            //var ISApprove = 1;
            //Reference the Table.
            var tblFruits = document.getElementById("example1");
            //Reference all the CheckBoxes in Table.
            var chks = example1.getElementsByTagName("INPUT");
            // Loop and push the checked CheckBox value in Array.
            for (var i = 0; i < chks.length; i++) {
                if (chks[i].checked) {
                    selected.push(chks[i].value);
                    //selected.push('\'' + chks[i].value + '\'');
                }
            }
            var SelectedDocId = selected.join(",");
            // alert(SelectedDocId);
            $.ajax({
                url: '@Url.Action("DocumentReject", "Admin")',
                type: "post",
                response: contenttype = 'application/json',
                data: { SelectedDocId: SelectedDocId },
                success: function (data) {
                    //alert("insert risk data successfully");
                    location.reload();
                }
            });
        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetAdminDocumentList", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row" hidden>' + str[i].UserDocumentsID + '</td>';
                        htmlStr += '<td>' + str[i].UserName + '</td>';
                        htmlStr += '<td>' + str[i].RoleName + '</td>';
                        htmlStr += '<td>' + str[i].Email + '</td>';
                        htmlStr += '<td>' + str[i].Country + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        htmlStr += '<td>' + str[i].UserPhoto + '</td>';
                        htmlStr += '<td>' + '<div class="more">' + '<p class="m-0">' + str[i].UserBankDetails + '</p>' + '</div>' + '</td>';
                        htmlStr += '<td>' + str[i].ApprovalDate + '</td>';
                        // htmlStr += '<td>' + '<div class="more">' + '<p class="m-0">' +Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua  '</p>' + '</div>' + '</td>';
                        htmlStr += '<td>' + '<div class="more">' + '<p class="m-0">' + str[i].AdminComments + '</p>' + '</div>' + '</td>';
                        htmlStr += '<td>' + str[i].IsApproved + '</td>';
                        if (str[i].IsApproved == 1) {
                            htmlStr += '<td>' + '<div>' + '<input type="checkbox" name="chkvalid" class="check" value=' + str[i].UserDocumentsID + ' Checked>' + '</div>' + '</td>';
                        }
                        else
                        {
                            htmlStr += '<td>' + '<div>' + '<input type="checkbox" name="chkvalid" class="check" value=' + str[i].UserDocumentsID + '>' + '</div>' + '</td>';
                        }                       
                        htmlStr += ' <td><button type="button" onclick="ViewDocuments(' + '' + str[i].UserID + '' + ',' + '\'' + str[i].UserName + '\'' + ',' + '\'' + str[i].RoleName + '\'' + ',' + '\'' + str[i].Email + '\'' + ',' + '\'' + str[i].Country + '\' ' + ' ,' + '\'' + str[i].EntryDate + '\'' + ',' + '\'' + "" + '\'' + ',' + '\'' + str[i].ApprovalDate + '\'' + ',' + '\'' + str[i].AdminComments + '\'' + ',' + '\'' + str[i].IsApproved + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetAdminDocuments").html(htmlStr)
                }
            });
        }
    });

    function ViewDocuments(userid, UserName, RoleName, Email, Country, EntryDate, UserBankDetails, ApprovalDate, AdminComments, IsApproved) {
        $("#txtUserName").html(UserName);
        $("#txtRole").html(RoleName);
        $("#txtEmail").html(Email);
        $("#txtCountry").html(Country);
        $("#txtSubmitted").html(EntryDate);
        $("#txtCheckDate").html(ApprovalDate);
        $("#TxtBankDetails").html(UserBankDetails);
        $("#txtStatus").html(IsApproved);
        $("#txtComments").html(AdminComments);
        // show image display is remaining
          $.ajax({
                url: '@Url.Action("GetUserDocument", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { },
                success: function (data) {
                    alert(data.response[0]);
                    var path = "../Content/CSS/img/";
                    $('#ProfileImage').attr("src", path + data.response[1]);
                    //$('#docPic').attr("src", path + data.response[0]);
                    //$('#docidprof').attr("src", path + data.response[2]);
                    //$('#docaddprof').attr("src", path + data.response[3]);
                    //$("#docBankDetails").val(data.response[4]);
                    //$('#docbankstatement').attr("src", path + data.response[5]);
                    //$("#bankDetails").val(data.response[4]);
                    //$("#adminComment").text(data.response[6]);

                }
            });

    }
</script>