﻿
@{
    ViewBag.Title = "EditDetailsValidity";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signal ATM</title>
    @Styles.Render("~/bundles/css")
    @*<link href="~/Content/CSS/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CSS/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Morris -->
    <link href="~/Content/CSS/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/CSS/css/mycustom.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/dataTables/dataTables.bootstrap.min.css" rel="stylesheet">
    <!-- Custom css -->
    <link href="~/Content/CSS/css/mycustom.css" rel="stylesheet">
    <!-- Datepicker css -->
    <link href="~/Content/CSS/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/select2/select2.min.css" rel="stylesheet">
    <!-- orris -->
    <link href="~/Content/CSS/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="~/Content/CSS/css/animate.css" rel="stylesheet">
    <link href="~/Content/CSS/css/style.css" rel="stylesheet">
    <!-- Checkbox css -->
    <link href="~/Content/CSS/css/plugins/iCheck/custom.css" rel="stylesheet">
    <!-- Side bar css -->
    <link rel="stylesheet" href="~/Content/CSS/css/sidebar/dist.css">
    <!-- Select file -->
    <link href="~/Content/CSS/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    </link>*@
</head>
<body>
    <div class="wrapper wrapper-content">
        

        <div class="ibox">
                <div class="ibox-title greentitle">
                    <h5>Edit Validity</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <h5>Validity ID: <span class="text-navy">01</span>, Created Date: <span class="text-navy">9.30 am 12-Nov-19</span></h5>
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <label>Peroid</label>
                                        <input type="name" class="input-control" placeholder="Peroid">
                                    </div>
                                    <div class="form-group">
                                        <label>Unit</label>
                                        <select class="input-control" placeholder="City">
                                            <option>Hours</option>
                                            <option>Day</option>
                                            <option>Week</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="input-control" placeholder="City">
                                            <option>Status</option>
                                            <option>Active</option>
                                            <option>Inactive</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary" type="submit">Submit</button>

                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title yellowtitle">
                    <h5 id="details">Details</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3 pad0">
                                <div class="table-responsive">
                                    <table width="100%" class="table">
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Validity ID:</div>
                                                </label>
                                            </td>
                                            <td><div align="left">01</div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Period:</div>
                                                </label>
                                            </td>
                                            <td><div align="left">1</div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Unit</div>
                                                </label>
                                            </td>
                                            <td><div align="left">Hours</div></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Status:</div>
                                                </label>
                                            </td>
                                            <td><div align="left">Active</div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    <div align="left">Created Date:</div>
                                                </label>
                                            </td>
                                            <td><div align="left">9.30 am, 12-Nov-19 </div></td>
                                        </tr>
                                    </table>
                                    <button class="btn btn-xs btn-primary" type="submit">Edit</button>
                                </div>

                                <br>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</body>
</html>
