﻿
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="PersonalDetails">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Feedback</h5>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select id="UserID" ng-model="UserID" ng-change="selectedItemChanged(UserID)" class="input-control"
                                                ng-options="o.UserID as o.UserName for o in getUserNameList"></select>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="@DateTime.Now" style="width: 92.5%;" id="txtFromDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="@DateTime.Now" style="width: 92.5%;" id="txtToDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select id="RoleID" ng-model="RoleID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                                ng-options="o.RoleID as o.RoleName for o in getRole">
                                            <option value="">Select Role</option>
                                        </select>
                                    </div>
                                    @*<div class="form-group">
                                            <select class="input-control">
                                                <option>Select Status</option>
                                                <option>Read</option>
                                                <option>Not Read</option>
                                            </select>
                                        </div>*@
                                    <div class="form-group">
                                        <select id="TicketSubjectID" ng-model="TicketSubjectID" ng-change="selectedItemChanged(TicketSubjectID)" class="input-control"
                                                ng-options="o.TicketSubjectID as o.Subject for o in getTicketSubject"></select>
                                    </div>
                                    <button class="btn btn-primary btn-xs" type="submit" ng-click="SearchFeedback()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="ibox ">
                        <div class="ibox-title redtitle">
                            <h5>List Of Feedback</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="search-d">
                                    <div class="input-group">
                                        <input type="text" class="searchi">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary btn-xs" type="button">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th width="72">Id</th>
                                                @*<th width="196">Image</th>*@
                                                <th width="205">Subject</th>
                                                <th width="251">Created on</th>
                                                @*<th width="552">Feedback</th>*@
                                                <th width="72">View</th>
                                                <th width="552">View File</th>
                                            </tr>
                                        </thead>
                                        <tbody id="GetAllFeedback"></tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- View feedback -->
        <div class="modal fade" id="viewfeedback" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">View Feedback</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 pad0">
                            <div class="form-group">
                                <div class="modal-body" id="txtMsg"> </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="col-md-12 pad0">
                            @* <button  class="btn btn-sm btn-primary" type="button" onclick="">Submit</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- edit feedback -->
        <div class="modal fade" id="editfeedback" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Feedback</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 pad0">
                            <div class="form-group">
                                <textarea name="" cols="10" rows="10" class="input-control" placeholder="Enter here"></textarea>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="col-md-12 pad0">
                            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FeedbackImagePopup -->
        <div class="modal fade" id="FeedbackImagePopup" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">FeedBack Image</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <img id="Feedbackimg" src="" class="img-fluid">
                    </div>
                    <div class="footer">
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        GetData();
        getTicketSubjectData();
        getRole();
        GetUserNameList();
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetAllFeedbackList", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].FeedbackID + '</td>';
                        htmlStr += '<td>' + str[i].FeedbackSubject + '</td>';
                        htmlStr += '<td>' + str[i].CreateDate + '</td>';
                        //htmlStr += '<td>' + str[i].FeedbackComment + '</td>'; data-toggle="modal" data-target="#FeedbackImagePopup"
                        htmlStr += '<td><button type="button" onclick="ShowMessages(' + str[i].FeedbackID + ')"><i class="fa fa-eye" aria-hidden="true"></i></button></td>'
                        htmlStr += ' <td><button type="button" onclick="ViewImage(' + '' + str[i].FeedbackID + '' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetAllFeedback").html(htmlStr)
                }
            });

        }

        function GetUserNameList() {
            $.ajax({
                url: '@Url.Action("GetUserNameList", "Admin")',
                type: "Get",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getUserNameList = data;
                    $scope.$apply();
                }

            });

        }
        function getRole() {
            $.ajax({
                url: '@Url.Action("GetRolelist", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getRole = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);

                }

            });
        }
        function getTicketSubjectData() {
            $.ajax({
                url: '@Url.Action("GetTicketSubjectList", "SignalProvider")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getTicketSubject = data.TicketSubjectList;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                }

            });
        }

        $scope.SearchFeedback = function () {
            var selectElem = document.getElementById("UserID");
            var username = selectElem.options[selectElem.selectedIndex].text;
            var fromdate = $("#txtFromDate").val();
            var todate = $("#txtToDate").val();
            var roleid = $scope.RoleID;
            var feedbackid = document.getElementById("TicketSubjectID");
            var Feedbackname = feedbackid.options[feedbackid.selectedIndex].text;
            var arrlist = { 'UserName': username, 'FromDate': fromdate, 'Todate': todate, 'RoleID': roleid, 'FeedBackName': Feedbackname }
            var res = JSON.stringify(arrlist);
            $.ajax({
                url: '@Url.Action("SearchAllFeedbackList", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { Result: res },
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].FeedbackID + '</td>';
                        htmlStr += '<td>' + str[i].FeedbackSubject + '</td>';
                        htmlStr += '<td>' + str[i].CreateDate + '</td>';
                        //htmlStr += '<td>' + str[i].FeedbackComment + '</td>'; data-toggle="modal" data-target="#FeedbackImagePopup"
                        htmlStr += '<td><button type="button" onclick="ShowMessages(' + str[i].FeedbackID + ')"><i class="fa fa-eye" aria-hidden="true"></i></button></td>'
                        htmlStr += ' <td><button type="button" onclick="ViewImage(' + '' + str[i].FeedbackID + '' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetAllFeedback").html(htmlStr)
                }
            });


        }
        @*$scope.SubmitFeedback = function () {
            var formdata;
            if (window.FormData) {
                formdata = new FormData();
            }
            var Comments = $scope.txtComments;
            var Subject = $scope.txtSubject;
           // var result = { 'Comments': Comments, 'Subject': Subject }
         //   var jsonString = JSON.stringify(result);
            var file = document.getElementById("img").files[0];
            formdata.append("Image",file);
            formdata.append("Comments", Comments);
            formdata.append("Subject", Subject);
          //  alert(jsonString);
            $.ajax({
                url:'@Url.Action("AddFeedback", "Trader")',
                type: "POST",
                data: formdata,
                dataType: 'json',
                contentType: false,
                processData: false,
                success:function () {
                    alert("Insert  data successfully");
                    location.reload();
                }
            });
        }*@

    });
    function ShowMessages(ID) {
        $.ajax({
            url:'@Url.Action("GetMessagesByFeedbackId", "Admin")',
            type:"GET",
            Response: ContentType = 'application/json',
            data:{ FeedbackID:ID },
            success:function (data) {
                var str = JSON.parse(data);
                $("#txtMsg").html(str);
                $('#viewfeedback').modal();
            }
        });

    }
    function ViewImage(feedback) {
        $.ajax({
            url: '@Url.Action("GetImageById", "Admin")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: { FeedbackID: feedback },
            success: function (data) {
                var path = "../Content/CSS/img/";
                $('#Feedbackimg').attr("src", path + data.FeedBackImage);
                $('#FeedbackImagePopup').modal();
            }

        });
    }

</script>