﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <title>Signal ATM</title>
    <link href="~/Content/CSS/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CSS/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/CSS/css/animate.css" rel="stylesheet">
    <link href="~/Content/CSS/css/style.css" rel="stylesheet">
    <link href="~/Content/CSS/css/mycustom.css" rel="stylesheet">

    <!-- Mainly scripts -->
    <script src="~/Content/CSS/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/CSS/js/popper.min.js"></script>
    <script src="~/Content/CSS/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/Content/CSS/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</head>
<body style="background:#FFFFFF;">
    <div class="text-center loginscreen animated fadeInDown">
        <div class="container">
            <div class="col-md-9 col-centerd">
                <div class="row">
                    <div class="col-lg-7">
                        <center>
                            <img src="~/Content/CSS/img/logo-login.jpg" class="img-responsive logol top10">
                        </center>
                        <h1 class="wds-type login-title wds-type--center wds-m-t-4">Login</h1>                     
                        @*<p class="wds-type--page-subtitle wds-type--center">New User?@Html.ActionLink("Register >>", "Register", "Home")</p>*@
                    </div>
                    <div style="clear:both;"></div>
                    <div class="col-lg-5"> </div>
                    <div class="col-lg-7">
                        <div class="sign-in-form-module">
                            <section class="content" ng-app="app" ng-controller="mycontrol">
                                <form name="LoginForm">
                                    <div class="form-group">
                                        <input class="login2" id="userId" type="email" ng-model="email" placeholder="Email" ng-pattern="eml_add" onblur="validateEmail(this);" />
                                        <label for="error" id="lblemail" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                    </div>
                                    <div class="form-group">
                                        <input class="login2" id="pwd" type="password" ng-model="pwd" placeholder="Password" onblur="validatePassword(this)" disabled />
                                        <label for="error" id="lblpass" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                     
                                        <div>
                                            <label for="error" id="incorrectDetails" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                        </div>
                                        <div class="row top5">
                                            <div class="col-sm-12">
                                                <input type="text" id="txt_random" style="text-align:center;font-weight: bold; text-align:center; font-weight: bold; background:#fff; border:1px solid #808080; border-radius:0; width:100px; padding:5px 0; color:#000;" disabled /> <a id="captcha_reload" onclick="randomIntFromInterval()" href="#">reload</a>
                                            </div>
                                            <div class="col-sm-12">
                                                <input type="text" class="login2 top5" id="captcha" name="captcha" placeholder="Enter captcha" onblur="validatecaptcha(this);" disabled>
                                                <label for="error" id="lblcaptcha" style="margin:10px auto 6px auto;color:Red; line-height:11px;font-size:small;display:none"> </label>
                                            </div>
                                        </div>
                                        @*<div class="row top5">
                                            <div class="col-md-7 col-sm-6">
                                                <div class="checkbox i-checks" style="text-align:left;">                                               
                                                    @Html.ActionLink("Forgot password?", "Forgot_Password", "Home")
                                                </div>
                                            </div>
                                        </div>*@
                                        <button id="btnlogin" type="button" style="cursor:pointer" class="btn btn-primary block full-width m-b buttoh-h" disabled> Login</button>
                                    </div>
                                    Or <br>
                                    <a href="Login_otp" class="btn btn-outline" style="color:#1ab394; border-color: #1ab394;">Login with Phone OTP</a>
                                </form>
                            </section>
                            <div class="or-divider-login wds-m-t-3">
                                <div class="or-bubble-login">
                                    <p class="wds-type--body-sm wds-p-t-2 ">or login with</p>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            <div style="clear:both;"></div>
                            <ul class="socialIcons">

                                <li class="facebook"><a href="FaceBookLogin"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
                                <li class="twitter"><a id="twitter-button"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
                                <li class="linkedin"><a href="LinkedinLogin" id="linkedin-button"><i class="fa fa-fw fa-linkedin"></i>Linkedin</a></li>
                                <li class="google"><a href="Google"><i class="fa fa-google fa-fw"></i>Google+</a></li>
                            </ul>
                            <div style="clear:both;"></div>
                        </div>
                        <p class="m-t"> <small>Signal ATM &copy; 2019-20</small> </p>
                    </div>


                    <div class="col-lg-5">
                        <img src="~/Content/CSS/img/adv-login-email.png" width="370" height="483" class="img-responsive">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</body>
</html>
@*<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>*@
<script>
    $(document).ready(function () {
        randomIntFromInterval();
    });
    function randomIntFromInterval() {
        var min, max;
        $("#txt_random").val(Math.floor(Math.random() * (999 - 100 + 1) + 100));
    }
</script>
<script>
    var emailFlg = 0;
    var passFlg = 0;
    var captchaFlg = 0;
    $('#btnlogin').click(function ()
    {
        var email = $("#userId").val().trim();
        var password = $("#pwd").val().trim();
        var captcha = $("#captcha").val().trim();
        var randomText = $("#txt_random").val();
        $.ajax({
            url: '@Url.Action("LoginDetailsAsync", "Admin")',
            type: "POST",
            Response: ContentType = 'application/json;charset=utf-8',
            data: { email: email, password: password },
            success: function (result) {    
                if (result.result == "NotExist") {
                    $("#incorrectDetails").show();
                    $("#incorrectDetails").empty();
                    $("#incorrectDetails").append("Incorrect details, Please enter valid email and password!");
                }
                else(result.result == "OK") {
                    window.location.href = '@Url.Action("Workspace", "Admin")';
                }             
            }
        });
    });
    $("#userId").focusin(function () {
        $("#incorrectDetails").hide();
    });
    function validatecaptcha(captcha) {
        var captcha = $("#captcha").val().trim();
        var txtcaptcha = $("#txt_random").val();
        if (captcha == txtcaptcha) {
            $("#lblcaptcha").empty();
            $("#lblcaptcha").hide();
            captchaFlg = 1;
            if (emailFlg == 1 && passFlg == 1 && captchaFlg == 1) {
             //   alert("Hii");
                $('#btnlogin').prop('disabled', false);
            }
        }
        else {
            $("#lblcaptcha").empty();
            $("#lblcaptcha").show();
            $(':input[type="button"]').prop('disabled', true);
            $("#lblcaptcha").append("Please enter correct captcha !");
            $("#captcha").focus();
        }
    }
    function validateEmail(txt_email) {
        var email = $("#userId").val();
        var reg = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

        if (reg.test(email) == false) {

            $("#lblemail").show();
            $(':input[type="button"]').prop('disabled', true);
            $("#lblemail").empty();
            $("#lblemail").append(email + " is not a valid email address. Please enter a valid Email Address. E.g:abc@abc.abc");
            $("#userId").focus();
            // alert("" + email + " is not a valid email address. Please enter a valid Email Address. E.g:abc@abc.abc");
            return false;
        }
        else {
            $("#lblemail").hide();
            emailFlg = 1;
            if (emailFlg == 1 && passFlg == 1 &&  captchaFlg == 1 ) {
                $(':input[type="button"]').prop('disabled', false);
            }

            $('#pwd').attr('disabled', false);

            return true;
        }

    }
    function validatePassword(password) {
        var pass = $("#pwd").val();
        var regularExpression = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");

        var pwdLength = pass.length;
        if (pwdLength < 8) {
            $("#lblpass").show();
            $("#lblpass").empty();
            $("#lblpass").append("Password length should be at least 8 characters . It should be alphanumeric with one special character !");
           // $("#pwd").focus();
        }
        else if (!regularExpression.test(pass)) {
            $("#lblpass").show();
            $(':input[type="button"]').prop('disabled', true);
            $("#lblpass").empty();
            $("#lblpass").append("Password length should be at least 8 characters . It should be alphanumeric with one special character !");
           // $("#pwd").focus();
        }
        else {
            passFlg = 1;
            if (emailFlg == 1 && passFlg == 1 && captchaFlg == 1) {
                $(':input[type="button"]').prop('disabled', false);
            }
            $("#lblpass").empty();
            $("#lblpass").hide();
            $("#lblpass").hide();
            $("#lblpass").empty();
            $('#captcha').prop('disabled', false);
        }
    }
    function EnableRegistration() {

        if (emailFlg == 1 && passFlg == 1 && captchaFlg == 1 ) {
            $(':input[type="button"]').prop('disabled', false);
        }
        else {
            $(':input[type="button"]').prop('disabled', true);
        }

    }
    function Showhide(lblField, msg, txtField)
    {
        $(lblField).show();
        $(':input[type="button"]').prop('disabled', true);
        $(lblField).empty();
        $(lblField).append(msg);
        $(txtField).focus();
    }
</script>