﻿
@{
    ViewBag.Title = "Marketwise";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="createSignal">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Market Wise</h5>
                        </div>
                        <div class="ibox collapsed border-bottom">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Market wise ON/OFF</button>
                                </div>
                            </div>
                            <div class="ibox-content" style="display: block;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Market ON/OFF</h4>
                                             <div class="form-group top10">
                                            <select class="input-control" id="marketID" ng-model="marketID" ng-change="selectedItemChanged(marketID)" class="create-control"
                                                    ng-options="o.MarketID as o.MarketName for o in getMarket">
                                                <option value=""> select Market</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="input-control" id="inst" ng-model="instru" ng-change="getInstTypes(instru)" class="create-control" 
                                                    ng-options="o.InstrumentID as o.InstrumentsName for o in getInstruements" >
                                                <option value="">Select All Instrument</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="i-checks" id="LiveFeedOn">
                                                    <label>
                                                        <div class="iradio_square-green" style="position: relative;">
                                                            <div class="iradio_square-green" style="position: relative;">
                                                                <input name="b" id="onid"  style="position: absolute; opacity: 0;" type="radio" value="1">
                                                                <ins class="iCheck-helper"  style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;">
                                                                </ins>
                                                            </div><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;">
                                                            </ins>
                                                        </div>
                                                        <i></i> ON
                                                    </label>
                                                    &nbsp;&nbsp;
                                                </div>
                                                <div class="i-checks" id="LiveFeedOff">
                                                    <label>
                                                        <div class="iradio_square-green" style="position: relative;">
                                                            <div class="iradio_square-green" style="position: relative;">
                                                                <input name="b" id="offid" style="position: absolute; opacity: 0;" type="radio" value="0"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;">
                                                                </ins>
                                                            </div><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;">
                                                            </ins>
                                                        </div>
                                                        <i></i> OFF
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-xs btn-primary top10" type="submit" ng-click="SubmitLiveFeedONOFF()">Submit</button>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-4">
                                        <h4> Signal Process Movement</h4>
                                        <div class="form-group top10">
                                            <select class="input-control" id="ddlProcessMovement" >
                                                <option value="1">Switch is ON</option>
                                                <option value="2">HARD STOP</option>
                                            </select>
                                        </div>
                                        <button class="btn btn-xs btn-primary top10" type="submit" ng-click="SubmitProcessMovement()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @*<div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title redtitle">
                            <h5>Market Wise Search</h5>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select class="input-control" placeholder="City">
                                            <option>Select Market ID</option>
                                            <option>Forex</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="23-Nov-19" style="width: 92.5%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select class="input-control" placeholder="City">
                                            <option>Select Status</option>
                                            <option>ON</option>
                                            <option>OFF</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-xs btn-primary top10" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="ibox">
                <div class="ibox-title bluetitle">
                    <h5>List View</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="search-d">
                            <div class="input-group">
                                <input type="text" class="searchi">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 pad0">
                                <div class="table-responsive">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="84">Sr.NO</th>
                                                <th width="99">Live Feed</th>
                                                <th width="84">Market Name</th>
                                                <th width="72">Script</th>
                                                <th width="135">Last Update</th>
                                                <th width="73">Day</th>
                                                @*<th width="79">Done By</th>*@
                                                <th width="72">Action</th>
                                                @*<th width="58">Edit</th>
                                                  <th width="225">Delete</th>*@
                                            </tr>
                                        </thead>
                                        <tbody id="GetLiveFeedData">
                                            @*<tr>
                                                <td>Forex</td>
                                                <td>True FX</td>
                                                <td>OFF</td>
                                                <td>4:00Pm, 17-Jan-20</td>
                                                <td>Friday</td>
                                                <td>Admin</td>
                                                <td>ON</td>
                                                <td>USD/JPY</td>
                                                <td><a href="admin-ca-marketwise.html#edit"><i class="fa fa-edit" aria-hidden="true" title="Edit"></i></a></td>
                                                <td><button type="button" class="btn btn-danger btn-xs"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>
                                            </tr>*@
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title greentitle">
                            <h5 id="edit">Edit</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <select class="input-control" placeholder="City">

                                        <option>Forex</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="input-control" placeholder="City">

                                        <option>EUR/USD</option>

                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="i-checks">
                                            <label>
                                                <input type="radio" value="option1" name="a" checked>
                                                <i></i> ON
                                            </label>
                                            &nbsp;&nbsp;
                                        </div>
                                        <div class="i-checks">
                                            <label>
                                                <input type="radio" value="option1" name="a">
                                                <i></i> OFF
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-xs btn-primary top10" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </form>
</section>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        GetData();
        getMarketData();
        function GetData()
        {
            $.ajax({
                url: '@Url.Action("GetInstrumentLivePrice", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + parseInt(i + 1) + '</td>';
                        htmlStr += '<td>' + str[i].LiveFeedSourceName + '</td>';
                        htmlStr += '<td>' + str[i].MarketName + '</td>';
                        htmlStr += '<td>' + str[i].InstrumentName + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        htmlStr += '<td>' + str[i].Day + '</td>';
                        var feed = str[i].LiveFeed
                        if (feed == true)
                        {
                            htmlStr += '<td>ON</td>';
                        }
                        else
                        {
                            htmlStr += '<td>OFF</td>';
                        }
                       // htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].InstrumentPriceLiveID + '' + ',' + '\'' + str[i].MarketId + '\'' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetLiveFeedData").html(htmlStr)
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });

        }

      
        function getMarketData() {
            $.ajax({
                url: '@Url.Action("GetMarketList", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.stringify(data);
                    //alert(str);
                    $scope.getMarket = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    //alert(textStatus);
                }

            });
        }
        $scope.selectedItemChanged = function ($scope) {
            getInstrumentData();
        }
        function getInstrumentData() {
            var marketId = $scope.marketID;
            $.ajax({
                url: '@Url.Action("GetInstrumentList", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: { marketId: marketId },
                success: function (data) {
                    $scope.getInstruements = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("Error" + data);
                }

            });
        }
        $scope.SubmitProcessMovement=function()
        {
            alert("start");
            debugger;
            selectElement = document.querySelector('#ddlProcessMovement');
            var ID = selectElement.options[selectElement.selectedIndex].value;
            var result = selectElement.options[selectElement.selectedIndex].text;
            $.ajax({
                url: '@Url.Action("UpdateSignalProcessMovement", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: { SwitchID: ID, Comments: result },
                success: function (data) {
                    location.reload();
                }

            });
          
            //var result = $scope.ddlProcessMovement;
            //alert(val);
            //alert(result);
        }
        $scope.SubmitLiveFeedONOFF =function ()
        {
            var checkResult;
            var marketId = $scope.marketID;
            var InstrumentId = $scope.instru;
            if (InstrumentId == undefined)
            {
                InstrumentId = 0;

            }
           
            if ($("#onid").is(":checked")) {
                var checkResult = $("#onid").val();
            }
            else if ($("#offid").is(":checked")) {

                var checkResult = $("#offid").val();
            }
            //alert(checkResult);
            $.ajax({
                url:'@Url.Action("UpdateMarketLiveFeed", "Admin")',
                type:"Post",
                Response: ContentType = 'application/json',
                data: {MarketID: marketId, InstrumentID: InstrumentId, LiveFeed: checkResult },
                success: function (data) {
                    location.reload();
                }

            });

        }

    });
    //function SubmitLiveFeedONOFF() {
    //    alert("Start");
    //    var checkResult;
    //    if ($("#onid").is(":checked"))
    //    {
    //        var checkResult = $("#onid").val();
    //    }
    //   else if ($("#offid").is(":checked")) {
          
    //        var checkResult = $("#offid").val();
    //    }
        
        
    //}
    function Edit() {
        $("#editdiv").show();
        $("#detaildiv").hide();
        $("#listView").find('div.ibox-content').slideUp();
        $("#EditPromoCouponID").html(PromoCouponID);
        $("#EditEntryDate").html(EntryDate);
        $("#statusID").val(StatusID);
        $("#RoleId").val(RoleID)
    }
  </script>
