﻿
@{
    ViewBag.Title = "MonitoringPayment";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <a class="collapse-link" href="">
                    <div class="ibox-title yellowtitle">
                        <h5>Payment Monitoring</h5>
                        <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
                    </div>
                </a>
                <div class="ibox-content" style="padding:0;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="table-responsive">
                                                <table width="100%" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%"><div align="center"></div></th>
                                                            <th colspan="5">&nbsp;</th>
                                                            <th colspan="3" style="border:2px solid #ccc;"><div align="center">Payment Gateway</div></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td><strong>Bonus</strong></td>
                                                            <td><strong>Earnings</strong></td>
                                                            <td><strong>Infratransfer</strong></td>
                                                            <td><strong>Cashout</strong></td>
                                                            <td><strong>Plan Payments</strong></td>
                                                            <td style="border-left:2px solid #ccc;"><strong>Success</strong></td>
                                                            <td><strong>Failed</strong></td>
                                                            <td><strong>Pending</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="text-center" style="padding:16px; background:#f7f7ef; border:1px solid #e4e484;">
                                                                    <h4 class="font-bold mb-0">Trader</h4>
                                                                </div>
                                                            </td>
                                                            <td width="12%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">3</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">+30</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-10</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="10%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">4</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">50</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-5</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="10%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">3</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">+20</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-2</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="12%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">5</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">100</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-10</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="12%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">20</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">1000</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-100</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="11%" style="border-left:2px solid #ccc;">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="blue-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;"><h4 align="center" class="font-bold mb-0">2</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="yellow-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">500</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="11%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="blue-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;"><h4 align="center" class="font-bold mb-0">1</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="yellow-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">40</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="12%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="blue-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;"><h4 align="center" class="font-bold mb-0">2</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="yellow-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">19</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="table-responsive">
                                                <table width="100%" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%"><div align="center"></div></th>
                                                            <th colspan="5">&nbsp;</th>
                                                            <th colspan="3" style="border:2px solid #ccc;"><div align="center">Payment Gateway</div></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td><strong>Bonus</strong></td>
                                                            <td><strong>Earnings</strong></td>
                                                            <td><strong>Infratransfer</strong></td>
                                                            <td><strong>Cashout</strong></td>
                                                            <td><strong>Plan Payments</strong></td>
                                                            <td style="border-left:2px solid #ccc;"><strong>Success</strong></td>
                                                            <td><strong>Failed</strong></td>
                                                            <td><strong>Pending</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="text-center" style="padding:8px; background:#effafe; border:1px solid #b0e2f5;">
                                                                    <h4 class="font-bold mb-0">Signal Provider</h4>
                                                                </div>
                                                            </td>
                                                            <td width="12%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">3</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">+30</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-10</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="10%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">4</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">50</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-5</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="10%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">3</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">+20</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-2</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="12%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">5</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">100</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-10</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="12%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">20</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">1000</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-100</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="11%" style="border-left:2px solid #ccc;">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="blue-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;"><h4 align="center" class="font-bold mb-0">2</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="yellow-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">500</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="11%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="blue-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;"><h4 align="center" class="font-bold mb-0">1</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="yellow-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">40</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="12%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="blue-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;"><h4 align="center" class="font-bold mb-0">2</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="yellow-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">19</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="table-responsive">
                                                <table width="100%" class="table">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%"><div align="center"></div></th>
                                                            <th colspan="5">&nbsp;</th>
                                                            <th colspan="3" style="border:2px solid #ccc;"><div align="center">Payment Gateway</div></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td><strong>Bonus</strong></td>
                                                            <td><strong>Earnings</strong></td>
                                                            <td><strong>Infratransfer</strong></td>
                                                            <td><strong>Cashout</strong></td>
                                                            <td><strong>Plan Payments</strong></td>
                                                            <td style="border-left:2px solid #ccc;"><strong>Success</strong></td>
                                                            <td><strong>Failed</strong></td>
                                                            <td><strong>Pending</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="text-center" style="padding:16px; background:#fdeef5; border:1px solid #efc3c7;">
                                                                    <h4 class="font-bold mb-0">Referrer</h4>
                                                                </div>
                                                            </td>
                                                            <td width="12%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">3</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">+30</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-10</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="10%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">4</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">50</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-5</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="10%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">3</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">+20</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-2</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="12%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">5</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">100</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-10</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="12%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="51%" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg"><h4 align="center" class="font-bold mb-0">20</h4></td>
                                                                            <td width="49%" style="padding:1px 0 4px 0; " class="yellow-bg"><h4 align="center" class="font-bold mb-0">1000</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;" class="blue-bg">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0 text-dark">1</h4>
                                                                                </div>
                                                                            </td>
                                                                            <td style="padding:1px 0 4px 0;" class="yellow-bg"><h4 align="center" class="font-bold mb-0 text-dark">-100</h4></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="11%" style="border-left:2px solid #ccc;">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="blue-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;"><h4 align="center" class="font-bold mb-0">2</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="yellow-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">500</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="11%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="blue-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;"><h4 align="center" class="font-bold mb-0">1</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="yellow-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">40</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="12%">
                                                                <table width="100%" border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="blue-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;"><h4 align="center" class="font-bold mb-0">2</h4></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="yellow-bg" style="padding:1px 0 4px 0; border-right:1px solid #FFFFFF;">
                                                                                <div align="center">
                                                                                    <h4 align="center" class="font-bold mb-0">19</h4>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row top20">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table width="100%" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td width="1%"><div style="width:8px; height:8px;" class="blue-bg"></div></td>
                                                            <td width="4%">Count</td>
                                                            <td width="1%"><div style="width:8px; height:8px;" class="yellow-bg"></div></td>
                                                            <td width="94%">Payment</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title redtitle">
                    <h5>&nbsp;</h5>
                </div>
                <div class="ibox collapsed">
                    <div class="ibox-title whitetitle">
                        <div class="col-md-7 pad0">
                            <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select data-placeholder="Choose a Country..." class="chosen-select" tabindex="2">
                                        <option>Search Name</option>
                                        <option>ABC</option>
                                        <option>XYZ</option>
                                        <option>PQR</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="input-control">
                                        <option>Select Role wise</option>
                                        <option>Trader</option>
                                        <option>Signal Provider</option>
                                        <option>Referrer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="data_1">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                            <input type="text" class="input-control" value="23-Nov-19" style="width: 89.5%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="data_1">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                            <input type="text" class="input-control" value="23-Nov-19" style="width: 89.5%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input name="" type="text" class="input-control" placeholder="Amount">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="input-control">
                                        <option>Select Type</option>
                                        <option>Debit</option>
                                        <option>Credit</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="input-control">
                                        <option>Select Action</option>
                                        <option>Reverse</option>
                                        <option>Normal</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-xs btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title bluetitle">
                    <h5>Wallet Summary</h5>
                </div>
                <div class="ibox">

                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table width="100%" class="table table-striped table-bordered" id="example1">
                                        <thead>
                                            <tr>
                                                <th width="64">Name</th>
                                                <th width="108">Email</th>
                                                <th width="52">Role</th>
                                                <th width="84">Transaction</th>
                                                <th width="152">T. Date</th>
                                                <th width="61">Amount</th>
                                                <th width="53">Type</th>
                                                <th width="58">Closing</th>
                                                <th width="81"><button class="btn btn-xs btn-primary" type="submit">Reverse</button></th>
                                                <th width="110">R. Date</th>
                                                <th width="75">Action</th>
                                                <th width="94">Action By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Mr.Jack</td>
                                                <td>jack@gmail.com</td>
                                                <td>Trader</td>
                                                <td>&nbsp;</td>
                                                <td>9:30am 2-Jan-20</td>
                                                <td>$30</td>
                                                <td>Debit</td>
                                                <td>$50</td>
                                                <td>
                                                    <div class="i-checks">
                                                        <label>
                                                            <input type="checkbox" value="">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>9:30am 2-Jan-20</td>
                                                <td>Reverse</td>
                                                <td>Admin</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

