﻿
@{
    ViewBag.Title = "MonitoringGraphs";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <a class="collapse-link" href="">
                    <div class="ibox-title yellowtitle">
                        <h5>Graphs - Market Instruments</h5>
                        <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
                    </div>
                </a>
                <div class="ibox-content" style="padding:0;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="stocked1"></div>
                                            <div id="ct-chart1" class="ct-perfect-fourth"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <a class="collapse-link" href="">
                    <div class="ibox-title yellowtitle">
                        <h5></h5>
                        <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
                    </div>
                </a>
                <div class="ibox-content" style="padding:0;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="stocked2"></div>
                                            <div id="ct-chart2" class="ct-perfect-fourth"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <a class="collapse-link" href="">
                    <div class="ibox-title yellowtitle">
                        <h5>Registration and Login</h5>
                        <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
                    </div>
                </a>
                <div class="ibox-content" style="padding:0;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="stocked3"></div>
                                            <div id="ct-chart2" class="ct-perfect-fourth"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <a class="collapse-link" href="">
                    <div class="ibox-title yellowtitle">
                        <h5>Revenue</h5>
                        <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
                    </div>
                </a>
                <div class="ibox-content" style="padding:0;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="stocked4"></div>
                                            <div id="ct-chart2" class="ct-perfect-fourth"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title yellowtitle">
                    <h5>Plan Revenue</h5>
                </div>
                <div class="ibox collapsed">
                    <div class="ibox-title whitetitle">
                        <div class="col-md-7 pad0">
                            <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="col-md-4  pad0">
                            <div class="form-group">
                                <select class="input-control">
                                    <option>Select Role</option>
                                    <option>Signal Provider</option>
                                    <option>Trader</option>
                                    <option>Referrer</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="input-control">
                                    <option>Select Plan</option>
                                    <option>Monthly</option>
                                    <option>Quarterly</option>
                                    <option>Half Yearly</option>
                                    <option>Yearly</option>
                                </select>
                            </div>


                            <button class="btn btn-xs btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <a class="collapse-link" href="">
                    <div class="ibox-title yellowtitle">
                        <h5></h5>
                        <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
                    </div>
                </a>
                <div class="ibox-content" style="padding:0;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="stocked5"></div>
                                            <div id="ct-chart2" class="ct-perfect-fourth"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

