﻿
@{
    ViewBag.Title = "MonitoringPlanMovement";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="ibox">
        <a class="collapse-link" href="">
            <div class="ibox-title yellowtitle">
                <h5>Plan Movement - Trader</h5>
                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
            </div>
        </a>
        <div class="ibox-content">
            <div class="row">

                <div class="col-md-2">
                    <div class="table-responsive">
                        <table width="100%" border="0" class="table table-striped table-bordered">

                            <tr>
                                <th colspan="3" class="greentitle">Summary</th>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <th><span class="m-0">Std.</span></th>
                                <th>Pre.</th>
                            </tr>
                            <tr>
                                <td><strong>Trial</strong></td>
                                <td colspan="2"><div align="center">30</div></td>
                            </tr>
                            <tr>
                                <td><strong>Monthly</strong></td>
                                <td>15</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td><strong>Quarterly</strong></td>
                                <td>45</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td><strong>Half Yearly </strong></td>
                                <td>28</td>
                                <td>90</td>
                            </tr>
                            <tr>
                                <td><strong>Yearly</strong></td>
                                <td>20</td>
                                <td>25</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-5">
                    <table width="100%" border="0" class="table table-striped table-bordered">
                        <tr>
                            <td colspan="5" class="greentitle">
                                <div align="center">
                                    <h4 class="m-0">Standards</h4>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Monthly</th>
                            <th>Quarterly</th>
                            <th>Half Yearly</th>
                            <th>Yearly</th>
                        </tr>
                        <tr>
                            <td><strong>Trial</strong></td>
                            <td>20</td>
                            <td>10</td>
                            <td>20</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td><strong>Monthly</strong></td>
                            <td>15</td>
                            <td>18</td>
                            <td>22</td>
                            <td>65</td>
                        </tr>
                        <tr>
                            <td><strong>Quarterly</strong></td>
                            <td>45</td>
                            <td>70</td>
                            <td>12</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td><strong>Half Yearly </strong></td>
                            <td>28</td>
                            <td>56</td>
                            <td>90</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <td><strong>Yearly</strong></td>
                            <td>20</td>
                            <td>30</td>
                            <td>25</td>
                            <td>62</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-5">
                    <table width="100%" border="0" class="table table-striped table-bordered">
                        <tr>
                            <td colspan="5" class="greentitle">
                                <div align="center">
                                    <h4 class="m-0">Premium</h4>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Monthly</th>
                            <th>Quarterly</th>
                            <th>Half Yearly</th>
                            <th>Yearly</th>
                        </tr>
                        <tr>
                            <td><strong>Trial</strong></td>
                            <td>20</td>
                            <td>10</td>
                            <td>20</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td><strong>Monthly</strong></td>
                            <td>15</td>
                            <td>18</td>
                            <td>22</td>
                            <td>65</td>
                        </tr>
                        <tr>
                            <td><strong>Quarterly</strong></td>
                            <td>45</td>
                            <td>70</td>
                            <td>12</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td><strong>Half Yearly </strong></td>
                            <td>28</td>
                            <td>56</td>
                            <td>90</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <td><strong>Yearly</strong></td>
                            <td>20</td>
                            <td>30</td>
                            <td>25</td>
                            <td>62</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <a class="collapse-link" href="">
            <div class="ibox-title redtitle">
                <h5>Plan Movement - Signal Provider</h5>
                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
            </div>
        </a>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table width="100%" border="0" class="table table-striped table-bordered">

                            <tr>
                                <th colspan="3" class="greentitle">Summary</th>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Current</th>
                                <th>Cummulative</th>
                            </tr>
                            <tr>
                                <td><strong>Empanelment</strong></td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td><strong>Smart 1</strong></td>
                                <td>15</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td><strong>Smart 2</strong></td>
                                <td>45</td>
                                <td>12</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <table width="100%" border="0" class="table table-striped table-bordered">

                        <tr>
                            <th colspan="3" class="greentitle">&nbsp;</th>
                        </tr>
                        <tr>
                            <th width="27%">&nbsp;</th>
                            <th width="36%">Smart 1</th>
                            <th width="37%">Smart 2 </th>
                        </tr>
                        <tr>
                            <td><strong>Empanelment</strong></td>
                            <td>20</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td><strong>Smart 1</strong></td>
                            <td>15</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td><strong>Smart 2</strong></td>
                            <td>45</td>
                            <td>70</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-5">

                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <a class="collapse-link" href="">
            <div class="ibox-title bluetitle">
                <h5>Plan Movement - Referrer</h5>
                <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
            </div>
        </a>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table width="100%" border="0" class="table table-striped table-bordered">

                            <tr>
                                <th colspan="3" class="greentitle">Summary</th>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Current</th>
                                <th>Cummulative</th>
                            </tr>
                            <tr>
                                <td><strong>Platinum 1</strong></td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td><strong>Platinum 2</strong></td>
                                <td>15</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td><strong>Platinum 3</strong></td>
                                <td>45</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td><strong>Platinum 4</strong></td>
                                <td>25</td>
                                <td>42</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-5">
                    <table width="100%" border="0" class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <th colspan="5" class="greentitle">&nbsp;</th>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Platinum 1</th>
                                <th>Platinum 2 </th>
                                <th>Platinum 3 </th>
                                <th><strong>Platinum 4</strong></th>
                            </tr>
                            <tr>
                                <td><strong>Platinum 1</strong></td>
                                <td>20</td>
                                <td>10</td>
                                <td>20</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <td><strong>Platinum 2</strong></td>
                                <td>15</td>
                                <td>18</td>
                                <td>22</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td><strong>Platinum 3</strong></td>
                                <td>45</td>
                                <td>70</td>
                                <td>12</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td><strong>Platinum 4</strong></td>
                                <td>10</td>
                                <td>20</td>
                                <td>10</td>
                                <td>10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
