﻿
@{
    ViewBag.Title = "PaymentGateway";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="basicConfig">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Payment Gateway</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">

                                    <div class="form-group">
                                        <select id="UserID" ng-model="UserID" ng-change="selectedItemChanged(UserID)" class="input-control"
                                                ng-options="o.UserID as o.UserName for o in getUserNameList">
                                            <option value=""> Select User Name</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <select id="paymentStatusID" ng-model="paymentStatusID" ng-change="selectedItemChanged(paymentStatusID)" class="input-control"
                                                ng-options="o.paymentStatusID as o.PaymentStatus for o in getPaymentStatus">
                                            <option value=""> select Status</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="@DateTime.Now" style="width: 92.5%;" id="txtFromDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="@DateTime.Now" style="width: 92.5%;" id="txtToDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select id="RoleID" ng-model="RoleID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                                ng-options="o.RoleID as o.RoleName for o in getRole">
                                            <option value="">Select Role</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="paymentSourcesID" ng-model="paymentSourcesID" ng-change="selectedItemChanged(paymentSourcesID)" class="input-control"
                                                ng-options="o.paymentSourcesID as o.Name for o in getPaymentSource">
                                            <option value="">Payment Sources</option>
                                        </select>
                                    </div>
                                    @*<div class="form-group">
                                            <select class="input-control">
                                                <option>Select User Id</option>
                                                <option>User 1</option>
                                                <option>User 2</option>
                                                <option>User 3</option>
                                            </select>
                                        </div>*@
                                    <button class="btn btn-primary btn-xs" type="submit" onclick="SearchPayment()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <a class="collapse-link" href="">
                            <div class="ibox-title redtitle">
                                <h5>List View</h5>
                                <div class="ibox-tools"> <i class="fa fa-chevron-up"></i> </div>
                            </div>
                        </a>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="search-d">
                                    <div class="input-group">
                                        <input type="text" class="searchi">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12 pad0">
                                        <div class="col-md-12 pad0">
                                            <div class="table-responsive">
                                                <!--<table id="example1" class="table table-striped table-bordered">
                                                  <thead>
                                                    <tr>
                                                      <th width="97">Payment Gateway</th>
                                                      <th width="67">Bill ID </th>
                                                      <th width="102">Payment ID</th>
                                                      <th width="86">Net Amount</th>
                                                      <th width="97">User ID</th>
                                                      <th width="68">Role</th>
                                                      <th width="99">Razorpay Order ID</th>
                                                      <th width="117">Razorpay Payment ID</th>
                                                      <th width="84">Status</th>
                                                      <th width="105">Date of Transaction</th>
                                                      <th width="97">Razorpay Refund ID</th>
                                                      <th width="88">Refund Amt.</th>
                                                      <th width="88">Refund Date</th>
                                                      <th width="105">Comments</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                      <td>Razor Pay</td>
                                                      <td>&nbsp;</td>
                                                      <td>&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                      <td>Pay Pal</td>
                                                      <td>&nbsp;</td>
                                                      <td>&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                      <td>Razor Pay</td>
                                                      <td>&nbsp;</td>
                                                      <td>&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                      <td class="center">&nbsp;</td>
                                                    </tr>
                                                  </tbody>
                                                  <tfoot>
                                                  </tfoot>
                                                </table>-->
                                                <table width="1900px" class="table table-striped table-bordered" id="example1">

                                                    <thead>
                                                        <tr>
                                                            <th colspan="12" style="background:#1c84c6; color:#FFFFFF;"><div align="center">User Details</div></th>
                                                            <th colspan="7" style="background:#1ab394; color:#FFFFFF;"><div align="center">Payment Gateway</div></th>
                                                        </tr>
                                                        <tr>
                                                            <th>Order ID</th>
                                                            <th>User</th>
                                                            <th>Role</th>
                                                            <th>Transaction </th>
                                                            <th>Invoice</th>
                                                            <th>Date </th>
                                                            <th>Plan</th>
                                                            <th>Amount</th>
                                                            <th>Coupon</th>
                                                            <th>Discount </th>
                                                            <th>Wallet</th>
                                                            <th>Net Amount</th>
                                                            <th>Payment Id</th>
                                                            <th>Amount</th>
                                                            <th>Currency</th>
                                                            <th>Method</th>
                                                            <th>Status</th>
                                                            <th>Refund Status</th>
                                                            <th>Amount Refunded</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="GetPaymentGetWayList"></tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        GetUserNameList();
        getPaymentStatusList();
        getPaymentSourceList();
        getRole();
        function getPaymentSourceList() {
            $.ajax({
                url: '@Url.Action("GetPaymentSourceList", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getPaymentSource = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function getRole() {
            $.ajax({
                url: '@Url.Action("GetRolelist", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getRole = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);

                }

            });
        }
        function getPaymentStatusList() {
            $.ajax({
                url: '@Url.Action("GetPaymentStatusList", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getPaymentStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function GetUserNameList() {
            $.ajax({
                url: '@Url.Action("GetUserNameList", "Admin")',
                type: "Get",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getUserNameList = data;
                    $scope.$apply();
                }

            });

        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetAllPaymentGetewayList", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row" >' + str[i].BillID + '</td>';
                        // htmlStr += '<td>' + '<a>' + str[i].RequestID + '</a>' + '</td>'
                        //htmlstr += '<td>' + str[i].BillID + '</td>';
                        htmlStr += '<td>' + str[i].UserName + '</td>';
                        htmlStr += '<td>' + str[i].UserName + '</td>';
                        htmlStr += '<td>' + + '</td>';
                        htmlStr += '<td>' + + '</td>';
                        htmlStr += '<td>' + str[i].EntryDate + '</td>';
                        htmlStr += '<td>' + str[i].PlanName + '</td>';
                        htmlStr += '<td>' + str[i].TotalAmount + '</td>';
                        htmlStr += '<td>' + str[i].CouponCode + '</td>';
                        htmlStr += '<td>' + str[i].LessDiscountAmount + '</td>';
                        htmlStr += '<td>' + str[i].WalletAmountUsed + '</td>';
                        htmlStr += '<td>' + str[i].NetPaymentSourceAmount + '</td>';
                        htmlStr += '<td>' + str[i].PaymentDetailsID + '</td>';
                        htmlStr += '<td>' + str[i].Amount + '</td>';
                        htmlStr += '<td>' + str[i].Currency + '</td>';
                        htmlStr += '<td>' + str[i].Method + '</td>';
                        htmlStr += '<td>' + str[i].PaymentStatus + '</td>';
                        htmlStr += '<td>' + str[i].RefundStatus + '</td>';
                        htmlStr += '<td>' + str[i].AmountRefunded + '</td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetPaymentGetWayList").html(htmlStr)
                }
            });

        }
    });
    function SearchPayment()
    {
        var Fromdate = $("#txtFromDate").val();
        var Todate = $("#txtToDate").val();
        var user = document.getElementById("UserID");
        var username = user.options[user.selectedIndex].text;
        var fromdate = $("#txtFromDate").val();
        var Todate = $("#txtToDate").val()
        var payment = document.getElementById('paymentStatusID');
        var paymentstatusid = parseInt(payment.selectedIndex);
         var paymentSource = document.getElementById('paymentSourcesID');
         var PaymentSourceId = parseInt(paymentSource.selectedIndex);
        var role = document.getElementById('RoleID');
        var RoleId = parseInt(role.selectedIndex);
        var SearchDeatils = { 'UserName': username, 'FromDate': fromdate, 'ToDate': Todate, 'RoleID': RoleId, 'PaymentStatusID': paymentstatusid, 'PaymentSourceID': PaymentSourceId }
        var res = JSON.stringify(SearchDeatils);
        alert(SearchDeatils);
        $.ajax({
            url: '@Url.Action("SearchPaymentGeteway", "Admin")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: { Result: res },
            success: function (data) {
                var str = JSON.parse(data);
                var htmlStr = "";
                for (var i = 0; i < str.length; i++) {
                    htmlStr += '<tr id="riskRow">';
                    htmlStr += '<td id="row" >' + str[i].BillID + '</td>';
                    // htmlStr += '<td>' + '<a>' + str[i].RequestID + '</a>' + '</td>'
                    //htmlstr += '<td>' + str[i].BillID + '</td>';
                    htmlStr += '<td>' + str[i].UserName + '</td>';
                    htmlStr += '<td>' + str[i].UserName + '</td>';
                    htmlStr += '<td>' + + '</td>';
                    htmlStr += '<td>' + + '</td>';
                    htmlStr += '<td>' + str[i].EntryDate + '</td>';
                    htmlStr += '<td>' + str[i].PlanName + '</td>';
                    htmlStr += '<td>' + str[i].TotalAmount + '</td>';
                    htmlStr += '<td>' + str[i].CouponCode + '</td>';
                    htmlStr += '<td>' + str[i].LessDiscountAmount + '</td>';
                    htmlStr += '<td>' + str[i].WalletAmountUsed + '</td>';
                    htmlStr += '<td>' + str[i].NetPaymentSourceAmount + '</td>';
                    htmlStr += '<td>' + str[i].PaymentDetailsID + '</td>';
                    htmlStr += '<td>' + str[i].Amount + '</td>';
                    htmlStr += '<td>' + str[i].Currency + '</td>';
                    htmlStr += '<td>' + str[i].Method + '</td>';
                    htmlStr += '<td>' + str[i].PaymentStatus + '</td>';
                    htmlStr += '<td>' + str[i].RefundStatus + '</td>';
                    htmlStr += '<td>' + str[i].AmountRefunded + '</td>';
                    htmlStr += '</tr>';
                }
                $("#GetPaymentGetWayList").html(htmlStr)
            }
        });


    }
</script>