﻿
@{
    ViewBag.Title = "RoleAllocation";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signal ATM</title>
    @Styles.Render("~/bundles/css")

</head>
<body>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title yellowtitle">
                        <h5>Role Allocations</h5>
                        <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                    </div>
                    <div class="ibox collapsed">
                        <div class="ibox-title whitetitle">
                            <div class="col-md-7 pad0">
                                <button class="btn btn-xs btn-warning collapse-link" type="submit">Add New</button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-md-4  pad0">
                                <div class="form-group">
                                    <select class="input-control" placeholder="City">
                                        <option>Role</option>
                                        <option>Signal Provider</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="input-control" placeholder="Level">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="input-control" placeholder="Enter USer Id">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="input-control" placeholder="Password">
                                </div>

                                <div class="form-group">
                                    <label> Assign Modul</label>
                                    <select class="input-control" placeholder="City">
                                        <option>Region</option>
                                        <option>Country</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="input-control" placeholder="City">
                                        <option>Status</option>
                                        <option>Active</option>
                                        <option>Inactive</option>
                                    </select>
                                </div>
                                <button class="btn btn-xs btn-primary" id="btnAddSignalType" type="submit">Submit</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title greentitle">
                <h5>List View</h5>
                <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-6" id="removediv">
                        <div class="alert alert-danger alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            Do you want to Remove?, Click
                            <button type="button" class="btn btn-primary btn-xs">OK</button>&nbsp;to Confirm
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="search-d">
                        <div class="input-group">
                            <input type="text" class="searchi">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-xs" type="button">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-12 pad0">
                            <div class="table-responsive">
                                <table id="example1" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="30">ID</th>
                                            <th width="50">Role</th>
                                            <th width="80">Level</th>
                                            <th width="80">UserId</th>
                                            <th width="80">Password</th>
                                            <th width="100">Assigned To</th>
                                            <th width="100">Status</th>
                                            <th width="170">Created</th>
                                            <th width="30">&nbsp;</th>
                                            <th width="30">&nbsp;</th>
                                            <th width="30">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Accounts</td>
                                            <td>01</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>city,country,Region</td>
                                            <td>Active</td>
                                            <td>9.30 am, 12-Nov-19</td>
                                            <td><a href="#"><i class="fa fa-edit" aria-hidden="true" title="Edit" onclick="showEdit()"></i></a></td>
                                            <td><a href="admin-as-signal-type.html#details"><i class="fa fa-eye" aria-hidden="true" title="View" onclick="showdetails()"></i></a></td>
                                            <td><button type="button" class="btn btn-danger btn-xs" onclick="showdelete()"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="ibox" id="editsignal">
        <div class="ibox-title greentitle">
            <h5>Edit Role Allocation</h5>
            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 pad0">
                        <h5>Role Allocation ID: <span class="text-navy">01</span>, Created Date: <span class="text-navy">9.30 am 12-Nov-19</span></h5>
                        <div class="col-md-4  pad0">
                            <div class="form-group">
                                <label>Role Name</label>
                                <select class="input-control" placeholder="City">
                                    <option>Role</option>
                                    <option>Signal Provider</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>level</label>
                                <input type="name" class="input-control" placeholder="Enter level">
                            </div>
                            <div class="form-group">
                                <label>User Id</label>
                                <input type="name" class="input-control" placeholder="Enter User ID">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="name" class="input-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label> Assign Modul</label>
                                <select class="input-control" placeholder="City">
                                    <option>Region</option>
                                    <option>Country</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select class="input-control" placeholder="City">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Inactive</option>
                                </select>
                            </div>
                            <button class="btn btn-xs btn-primary" type="submit">Submit</button>

                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox" id="detailsignal">
        <div class="ibox-title yellowtitle">
            <h5 id="details">Details</h5>
            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 pad0">
                        <div class="table-responsive">
                            <table width="100%" class="table">
                                <tr>
                                    <td>
                                        <label>
                                            <div align="left">Role Allocation ID:</div>
                                        </label>
                                    </td>
                                    <td><div align="left">01</div></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>
                                            <div align="left">Role Name:</div>
                                        </label>
                                    </td>
                                    <td><div align="left">Account</div></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>
                                            <div align="left">Level:</div>
                                        </label>
                                    </td>
                                    <td><div align="left">01</div></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>
                                            <div align="left">User ID:</div>
                                        </label>
                                    </td>
                                    <td><div align="left">-</div></td>
                                <tr>
                                    <td>
                                        <label>
                                            <div align="left">Password:</div>
                                        </label>
                                    </td>
                                    <td><div align="left">-</div></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>
                                            <div align="left">Allocation Module:</div>
                                        </label>
                                    </td>
                                    <td><div align="left">Sate ,City,Region</div></td>
                                </tr>
                                </tr>
                                <tr>
                                    <td>
                                        <label>
                                            <div align="left">Status:</div>
                                        </label>
                                    </td>
                                    <td><div align="left">Active</div></td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>
                                            <div align="left">Created Date:</div>
                                        </label>
                                    </td>
                                    <td><div align="left">9.30 am, 12-Nov-19 </div></td>
                                </tr>
                            </table>
                            <button class="btn btn-xs btn-primary" type="submit">Edit</button>
                        </div>

                        <br>



                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


</body>

</html>