﻿
@{
    ViewBag.Title = "SuccessStory";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="PersonalDetails">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <a class="collapse-link" href="">
                            <div class="ibox-title yellowtitle">
                                <h5>Success Story</h5>
                                <div class="ibox-tools"><i class="fa fa-chevron-down"></i></div>
                            </div>
                        </a>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tabs-container">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li><a class="btn btn-sm btn-white padtop-b active" data-toggle="tab" href="#tab-1">Signal Providers</a></li>
                                            <li><a class="btn btn-sm btn-white padtop-b" data-toggle="tab" href="#tab-2">Traders</a></li>
                                            <li><a class="btn btn-sm btn-white padtop-b" data-toggle="tab" href="#tab-3">Scripts</a></li>
                                            <li><a class="btn btn-sm btn-white padtop-b" data-toggle="tab" href="#tab-4">Referrers</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" id="tab-1" class="tab-pane active">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="ibox collapsed">
                                                            <a class="collapse-link" href="">
                                                                <div class="ibox-title redtitle">
                                                                    <h5>Search</h5>
                                                                    <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                                                                    <div class="row"> </div>

                                                                </div>
                                                            </a>

                                                            <div class="ibox-content">
                                                                <div>
                                                                    <div>
                                                                        <div class="tabs-container">
                                                                            <div class="tab-content">
                                                                                <div class="panel-body">
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <div class="row"> </div>
                                                                                            <div class="col-md-12 pad0">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-9" style="padding-top:5px; background:#f1f1f1;">
                                                                                                        <div class="row">
                                                                                                            <div class="boxes" style="width:17%;">
                                                                                                                <div class="col-box2">
                                                                                                                    <select id="marketID" ng-model="marketID" ng-change="selectedItemChanged(marketID)" class="select2_demo_1 form-control"
                                                                                                                            ng-options="o.MarketID as o.MarketName for o in getMarket">
                                                                                                                        <option value=""> select Market</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Top 10</option>
                                                                                                                        <option value="1">All</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Select Period wise</option>
                                                                                                                        <option value="2">All</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Period 1</option>
                                                                                                                        <option value="1">Period 2</option>
                                                                                                                        <option value="1">Period 3</option>
                                                                                                                        <option value="1">Period 4</option>
                                                                                                                        <option value="1">Period 5</option>
                                                                                                                        <option value="1">Period 6</option>
                                                                                                                        <option value="1">Period 7</option>
                                                                                                                        <option value="1">Period 8</option>
                                                                                                                        <option value="1">Period 9</option>
                                                                                                                        <option value="1">Period 10</option>
                                                                                                                        <option value="1">Period 11</option>
                                                                                                                        <option value="1">Period 12</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Period 1</option>
                                                                                                                        <option value="1">Period 2</option>
                                                                                                                        <option value="1">Period 3</option>
                                                                                                                        <option value="1">Period 4</option>
                                                                                                                        <option value="1">Period 5</option>
                                                                                                                        <option value="1">Period 6</option>
                                                                                                                        <option value="1">Period 7</option>
                                                                                                                        <option value="1">Period 8</option>
                                                                                                                        <option value="1">Period 9</option>
                                                                                                                        <option value="1">Period 10</option>
                                                                                                                        <option value="1">Period 11</option>
                                                                                                                        <option value="1">Period 12</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <button type="button" class="btn btn-primary btn-xs bot5" ng-click="SearchSignalProvider()">Search</button>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                            <div class="row"> </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="clear:both;"></div>
                                                    </div>
                                                </div>
                                                <div class="ibox-title bluetitle">
                                                    <h5>Top Ten Signal Providers </h5>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div id="stocked3"></div>
                                                        <div id="ct-chart3" class="ct-perfect-fourth"></div>
                                                    </div>
                                                    <div class="search-d top10">
                                                        <div class="input-group">
                                                            <input type="text" class="searchi">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-11">
                                                        <div class="table-responsive">
                                                            <table id="example5" class="table table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th width="58">Provider</th>
                                                                        <th width="304">Name</th>
                                                                        <th width="76">Since</th>
                                                                        <th width="85">Posted</th>
                                                                        <th width="70">Closed</th>
                                                                        <th width="80">Success</th>
                                                                        <th width="133" style="background:#23c6c8; color:#fff;">Success</th>
                                                                        <th width="114" style="background:#f8ac59; color:#fff;">Pips</th>
                                                                        <th width="100" style="background:#1c84c6; color:#fff;">Pinned</th>
                                                                        <th width="103">Gain/Loss</th>
                                                                        <th width="146">Follow</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                                <tfoot>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div role="tabpanel" id="tab-2" class="tab-pane">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="ibox collapsed">
                                                            <a class="collapse-link" href="">
                                                                <div class="ibox-title redtitle">
                                                                    <h5>Search</h5>
                                                                    <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                                                                    <div class="row"> </div>

                                                                </div>
                                                            </a>
                                                            <div class="ibox-content">
                                                                <div>
                                                                    <div>
                                                                        <div class="tabs-container">
                                                                            <div class="tab-content">
                                                                                <div class="panel-body">
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <div class="row"> </div>
                                                                                            <div class="col-md-12 pad0">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-9" style="padding-top:5px; background:#f1f1f1;">
                                                                                                        <div class="row">
                                                                                                            <div class="boxes" style="width:17%;">
                                                                                                                <div class="col-box2">
                                                                                                                    <select id="marketID" ng-model="marketID" ng-change="selectedItemChanged(marketID)" class="select2_demo_1 form-control"
                                                                                                                            ng-options="o.MarketID as o.MarketName for o in getMarket">
                                                                                                                        <option value=""> select Market</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Top 10</option>
                                                                                                                        <option value="1">All</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Select Period wise</option>
                                                                                                                        <option value="2">All</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Period 1</option>
                                                                                                                        <option value="1">Period 2</option>
                                                                                                                        <option value="1">Period 3</option>
                                                                                                                        <option value="1">Period 4</option>
                                                                                                                        <option value="1">Period 5</option>
                                                                                                                        <option value="1">Period 6</option>
                                                                                                                        <option value="1">Period 7</option>
                                                                                                                        <option value="1">Period 8</option>
                                                                                                                        <option value="1">Period 9</option>
                                                                                                                        <option value="1">Period 10</option>
                                                                                                                        <option value="1">Period 11</option>
                                                                                                                        <option value="1">Period 12</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Period 1</option>
                                                                                                                        <option value="1">Period 2</option>
                                                                                                                        <option value="1">Period 3</option>
                                                                                                                        <option value="1">Period 4</option>
                                                                                                                        <option value="1">Period 5</option>
                                                                                                                        <option value="1">Period 6</option>
                                                                                                                        <option value="1">Period 7</option>
                                                                                                                        <option value="1">Period 8</option>
                                                                                                                        <option value="1">Period 9</option>
                                                                                                                        <option value="1">Period 10</option>
                                                                                                                        <option value="1">Period 11</option>
                                                                                                                        <option value="1">Period 12</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <button type="button" class="btn btn-primary btn-xs bot5" ng-click="GetDataForTrader()">Search</button>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                            <div class="row"> </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="clear:both;"></div>
                                                    </div>
                                                </div>
                                                <div class="ibox-title bluetitle">
                                                    <h5>Top Ten Traders </h5>
                                                </div>
                                                <div class="col-md-12 pad0">
                                                    <div id="stocked2"></div>
                                                    <div id="ct-chart2" class="ct-perfect-fourth"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="search-d top10">
                                                        <div class="input-group">
                                                            <input type="text" class="searchi">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 pad0">
                                                    <table id="example6" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th width="78">Trader</th>
                                                                <th width="78">Name</th>
                                                                <th width="98">Since</th>
                                                                <th width="91">Pinned</th>
                                                                <th width="95">Closed</th>
                                                                <th width="90">Success</th>
                                                                <th width="104" style="background:#23c6c8; color:#fff;">Success</th>
                                                                <th width="104" style="background:#f8ac59; color:#fff;">Pips</th>
                                                                <th width="104" style="background:#1c84c6; color:#fff;">Gain/Loss</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="GetSuccessStoryTraderDetails">
                                                            @*<tr>
                                                                    <td><a href="tr-global-profile.html"><img src="../img/a5.jpg" width="30" height="30" class="rounded-circle" /></a></td>
                                                                    <td>ABC 1</td>
                                                                    <td> 6-Jan-19</td>
                                                                    <td><a href="#" data-toggle="modal" data-target="#traderpopup">20</a></td>
                                                                    <td>18</td>
                                                                    <td>15</td>
                                                                    <td class="center">75%</td>
                                                                    <td class="center">150</td>
                                                                    <td class="center">1.2</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><a href="tr-global-profile.html"><img src="../img/a3.jpg" width="30" height="30" class="rounded-circle" /></a></td>
                                                                    <td>PQR </td>
                                                                    <td> 20-Jun-19</td>
                                                                    <td> 25</td>
                                                                    <td>24</td>
                                                                    <td>20</td>
                                                                    <td>80%</td>
                                                                    <td>200</td>
                                                                    <td>1.2</td>
                                                                </tr>*@
                                                        </tbody>
                                                        <tfoot>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div role="tabpanel" id="tab-3" class="tab-pane">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="ibox collapsed">

                                                            <a class="collapse-link" href="">
                                                                <div class="ibox-title redtitle">
                                                                    <h5>Search</h5>
                                                                    <div class="ibox-tools"><i class="fa fa-chevron-up"></i></div>
                                                                    <div class="row"> </div>

                                                                </div>
                                                            </a>

                                                            <div class="ibox-content">
                                                                <div>
                                                                    <div>
                                                                        <div class="tabs-container">
                                                                            <div class="tab-content">
                                                                                <div class="panel-body">
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <div class="row"> </div>
                                                                                            <div class="col-md-12 pad0">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-9" style="padding-top:5px; background:#f1f1f1;">
                                                                                                        <div class="row">
                                                                                                            <div class="boxes" style="width:17%;">
                                                                                                                <div class="col-box2">
                                                                                                                    <select id="marketID" ng-model="marketID" ng-change="selectedItemChanged(marketID)" class="select2_demo_1 form-control"
                                                                                                                            ng-options="o.MarketID as o.MarketName for o in getMarket">
                                                                                                                        <option value=""> select Market</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Top 10</option>
                                                                                                                        <option value="1">All</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Select Period wise</option>
                                                                                                                        <option value="2">All</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Period 1</option>
                                                                                                                        <option value="1">Period 2</option>
                                                                                                                        <option value="1">Period 3</option>
                                                                                                                        <option value="1">Period 4</option>
                                                                                                                        <option value="1">Period 5</option>
                                                                                                                        <option value="1">Period 6</option>
                                                                                                                        <option value="1">Period 7</option>
                                                                                                                        <option value="1">Period 8</option>
                                                                                                                        <option value="1">Period 9</option>
                                                                                                                        <option value="1">Period 10</option>
                                                                                                                        <option value="1">Period 11</option>
                                                                                                                        <option value="1">Period 12</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Period 1</option>
                                                                                                                        <option value="1">Period 2</option>
                                                                                                                        <option value="1">Period 3</option>
                                                                                                                        <option value="1">Period 4</option>
                                                                                                                        <option value="1">Period 5</option>
                                                                                                                        <option value="1">Period 6</option>
                                                                                                                        <option value="1">Period 7</option>
                                                                                                                        <option value="1">Period 8</option>
                                                                                                                        <option value="1">Period 9</option>
                                                                                                                        <option value="1">Period 10</option>
                                                                                                                        <option value="1">Period 11</option>
                                                                                                                        <option value="1">Period 12</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <button type="button" class="btn btn-primary btn-xs bot5" ng-click="GetScriptSuccessStory()">Search</button>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                            <div class="row"> </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="clear:both;"></div>
                                                    </div>
                                                </div>
                                                <div class="ibox-title bluetitle">
                                                    <h5>Top Ten Scripts </h5>
                                                </div>
                                                <div class="col-md-12 pad0">
                                                    <div id="stocked4"></div>
                                                    <div id="ct-chart2" class="ct-perfect-fourth"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="search-d top10">
                                                        <div class="input-group">
                                                            <input type="text" class="searchi">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="clear:both;"></div>
                                                <div class="col-md-10 pad0">
                                                    <table id="example7" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th width="270">Market</th>
                                                                <th width="98">Script</th>
                                                                <th width="91">Posted</th>
                                                                <th width="95">Closed</th>
                                                                <th width="90">Success </th>
                                                                <th width="104" style="background:#23c6c8; color:#fff;">Success </th>
                                                                <th width="104" style="background:#f8ac59; color:#fff;">Pips</th>
                                                                <th width="104" style="background:#1c84c6; color:#fff;">Pinned</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="GetScriptData">
                                                            @*<tr>
                                                                    <td> Forex</td>
                                                                    <td> USD/JPY</td>
                                                                    <td><a href="#" data-toggle="modal" data-target="#rankpopup">200</a></td>
                                                                    <td><span>150</span></td>
                                                                    <td> 120</td>
                                                                    <td class="center"> 80%</td>
                                                                    <td class="center">400</td>
                                                                    <td class="center"><a href="#" data-toggle="modal" data-target="#rankpinnedpopup">75</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Crypto</td>
                                                                    <td> Bitcoin</td>
                                                                    <td> 400</td>
                                                                    <td>350</td>
                                                                    <td> 300</td>
                                                                    <td> 75%</td>
                                                                    <td>800</td>
                                                                    <td>50</td>
                                                                </tr>*@
                                                        </tbody>
                                                        <tfoot>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div role="tabpanel" id="tab-4" class="tab-pane">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="ibox collapsed">

                                                            <a class="collapse-link" href="">
                                                                <div class="ibox-title redtitle">
                                                                    <h5>Search</h5>
                                                                    <div class="ibox-tools"> <i class="fa fa-chevron-up"></i></div>
                                                                    <div class="row"> </div>

                                                                </div>
                                                            </a>

                                                            <div class="ibox-content">
                                                                <div>
                                                                    <div>
                                                                        <div class="tabs-container">
                                                                            <div class="tab-content">
                                                                                <div class="panel-body">
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <div class="row"> </div>
                                                                                            <div class="col-md-12 pad0">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-9" style="padding-top:5px; background:#f1f1f1;">
                                                                                                        <div class="row">
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Top 10</option>
                                                                                                                        <option value="1">All</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Select Period wise</option>
                                                                                                                        <option value="2">All</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Period 1</option>
                                                                                                                        <option value="1">Period 2</option>
                                                                                                                        <option value="1">Period 3</option>
                                                                                                                        <option value="1">Period 4</option>
                                                                                                                        <option value="1">Period 5</option>
                                                                                                                        <option value="1">Period 6</option>
                                                                                                                        <option value="1">Period 7</option>
                                                                                                                        <option value="1">Period 8</option>
                                                                                                                        <option value="1">Period 9</option>
                                                                                                                        <option value="1">Period 10</option>
                                                                                                                        <option value="1">Period 11</option>
                                                                                                                        <option value="1">Period 12</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="boxes">
                                                                                                                <div class="col-box2">
                                                                                                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                                                                                                        <option value="1">Period 1</option>
                                                                                                                        <option value="1">Period 2</option>
                                                                                                                        <option value="1">Period 3</option>
                                                                                                                        <option value="1">Period 4</option>
                                                                                                                        <option value="1">Period 5</option>
                                                                                                                        <option value="1">Period 6</option>
                                                                                                                        <option value="1">Period 7</option>
                                                                                                                        <option value="1">Period 8</option>
                                                                                                                        <option value="1">Period 9</option>
                                                                                                                        <option value="1">Period 10</option>
                                                                                                                        <option value="1">Period 11</option>
                                                                                                                        <option value="1">Period 12</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <button type="button" class="btn btn-primary btn-xs bot5">Search</button>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6">
                                                                                            <div class="row"> </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <div class="row">

                                                                <div class="col-md-12">
                                                                    <div class="ibox-title bluetitle">
                                                                        <h5>Top Ten Referrers</h5>
                                                                    </div>
                                                                    <div id="stocked5"></div>
                                                                    <div id="ct-chart5" class="ct-perfect-fourth"></div>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <div class="row">
                                                                        <div class="search-d top10">
                                                                            <div class="input-group">
                                                                                <input type="text" class="searchi">
                                                                                <div class="input-group-append">
                                                                                    <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="table-responsive">
                                                                        <table id="example8" class="table table-striped table-bordered">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th width="132">Referrer </th>
                                                                                    <th width="137">Referrals</th>
                                                                                    <th width="95">M1</th>
                                                                                    <th width="64">M2</th>
                                                                                    <th width="61">M3</th>
                                                                                    <th width="47">M4</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="GetTopTenRefferrdata">
                                                                                @*<tr>
                                                                                        <td><img src="../img/a1.jpg" width="30" height="30" class="rounded-circle"></td>
                                                                                        <td>40</td>
                                                                                        <td>11</td>
                                                                                        <td>9</td>
                                                                                        <td><span>5</span></td>
                                                                                        <td> 15</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><img src="../img/a2.jpg" width="30" height="30" class="rounded-circle"></td>
                                                                                        <td>50</td>
                                                                                        <td>5</td>
                                                                                        <td> 5</td>
                                                                                        <td> 10</td>
                                                                                        <td> 30</td>
                                                                                    </tr>*@
                                                                            </tbody>
                                                                            <tfoot>
                                                                            </tfoot>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        getMarketList();
        GetReferraldata();
        function GetReferraldata() {
            $.ajax({
                url: '@Url.Action("GetReferralList", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].tReferrer + '</td>';
                        htmlStr += '<td>' + str[i].tReferralCount + '</td>';
                        htmlStr += '<td>' + str[i].tM1Count + '</td>';
                        htmlStr += '<td>' + str[i].tM2Count + '</td>';
                        htmlStr += '<td>' + str[i].tM3Count + '</td>';
                        htmlStr += '<td>' + str[i].tM4Count + '</td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetTopTenRefferrdata").html(htmlStr)


                }
            });
        }
        $scope.SearchSignalProvider = function () {
            var marketid = $scope.marketID;

            $.ajax({
                url: '@Url.Action("SearchSuccessStorySignalProvider", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { MarketID: marketid },
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].tUserImage + '</td>';
                        htmlStr += '<td>' + str[i].tUserName + '</td>';
                        htmlStr += '<td>' + str[i].tUserSince + '</td>';
                        htmlStr += '<td>' + str[i].tSignalsPosted + '</td>';
                        htmlStr += '<td>' + str[i].tSignalsClosed + '</td>';
                        htmlStr += '<td>' + str[i].tSUccessSignals + '</td>';
                        htmlStr += '<td>' + str[i].tSuccessRate + '</td>';
                        htmlStr += '<td>' + str[i].tPips + '</td>';
                        htmlStr += '<td>' + str[i].tPinned + '</td>';
                        htmlStr += '<td>' + str[i].tGainedLoss + '</td>';
                        //htmlStr += ' <td><button type="button"  onclick="ShowResponse(' + '' + str[i].TicketsID + '' + ' ,' + '\'' + str[i].Subject + '\'' + ',' + '\'' + str[i].UserName + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ',' + '\'' + str[i].ClosingDate + '\'' + ',' + '\'' + str[i].TicketStatus + '\'' + ')"> <i class="fa fa-reply" aria-hidden="true"></i></button></td>';
                        //htmlStr += ' <td><button type="button" onclick="ViewImage(' + '' + str[i].TicketsID + '' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetSuccessStoryDetails").html(htmlStr)
                }
            });

        }
        $scope.GetScriptSuccessStory = function () {
            var marketid = $scope.marketID;
            $.ajax({
                url: '@Url.Action("SearchSuccessStoryScript", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { MarketID: marketid },
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].tMarket + '</td>';
                        htmlStr += '<td>' + str[i].tScript + '</td>';
                        htmlStr += '<td>' + str[i].tPosted + '</td>';
                        htmlStr += '<td>' + str[i].tClosed + '</td>';
                        htmlStr += '<td>' + str[i].tSuccess + '</td>';
                        htmlStr += '<td>' + str[i].tSuccessRate + '</td>';
                        htmlStr += '<td>' + str[i].tPips + '</td>';
                        htmlStr += '<td>' + str[i].tPinned + '</td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetScriptData").html(htmlStr)
                }
            });

        }
        $scope.GetDataForTrader = function () {
            var marketid = $scope.marketID;
            $.ajax({
                url: '@Url.Action("GetSuccessStoryTrader", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: { MarketID: marketid },
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].tUserImage + '</td>';
                        htmlStr += '<td>' + str[i].tUserName + '</td>';
                        htmlStr += '<td>' + str[i].tUserSince + '</td>';
                        htmlStr += '<td>' + str[i].tSignalsPosted + '</td>';
                        htmlStr += '<td>' + str[i].tSignalsClosed + '</td>';
                        htmlStr += '<td>' + str[i].tSUccessSignals + '</td>';
                        htmlStr += '<td>' + str[i].tSuccessRate + '</td>';
                        htmlStr += '<td>' + str[i].tPips + '</td>';
                        htmlStr += '<td>' + str[i].tPinned + '</td>';
                        htmlStr += '<td>' + str[i].tGainedLoss + '</td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetSuccessStoryTraderDetails").html(htmlStr)
                }
            });

        }
        function getMarketList() {
            $.ajax({
                url: '@Url.Action("GetMarketList", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.stringify(data);
                    //alert(str);
                    $scope.getMarket = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    alert(textStatus);
                }

            });
        }





    });
</script>