﻿
@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/tr_master_page.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="PersonalDetails">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-title yellowtitle">
                        <h5>Tickets</h5>
                    </div>
                    <div class="ibox collapsed">
                        <div class="ibox-title whitetitle">
                            <div class="col-md-7 pad0">
                                <button class="btn btn-xs btn-warning collapse-link" type="submit">Raise New</button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-md-4 pad0">
                                <div class="form-group">
                                    @*<select class="input-control" placeholder="Instrument" ng-model="txtSubject" id="txtSubject">
                                        <option value="1">Subject 1</option>
                                        <option value="1">Subject 2</option>
                                        <option value="1">Subject 3</option>
                                    </select>*@
                                    <input type="text" class="input-control" ng-model="txtSubject">
                                </div>
                                <div class="form-group">
                                    <textarea name="" cols="" rows="" class="input-control" placeholder="Comments" ng-model="txtmsg"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn bt-choosefile btn-file">
                                            <span class="fileinput-new">Choose file</span> <span class="fileinput-exists">Change</span>
                                            <input type="file" name="..." title="Format: JPEG, Size: Min 10KB - Max 300KB, Min: 350px(w) - 350px(H),Max: 1000px(w) - 1000px(H)">
                                        </span> <span class="fileinput-filename"></span> <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <select id="TicketStatusID" ng-model="TicketStatusID" ng-change="selectedItemChanged(TicketStatusID)" class="input-control"
                                            ng-options="o.TicketStatusID as o.TicketStatus for o in getTicketStatus">
                                        <option value=""> Ticket Status</option>
                                    </select>
                                    </div>*@
                                    <hr>
                                    <div class="col-md-12 pad0">
                                        <button class="btn btn-sm btn-primary" type="submit" ng-click="SubmitTicket()">Submit</button>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title redtitle">
                            <h5>Tickets</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-md-5" style="background:#e6e6e6; padding:5px 0px 0px 0px;">
                                <div class="ticket-box">
                                    <div id="data_1">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" class="form-control" value="10-Dec-19">
                                        </div>
                                    </div>
                                </div>
                                <div class="ticket-box">
                                    <div id="data_1">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" class="form-control" value="11-Dec-19">
                                        </div>
                                    </div>
                                </div>
                                <div class="ticket-box">
                                    <select class="select2_demo_1 form-control" placeholder="Instrument">
                                        <option value="1">Status</option>
                                        <option value="2">Pending</option>
                                        <option value="2">In Process</option>
                                        <option value="2">Closed</option>
                                    </select>
                                </div>

                                <button type="button" class="btn btn-primary btn-xs bot5">Search</button>
                                <button type="button" class="btn btn-primary btn-xs bot5">Show All</button>
                                <div style="clear:both;"></div>
                            </div>

                            <div class="col-lg-10 pad0">
                                <div class="row top10">
                                    <div class="search-d">
                                        <div class="input-group">
                                            <input type="text" class="searchi">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-xs" type="button">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 pad0">
                                    <div class="table-responsive">
                                        <table id="example1" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="41">Id</th>
                                                    <th width="111">Subject</th>
                                                    <th width="129">Created by</th>
                                                    <th width="146">Created Date</th>
                                                    <th width="146">Last updated</th>
                                                    <th width="80">Status</th>
                                                    <th width="80">Conversation</th>
                                                </tr>
                                            </thead>
                                            <tbody id="GetAllTicketDetails">
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title bluetitle">
                            <h5>Response on Ticket</h5>
                            <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-lg-6 pad0">
                                <b> Ticket Id:</b><span class="text-navy" id="EditId"> </span>, <b>Subject:</b><span class="text-navy" id="EditSubject"> </span>, <b>Created by:</b> <span class="text-navy" id="EditCreated"> </span> <b> Status:</b> <span class="text-navy" id="EditStatus"> </span>


                                <div class="row top10">
                                    <div class="search-d">
                                        <div class="input-group">
                                            <input type="text" class="searchi">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-xs" type="button">
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="example2" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="28" id="reply">Id</th>
                                                <th width="207">Last Updated </th>
                                                <th width="135">Response by</th>
                                                <th width="109">Details</th>
                                                <th width="68">Reply&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="GetDetailsTicketRespose">
                                        
                                              <!-- response -->
                                             <div class="modal fade" id="response" role="dialog">
                                                        <div class="modal-dialog modal-md">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title">Response</h4>
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="col-md-12 pad0">
                                                                        <div class="form-group">
                                                                            <textarea name="" cols="10" rows="10" class="input-control" placeholder="Enter here" ng-model="txtReplyMsg"></textarea>
                                                                        </div>
                                                                        <br>
                                                                        <br>
                                                                        <br>
                                                                        <div style="clear:both;"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="footer">
                                                                    <div class="col-md-12 pad0">
                                                                        <button class="btn btn-sm btn-primary" type="submit" ng-click="SubmitReply()">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal" role="dialog">
                                                <div class="modal-dialog modal-md">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Response</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body" id="DeatilsMsg"> </div>
                                                        <div class="modal-footer"> </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>
    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location)
    {
        GetData();
        @*getTicketStatusData();
        function getTicketStatusData() {
            $.ajax({
                url: '@Url.Action("GetTicketStatusList", "Trader")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getTicketStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }*@

        function GetData() {
            $.ajax({
                url: '@Url.Action("GetAllTicketStatusDetails", "Trader")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].TicketsID + '</td>';
                        htmlStr += '<td>' + str[i].Subject + '</td>';
                        htmlStr += '<td>' + str[i].UserName + '</td>';
                        var entryDate = GetTwoDigitDateFormat(str[i].EntryDate);
                        htmlStr += '<td>' + entryDate + '</td>';
                        var closingDate = GetTwoDigitDateFormat(str[i].ClosingDate);
                        htmlStr += '<td>' + closingDate + '</td>';
                        htmlStr += '<td>' + str[i].TicketStatus + '</td>';
                        htmlStr += ' <td><button type="button"  onclick="ShowResponse(' + '' + str[i].TicketsID + '' + ' ,' + '\'' + str[i].Subject + '\'' + ',' + '\'' + str[i].UserName + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ',' + '\'' + str[i].ClosingDate + '\'' + ',' + '\'' + str[i].TicketStatus + '\'' + ')"> <i class="fa fa-reply" aria-hidden="true"></i></button></td>';
                        //' + str[i].RiskID + ',"' + str[i].RiskName + ',' + str[i].Status + '
                       // htmlStr += ' <td><button type="button" onclick="Edit(' + '' + str[i].SignalTypesID + '' + ')"> <i class="fa fa-edit" aria-hidden="true" title="Edit"></i></button></td>';
                        //htmlStr += ' <td><button type="button" onclick="ViewSignalType(' + '' + str[i].SignalTypesID + '' + ',' + '\'' + str[i].Stype + '\'' + ',' + '\'' + str[i].Price + '\'' + ',' + '\'' + str[i].RefundPrice + '\'' + ',' + '\'' + str[i].Status + '\'' + ',' + '\'' + str[i].EntryDate + '\'' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        //htmlStr += ' <td><button type="button" class="btn btn-danger btn-xs" onclick="DeleteSignalType(' + str[i].SignalTypesID + ')"> <i class="fa fa-remove"></i>&nbsp;Remove</button></td>';
                        htmlStr += '</tr>';
                    }
                    $("#GetAllTicketDetails").html(htmlStr)
                }
            });

        }
        $scope.SubmitTicket = function () {
            var Message = $scope.txtmsg;
            var Subject = $scope.txtSubject;
            $.ajax({
                url: '@Url.Action("AddTicketStatus", "Trader")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { Subject: Subject, Message: Message },
                success: function () {
                    alert("Insert  data successfully");
                    location.reload();
                }
            });
        }
        $scope.SubmitReply = function () {
            var Message = $scope.txtReplyMsg;
            var TicketsID = $("#EditId").html();
            $.ajax({
                url: '@Url.Action("AddTicketReplay", "Trader")',
                type: "POST",
                Response: ContentType = 'application/json',
                data: { TicketsID: TicketsID, Message: Message },
                success: function () {
                    //alert("");
                    location.reload();
                }
            });
        }
    });
    function ShowResponseMsgById(RId)
    { 
        $.ajax({
            url: '@Url.Action("GetTicketResponseMsgByID", "Trader")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: { TicketResponsesID: RId },
            success: function (data) {
               // alert(data);
                $('#DeatilsMsg').html(data);
            },
            error: function (data, textStatus, xhr) {
                var result = JSON.stringify(data);
               
                // alert("result" + result);
            }

        });

    }
    function ShowResponse(TicketsID, Subject, UserName, EntryDate, ClosingDate, TicketStatus)
    {
        $("#EditId").html(TicketsID);
        $("#EditSubject").html(Subject);
        $("#EditCreated").html(UserName);
        $("#EditStatus").html(TicketStatus);
        var TicketsID = $("#EditId").html();
        $.ajax({
            url: '@Url.Action("GetResponseByTicket", "Trader")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: { TicketsID: TicketsID },
            success: function (data) {
                var str = JSON.parse(data);
                var htmlStr = "";               
                for (var i = 0; i < str.length; i++) {
                    
                    //$("#RId").html(str[i].TicketResponsesID);
                    //$("#LastDate").html(str[i].EntryDate);
                    //$("#ResponseName").html(str[i].UserName);
                    // $("#DeatilsMsg").html(str[i].Message);
                   // $("#DeatilsMsg").html(str[i].Message);
                    htmlStr += '<tr id="TicketRow">';
                    htmlStr += '<td id="row"> ' + str[i].TicketResponsesID + '</td>';
                    htmlStr += '<td> ' + str[i].EntryDate + '</td>';
                    htmlStr += '<td> ' + str[i].UserName + '</td>';
                   // htmlStr += '<td> ' + str[i].Message + '</td>';
                    htmlStr += ' <td> <button type="button" onclick="ShowResponseMsgById(' + '' + str[i].TicketResponsesID + '' + ')"  class="center"><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a> </td>';
                   // htmlStr += ' <td class="center"></td>';
                    htmlStr += '<td><button type="button"  class="center"><a href="#" data-toggle="modal" data-target="#response"><i class="fa fa-reply" aria-hidden="true"></i></a></td>';
                    htmlStr += '</tr>';
                  
                }
                $("#GetDetailsTicketRespose").html(htmlStr)
            }
        });
    }

</script>
