﻿
@{
    ViewBag.Title = "TicketManagement";
    Layout = "~/Views/Shared/_Layout_admin_Master.cshtml";
}
<section class="content" ng-app="app" ng-controller="mycontrol">
    <form name="TicketManagement">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title yellowtitle">
                            <h5>Ticket Management</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox collapsed">
                            <div class="ibox-title whitetitle">
                                <div class="col-md-7 pad0">
                                    <button class="btn btn-xs btn-warning collapse-link" type="submit">Search</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="col-md-4  pad0">
                                    <div class="form-group">
                                        <select id="UserID" ng-model="UserID" ng-change="selectedItemChanged(UserID)" class="input-control"
                                                ng-options="o.UserID as o.UserName for o in getUserNameList">
                                            <option value=""> Select User Name</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="@DateTime.UtcNow" style="width: 92.5%;" id="txtFromDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="data_1">
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar top5"></i></span>
                                                <input type="text" class="input-control" value="@DateTime.UtcNow" style="width: 92.5%;" id="txtToDate" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select id="RoleID" ng-model="RoleID" ng-change="selectedItemChanged(RoleID)" class="input-control"
                                                ng-options="o.RoleID as o.RoleName for o in getRole">
                                            <option value="">Select Role</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="TicketStatusID" ng-model="TicketStatusID" ng-change="selectedItemChanged(TicketStatusID)" class="input-control"
                                                ng-options="o.TicketStatusID as o.TicketStatus for o in getTicketStatus">
                                            <option value=""> Ticket Status</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="country" ng-model="country" ng-change="GetStates(country)" placeholder="Country" class="input-control"
                                                ng-options="C.CountryID as C.Country for  C in CountryList">
                                            <option value=""> Select Country </option>
                                        </select>
                                    </div>
                                    @*<div class="form-group">
                                        <select id="ddlState" ng-model="state" ng-change="GetCities(state)" placeholder="State" class="input-control"
                                                ng-options="st.StateID as st.StateName  for st in States">
                                            <option value=""> Select State </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="ddlCity" ng-model="city" ng-change="getCity()" placeholder="City" class="input-control"
                                                ng-options="o.CityID as o.CityName for o in getCity">
                                            <option value=""> Select City </option>
                                        </select>
                                    </div>*@
                                    <button class="btn btn-primary btn-xs" type="submit" onclick="SearchTicket()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title greentitle">
                            <h5>List View</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                        </div>
                        <div class="ibox-content">
                            @*<div class="row">
                                    <div class="col-md-6">
                                        <div class="alert alert-danger alert-dismissable">
                                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                            Do you want to Close selected items?, Click
                                            <button type="button" class="btn btn-primary btn-xs">OK</button>
                                            &nbsp;to Confirm
                                        </div>
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="search-d">
                                    <div class="input-group">
                                        <input type="text" class="searchi">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12 pad0">
                                        <div class="col-md-12 pad0">
                                            <div class="table-responsive">

                                                <table id="example1" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th width="31">Id</th>
                                                            <th width="100">User</th>
                                                            <th width="97">Role</th>
                                                            <th width="127">Email</th>
                                                            <th width="78">Country</th>
                                                            <th width="110">Subject</th>
                                                            <th width="197">Created by</th>
                                                            <th width="138">Created Date</th>
                                                            <th width="201">Last updated</th>
                                                            <th width="91">Conversation</th>
                                                            <th width="83">Status</th>
                                                            <th width="55">Action</th>
                                                            <th width="55">View File</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="TicketDetailsData">
                                                        @*<tr>
                                                                <td>1</td>
                                                                <td>Mr.Jack</td>
                                                                <td>Signal Provider</td>
                                                                <td>ajk@gmail.com</td>
                                                                <td>India</td>
                                                                <td>Not working</td>
                                                                <td>Ajit</td>
                                                                <td>01-Nov-19</td>
                                                                <td>3-Dec-19</td>
                                                                <td><a href="admin-ca-ticketmanagement.html#reply"><i class="fa fa-reply" aria-hidden="true"></i></a></td>
                                                                <td>Inprocess</td>
                                                                <td>
                                                                    <div class="i-checks">
                                                                        <input type="checkbox" value="">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                                <td>ak@gmail.com</td>
                                                                <td>&nbsp;</td>
                                                                <td>Not working</td>
                                                                <td>Abhijit</td>
                                                                <td>05-Nov-19</td>
                                                                <td>4-Dec-19</td>
                                                                <td><a href="#"><i class="fa fa-reply" aria-hidden="true"></i></a></td>
                                                                <td>Inprocess</td>
                                                                <td>
                                                                    <div class="i-checks">
                                                                        <input type="checkbox" value="">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                                <td>Jay@gmail.com</td>
                                                                <td>&nbsp;</td>
                                                                <td>Not working</td>
                                                                <td>Jay</td>
                                                                <td>20-Nov-19</td>
                                                                <td>5-Dec-19</td>
                                                                <td><a href="#"><i class="fa fa-reply" aria-hidden="true"></i></a></td>
                                                                <td>Inprocess</td>
                                                                <td><div class="i-checks"><input type="checkbox" value=""></div></td>
                                                            </tr>*@
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <button type="button" class="btn btn-primary btn-xs" ng-click="CloseTickets()">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="Responsdiv">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title bluetitle">
                            <h5 id="bankdetails">Response</h5>
                            <div class="ibox-tools"> <a class="collapse-link" href=""> <i class="fa fa-chevron-up"></i> </a> <a class="close-link" href=""> <i class="fa fa-times"></i> </a> </div>
                           <label id="EditId" hidden></label>
                        </div>
                        <div class="ibox-content">
                            <div class="row" id="respond">
                                <div class="search-d">
                                    <div class="input-group">
                                        <input type="text" class="searchi">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary btn-xs" type="button"> Submit </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="table-responsive top10">

                                        <table id="example2" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="102" id="reply">Id</th>
                                                    <th width="220">Ticket Id</th>
                                                    <th width="269">Response Id</th>
                                                    <th width="269">Last Updated </th>
                                                    <th width="182">Response by</th>
                                                    <th width="151">Details</th>
                                                    <th width="105">Reply</th>
                                                </tr>
                                            </thead>
                                            <tbody id="GetDetailsTicketRespose">
                                                @*<tr>
                                                    <td>-3</td>
                                                    <td>01</td>
                                                    <td>04</td>
                                                    <td>5-Dec-19</td>
                                                    <td>Ajit</td>
                                                    <td class="center"><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a> </td>
                                                    <td class="center">
                                                        <a href="#" data-toggle="modal" data-target="#response"><i class="fa fa-reply" aria-hidden="true"></i></a>
                                                       
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>-2</td>
                                                    <td>02</td>
                                                    <td>03</td>
                                                    <td>4-Dec-19</td>
                                                    <td>Admin</td>
                                                    <td class="center"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> </a></td>
                                                    <td class="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>-1</td>
                                                    <td>03</td>
                                                    <td>02</td>
                                                    <td>3-Dec-19</td>
                                                    <td>Ajit</td>
                                                    <td class="center"><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> </a></td>
                                                    <td class="center">&nbsp;</td>
                                                </tr>*@
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- response -->
        <div class="modal fade" id="response" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Response</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 pad0">
                            <div class="form-group">
                                <textarea name="" cols="10" rows="10" class="input-control" placeholder="Enter here" ng-model="txtReplyMsg"></textarea>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="col-md-12 pad0">
                            <button class="btn btn-sm btn-primary" type="submit" ng-click="SubmitReply()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Response</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" id="DeatilsMsg"> </div>
                    <div class="modal-footer"> </div>
                </div>
            </div>
        </div>
        <!-- FeedbackImagePopup -->
        <div class="modal fade" id="TicketImagePopup" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Ticket Image</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <img id="Feedbackimg" src="" class="img-fluid">
                    </div>
                    <div class="footer">
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<script>

    var app = angular.module('app', []);
    app.controller('mycontrol', function ($scope, $http, $location) {
        GetData();
        getRole();
        getTicketStatusData();
        GetCountries();
        GetUserNameList();
        $("#Responsdiv").hide();
        function GetUserNameList() {
            $.ajax({
                url: '@Url.Action("GetUserNameList", "Admin")',
                type: "Get",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getUserNameList = data;
                    $scope.$apply();
                }

            });

        }
        function GetCountries() {
            $.ajax({
                url: '@Url.Action("GetCountries", "Admin")',
                type:"GET",
               ContentType:'application/json',
                data: {},
                success: function (data) {
                    $scope.CountryList = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                }
            });
        }
        $scope.GetStates = function ($scope) {
            var countryId = $scope;
            States(countryId);
        }
        function States(cid) {
            $.ajax({
                url: '@Url.Action("GetStates", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: { countryID: cid },
                success: function (data) {
                    // alert( data.StateList);
                    $scope.States = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                }
            });
        }
        $scope.GetCities = function ($scope) {
            var stateId = $scope;
            Cities(stateId);
        }
        function Cities(stId) {
            $.ajax({
                url: '@Url.Action("GetCities", "Admin")',
                type: "Post",
                Response: ContentType = 'application/json',
                data: { stateID: stId },
                success: function (data) {
                    $scope.getCity = data.CityList;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                }
            });
        }
        function getTicketStatusData() {
            $.ajax({
                url: '@Url.Action("GetTicketStatusList", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getTicketStatus = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);
                    // alert("result" + result);
                }

            });
        }
        function getRole() {
            $.ajax({
                url: '@Url.Action("GetRolelist", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    $scope.getRole = data;
                    $scope.$apply();
                },
                error: function (data, textStatus, xhr) {
                    var result = JSON.stringify(data);

                }

            });
        }
        $scope.SubmitReply = function () {

            var Message = $scope.txtReplyMsg;
            var TicketsID = $("#EditId").html();
            alert(Message);
            $.ajax({
                url: '@Url.Action("AddTicketReplay", "Admin")',
                type: "POST",
               ContentType:'application/json',
                data: { TicketsID: TicketsID, Message: Message },
                success: function () {
                    //alert("");
                    location.reload();
                }
            });
        }
        $scope.CloseTickets = function () {
            //created array
            var selected = new Array();
            //var ISApprove = 1;
            //Reference the Table.
            var tblFruits = document.getElementById("example1");
            //Reference all the CheckBoxes in Table.
            var chks = example1.getElementsByTagName("INPUT");
            // Loop and push the checked CheckBox value in Array.
            for (var i = 0; i < chks.length; i++) {
                if (chks[i].checked) {
                    selected.push(chks[i].value);
                    //selected.push('\'' + chks[i].value + '\'');
                }
            }
            var SelectedDocId = selected.join(",");
            // alert(SelectedDocId);
            $.ajax({
                url: '@Url.Action("CloseTicketManagemanet", "Admin")',
                type: "post",
                response: contenttype = 'application/json',
                data: { SelectedTicket: SelectedDocId },
                success: function (data) {
                    //alert("insert risk data successfully");
                    location.reload();
                }
            });

        }
        function GetData() {
            $.ajax({
                url: '@Url.Action("GetTicketManagementData", "Admin")',
                type: "GET",
                Response: ContentType = 'application/json',
                data: {},
                success: function (data) {
                    var str = JSON.parse(data);
                    var htmlStr = "";
                    for (var i = 0; i < str.length; i++) {
                        htmlStr += '<tr id="riskRow">';
                        htmlStr += '<td id="row">' + str[i].trTicketsID + '</td>';
                        //htmlStr += '<td>' + str[i].trTicketsID + '</td>';
                        htmlStr += '<td>' + str[i].trUser + '</td>';
                        htmlStr += '<td>' + str[i].trRole + '</td>';
                        htmlStr += '<td>' + str[i].trEmail + '</td>';
                        htmlStr += '<td>' + str[i].trCountry + '</td>';
                        htmlStr += '<td>' + str[i].Subject + '</td>';
                        htmlStr += '<td>' + str[i].trCreatedBy + '</td>';
                        htmlStr += '<td>' + str[i].trCreatedDate + '</td>';
                        htmlStr += '<td>' + str[i].trLastUpdatedDate + '</td>';
                        htmlStr += ' <td><button type="button"  onclick="ShowResponse(' + '' + str[i].trTicketsID + '' + ' )"> <i class="fa fa-reply" aria-hidden="true"></i></button></td>';
                        htmlStr += '<td>' + str[i].trStatus + '</td>';
                        htmlStr += '<td>' + '<div class="i-checks">' + '<INPUT type="checkbox" value=' + str[i].trTicketsID + '>' + '</div>' + '</td>';
                        htmlStr += ' <td><button type="button" onclick="ViewImage(' + '' + str[i].trTicketsID + '' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                        htmlStr += '';
                        htmlStr += '</tr>';
                    }
                    $("#TicketDetailsData").html(htmlStr)
                }
            });
        }
    });
    function ShowResponse(TicketsID) {
        $("#Responsdiv").show();
        $("#EditId").html(TicketsID);
        var id = TicketsID;
        alert(id);
        $.ajax({
            url: '@Url.Action("GetResponseByTicket", "Admin")',
            type: "GET",
            ContentType:'application/json',
            data: { TicketsID: id },
            success: function (data) {
                var str = JSON.parse(data);
                var htmlStr = "";
                for (var i = 0; i < str.length; i++) {
                    htmlStr += '<tr id="TicketRow">';
                    htmlStr += '<td id="row">' +parseInt(i+1) + '</td>';
                    htmlStr += '<td>' + str[i].TicketID + '</td>';
                    htmlStr += '<td>'+ str[i].TicketResponsesID + '</td>';
                    htmlStr += '<td>' + str[i].EntryDate + '</td>';
                    htmlStr += '<td>' + str[i].UserName + '</td>';
                    // htmlStr += '<td> ' + str[i].Message + '</td>';
                    htmlStr += ' <td> <button type="button" onclick="ShowResponseMsgById(' + '' + str[i].TicketResponsesID + '' + ')"  class="center"><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a> </td>';
                    // htmlStr += ' <td class="center"></td>';
                    htmlStr += '<td><button type="button"  class="center"><a href="#" data-toggle="modal" data-target="#response"><i class="fa fa-reply" aria-hidden="true"></i></a></td>';
                    htmlStr += '</tr>';

                }
                $("#GetDetailsTicketRespose").html(htmlStr)
            }
        });
    }
    function ShowResponseMsgById(RId) {
        $.ajax({
            url: '@Url.Action("GetTicketResponseMsgByID", "SignalProvider")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: { TicketResponsesID: RId },
            success: function (data) {
                // alert(data);
                $('#DeatilsMsg').html(data);
            },
            error: function (data, textStatus, xhr) {
                var result = JSON.stringify(data);

                // alert("result" + result);
            }

        });

    }
     function ViewImage(ticket) {

        $.ajax({
            url: '@Url.Action("GetTicketImageById", "Admin")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: { TicketID: ticket },
            success: function (data) {
                var path = "../Content/CSS/img/";
                $('#Feedbackimg').attr("src", path + data.TicketImage);
                $('#TicketImagePopup').modal();
            }

        });
     }

    function SearchTicket() {
        alert();
        var Fromdate = $("#txtFromDate").val();
        var Todate = $("#txtToDate").val();
        //var TicketStatusId =  $("#TicketStatusID").val();
        var user = document.getElementById("UserID");
        var username =user.options[user.selectedIndex].text;
        var fromdate = $("#txtFromDate").val();
        var Todate = $("#txtToDate").val()
        var selectId = document.getElementById('TicketStatusID');
        var TicketStatusId = parseInt(selectId.selectedIndex);
        var role = document.getElementById('RoleID');
        var RoleId = parseInt(role.selectedIndex);
        var country = document.getElementById('country');
        var countryId = parseInt(country.selectedIndex)
        //alert(countryId);
        //if (TicketStatusId === "") {
        //    TicketStatusId = 0;
        //}
        var SearchDeatils = { 'UserName': username, 'FromDate': fromdate, 'ToDate': Todate, 'RoleID': RoleId, 'TicketStatusID': TicketStatusId, 'CountryID': countryId }
        var res = JSON.stringify(SearchDeatils);
        $.ajax({
            url: '@Url.Action("SearchTickets", "Admin")',
            type: "GET",
            Response: ContentType = 'application/json',
            data: { Result: res },
            success: function (data) {
                var str = JSON.parse(data);
                var htmlStr = "";
                for (var i = 0; i < str.length; i++) {
                    htmlStr += '<tr id="riskRow">';
                    htmlStr += '<td id="row">' + str[i].trTicketsID + '</td>';
                    //htmlStr += '<td>' + str[i].trTicketsID + '</td>';
                    htmlStr += '<td>' + str[i].trUser + '</td>';
                    htmlStr += '<td>' + str[i].trRole + '</td>';
                    htmlStr += '<td>' + str[i].trEmail + '</td>';
                    htmlStr += '<td>' + str[i].trCountry + '</td>';
                    htmlStr += '<td>' + str[i].Subject + '</td>';
                    htmlStr += '<td>' + str[i].trCreatedBy + '</td>';
                    htmlStr += '<td>' + str[i].trCreatedDate + '</td>';
                    htmlStr += '<td>' + str[i].trLastUpdatedDate + '</td>';
                    htmlStr += ' <td><button type="button"  onclick="ShowResponse(' + '' + str[i].trTicketsID + '' + ' )"> <i class="fa fa-reply" aria-hidden="true"></i></button></td>';
                    htmlStr += '<td>' + str[i].trStatus + '</td>';
                    htmlStr += '<td>' + '<div class="i-checks">' + '<INPUT type="checkbox" value=' + str[i].trTicketsID + '>' + '</div>' + '</td>';
                    htmlStr += ' <td><button type="button" onclick="ViewImage(' + '' + str[i].trTicketsID + '' + ')"> <i class="fa fa-eye" aria-hidden="true" title="View"></i></button></td>';
                    htmlStr += '';
                    htmlStr += '</tr>';
                }
                $("#TicketDetailsData").html(htmlStr)
            }
        });
    }
</script>
