﻿@{
    ViewBag.Title = "tr_master_page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signal ATM</title>
    <link href="~/Content/CSS/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CSS/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Morris -->
    <link href="~/Content/CSS/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/CSS/css/mycustom.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/dataTables/dataTables.bootstrap.min.css" rel="stylesheet">
    <!-- Custom css -->
    <link href="~/Content/CSS/css/mycustom.css" rel="stylesheet">
    <!-- Datepicker css -->
    <link href="~/Content/CSS/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
    <link href="~/Content/CSS/css/plugins/select2/select2.min.css" rel="stylesheet">
    <!-- orris -->
    <link href="~/Content/CSS/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="~/Content/CSS/css/animate.css" rel="stylesheet">
    <link href="~/Content/CSS/css/style.css" rel="stylesheet">
    <!-- Checkbox css -->
    <link href="~/Content/CSS/css/plugins/iCheck/custom.css" rel="stylesheet">
    <!-- Side bar css -->
    <link rel="stylesheet" href="~/Content/CSS/css/sidebar/dist.css">
    <!-- Select file -->
    <link href="~/Content/CSS/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">  
    <!-- Image zoom -->
    <link href="~/Content/CSS/js/plugins/gallery/normalize.css" rel="stylesheet" />
    <link href="~/Content/CSS/js/plugins/gallery/gallery.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="logo">
                        <div class="dropdown profile-element">
                            <center>
                                <img src="~/Content/CSS/img/signal-ATM-Logo.jpg" style="margin-top:7px; margin-left:10px;">
                            </center>
                        </div>
                    </li>
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <img alt="image" class="rounded-circle" src="~/Content/CSS/img/profile_small.jpg" /> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <span class="block m-t-xs font-bold"><img src="~/Content/CSS/img/s-365.png" title="Current plan P1, Expiry: 12/12/19" class="pull-right">David Williams</span> <span class="text-muted text-xs block">Trader <b class="caret"></b></span> </a>
                            @*<div ng-app="app" ng-controller="mycontroll">
                                <select id="MarketID" ng-model="MarketID" class="input-control" ng-change="SetGlobalMarket(MarketID)" ng-options="m.MarketID as m.MarketName for m in getMarketForDetails"></select>
                            </div>*@
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li> <a href="@Url.Action("Logout","Home")"> <i class="fa fa-sign-out" title="Logout"></i> </a> </li>

                            </ul>
                        </div>
                        <div class="logo-element"> SA </div>
                    </li>
                    <li class="active">
                        <a href="#">
                            <img src="~/Content/CSS/img/man-i.png">&nbsp;
                            <!--<i class="fa fa-sitemap"></i>-->
                            <span class="nav-label">Profile </span><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="@Url.Action("PersonalDetails","Trader")">Personal Details</a></li>
                            <li> <a href="@Url.Action("GlobalProfile","Trader")">Global Profile</a></li>
                            <li> <a href="@Url.Action("Documents","Trader")">Documents</a></li>
                        </ul>
                    </li>
                    <li> <a href="@Url.Action("SubscriptionPlan","Trader")"><img src="~/Content/CSS/img/page-i.png">&nbsp; <span class="nav-label">Subscription Plan</span> </a> </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/CSS/img/signal-i.png">&nbsp;
                            <!--<i class="fa fa-sitemap"></i>-->
                            <span class="nav-label">My Signals </span><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="@Url.Action("Workspace","Trader")">Workspace</a></li>
                            <li> <a href="@Url.Action("Performance","Trader")">Performance</a></li>
                            <li> <a href="@Url.Action("Preferences","Trader")">Preferences</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/CSS/img/transaction-i.png">&nbsp;
                            <!--<i class="fa fa-sitemap"></i>-->
                            <span class="nav-label">Transactions</span><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="@Url.Action("IntraTransfers","Trader")">Intra Transfer</a></li>
                            <li> <a href="@Url.Action("PlanPayments","Trader")">Plan Payments</a></li>
                        </ul>
                    </li>
                    <li> <a href="@Url.Action("SuccessStory","Trader")" aria-expanded="false">
                        <img src="~/Content/CSS/img/success-i.png">&nbsp; <span class="nav-label">Success Story</span> </a> </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/CSS/img/support-i.png">&nbsp;
                            <!--<i class="fa fa-sitemap"></i> -->
                            <span class="nav-label">Support</span><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="@Url.Action("Tickets","Trader")">Tickets</a></li>
                            <li><a href="@Url.Action("FAQs","Trader")">FAQs</a></li>
                            <li><a href="@Url.Action("Feedback","Trader")">Feedback</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("TakeATour","Trader")">
                            <img src="~/Content/CSS/img/tour-i.png">&nbsp;
                            <!--<i class="fa fa-flask"></i>-->
                            <span class="nav-label">Take a Tour</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("SiteMap", "Trader")">
                            <img src="~/Content/CSS/img/sitemap-i.png">&nbsp;
                            <!--<i class="fa fa-flask"></i>-->
                            <span class="nav-label">Sitemap</span>
                        </a>
                    </li>   
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="col-md-12 col-lg-7">
                        <img src="~/Content/CSS/img/signal-ATM-Logo.jpg" style="margin-top:7px; margin-left:10px;" class="toplogo">
                        <div class="navbar-header"> <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a> <span class="topnews"> China-U.S trade war to ease but conflicts will persist</span> </div>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <ul class="nav navbar-top-links navbar-right navigate">
                            <!--  <li>
                                    <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
                                </li>-->
                            <li class="dropdown"> <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" id="WalletAmount"><img src="~/Content/CSS/img/wallet-i.png" onmouseover="ShowWalletAmount()"></a> </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"> <i class="fa fa-bell"></i> <span class="label label-primary">8</span> </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="mailbox.html" class="dropdown-item">
                                            <div> <i class="fa fa-envelope fa-fw"></i> You have 16 messages <span class="float-right text-muted small">4 minutes ago</span> </div>
                                        </a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li>
                                        <a href="profile.html" class="dropdown-item">
                                            <div> <i class="fa fa-twitter fa-fw"></i> 3 New Followers <span class="float-right text-muted small">12 minutes ago</span> </div>
                                        </a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li>
                                        <a href="grid_options.html" class="dropdown-item">
                                            <div> <i class="fa fa-upload fa-fw"></i> Server Rebooted <span class="float-right text-muted small">4 minutes ago</span> </div>
                                        </a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li>
                                        <div class="text-center link-block"> <a href="notifications.html" class="dropdown-item"> <strong>See All Alerts</strong> <i class="fa fa-angle-right"></i> </a> </div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="tr-join-referrer.html"><img src="~/Content/CSS/img/role-ico-referrer.png" title="Navigate As Referrer"></a></li>
                            <li> <a href="@Url.Action("Logout","Home")"> <i class="fa fa-sign-out" title="Logout"></i> </a> </li>     
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="wrapper wrapper-content">                
                  @RenderBody()                                 
                                   
            </div>
            <div class="footer">
                <!-- <div class="float-right">
                          10GB of <strong>250GB</strong> Free.
                      </div>-->
                <div> <strong>Copyright</strong> Signal ATM 2019-2020 </div>
            </div>
        </div>
    </div>
    <div class="aside-backdrop"></div>
    <!-- Mainly scripts -->
    <script src="~/Content/CSS/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/CSS/js/popper.min.js"></script>
    <script src="~/Content/CSS/js/bootstrap.js"></script>
    <script src="~/Content/CSS/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/CSS/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Morris -->
    <script src="~/Content/CSS/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="~/Content/CSS/js/plugins/morris/morris.js"></script>
    <!-- Flot -->
    <script src="~/Content/CSS/js/plugins/flot/jquery.flot.js"></script>
    <script src="~/Content/CSS/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/Content/CSS/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="~/Content/CSS/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/Content/CSS/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="~/Content/CSS/js/plugins/flot/jquery.flot.symbol.js"></script>
    <script src="~/Content/CSS/js/plugins/flot/curvedLines.js"></script>
    <!-- Peity -->
    <script src="~/Content/CSS/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/Content/CSS/js/demo/peity-demo.js"></script>
    <!-- Rickshaw -->
    <!--  <script src="js/plugins/rickshaw/vendor/d3.v3.js"></script>
        <script src="js/plugins/rickshaw/rickshaw.min.js"></script>-->
    <!-- Custom and plugin javascript -->
    <script src="~/Content/CSS/js/inspinia.js"></script>
    <script src="~/Content/CSS/js/plugins/pace/pace.min.js"></script>
    <!-- Flot demo data -->
    <script src="~/Content/CSS/js/demo/flot-demo.js"></script>
    <!-- Rickshaw demo data -->
    <!-- <script src="js/demo/rickshaw-demo.js"></script>-->
    <!-- jQuery UI -->
    <script src="~/Content/CSS/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Jvectormap -->
    <!--<script src="js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>-->
    <!-- Sparkline -->
    <!--<script src="js/plugins/sparkline/jquery.sparkline.min.js"></script>
    -->
    <!-- Sparkline demo data  -->
    <!--<script src="js/demo/sparkline-demo.js"></script>
    -->
    <!-- ChartJS-->
    <!--<script src="js/plugins/chartJs/Chart.min.js"></script>
    -->
    <!-- Sparkline -->
    <script src="~/Content/CSS/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script>
        $(document).ready(function() {

            var sparklineCharts = function(){
                $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
                    type: 'line',
                    width: '100%',
                    height: '50',
                    lineColor: '#1ab394',
                    fillColor: "transparent"
                });

                $("#sparkline2").sparkline([32, 11, 25, 37, 41, 32, 34, 42], {
                    type: 'line',
                    width: '100%',
                    height: '50',
                    lineColor: '#1ab394',
                    fillColor: "transparent"
                });

                $("#sparkline3").sparkline([34, 22, 24, 41, 10, 18, 16,8], {
                    type: 'line',
                    width: '100%',
                    height: '50',
                    lineColor: '#1C84C6',
                    fillColor: "transparent"
                });
            };

            var sparkResize;

            $(window).resize(function(e) {
                clearTimeout(sparkResize);
                sparkResize = setTimeout(sparklineCharts, 500);
            });

            sparklineCharts();




            var data1 = [
                [0,4],[1,8],[2,5],[3,10],[4,4],[5,16],[6,5],[7,11],[8,6],[9,11],[10,20],[11,10],[12,13],[13,4],[14,7],[15,8],[16,12]
            ];
            var data2 = [
                [0,0],[1,2],[2,7],[3,4],[4,11],[5,4],[6,2],[7,5],[8,11],[9,5],[10,4],[11,1],[12,5],[13,2],[14,5],[15,2],[16,0]
            ];
            $("#flot-dashboard5-chart").length && $.plot($("#flot-dashboard5-chart"), [
                        data1,  data2
                    ],
                    {
                        series: {
                            lines: {
                                show: false,
                                fill: true
                            },
                            splines: {
                                show: true,
                                tension: 0.4,
                                lineWidth: 1,
                                fill: 0.4
                            },
                            points: {
                                radius: 0,
                                show: true
                            },
                            shadowSize: 2
                        },
                        grid: {
                            hoverable: true,
                            clickable: true,

                            borderWidth: 2,
                            color: 'transparent'
                        },
                        colors: ["#1ab394", "#1C84C6"],
                        xaxis:{
                        },
                        yaxis: {
                        },
                        tooltip: false
                    }
            );

        });
    </script>
    <script>
        $(document).ready(function() {


            var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
            var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

            var data1 = [
                { label: "Data 1", data: d1, color: '#17a084'},
                { label: "Data 2", data: d2, color: '#127e68' }
            ];
            $.plot($("#flot-chart1"), data1, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });

            var lineData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(26,179,148,0.5)",
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        data: [48, 48, 60, 39, 56, 37, 30]
                    },
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(220,220,220,0.5)",
                        borderColor: "rgba(220,220,220,1)",
                        pointBackgroundColor: "rgba(220,220,220,1)",
                        pointBorderColor: "#fff",
                        data: [65, 59, 40, 51, 36, 25, 40]
                    }
                ]
            };

            var lineOptions = {
                responsive: true
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            new Chart(ctx, {type: 'line', data: lineData, options:lineOptions});


        });
    </script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.success('Responsive Admin Theme', 'Welcome to INSPINIA');

            }, 1300);


            var data1 = [
                [0,4],[1,8],[2,5],[3,10],[4,4],[5,16],[6,5],[7,11],[8,6],[9,11],[10,30],[11,10],[12,13],[13,4],[14,3],[15,3],[16,6]
            ];
            var data2 = [
                [0,1],[1,0],[2,2],[3,0],[4,1],[5,3],[6,1],[7,5],[8,2],[9,3],[10,2],[11,1],[12,0],[13,2],[14,8],[15,0],[16,0]
            ];
            $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
                data1, data2
            ],
                    {
                        series: {
                            lines: {
                                show: false,
                                fill: true
                            },
                            splines: {
                                show: true,
                                tension: 0.4,
                                lineWidth: 1,
                                fill: 0.4
                            },
                            points: {
                                radius: 0,
                                show: true
                            },
                            shadowSize: 2
                        },
                        grid: {
                            hoverable: true,
                            clickable: true,
                            tickColor: "#d5d5d5",
                            borderWidth: 1,
                            color: '#d5d5d5'
                        },
                        colors: ["#1ab394", "#1C84C6"],
                        xaxis:{
                        },
                        yaxis: {
                            ticks: 4
                        },
                        tooltip: false
                    }
            );

            var doughnutData = {
                labels: ["App","Software","Laptop" ],
                datasets: [{
                    data: [300,50,100],
                    backgroundColor: ["#a3e1d4","#dedede","#9CC3DA"]
                }]
            } ;


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart").getContext("2d");
            new Chart(ctx4, {type: 'doughnut', data: doughnutData, options:doughnutOptions});

            var doughnutData = {
                labels: ["App","Software","Laptop" ],
                datasets: [{
                    data: [70,27,85],
                    backgroundColor: ["#a3e1d4","#dedede","#9CC3DA"]
                }]
            } ;


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart2").getContext("2d");
            new Chart(ctx4, {type: 'doughnut', data: doughnutData, options:doughnutOptions});

        });
    </script>
    <script>
	$("#follow, #unfollow").click(function () {
    $("#follow, #unfollow").toggleClass('hidden');
});
    </script>
    <!-- Datat table -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script>
$(document).ready(function() {
$('#example1').DataTable(
{
"searching": false,
"paging": true,
"info": false,
"lengthChange":false
}

);
$('#example2').DataTable(
{
"searching": false,
"paging": true,
"info": false,
"lengthChange":false
}

);
$('#example3').DataTable(
{
"searching": false,
"paging": true,
"info": false,
"lengthChange":false
}
);
$('#example4').DataTable(
{
"searching": false,
"paging": true,
"info": false,
"lengthChange":false
}
);
} );

    </script>
    <!-- Data picker -->
    <script src="~/Content/CSS/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <!-- Image cropper -->
    <script src="~/Content/CSS/js/plugins/cropper/cropper.min.js"></script>
    <!-- Date range use moment.js same as full calendar plugin -->
    <script src="~/Content/CSS/js/plugins/fullcalendar/moment.min.js"></script>
    <!-- Date range picker -->
    <script src="~/Content/CSS/js/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Select2 -->
    <script src="~/Content/CSS/js/plugins/select2/select2.full.min.js"></script>
    <!-- Tags Input -->
    <script src="~/Content/CSS/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script>
$(document).ready(function(){

$('.tagsinput').tagsinput({
tagClass: 'label label-primary'
});

var $image = $(".image-crop > img")
var $cropped = $($image).cropper({
aspectRatio: 1.618,
preview: ".img-preview",
done: function(data) {
// Output the result data for cropping image.
}
});

var $inputImage = $("#inputImage");
if (window.FileReader) {
$inputImage.change(function() {
var fileReader = new FileReader(),
files = this.files,
file;

if (!files.length) {
return;
}

file = files[0];

if (/^image\/\w+$/.test(file.type)) {
fileReader.readAsDataURL(file);
fileReader.onload = function () {
$inputImage.val("");
$image.cropper("reset", true).cropper("replace", this.result);
};
} else {
showMessage("Please choose an image file.");
}
});
} else {
$inputImage.addClass("hide");
}

$("#download").click(function (link) {
link.target.href = $cropped.cropper('getCroppedCanvas', { width: 620, height: 520 }).toDataURL("image/png").replace("image/png", "application/octet-stream");
link.target.download = 'cropped.png';
});


$("#zoomIn").click(function() {
$image.cropper("zoom", 0.1);
});

$("#zoomOut").click(function() {
$image.cropper("zoom", -0.1);
});

$("#rotateLeft").click(function() {
$image.cropper("rotate", 45);
});

$("#rotateRight").click(function() {
$image.cropper("rotate", -45);
});

$("#setDrag").click(function() {
$image.cropper("setDragMode", "crop");
});

var mem = $('#data_1 .input-group.date').datepicker({
todayBtn: "linked",
keyboardNavigation: false,
forceParse: false,
calendarWeeks: true,
autoclose: true
});

var yearsAgo = new Date();
yearsAgo.setFullYear(yearsAgo.getFullYear() - 20);

$('#selector').datepicker('setDate', yearsAgo );


$('#data_2 .input-group.date').datepicker({
startView: 1,
todayBtn: "linked",
keyboardNavigation: false,
forceParse: false,
autoclose: true,
format: "dd/mm/yyyy"
});

$('#data_3 .input-group.date').datepicker({
startView: 2,
todayBtn: "linked",
keyboardNavigation: false,
forceParse: false,
autoclose: true
});

$('#data_4 .input-group.date').datepicker({
minViewMode: 1,
keyboardNavigation: false,
forceParse: false,
forceParse: false,
autoclose: true,
todayHighlight: true
});

$('#data_5 .input-daterange').datepicker({
keyboardNavigation: false,
forceParse: false,
autoclose: true
});

var elem = document.querySelector('.js-switch');
var switchery = new Switchery(elem, { color: '#1AB394' });

var elem_2 = document.querySelector('.js-switch_2');
var switchery_2 = new Switchery(elem_2, { color: '#ED5565' });

var elem_3 = document.querySelector('.js-switch_3');
var switchery_3 = new Switchery(elem_3, { color: '#1AB394' });

var elem_4 = document.querySelector('.js-switch_4');
var switchery_4 = new Switchery(elem_4, { color: '#f8ac59' });
switchery_4.disable();

$('.i-checks').iCheck({
checkboxClass: 'icheckbox_square-green',
radioClass: 'iradio_square-green'
});

$('.demo1').colorpicker();

var divStyle = $('.back-change')[0].style;
$('#demo_apidemo').colorpicker({
color: divStyle.backgroundColor
}).on('changeColor', function(ev) {
divStyle.backgroundColor = ev.color.toHex();
});

$('.clockpicker').clockpicker();

$('input[name="daterange"]').daterangepicker();

$('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

$('#reportrange').daterangepicker({
format: 'MM/DD/YYYY',
startDate: moment().subtract(29, 'days'),
endDate: moment(),
minDate: '01/01/2019',
maxDate: '12/31/2025',
dateLimit: { days: 60 },
showDropdowns: true,
showWeekNumbers: true,
timePicker: false,
timePickerIncrement: 1,
timePicker12Hour: true,
ranges: {
'Today': [moment(), moment()],
'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
'Last 7 Days': [moment().subtract(6, 'days'), moment()],
'Last 30 Days': [moment().subtract(29, 'days'), moment()],
'This Month': [moment().startOf('month'), moment().endOf('month')],
'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
},
opens: 'right',
drops: 'down',
buttonClasses: ['btn', 'btn-sm'],
applyClass: 'btn-primary',
cancelClass: 'btn-default',
separator: ' to ',
locale: {
applyLabel: 'Submit',
cancelLabel: 'Cancel',
fromLabel: 'From',
toLabel: 'To',
customRangeLabel: 'Custom',
daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
firstDay: 1
}
}, function(start, end, label) {
console.log(start.toISOString(), end.toISOString(), label);
$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
});

$(".select2_demo_1").select2();
$(".select2_demo_2").select2();
$(".select2_demo_3").select2({
placeholder: "Select a state",
allowClear: true
});


$(".touchspin1").TouchSpin({
buttondown_class: 'btn btn-white',
buttonup_class: 'btn btn-white'
});

$(".touchspin2").TouchSpin({
min: 0,
max: 100,
step: 0.1,
decimals: 2,
boostat: 5,
maxboostedstep: 10,
postfix: '%',
buttondown_class: 'btn btn-white',
buttonup_class: 'btn btn-white'
});

$(".touchspin3").TouchSpin({
verticalbuttons: true,
buttondown_class: 'btn btn-white',
buttonup_class: 'btn btn-white'
});

$('.dual_select').bootstrapDualListbox({
selectorMinimalHeight: 160
});


});

$('.chosen-select').chosen({width: "100%"});

$("#ionrange_1").ionRangeSlider({
min: 0,
max: 5000,
type: 'double',
prefix: "$",
maxPostfix: "+",
prettify: false,
hasGrid: true
});

$("#ionrange_2").ionRangeSlider({
min: 0,
max: 10,
type: 'single',
step: 0.1,
postfix: " carats",
prettify: false,
hasGrid: true
});

$("#ionrange_3").ionRangeSlider({
min: -50,
max: 50,
from: 0,
postfix: "°",
prettify: false,
hasGrid: true
});

$("#ionrange_4").ionRangeSlider({
values: [
"January", "February", "March",
"April", "May", "June",
"July", "August", "September",
"October", "November", "December"
],
type: 'single',
hasGrid: true
});

$("#ionrange_5").ionRangeSlider({
min: 10000,
max: 100000,
step: 100,
postfix: " km",
from: 55000,
hideMinMax: true,
hideFromTo: false
});

$(".dial").knob();

var basic_slider = document.getElementById('basic_slider');

noUiSlider.create(basic_slider, {
start: 40,
behaviour: 'tap',
connect: 'upper',
range: {
'min': 20,
'max': 80
}
});

var range_slider = document.getElementById('range_slider');

noUiSlider.create(range_slider, {
start: [ 40, 60 ],
behaviour: 'drag',
connect: true,
range: {
'min': 20,
'max': 80
}
});

var drag_fixed = document.getElementById('drag-fixed');

noUiSlider.create(drag_fixed, {
start: [ 40, 60 ],
behaviour: 'drag-fixed',
connect: true,
range: {
'min': 20,
'max': 80
}
});


    </script>
    <script src="~/Content/CSS/js/plugins/iCheck/icheck.min.js"></script>
    <script>
            $(document).ready(function () {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });
            });
    </script>
    <!-- Side bar js -->
    <script type="text/javascript" src="~/Content/CSS/js/sidebar/jquery/asidebar.jquery.js"></script>
    <!-- Selct file Jasny -->
    <script src="~/Content/CSS/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <!-- Image zoom -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js"></script>
    <script src="~/Content/CSS/js/plugins/gallery/gallery.js"></script>
    <script src="~/Content/CSS/js/plugins/gallery/main.js"></script>
    <!-- Documents Zoom -->
    <script src="~/Content/CSS/js/jquey-bigic.min.js"></script>
    <script>
         @*var app = angular.module('app', []);
        app.controller('mycontroll', function ($scope, $http, $location) {
            getallmarket();
            function getallmarket()
            {
                $.ajax({
                    url: '@Url.Action("Getmarkets", "Trader")',
                    type: "Post",
                    Response: ContentType = 'application/json',
                    data: {},
                    success: function (data) {
                        var str = JSON.stringify(data);
                        $scope.getMarketForDetails = data;
                        $scope.$apply();
                    },
                    error: function (data, textStatus, xhr) {
                        var result = JSON.stringify(data);
                        //alert(textStatus);
                    }
                });
            }
            $scope.SetGlobalMarket = function($scope)
            {
                var markID = $scope;
              //  alert(markID);
                $.ajax({
                    url: '@Url.Action("SetGlobalMarket", "Trader")',
                    type: "Post",
                    Response: ContentType = 'application/json',
                    data: { marketId: markID },
                    success: function (data) {

                    },
                    error: function (data, textStatus, xhr) {
                        var result = JSON.stringify(data);
                       // alert("Error" + data);
                    }

                });
            }
        });*@
	$(function(){
		$('img').bigic();
	});
    </script>
    <script>
        function GetDateFormat(date)
        {
            var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            var currentDate = new Date(date);
            var dd = currentDate.getDate();
            var mm = currentDate.getMonth() + 1; //January is 0!
            var mmm = months[currentDate.getMonth()];
            var yyyy = currentDate.getFullYear();
            var hh = currentDate.getHours(); 
            var min = currentDate.getMinutes();
            var ss = currentDate.getSeconds();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10)
            {
                mm = '0' + mm;
            }
            currentDate = dd + '-' + mmm + '  ' +hh+':'+min;
            //  currentDate = yyyy + '-' + mm + '-' + dd;
            // alert(currentDate);
            return currentDate;
        }
        function GetTwoDigitDateFormat(date) {
            var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            var currentDate = new Date(date);
            var dd = currentDate.getDate();
            var mm = currentDate.getMonth() + 1; //January is 0!
            var mmm = months[currentDate.getMonth()];
            var yyyy = currentDate.getFullYear();
            var hh = currentDate.getHours(); 
            var min = currentDate.getMinutes();
            var ss = currentDate.getSeconds();

            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            currentDate = dd + '-' + mmm + '-' + yyyy+'  '+hh+':'+ min +':'+ss;
            //  currentDate = yyyy + '-' + mm + '-' + dd;
            //   alert(currentDate);
            return currentDate;
        }

        function ShowWalletAmount()
        {
            $('#WalletAmount').attr("title",'Wallet balanced  ' +@ViewData["WalletAmount"])
        }
    </script>
</body>
</html>
